[2016-09-06 07:15] Gama11 opened #1 "Support blame on files outside the workspace repository"
This extension seems broken for all files that are outside of the workspace's Git repo. I get errors like this in the developer console:

[code]

The absolute path for that is `C:/HaxeToolkit/haxe/lib/flixel/git/flixel/FlxObject.hx`, and that file is in a Git repo, just a different one than the workspace I'm currently in.

The command run seems to be `git blame --porcelain --root -- <file-path>` -

[2016-09-09 19:05] avih opened #2 "[request] Provide some debug info when things fail"
First, thanks for what seems like the best approach so far to explore commits history!

I noticed some issues like sometimes `ERROR: Running the contributed command:'gitlens.toggleBlame' failed.`, or some other issues like opening a diff ends up with one or two sides of the comparison empty (to working tree and to previous commit, respectively).

However, the debug console is empty and I couldn't

[2016-09-10 22:20] felixfbecker opened #3 "Running the contributed command:'gitlens.toggleBlame' failed."
Stack trace in console:
[code]

[2016-09-13 00:15] avih opened #4 "Absolute paths fail on Windows due to backslash"
Currently the code at `src/git.ts` looks as follows, which seem to intend to normalize backslashes to slashes:

[code]

However, on Windows `path.relative` appears to return paths with backslashes - which makes the git commands fail. The node docs seems to support it - https://nodejs.org/api/path.html#path_path_relative_from_to  (note that at the example the absolute path is with backslashes, whil

[2016-09-14 06:32] #2 closed

[2016-09-14 06:32] #4 closed

[2016-09-14 06:35] eamodio commented on #4
@avih Thanks! Look for this in 0.0.6

[2016-09-14 06:36] eamodio commented on #3
@felixfbecker Please try again with 0.0.6 it has much better logging of errors.

[2016-09-14 06:37] eamodio commented on #1
@Gama11 Thanks for the report. The way it is currently setup this might be tricky to implement, but I'll look into it.

[2016-09-14 11:25] avih commented on #4
Thanks, but I think that while 87215850 indeed fixed it, your followup commit on that line (d70a4720) broke it again.

The additional condition `fileName.startsWith(repoPath)` is falsy (apparently `repoPath` is absolute with forward slashes), and so it ends with an absolute path with forward slashes, which git can't find at the repo since it should be relative to the repo.

[2016-09-14 11:39] avih opened #5 "Finding first non-white-space fails sometimes"
`gitCodeLensProvider.ts` has the following line:
[code]

However, it seems that on some cases `symbol.name` ends up as the entire source code line with whatever chars it has in it, and sometimes it breaks the regex.

I've replaced it locally with this which seems to work:
[code]

but there are probably cleaner approaches for the fix.

[2016-09-14 11:56] avih opened #6 "[request] Allow disabling automatic blame, possibly by default"
While using blame is indeed very useful, much of the time it's not needed, and so showing the blame "lines" unconditionally can be distracting (how do you call these lines of [author], [NN time ago] which show up at the source code when editing?).

I'd suggest to add a config to control whether or not the blame lines should display when opening a new file, while possibly setting it to false by def

[2016-09-14 13:08] eamodio commented on #4
@avih Doh -- thanks. If change [this line](https://github.com/eamodio/vscode-gitlens/blob/master/src/git.ts#L26) to `return gitCommand(cwd, 'rev-parse', '--show-toplevel').then(data => data.replace(/\r?\n|\r/g, '').replace(/\\/g, '/'));` does that fix it for you?

[2016-09-14 13:11] eamodio commented on #6
@avih Good idea -- I've been planning on adding a few settings to control behavior -- Like enable/disable the CodeLens, control which CodeLens shows (Recent vs Authors), which command a CodeLens executes (history vs blame), and some settings to control the blame "gutter" info (adding user name and/or date)

Thanks!

[2016-09-14 13:24] avih commented on #4
Unfortunately, and while it's probably simple, I haven't tried yet to edit the typescript sources (haven't used typescript before), and so my debugging and testing involves editing the generated javascript files, and luckily vscode doesn't recompile the typescript files on every run, so it's sustainable to a degree.

Bottom line, I can't test it yet, but the solution is probably simple: just make

[2016-09-14 17:33] #5 closed

[2016-09-15 13:51] avih commented on #4
This still happens with 0.1.0 at least one some cases, and modifying `normalizePath` to also replace the slashes for `pathRepo` seems to fix it for me locally.

I think the correct thing would be that `normalizePath` doesn't expect anything from its arguments, and instead does whatever it needs with the inputs such that the output is normalized. If this means normalizing both arguments before it d

[2016-09-15 14:54] eamodio commented on #4
@avih Ugh sorry -- pushed 0.1.1. Yeah, I haven't been testing at all on Windows. I do have access but just haven't had the time to dedicate to getting that spun up and working for testing. :(

[2016-09-15 14:55] eamodio commented on #6
@avih v0.1.1 add a lot of configuration settings -- let me know if they cover the main case for you.

[2016-09-15 15:00] avih commented on #4
0.1.1 doesn't fix it either. Recall `fileName` has backslashes on entry, `repoPath` has forward slashes. You need to normalize both before you do your thing, and then again at the end (which you do already).

[2016-09-15 16:41] avih commented on #4
0.1.2 works as far as I can tell. Thanks :)

[2016-09-19 08:11] #1 closed

[2016-09-19 08:12] eamodio commented on #3
@felixfbecker closing. Please re-open if it is still an issue.

[2016-09-19 08:12] #3 closed

[2016-09-20 01:32] eamodio commented on #6
@avih v0.3.0 adds a new `ondemand` CodeLens setting as well as much more control. Calling this one fixed.

[2016-09-20 01:32] #6 closed

[2016-09-20 09:04] andischerer opened #7 "Extension bootup failed => dependency error(lodash is missing)"
Hey there,
many thanks for this awesome plugin. 👍

Since v0.3.1 im getting a dependency error on vscode startup. Looks like spawn-rx requires lodash as dependency.

![image](https://cloud.githubusercontent.com/assets/930604/18664161/d16d2f18-7f21-11e6-81e3-7f3457f569bb.png)

Used vscode version:
Version 1.5.2
Commit 66f37fd2a99eb9d628dd374d81d78835b410c39b
Date 2016-09-12T13:30:03.456Z
Shell 0.37.

[2016-09-20 09:08] con-ssc commented on #7
Second that
![image](https://cloud.githubusercontent.com/assets/8189808/18664354/8efcdb0a-7f22-11e6-9a3b-ffcd6d2bee05.png)

[2016-09-20 10:23] avih commented on #6
Thanks, but for now I uninstalled `gitlens`. I'll wait for it to stabilize a bit before I give it a go again, so I probably won't provide more feedback for now.

For instance, with 0.3.1 it doesn't load at all with an error `Activating extension `eamodio.gitlens` failed:  Cannot find module 'lodash'`.

I do hope you can get it stable and productive since I really like what you've done so far. Good

[2016-09-20 14:20] #7 closed

[2016-09-20 14:32] con-ssc commented on #7
Great!

[2016-09-20 14:50] con-ssc commented on #7
With that change you are now missing rxjs
[cid:image001.png@01D2135E.B824D1C0]
Von: Eric Amodio [mailto:notifications@github.com]
Gesendet: Dienstag, 20. September 2016 16:21
An: eamodio/vscode-gitlens <vscode-gitlens@noreply.github.com>
Cc: Stefan Schneider <Stefan.Schneider@connectiv.de>; Comment <comment@noreply.github.com>
Betreff: Re: [eamodio/vscode-gitlens] Extension bootup failed => depend

[2016-09-20 15:35] eamodio commented on #7
@con-ssc thanks! that will teach me to not test the built extension :(

[2016-09-21 06:26] avih commented on #7
0.3.3 and 0.5.0 don't work on Linux: `mainThreadExtensionService.ts:89Activating extension 'eamodio.gitlens' failed: Cannot find module 'lodash.escapeRegExp'.`

[2016-09-21 06:40] eamodio commented on #7
@avih I don't have a way of testing this right now, but I'm pretty sure the issue was the casing on the import. Let me know if v0.5.2 doesn't work

[2016-09-21 06:51] avih commented on #7
Confirmed 0.5.2 works on Linux and Windows (0.5.0 worked on Windows but not Linux). Thanks!

[2016-09-21 09:10] con-ssc opened #8 "Invalid Object Name '00000000'"
It seems that now all files are detected as not yet commited, hence, when I try to get the blame history I end up with the following
![image](https://cloud.githubusercontent.com/assets/8189808/18704862/0157c89e-7fec-11e6-99d3-80b2878df272.png)

[2016-09-21 12:41] eamodio commented on #8
@con-ssc Can you provide any more details? I'm not seeing any issues. What OS are you on? Is this repo publicly accessible?

[2016-09-21 13:29] con-ssc commented on #8
Sure. It is a private gitlab server.
[code]

[2016-09-21 13:29] con-ssc commented on #8
gitlab was working the first time I tried it a while ago.

[2016-09-21 13:43] eamodio commented on #8
@con-ssc does the blame history still show up and work? I can't seem to get this to happen.

[2016-09-21 13:47] con-ssc commented on #8
Now it seems to work, maybe git was locked? before all hashes where 000000 with anonymous

[2016-09-21 14:57] eamodio commented on #8
@con-ssc hrm -- not sure. I've pushed v0.5.3 that should hopefully help more, but if it happens again let me know.

[2016-09-21 14:57] #8 closed

[2016-09-23 18:28] vizeke opened #9 "Scroll change on input if codeLens is visible on css files"
Hi, Just started using the extension and it's awesome.

But when the codelens are visible on any css files that can be scrolled and your scroll is not on top of the page, if you type something the scroll will go down a little. If the scroll is on top, the page just bounce a little and go back to the original state.

[2016-09-23 23:15] eamodio commented on #9
@vizeke thanks for the report. I took a look into it and I think it is a vscode issue. I will open an issue there.

[2016-09-27 08:56] Gama11 commented on #1
Seems to work nicely now, thanks! :)

[2016-10-06 23:26] tals opened #10 "vscode/#11485 makes gitlens unusable with whitespace rendering"
I'm experiencing https://github.com/Microsoft/vscode/issues/11485 on 1.5.3.
The hack you've mentioned doesn't seem to automatically kick in (disabling the whitespace manually "fixes" the issue)

[2016-10-06 23:28] tals commented on #10
gitlens is really awesome other than that. I really like seeing the code authors inline :)

[2016-10-14 07:32] IgorNovozhilov opened #11 "Not showing details of commits"
Not showing  in a dialog details of commits:
![2016-10-14_10h20_16](https://cloud.githubusercontent.com/assets/3082812/19379051/c9158e48-91f8-11e6-8d9c-2d202865dac1.png)

What is displayed in the console:
![2016-10-14_10h22_25](https://cloud.githubusercontent.com/assets/3082812/19379067/e4510b42-91f8-11e6-955f-2a2d4426fe28.png)

VERSIONS
![2016-10-14_10h29_04](https://cloud.githubusercontent.com/a

[2016-11-07 16:54] jez9999 opened #12 "command 'gitlens.XXX' not found"
I installed Gitlens 0.5.5.  When I right-click and click one of the Gitlens options, the command isn't found.  For example if I click "Toggle Git Blame Annotations", the error pops up "command 'gitlens.toggleBlame' not found".  In the console, I have:

[code]

[2016-11-07 16:58] jez9999 commented on #12
Actually I've just realized that I get this error on startup:

[code]

Presumably Gitlens assumes git will be available in the PATH?  But with Git for Windows, that's not the case.  Is this extension not tested on Windows?

[2016-11-07 17:02] jez9999 commented on #12
I just noticed that this is in the Requirements section of the extension's description.

I suggest that you check for git in the path on startup, and give a more user-friendly error message if Git isn't found in PATH (on Windows, it generally won't be) perhaps with a link to a tutorial on putting it in the PATH.

[2016-11-07 19:48] Tyriar opened #13 "Handle exception when you open a file that does not exist in a git repository"
Steps to reproduce:

1. Open settings.json or keybindings.json
2. Open dev tools console

![image](https://cloud.githubusercontent.com/assets/2193314/20073178/0728b8e6-a4e0-11e6-9c63-32f5d4fe5335.png)

[2016-11-07 19:49] Tyriar opened #14 "Remove logs from production build"
It's quite messy and difficult to have the extension installed if I work on the VS Code code base or develop extensions.

![image](https://cloud.githubusercontent.com/assets/2193314/20073209/256cef5c-a4e0-11e6-9b41-f2d368c78011.png)

[2016-11-07 22:29] troylelandshields commented on #12
I also have this issue.

[2016-11-12 21:43] #10 closed

[2016-11-12 21:43] #11 closed

[2016-11-12 21:43] #12 closed

[2016-11-12 21:43] #13 closed

[2016-11-12 21:43] #14 closed

[2016-11-15 21:36] vip32 opened #15 "rendering issue"
what could be causing this? alle lens stuff is rendered outside the editor

![image](https://cloud.githubusercontent.com/assets/164303/20325200/e8b83f26-ab83-11e6-8b59-acdffc246846.png)

[2016-11-15 21:48] eamodio commented on #15
@vip32 this is caused by this vscode bug: https://github.com/Microsoft/vscode/issues/15389 in 1.7.1 -- it is already fixed in the latest insiders build

[2016-11-15 21:48] #15 closed

[2016-11-15 22:20] vip32 commented on #15
yes that solved it, thx

[2016-11-17 04:30] sascha-andres opened #16 "Unable to find git"
Hello,

GitLens can not find my installed git. The complete error message is:

GitLens: Unable to find Git. Please make sure Git is installed. Also ensure that Git is either in the PATH, or that 'gitlens.advanced.git' is pointed to its installed location.

Git is located in /usr/local/bin/git and the containing directory is in the path. Specifying a path breaks my setup because the path is not the

[2016-11-17 06:08] eamodio commented on #16
@sascha-andres There is a bug in `1.0.1` where it can incorrectly report that it can't find Git, when in fact the issue is that it couldn't find a git repository. Is the folder you are opening a git repository (or is a folder inside a git repository)?

I'm going to publish `1.0.2` shortly that fixes the incorrect message -- and won't even show a message when it can't find a git repo (since that co

[2016-11-17 06:09] eamodio commented on #9
@vizeke are you still experiencing this issue? I haven't noticed it lately -- I'm figuring vscode fixed something.

[2016-11-17 15:14] vizeke commented on #9
@eamodio made some tests and everything looks fine. No unwanted scrolls or bounces. If I notice something in the future I'll let you know.

[2016-11-17 15:53] eamodio commented on #9
Great. Thank you

[2016-11-17 15:53] #9 closed

[2016-11-17 20:31] namzat opened #17 "Python file scrolling"
In a python file, if there is gitlens stuff showing and I type in the file, the page scrolls up a little each time I press a key.  When at the top it bounces a little.  I'm currently using

_VS Code Version 1.8.0-insider
Commit 043310affe454f94c665494b77818c1425cbe8db
Date 2016-11-17T12:27:28.054Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0_

_GitLens 1.0.2_

This looks like if may be along the

[2016-11-18 14:54] depl0y commented on #17
This isn't only with python, having the same problem with VS Code 1.7.1, Gitlens 1.0.2 and Typescript files.

[2016-11-18 19:32] eamodio commented on #16
Since I'm fairly confident this was fixed in `1.0.2` I'm going to close this. Please re-open if not.

[2016-11-18 19:32] #16 closed

[2016-11-23 14:21] tlyng opened #18 "GitLens only displayed for some files"
I don't know if this is a bug or some user error triggered by me, anyway the gitlens only show up inline in some files. Is this supposed to be like this, are there configuration settings I miss or is this something else?

Here I don't see any gitlens information inline in editor
![lens-hidden](https://cloud.githubusercontent.com/assets/135056/20565080/5df3bf2e-b190-11e6-8bb6-67000aa40a09.png)

but

[2016-11-23 14:27] eamodio commented on #18
@tlyng does that always happen on that file? If you close and reopen, does it show? Is that file by any chance in .gitignore?

Please try add the following setting `"gitlens.advanced.output.level": "verbose"`, and then try closing and re-opening that file and take a look at the `GitLens` output in the Output panel. Hopefully that will have some hints to figure this out.

[2016-11-23 14:55] tlyng commented on #18
## Output for file where GitLens is not shown

### GitLens output
[code]

### git blame output
[code]

## Output for file where GitLens is enabled

### GitLens output
[code]

### git blame output
[code]

[2016-11-23 15:39] eamodio commented on #18
@tlyng Hrm. It looks like from the git side of things everything is good. I don't have enough logging to see into the CodeLens part currently. Is this repo public?

[2016-11-23 16:15] tlyng commented on #18
No, but I can try on a public repo to check if the same thing occur.

[2016-11-23 16:23] tlyng commented on #18
Tried it on `https://github.com/tlyng/testpyramidtemplate`, same issue. It looks like it works on most files, here are a list of files which it won't show up:

- `src/testpyramidtemplate/views.py`
- `src/testpyramidtemplate/models.py`
- `src/testpyramidtemplate/__init__.py`

Here are some files which it do show up:

- `setup.py`
- `setup.cfg`
- `Makefile`
- `src/testpyramidtemplate/tests.py`

Othe

[2016-11-23 16:47] tlyng commented on #18
Did more investigation. If I clone the directory and open it in vscode (without creating a virtual environment and setting up the package for development) I get the gitlense view on most files (except `src/testpyramidtemplate/__init__.py`). If I on the other hand actually do setup the repository for development using:

[code]

Then I only get GitLense on a couple of files.

[2016-11-23 17:49] tlyng commented on #18
I suspect there are some other python specific plugins that are causing the issue, tried it on golang repositories and everything worked as intended.

[2016-11-23 18:05] tlyng commented on #18
Discovered something that solved my issue in python. If I set `gitlens.codelens.location` to `all` or `document+containers` then the lens won't show up on many files. If I set it to just `document` it works on all files.

[2016-11-23 19:41] eamodio commented on #18
@tlyng Thanks so much for the investigation! Later tonight I will try your example repo and see if I can track down the issue.

[2016-11-23 23:41] eamodio commented on #18
@tlyng OK after lots of pulling my hair out, my best guess is that there is a bug in the python vscode extension. GitLens uses the built-in `vscode.executeDocumentSymbolProvider` command to get document symbols from whatever provider provides them for the current language. For some unknown reason, the python provider seems to return 0 symbols in some cases. The case were I saw it 100% of the time,

[2016-11-26 07:06] yuchuanxi opened #19 "editor shaking when first line was blank"
when the text begin from first line, It's OK:
![normal](https://cloud.githubusercontent.com/assets/5205912/20638723/f7118190-b3e9-11e6-8a27-67149df13836.gif)

But, when the fist line is blank, the editor will SHAKING!!!
![bug](https://cloud.githubusercontent.com/assets/5205912/20638724/f916f98e-b3e9-11e6-9e90-77ef9a59b8a7.gif)

[2016-11-26 15:56] eamodio commented on #19
This is a bug in vscode, I've opened the following issue: https://github.com/Microsoft/vscode/issues/16097

[2016-11-26 16:02] eamodio commented on #18
Opened https://github.com/DonJayamanne/pythonVSCode/issues/553 to track this

[2016-11-26 16:02] #18 closed

[2016-11-26 16:07] eamodio commented on #17
@namzat @depl0y is this only reproducible for you if the first line in the file is blank? I can't reproduce it otherwise.

If so, this is a vscode bug see: https://github.com/eamodio/vscode-gitlens/issues/19

[2016-11-30 11:18] krzysztof-balas opened #20 "Nested .gitignore files can cause blame to fail with a repo within another repo"
Hi,
plugin seems not to be working if the repository is cloned inside another cloned repository.
VS Code works fine in that case

[2016-11-30 18:07] eamodio commented on #20
@krzysztof-balas can you provide more details? Can you add `gitlens.advanced.output = 'verbose'` to your settings and then take a look at the Output pane for GitLens?

[2016-12-05 20:51] eamodio commented on #19
Since this will be fixed in VSCode 1.8 I'm closing this.

[2016-12-05 20:51] #19 closed

[2016-12-05 20:52] eamodio commented on #17
I'm assuming this is the same as #19 -- closing. Please let me know if it isn't.

[2016-12-05 20:52] #17 closed

[2016-12-28 13:54] junjs opened #21 "git log Error: fatal: unknown date format iso8601-strict Failed with exit code: 128"
Hello,

I am getting this error message whenever I try to user gitlens on a file.

This is the output:

`Add log cache for 'c:/users/...js'
git log --follow --name-only --no-merges --date=iso8601-strict --format=%H -%nauthor %an%nauthor-date %ai%ncommitter %cn%ncommitter-date %ci%nsummary %s%nfilename ? avinodeRFQAircraftListViewModel.js   cwd='c:/Users/...'
  Error: fatal: unknown date format iso

[2016-12-31 16:59] eamodio commented on #21
@junjs what version of git do you have installed? Also what OS are you on?

[2017-01-05 09:32] junjs commented on #21
@eamodio hey!

before I had the version 1.8.3 on windows. I update the version I use the last one and now it seems to be working.

Thanks a lot for your great work!

[2017-01-07 08:26] nonameolsson opened #22 "Cannot read property 'sha' of undefined"
The extension throws some errors i the console. This is how it looks when I open Visual Studio Code with the extension activated. I have had some problems with VS Code recently. Error messages showing up and prompting to reload window. That is how I discovered this. I do not yet know if this extension has something to do with that error message.

<img width="550" alt="screen shot 2017-01-07 at 09

[2017-01-07 15:27] eamodio commented on #22
@nonameolsson can you enabled `gitlens.advanced.output.level` = `verbose` and `gitlens.advanced.debug` = `true`, and then send me the output from the GitLens output pane when the error occurs?

[2017-01-08 09:41] nonameolsson commented on #22
@eamodio Thanks, will do!

[2017-01-10 09:39] krzysztof-balas commented on #20
Thanks and sorry for the delay. I recognized the thing thanks to "verbose" log.
Higher-order repository contained .gitignore file ignoring directory with another cloned repository.
Git blame is skipped because global .gitignore is being used - not the local one.
I'm fine if you leave it as it is.

[2017-01-10 13:26] eamodio commented on #20
@krzysztof-balas Thanks for figuring it out! Trying to fix this will probably be quite involved (or hurt performance), but since I am only using the .gitignore file for better performance (avoiding blaming files that aren't going to be in the repo), I can add an advanced setting turn it off. Hopefully that will help.

[2017-01-10 13:41] #20 closed

[2017-01-15 04:41] Tyriar commented on #22
I'm seeing this as well. It happens when `settings.json` is focused. This is a pretty common use case to open files that do not below to any git repository so it should be handled gracefully :smiley:

[code]

[code]

[2017-01-16 16:16] eamodio commented on #22
@Tyriar You are seeing the same `Cannot read property 'sha' of undefined`? With the same stack trace? I can't reproduce this issue - I can go through the same steps and produce practically the same output log you posted, but I never see that error (things are handled gracefully).

Is it always reproducible?

[2017-01-16 19:04] Tyriar commented on #22
It seemed always reproducible. Note I was on the insiders build.

[2017-01-16 19:41] eamodio commented on #22
Hrm -- I'm running today's insiders too. Can you try this build [gitlens-1.4.2.zip](https://github.com/eamodio/vscode-gitlens/files/709266/gitlens-1.4.2.zip) -- I've added some more logging to trap when this happens.

(Just need to rename it back to *.vsix -- github wouldn't let me upload it otherwise)

[2017-01-16 21:39] Tyriar commented on #22
No reproducing now, it's probably worth adding some more defensive checks though.

[2017-01-26 08:06] AriesMOo opened #23 "File History not working on Windows 7"
On Windows 7, it always show me this warning "**_Unable to show file history. File is probably not under source control_**" and does not work... The file (and the project itself) is on git and github too.
However, the blame feature works well.

On OS X Sierra all works well (file history + blame), but in Windows 7, I can't make it work properly.

Thanks for this awesome extension !

[2017-01-26 17:30] eamodio commented on #22
@nonameolsson are you still experiencing this issue?

[2017-01-26 17:32] eamodio commented on #23
@AriesMOo sorry for that. Which version of Git are you running? Can you make sure it is the latest?

If after verifying you are running the latest git version and are still having the same issue, can you set gitlens.advanced.output.level = verbose and gitlens.advanced.debug = true, and then send me the output from the GitLens output pane when the problem occurs?

[2017-01-26 18:44] ashishkushwaha opened #24 "Debug breakpoints not visible in blame view (author history view) - Current commit area"
Thanks for making this awesome extension. I just noticed that in the blame view (author/commit history view), its not possible to see the breakpoints on the lines highlighted by the current commit.

The breakpoints are set and removed and work fine. Just that they are not visible because i think the commit line block visually overwrites the red break point circle.

Refer to the example image below

[2017-01-31 08:11] AriesMOo commented on #23
@eamodio It is working now ;)
I had the last Git version, but also had an old portable version in the PATH variable (and a cmder bin variable with another old git version)... I sorted the path variables, just to run the properly version of Git, and all worked fine, so the bug was mine... sorry :S

Thanks for your support !!

[2017-01-31 08:11] #23 closed

[2017-02-06 21:11] eamodio commented on #22
I think I have finally resolved this in the latest version.

[2017-02-06 21:11] #22 closed

[2017-02-07 12:31] Glober777 opened #25 "Blame information isn't updated after git operations (commit, reset, etc)"
Hi!

I've noticed that the 'Not Committed Yet' message keeps showing even after the change was committed.

GitLens Extension: 2.0.0
VSCode: 1.9.0

Thanks!

[2017-02-07 12:37] innerlee opened #26 "Active line annotation doesn't disappear properly after delete"
originally, like this, cursor placed at end of line 13.

![screenshot_2017-02-07_20-32-06](https://cloud.githubusercontent.com/assets/9464825/22691296/c1659490-ed74-11e6-935b-a3dac94ab69f.png)

press ``del`` key. the next line will move up. however, the display is not correct.

![screenshot_2017-02-07_20-32-38](https://cloud.githubusercontent.com/assets/9464825/22691297/c16aac5a-ed74-11e6-9329-890

[2017-02-07 16:19] eamodio commented on #26
@innerlee Thanks for the report -- I will look into it. It shouldn't even still be displaying once you start editing (since I found it distracting when you are typing).

[2017-02-07 16:25] eamodio commented on #25
@Glober777 Thanks for the report. Sadly code doesn't currently provide a way for me to detect that a file has been committed (at least not that I could find). I am investigating adding a timeout to my cache, so even though it will stick for a while it will resolve eventually. If you find this behavior bothersome you could also disable the GitLens cache by setting `gitlens.advanced.caching.enabled`

[2017-02-07 16:43] #26 closed

[2017-02-07 16:45] eamodio commented on #26
Fixed in v2.0.1

[2017-02-08 08:51] killercup opened #27 "Annotations broken in insider build"
Just installed 2.0.1 of this extension in the latest insider build (from this morning) and every one of the three annotations styles is broken in some way. (Also not the escaped bytes like `\0`.)

Is this a regression in vscode or some other extension that messes this up? It worked perfectly last week with a pre-2.0 version (and an earlier insider build). Sorry to not have more information on this

[2017-02-08 10:48] pdanpdan commented on #27
Hello. Same issue here.
GitLens 2.0.1 / VSCode 1.10.0-insider

[2017-02-08 15:23] eamodio commented on #27
This is an issue in vscode -- I opened an issue here. https://github.com/Microsoft/vscode/issues/20137 Feel free to upvote it ;)

[2017-02-08 17:30] eamodio commented on #27
I've identified that commit that broke it in vscode -- hopefully a fix will come shortly. In the meantime I just pushed v2.0.2 that adds control over some of the blame annotation characters.

You can add the following for now to get around this issue until the vscode issue is fixed.

[code]

[2017-02-09 12:09] rhys-vdw opened #28 "Feature request: Copy commit hash to clipboard"
Hey there, loving the plugin.

I'm really missing some way to copy the commit hash on the blame annotation to the clipboard. A keyboard command is a possibility, but just adding the option the context menu would be sufficient.

[2017-02-09 15:09] eamodio commented on #28
@rhys-vdw that is an excellent suggestion! Thanks! Look for that in the next release :)

[2017-02-09 15:24] eamodio commented on #24
@ashishkushwaha could you provide some more information on why this is valuable? With the way vscode deals with the gutter is very simplistic -- so the only way I could not "conflict" with the breakpoints (or really any other gutter item) is to turn off any gutter changes at all. And that isn't really something I'm interested in doing.

[2017-02-09 18:14] ashishkushwaha commented on #24
Thanks for looking at this. Its not that critical. The only reason i was looking for it was part of a code review I was doing. It was a pretty big JS file and as part of the code review, I wanted to run through the code and specifically set breakpoints only in the changes which were part of this commit. The author view helped in highlighted the current commit lines. But when i set up the break poi

[2017-02-09 19:17] eamodio commented on #24
@ashishkushwaha thanks for the info -- you've convinced me. I think I'll add a new setting for choosing the decoration for the selected blame lines -- something like, highlight, gutter, both

[2017-02-09 20:14] ashishkushwaha commented on #24
Yup. That sounds like the best of both worlds solution. Appreciate it.

[2017-02-10 03:45] rhys-vdw opened #29 "Commit info tooltip duplicated for current line when blame is enabled"
![image](https://cloud.githubusercontent.com/assets/822105/22813414/88884988-ef9f-11e6-9d68-49f74e029d2d.png)

I'm guessing it's shown once for the left annotation, and once for the one on the right.

[2017-02-10 04:33] eamodio commented on #29
@rhys-vdw yeah it is -- While I *should* be able to conditionally turn it off on the right (i.e. the active line) one, I can't conditionally turn off the left one.  But the reason I actually left both in as ugly as it is, was because the right annotation is richer since it does a query for full commit log message (multiline) rather than the summary (single line - first 50 chars). And I unfortunate

[2017-02-10 04:36] eamodio commented on #29
Maybe I could do hack, where if we are in blame annotation mode and there is less than 50 characters in the commit message, then assume the left is good enough and hide the right. So you would still end up with duplicates but only when the data was actually different.

[2017-02-10 05:27] rhys-vdw commented on #29
Is this when the cursor touches the line, or when the popup opens? Because I've also noticed a bit of lag when holding up/down since last update. I suspect it's caused by the active line annotation (but haven't confirmed yet).

Is it possible to only get the full commit message when the popup opens, regardless of the mode? That seems ideal, but I haven't at all looked at your implementation.

[2017-02-10 06:22] eamodio commented on #29
It is when the cursor touches the line -- sounds like I might need to defer it until right after to not hold up movements.

Not as far as I can tell -- the decorators don't seem to provide a way to give it a promise or any other way to detect that the work should be done.

[2017-02-10 06:55] rhys-vdw commented on #29
@eamodio You can probably just debounce the active line annotation so that it appears when the cursor is at rest - nobody can read at key repeat speed anyway. :) Sorry to mix two issues together here.

[2017-02-10 08:04] eamodio commented on #29
@rhys-vdw yup -- just implemented that, helps quite a bit. Also made sure to track the current line, so column changes don't waste time :)

[2017-02-10 08:07] #29 closed

[2017-02-13 18:42] #24 closed

[2017-02-13 18:42] #28 closed

[2017-02-13 18:44] eamodio opened #30 "Diff with Working Tree fails from repo/commit quickpick list if file was renamed (and the commit was before the rename)"
I have yet to figure out how to find the most recent filename given a commit. I've tried to a `log` to go from the commit to head `{sha}..HEAD` which gets me to most recent commit with the file at the point of the rename, but it returns the old filename for that commit not the newer one.

[2017-02-13 19:45] rhys-vdw commented on #28
🙌

On Tue, Feb 14, 2017, 5:42 AM Eric Amodio <notifications@github.com> wrote:

[2017-02-14 01:40] unional opened #31 "Disable gitlens if the project does not have `.git` folder"
e.g. Some of the projects I work on is under perforce.

[2017-02-14 04:18] eamodio commented on #31
@unional Thanks for you feedback! I currently do disable GitLen in this case, but unfortunately given the current vscode extension api I don't have a great way to remove the commands from the menus and command palette. I will look into it more, and there is an [issue opened](https://github.com/Microsoft/vscode/issues/10401) with vscode to address some of this.

[2017-02-15 08:43] Glober777 commented on #25
Hey @eamodio! I'm not familiar with the VSCode API, and what hooks are available there, but I was wondering if you could rely on "git diff" output (executed periodically or based on an event that VSCode may be raising every time commits happen). The simplest case would be if the output of git diff is blank, than consider everything as committed. Parsing its output, would help to figure out whether

[2017-02-16 17:30] #31 closed

[2017-02-18 03:47] eamodio commented on #25
Opened https://github.com/Microsoft/vscode/issues/20845

[2017-02-20 00:57] rhys-vdw commented on #29
Just updated. That's much better - love your work. 👍

[2017-02-20 00:58] rhys-vdw commented on #28
Thanks again! Such convenience.

[2017-02-20 18:16] #27 closed

[2017-02-22 06:48] #25 closed

[2017-02-22 07:38] innerlee opened #32 "00000000 Uncommitted changes distracting"
I find the ``Uncommitted changes`` info mostly distracting. These new changes has well indicated besides the line no and also in the scroll bar (maybe also in the coming mini-map). It would be great if we can hide it.

![fff](https://cloud.githubusercontent.com/assets/9464825/23201422/7bd113fe-f914-11e6-89e5-c8f5de3fb77a.png)

[2017-02-22 07:58] eamodio commented on #32
@innerlee which part specifically? The hover? The inline annotation? Both? And do you only find it that way for `Uncommitted` or in general?

FYI, there are setting that control almost all of the above, with the exception of differing between `Uncommitted` and `Committed`.

[2017-02-22 08:11] innerlee commented on #32
Thanks! I mean
* The hover, and
* ``Uncommitted`` specifically.

[2017-02-22 09:20] eamodio commented on #32
@innerlee Ah that makes sense -- the hover is kind of useless when in the `Uncommitted` case. I'll look into removing it.

[2017-02-22 09:26] #32 closed

[2017-02-22 16:04] eamodio commented on #32
@innerlee fixed in v2.5.6

[2017-02-27 09:02] aiiak opened #33 "Commit messages can causes markdown formatting in hovers"
When message starts with # symbol, it is displayed as title and looks messy.

 ![img_27022017_094903_0](https://cloud.githubusercontent.com/assets/14100012/23354540/b66b5246-fce2-11e6-8e87-d35f4b0db7e6.png)

Do markdown support is really necessary here  or just messages is't properly escaped ?
p.s.
If this is a feature, is there some option to disable markdown support  in tooltips?

[2017-02-27 15:06] eamodio commented on #33
@aiiak thanks for the report -- this is a bug. I'm not properly escaping the message.

[2017-02-28 00:53] cateyes99 opened #34 "Open file should open the selected version of the file"
In "**Show File History**" feature, click a particular commit on the list, it shows "**go back**", "**Compare with Previous Commit**", "**Compare with Working Tree**", and "**Open File**" etc., when clicking "**Open File**", it doesn't open the version of previously selected commit, instead just open the file currently in the folder! That's less interesting. It should open the the version of the s

[2017-02-28 08:51] eamodio commented on #34
@cateyes99 Thanks for the feature request -- funny enough I was just talking about implementing this earlier today! Look for it in the next GitLen release.

[2017-02-28 09:03] rrerolle opened #35 "Copy Commit Sha to Clipboard not working"
Hello,

I can't seem to make the "Copy Commit Sha to Clipboard" feature work, no matter how hard I try.

I'm using version 1.9.1 on Ubuntu-Gnome 16.04.

I tried the feature using various ways: the right click contextual menu, the command palette or one of the various quick pick uis.

This has never resulted in anything being copied to the clipboard. Actually my clipboard remains unchanged and stil

[2017-02-28 15:53] eamodio commented on #35
@rrerolle It seems to be a linux specific issue. I'll dig into and see what I can come up with.

[2017-02-28 16:14] eamodio commented on #35
@rrerolle It seems the [node package](https://github.com/xavi-/node-copy-paste) I'm using to copy to the clipboard requires that `xclip` be installed. You can install it via `sudo apt-get install xclip`.

If you install that it should start working.

[2017-02-28 16:57] rrerolle commented on #35
That did the trick, it's now working fine, thanks for the info !

[2017-02-28 17:27] #35 closed

[2017-03-01 07:15] #34 closed

[2017-03-02 08:39] SailorMax opened #36 "Blame information is invalid when a file has unsaved changes"
GitLens ignore new line shifts in modified file.

Steps:
1. open document modify history has few people, for example:
line 1 by user A
line 2 by user B
line 3 by user C
2. put cursor in end of line 1 and press Enter
3. check owners of lines 1-4

Expected:
line 1 by user A
line 2 (empty) has no user
line 3 by user B
line 4 by user C

Actual:
line 1 by user A
line 2 (empty) by user B
line 3 by user

[2017-03-02 08:58] SailorMax opened #37 "Selected text of multiple authors still has author in status bar"
Steps:

1. Select text with multiple different authors

Expected: Status bar did not output any blame information

Actual: Status bar output author of cursor line

[2017-03-02 09:01] SailorMax opened #38 "Toggle Blame Annotation button shows even when it isn't valid"
Steps:

1. Open Extensions tab
2. Click on any installed extension

Expected: in top right corner "GitLens" button is invisible

Actual: in top right corner "GitLens" button is visible and did not work

[2017-03-02 09:15] SailorMax opened #39 "Add date format options for status bar blame"
Can you add setting to output dates as is?
Not "15 minutes ago" or "a month ago" (it hard to calculate actual datetime), but "Today"/"Yesterday"/earlier as plain date "02.03.2017" + time

Samples:

- Today at 12:24
- Yesterday at 09:00
- at 01.02.2017 19:34

thank you.

[2017-03-02 15:55] eamodio commented on #39
@SailorMax that setting already exists `gitlens.blame.annotation.date` and you can set it to `absolute`. There was an issue in the README that didn't have the updated description -- you can see all the settings here https://github.com/eamodio/vscode-gitlens#extension-settings

[2017-03-02 15:57] eamodio commented on #37
@SailorMax this is behaving as designed -- the statusbar blame show the author of the cursor line

[2017-03-02 15:57] #37 closed

[2017-03-02 16:01] SailorMax commented on #39
Sorry, but in status bar I still have "3 years ago"...

[2017-03-02 16:01] eamodio commented on #36
@SailorMax Thanks for the report -- there are some definitely issues here and will get them fixed up!

[2017-03-02 16:03] eamodio commented on #39
@SailorMax Ah, gotcha. Will fix that up -- thanks!

[2017-03-02 17:50] #39 closed

[2017-03-03 08:33] #36 closed

[2017-03-03 08:35] #38 closed

[2017-03-03 12:38] bizoo opened #40 "Encoding issues"
There is some issues when encoding of files in Git is not UTF-8.
If I have a file opened in vscode encoded in Windows 1252 (this is my default encoding for my workspace),
when using the Compare with ... command, the files from Git (not the current one in the Working folder) is displayed with the wrong encoding.

To replicate:

1. Create a new file and put this text inside: _référence_
1. Save it w

[2017-03-03 13:47] SailorMax opened #41 "Toggle Blame annotations on compare files page"
Toggle Blame annotations on compare files page (SCM) did not work but exist.

[2017-03-03 13:52] pankajpatel opened #42 "Cursor on Uncommitted message"
The cursor position should not be around the uncommitted info on empty line
![cursor](https://cloud.githubusercontent.com/assets/251937/23553395/de0e3520-0020-11e7-8284-cada52c2c91e.png)

[2017-03-03 14:53] svipben opened #43 "File-level CodeLens isn't using the blame of the whole file as it should"
Hello,

firstly thanks for such amazing extension for VS Code, secondly I have one problem which a little bit annoys me, because it doesn't produce the real info about commit, I updated `README.md` file more than 10 times and I always see `svipben, a day ago`, but it was yesterday and today, same applies for all files also function `Compare with Previous commit` shows bad info as well as codelens,

[2017-03-03 14:59] svipben commented on #42
I can confirm this, OS: Linux Ubuntu 16.04, VS Code: 1.10, Git: 2.11.0

[2017-03-03 15:16] eamodio commented on #43
@svipben Sorry for the issues you are experiencing, but I'm not sure I fully understand. Any chance you could provide some more details to what specific things are wrong (maybe a couple of screenshots with the wrong data)?

[2017-03-03 15:17] eamodio commented on #42
@pankajpatel as @svipben mentioned this should be fixed in a later version of GitLens. Please let me know if you are still seeing issues on the latest version (currently 2.9.0).

[2017-03-03 15:41] svipben commented on #43
Yes, of course.

![Image](https://i.gyazo.com/e13e1d2d1f7f608c077a5a3c0f34718b.png)

[2017-03-03 15:49] pankajpatel commented on #42
Sorry for less info;

OS: macOS Sierra v10.12.3 (16D32)
VSCode: Version 1.10.1 (1.10.1)
GitLens: v2.9.0

Issue is still visible.
![screen shot 2017-03-03 at 4 48 20 pm](https://cloud.githubusercontent.com/assets/251937/23557725/41057ce6-0031-11e7-9fcc-af8f6c569c05.png)

[2017-03-03 16:10] svipben commented on #42
Right now I can confirm it too.

![Image](https://i.gyazo.com/a80c20bfcfe27ffd205481e388166374.png)

[2017-03-03 17:13] eamodio commented on #42
@pankajpatel @svipben How do you get into that state? What are the steps?

[2017-03-03 17:48] #41 closed

[2017-03-03 17:49] eamodio commented on #42
@pankajpatel @svipben fyi, I pushed an update with a set of fixes, some of which might address this -- please let me know if the issue still persists. Thanks!

[2017-03-03 17:50] eamodio commented on #40
@bizoo Thanks for the report -- I'll take a look into it.

[2017-03-03 17:51] eamodio commented on #43
@svipben if you turn of caching -- setting `gitlens.advanced.caching.enabled` = `false` do you still see the same behavior? (Make sure you update to 2.10 first, otherwise it will crash at startup with caching disabled).

[2017-03-03 17:59] svipben commented on #43
Updated to 2.10 version, disabled caching with `"gitlens.advanced.caching.enabled": false` in User Settings, but still the same. I already did about 3-5 VS Code restarts and it's still the same...

[2017-03-03 18:04] eamodio commented on #43
@svipben hrm. Can you also try to turn on the following settings: `gitlens.advanced.debug` = `true` and `gitlens.advanced.output.level` = `verbose`. That should turn on a bunch of logging (in its own output channel called `GitLens`), as well as put some debug information into the CodeLens themselves.

After you turn can you send me another screenshot?

Also is that repo public? If so I can try pul

[2017-03-03 18:08] svipben commented on #43
If you're talking about Toggle developer tools, I get in console same error 3 times:

[code]

My repo: https://github.com/svipben/react-boilerplate

[2017-03-03 18:36] svipben commented on #43
After push `README.md` still have `svipben, a day ago`, but `package.json` have `svipben, 4 minutes ago`.

P.S. At top it shows `svipben, 4 minutes ago`, at bottom it shows `svipben, 2 days ago`, here is the picture.
![Image](https://i.gyazo.com/5a950e04308b91943ef16e6bbf4160f1.png)

[2017-03-03 18:49] svipben commented on #42
I think I know why it happens, try to use tab or space in empty line, it will triggers `Uncommited change`.

[2017-03-03 21:57] pankajpatel commented on #42
@svipben correct. And one thing that I noticed is that if the if the setting for rendering whitespace is ste to all i.e. `"editor.renderWhitespace": "all"` then the issue doesn't come up.

[2017-03-03 23:58] eamodio commented on #42
@pankajpatel ah - that explains why I don't see it. Thanks for the information!

[2017-03-05 16:46] eamodio commented on #42
@pankajpatel @svipben Thanks for all the information. This appears to be a vscode bug (as nothing I could think of had any effect at stopping this behavior). I've opened the following issues to track this: [vscode #22018](https://github.com/Microsoft/vscode/issues/22018) & [vscode #22017](https://github.com/Microsoft/vscode/issues/22017)

[2017-03-05 17:12] svipben commented on #42
@eamodio Thank you!
Off topic: can you show how Darwin OS looks like and from where I can download it? I found http://www.puredarwin.org website and I saw screenshots, so it looks like this? Seems old & ugly ;D

[2017-03-05 18:18] eamodio commented on #42
np. Darwin OS is what macOS calls itself internally. I'm running macOS Sierra.

[2017-03-05 20:50] #43 closed

[2017-03-06 17:27] obrejla opened #44 "File history or Changed files not shown"
VSCode 1.10.1
macOS Sierra

Hi!

I installed the extension, blaming works well, but when I want to see e.g. File History, I get a warn, that "Unable to show file history. File is probably not under source control". Also when I want to look at Changed Files (click on Commit Details -> Show Changed Files) I get warn "Unable to show commit details".

But as I said...Blame works.

What should I do to

[2017-03-06 17:55] obrejla commented on #44
I toggled debug mode and in Dev Tools, there is this errror:

[code]

[2017-03-06 18:05] obrejla commented on #44
Well, I updated git to 2.10.1 and it started to work.

[2017-03-06 21:29] eamodio commented on #44
@obrejla Yeah, that date format I guess is only in later version of git -- I should look into seeing if normal iso8601 would work.

[2017-03-06 21:31] obrejla commented on #44
Cool, thanks for the support.

[2017-03-08 09:33] con-ssc opened #45 "Keyboard Shortcut collision with Project Manager"
Gitlens introduced a keymap collision for SHIFT+ALT+P with https://github.com/alefragnani/vscode-project-manager

[2017-03-09 07:23] #44 closed

[2017-03-09 07:23] eamodio commented on #42
Since vscode fixed this issue I'm closing it

[2017-03-09 07:23] #42 closed

[2017-03-09 08:03] pankajpatel commented on #42
I also noticed the smooth working after updating the VSCode. Thankyou!

[2017-03-09 09:44] jedy opened #46 "ui error when editor.renderWhitespace is boundary"
![image](https://cloud.githubusercontent.com/assets/1589263/23744613/de6cba5e-04ef-11e7-999d-6486126d5ff4.png)
![image](https://cloud.githubusercontent.com/assets/1589263/23744637/eb0a0d98-04ef-11e7-9ed3-395cdfd6d903.png)

[2017-03-10 10:27] SailorMax opened #47 "Unable to click on status bar button in diff mode"
Steps:
1. modify any file;
2. open SCM tab;
3. click on modified file to see diff;
4. put cursor on any line in left part of diff to see author in status bar
5. click on author in status bar

Expected: GitLens menu for selected commit.

Actual: status bar button hide.

[2017-03-10 16:56] eamodio commented on #47
@SailorMax Thanks for the report, sadly this is a [vcode issue](https://github.com/Microsoft/vscode/issues/22403)

[2017-03-10 17:06] eamodio commented on #46
@jedy are you using a non-monospace font? If so this is a [known issue](https://github.com/eamodio/vscode-gitlens#known-issues) and you will need to set `"gitlens.advanced.toggleWhitespace.enabled": true`.

Please let me know if that resolves the issue for you.

[2017-03-10 18:56] #45 closed

[2017-03-12 15:22] svipben opened #48 "Uncommited change behavior on tab or space"
Hello,

OS: Linux Ubuntu 16.04
VS Code: 1.10.2
GitLens: 2.11.2

When you use space or tab on empty line you get `Uncommited change`, if I remember correctly it was VS Code problem and you created new issue, but seems it wasn't fixed...

![screenshot from 2017-03-12 17 19 51](https://cloud.githubusercontent.com/assets/10441177/23833000/1ebcaf38-0748-11e7-98f5-6a31b4bc45f6.png)

P.S. Enabled debug,

[2017-03-12 16:04] eamodio commented on #48
@svipben vscode "fixed" the issue, but it hasn't been released yet -- I'm not sure it made it into an insiders build yet (but I think so). It will likely be released in vscode v1.11

[2017-03-12 16:04] #48 closed

[2017-03-12 16:05] svipben commented on #48
@eamodio oh, sorry then. Thanks!

[2017-03-12 16:10] eamodio commented on #48
@svipben no worries at all :)

[2017-03-13 01:09] jedy commented on #46
I use Inconsolata-g, which is a monospace font. Setting `"gitlens.advanced.toggleWhitespace.enabled": true` works. Thank you.

[2017-03-13 01:41] eamodio commented on #46
@jedy great -- thanks! With any luck [vscode #11485](https://github.com/Microsoft/vscode/issues/11485) will get resolved soon :)

[2017-03-13 01:41] #46 closed

[2017-03-13 23:51] beeplin opened #50 "display extra gitlens in vue file with vetur"
When working together with vetur (vscode's officially recommended vue plugin) https://github.com/octref/vetur/issues/87, .vue files <style> part has extra gitlens displays:

![image](https://cloud.githubusercontent.com/assets/13058150/23818266/a48679a6-0634-11e7-8a54-1df31d78b573.png)

If using other vue support plugins such as`vue` or `vue-component` there is no this issue. Simply renaming .vue f

[2017-03-15 16:30] eamodio commented on #40
@bizoo does the built-in git diff in vscode work for you? I'm seeing the same behavior with the vscode git diff as with GitLens.

[2017-03-15 16:37] eamodio commented on #40
@bizoo I don't think there is currently a way I could fix this. Git itself doesn't know about the file encoding -- and vscode doesn't provide a way (as far as I can tell) to know what encoding the file is opened as.

If you or anyone else has any ideas I'm all ears :)

[2017-03-15 16:46] eamodio commented on #50
@beeplin this is by design -- GitLens uses the symbol information provided by vscode to add its CodeLens (and extensions can extend/provide this symbol information). So the Vue extension must be providing a symbol for those classes.

You can control the behavior of the CodeLens via a few GitLens configuration settings (you can find the documentation for each setting here: https://github.com/eamodi

[2017-03-15 16:51] eamodio opened #51 "Provide some kind of welcome/orientation for first-time users"
GitLens has a bunch of features many of which are not very discoverable. Figure out ways to welcome/orient users and/or make features more discoverable.

Any ideas are very welcome here.

[2017-03-15 16:52] eamodio opened #52 "Provide changelog link in a notification message for non-patch version updates"

[2017-03-15 17:53] beeplin commented on #50
thanks. I will feedback to the author of vetur.

[2017-03-15 18:03] octref commented on #50
Hey I'm working on vetur.

VSCode added symbols for html/css in Feb release:

https://code.visualstudio.com/updates/v1_10#_html

![image](https://cloud.githubusercontent.com/assets/4033249/23963502/d9ce21e4-0987-11e7-9699-378f938bc8d5.png)

If this breaks for vetur, it must be breaking for html too.

@beeplin Would you mind setting `gitlens.codeLens.locationCustomSymbols`? Seems this would fix the

[2017-03-15 18:53] eamodio commented on #50
@octref sorry -- I definitely wasn't suggesting anything was wrong in vetur -- nor do I consider this something "broken" in GitLens. GitLens allows you to configure the CodeLens how ever you want given enough provided symbols from vscode/extensions.

But since `css` in `html` now add a symbol of `class` (which I consider to be a container type symbol) it will render with CodeLens by default (since

[2017-03-15 18:57] octref commented on #50
No worries! Thanks for fast response.

The whole document is language type vue. Each embedded region has embedded language type such as `vue-html`, `css`, `scss`, `less`, `javascript`, etc.

![lang](https://cloud.githubusercontent.com/assets/4033249/23965844/b9142ff4-098f-11e7-9ee5-18ea8917d37f.gif)

[2017-03-15 19:00] eamodio commented on #50
@beeplin can you try the following setting:
[code]
And let me know if that resolves the issue for you? If so, then I will add those into the defaults for the next release.

[2017-03-15 19:41] beeplin commented on #50
@eamodio thanks for the quick response! Yes, this setting resolve my issue perfectly.

[2017-03-15 19:45] eamodio commented on #50
@beeplin great -- look for that to be in the defaults of the next release and you'll be able to remove those explicit settings

[2017-03-15 19:54] #50 closed

[2017-03-15 19:55] eamodio commented on #50
@beeplin it's now in 2.12.2

[2017-03-15 20:06] octref commented on #50
Thanks a lot. gitlens looks pretty useful. I'll give it a try this weekend.

[2017-03-16 07:35] bizoo commented on #40
You're correct, vscode doesn't handle it very well:
- If I put my encoding as default ("files.encoding": "windows1252") in my settings (either workspace or user), built-in git diff in vscode work for me on the same source file that show issues in GitLens.
- If I don't and use the Reopen with encoding to change the encoding, I see the same issues (and even more).

I suppose that it works in vscode

[2017-03-16 09:20] pankajpatel commented on #42
This issue is reappearing again. can we reopen it?

[2017-03-16 10:28] bizoo commented on #40
An issues is already filled:
https://github.com/Microsoft/vscode/issues/21146

And it's incorporated in the March Iteration Plan  :thumbsup:

[2017-03-16 10:42] bizoo commented on #40
And you're correct about getting encoding of a file:
https://github.com/Microsoft/vscode/issues/824

[2017-03-16 10:42] bizoo commented on #40
Oups, closed by error...

[2017-03-16 13:01] eamodio commented on #42
@pankajpatel you are still running the insiders build of vscode? If so is it the same scenario?

[2017-03-16 13:04] eamodio commented on #40
@bizoo Thanks for the updates! I will look into adding support for the `files.encoding` setting.

[2017-03-16 16:46] pankajpatel commented on #42
I am sunning the stable version and the scenario was similar.
VSCOde: Version 1.10.2 (1.10.2)
GitLens: 2.12.2

<img width="439" alt="error" src="https://cloud.githubusercontent.com/assets/251937/24007933/6229c460-0a70-11e7-8e38-9d27ef8fcb95.png">

[2017-03-16 16:48] svipben commented on #42
@pankajpatel it wasn't fixed on stable, it was fixed in insiders build as @eamodio said. I didn't tested, just waiting for stable release :smile:

[2017-03-16 18:01] eamodio commented on #42
@pankajpatel as @svipben mentioned the vscode fix will be in the next version (1.11) or the current insiders build.

[2017-03-16 20:48] bfranklyn opened #53 "Show Repository History does not show commits that are upstream"
This is more of a feature request.
Would it be possible to include a setting to allow the show repository history to also include commits that are upstream?
Currently it only shows commits that have already been pulled down.

[2017-03-17 18:05] eamodio commented on #53
@bfranklyn what is the use-case for this? Like how would you want to use it?

I think there are some challenging/tricky issues involved depending on how it would work.

But I have some ideas that while not exactly this could be useful. Like providing "sync" status on the repository status -- maybe even a command there to show only the commits you haven't pulled yet

[2017-03-17 19:05] bfranklyn commented on #53
@eamodio sometimes when there are commits up stream, I would like to see some details about those commits like the person who made the commits, commit messages, and probably the files that were changed. I can see how it may be difficult or even impossible but the sync status idea sounds great! And it would indeed solve my use case to some extent.

[2017-03-19 05:31] #30 closed

[2017-03-20 09:53] marvinhagemeister opened #54 "How to disable inline author link?"
Awesome extensions! Love the git blame view 👍

There is one minor thing where I'm unsure if I simply use the wrong setting or so. I'd like to disable the author link here:

<img width="522" alt="screen shot 2017-03-20 at 10 49 26" src="https://cloud.githubusercontent.com/assets/1062408/24094912/09c32918-0d5b-11e7-9108-11cb95533f49.png">

According to the docs the setting `gitlens.codeLens.authors.

[2017-03-20 12:51] eamodio commented on #54
@marvinhagemeister GitLens provides 2 CodeLens options -- the most recent commit (which you are seeing above) and the author (of the block) -- but it only shows the author if there is more than 1 author of the block (since it is duplicate information in that case). If you want to turn off all the CodeLens set `"gitlens.codeLens.visibility": "ondemand"` or `"gitlens.codeLens.visibility": "off"`, or

[2017-03-20 12:58] marvinhagemeister commented on #54
@eamodio Awesome, that does the job! Thanks for the quick reply 👍

[2017-03-20 12:58] #54 closed

[2017-03-27 06:38] eamodio commented on #52
Added in v3

[2017-03-27 06:38] #52 closed

[2017-03-27 06:41] eamodio commented on #53
@bfranklyn I've added support for seeing upstream info in the `GitLens: Show Repository Status` command (also `alt+s`) -- where you can see the set of commits yet to be pulled and/or pushed.

Please let me know if this satisfies your request.

[2017-03-27 08:46] d3viant0ne opened #55 "GitLens Requires an unmaintained version of git for OSX"
More of a note from one project maintainer to another.

The latest version of gitlens ( which i love btw ) requires a version of Git that isn't available on OSX via the standalone installer which means OSX users will either have to install git from src or use something like homebrew.

While I personally don't have an issue with either one of those options, a lot of people either aren't going to wa

[2017-03-27 09:26] obrejla commented on #55
Exactly. Please, remove that check and support just maintained 2.10.1 version ;) Thanks!

[2017-03-27 10:07] d3viant0ne commented on #55
From what I can see, that ship has sailed already. Only viable options are to lock to the previous version, disable the plugin, or use something like brew to install a more up to date version of git and then go update your path and deal with xcodes config.

[2017-03-27 10:38] mikes-gh commented on #55
OSX and windows user here

I am interested to know what bits of gitlens rely on the changes between 2.10.1 and 2.11.1
A better message might be info  "xyz features of git lens require 2.11.1.  Please upgrade to >= 2.11.1 if you require these features" Dont Show Again|OK

Great extension BTW thanks.

[2017-03-27 11:35] guidojo commented on #55
Same as for Fedora! Fedora only comes with git version 2.9.3. This version is stable and I don't see why a higher version should be required tbh. Please downgrade, since I really want to use codelens in my companies big project.

[2017-03-27 12:54] josser commented on #55
Same for Ubuntu.
As you can see http://packages.ubuntu.com/search?suite=all&searchon=names&keywords=git
Even on latest zesty only 2.11.0 is available for install.

[2017-03-27 13:24] eamodio commented on #55
Sorry about this -- I didn't realize I had taken a dependency on a later version of Git until I has already released v3. I believe the only case that requires v2.11.0 of Git is my use of the `git status --porcelain=v2`, so I will be looking to put a fallback in place if there is a older version of Git. Once that is in, I will also remove the Git version warning and put it back to the prior version

[2017-03-27 14:07] bfranklyn commented on #53
@eamodio Awesome, it is exactly what I was looking for. Thank you very much 👍.

[2017-03-27 14:07] #53 closed

[2017-03-27 15:04] #55 closed

[2017-03-27 15:06] eamodio commented on #55
I've added a fallback in v3.0.3 to not required git >= 2.11.0, so the requirement should be back to >= 2.2.0 -- again really sorry for this :(

[2017-03-27 18:51] kkwillmert opened #56 "Handle file names with spaces"
When attempting to use the context menu options in the file explorer for "Compare with Previous Commit" or "Compare with Working Tree" on a file that contains space characters in the file name, the error "Unable to open diff. See output channel for more details" is thrown, and the diff does not come up.

[2017-03-28 05:27] d3viant0ne commented on #55
It's all good... `Stuff happens`. Thanks for the quick turn around :)

[2017-03-28 06:13] #56 closed

[2017-03-28 18:59] mikes-gh commented on #55
Thanks for quick turnaround

[2017-03-29 01:35] RogerThiede commented on #51
👍
I ran into this problem after installing GitLens and opening a source code file.
I couldn't figure out how to access the features such as displaying Git Blame, and my editor had no "Toggle Blame Annotations" button in the upper right.  After hunting around, I realized I had to open the git folder in Visual Studio Code before the GitLens features would activate.  This was very different than my n

[2017-03-30 00:22] aminpaks opened #57 "Warn on directory compare when there is no diff tool configured"
I never could get this to work!
I follow these steps:
- `>GitLens: Directory Compare`
- Pick one remote branch
- Enter

Nothing happens!

Any help?

[2017-03-30 00:37] eamodio commented on #57
@aminpaks you'll need to have git configured with a difftool. Do you have that setup?

[2017-03-30 00:39] aminpaks commented on #57
No I thought it's part of vscode!
How to do that?

[2017-03-30 00:58] eamodio commented on #57
Vscode can't (as far as I know) do directory compares. Would need another difftool like Beyond Compare.
I will look into either hiding or providing some feedback on those options if it isn't setup

[2017-03-30 00:59] aminpaks commented on #57
But if vscode team can provide this ability that would be so good!

Thanks in advance.

[2017-03-30 14:16] eamodio commented on #57
@aminpaks FYI https://github.com/Microsoft/vscode/issues/6898

[2017-03-31 17:31] thiagoh opened #58 "Gitlens for submodules"
I noticed gitlens doesn't work for submodules. When you have a project and inside it you have one or more submodules, gitlens completely ignore them.

Do you plan to implement this functionality by chance?

[2017-03-31 18:16] eamodio commented on #58
I've never used submodules myself, so I'm not familiar with them. I did a bunch of work a while back to support sub-repos (and I think that still works, though I believe I noticed a bug the other day). When you say that it just ignores them, what does that mean exactly? You could also try turning on the output logging via `"gitlens.output.level": "verbose"` setting and see if there are any error m

[2017-03-31 18:21] thiagoh commented on #58
There isn't any error message coming. Only a warning like this:
"Unable to show commit details. File is probably not under source control" when I, for example, try to use "Show commit details" on a file that is under the submodule.

When I say that gitlens ignores it I mean that the extension doesn't work at all on a file versioned by a submodule.

[2017-03-31 18:34] eamodio commented on #58
That warning should generate a much better message in the `GitLens` output channel if you turn set "gitlens.output.level": "verbose". Can you turn that on, and retry? Then post the logs here?

[2017-03-31 18:37] thiagoh commented on #58
@eamodio I tried doing that.. did this configuration then under the `output` tab nothing is shown. Is the any other thing I could do?

[2017-03-31 18:51] eamodio commented on #58
Sorry I gave you the wrong setting, its `"gitlens.advanced.output.level": "verbose"` -- that's what I get for not looking it up first.

[2017-03-31 19:01] thiagoh commented on #58
Now we go! =)

This happens when, for example, I open a file `tfsa-directives.js` which is under the submodule.

[code]

[2017-03-31 19:12] eamodio commented on #58
@thiagoh thanks for the output -- I think I broke this in one of the more recent updates :(

I'll look into fixing it

[2017-03-31 19:17] thiagoh commented on #58
Thank you @eamodio
Tell me if you need some help with that..

[2017-04-01 03:31] eamodio commented on #58
@thiagoh do you happen to have a repo that has a submodule that I can clone to test with?

[2017-04-01 04:43] thiagoh commented on #58
@eamodio, unfortunately the repo with submodules I use is private. However, if you could create one repo with submodules to test you'll see that is quite simple:

Take these examples:
- http://stackoverflow.com/questions/5828324/update-git-submodule-to-latest-commit-on-origin/5828396#5828396
- https://gist.github.com/gitaarik/8735255

[2017-04-01 05:07] eamodio commented on #58
@thiagoh could you try a test with this: [gitlens-3.1.1.zip](https://github.com/eamodio/vscode-gitlens/files/887380/gitlens-3.1.1.zip)

To install it first rename it to gitlens-3.1.1.vsix, then make sure to uninstall the current version of GitLens from vs code (and reload), then use the `Install from VSIX...` menu choice from the `...` extensions menu.

[2017-04-01 06:09] eamodio commented on #51
@RogerThiede FYI in the next GitLens version (coming soon) there will no longer be a restriction on having to open a folder for GitLens to work.

[2017-04-01 06:51] eamodio commented on #47
As this is a vscode issue that I cannot do anything about, I'm going to close this.

[2017-04-01 06:51] #47 closed

[2017-04-03 23:46] thiagoh commented on #58
@eamodio I'm sorry for the delay..

Look, when I tried to install from the `.vsix` file I got the following error

`end of central directory record signature not found`

[2017-04-04 02:57] eamodio commented on #58
@thiagoh Not sure what happened there -- very odd. But I've just published v3.2.0 to the marketplace -- please try that out and let me know if it works for you. Thanks!

[2017-04-04 02:58] eamodio commented on #51
@RogerThiede I've just published v3.2.0 which adds support for working without a loaded folder -- hope that helps!

[2017-04-04 06:29] thiagoh commented on #58
@eamodio working perfectly! thank you so much!

[2017-04-04 11:55] eamodio commented on #58
@thiagoh excellent news! Closing this out then :)

[2017-04-06 17:31] Dominik-K commented on #57
Hi @eamodio,

an error message window pops up with *no* text shown, if the `diff.tool` is not set (via `git config --global --unset diff.tool`). Using the current version 1.11.0 (1.11.0).

I just started using your fantastic tool. It's very nice. Thanks for that.

[2017-04-06 23:41] RogerThiede commented on #51
Awesome! It now works intuitively for me when opening files.

On Mon, Apr 3, 2017 at 7:58 PM Eric Amodio <notifications@github.com> wrote:

[2017-04-07 15:10] #57 closed

[2017-04-07 15:11] eamodio commented on #57
@Dominik-K thanks for the report -- this is fixed in v3.2.1

[2017-04-07 22:00] petersladek opened #59 "Context menu shows gitlens commands even if folder/file is not under git"
I know you already did some work earlier this year to hide gitlens context menu items if folder/filer is not under git. However it is not working for me (v3.2.1). Please have a look at it. Otherwise great extension!

[2017-04-08 09:57] mklemarczyk opened #60 "Git lens hides Python test lens"
I'm using your extension with https://github.com/DonJayamanne/pythonVSCode

I have an issue regarding Python Test lens, your extension removes it from my Visual Studio Code.
I'm unable to use both extensions in the same workspace.

When I disable GitLens extension Python Test lens are working properly.

[2017-04-08 10:03] mklemarczyk commented on #60
Screenshots

![screenshot 197](https://cloud.githubusercontent.com/assets/2727261/24827920/53ce1c50-1c53-11e7-8730-cdad4a5192cd.png)
![screenshot 198](https://cloud.githubusercontent.com/assets/2727261/24827922/5af2b8ce-1c53-11e7-8471-d59d4fa0dd88.png)

[2017-04-08 10:18] mklemarczyk opened #61 "Git lens shows uncommited everywhere"
I have an git repo, when I opened it in Visual Studio Code, your extension shows that all code is uncommitted like on that screenshot:
![screenshot 199](https://cloud.githubusercontent.com/assets/2727261/24828040/30fe9176-1c55-11e7-97f8-6dcf2019da15.png)

This file is changed so some lines are uncommitted, but there is a previous revision with number 599c3dcc. So in fact those lines are unchanged

[2017-04-08 10:23] mklemarczyk opened #62 "Git lens proposal - changed lines marked with color next to line number"
I have proposal to your extension that will enables user to better work with code.
Can you mark changed lines next to line number?

I mean something like this:
![screenshot 201](https://cloud.githubusercontent.com/assets/2727261/24828083/39570f78-1c56-11e7-9f64-ec84d9d3e3f2.png)

[2017-04-08 19:02] eamodio commented on #60
@mklemarczyk which version of vscode are you running? Is this with a particular file or all python files? Do you have a public repo that reproduces this issue?

[2017-04-08 19:05] eamodio commented on #61
@mklemarczyk Is this only with this particular file? Do you have a public repo that reproduces this issue?

[2017-04-08 19:22] eamodio commented on #62
Why is what vscode already provides (adds, changes & deletes) insufficient? I notice that vscode only provides the status for unstaged files (which is probably worth opening a vscode issue about), but other than it seems to provide the behavior you are looking for.

[2017-04-09 05:26] #59 closed

[2017-04-10 08:45] mikes-gh opened #63 "Switch commit message and author in commit pick list"
What do people think about having the Commit Message in bold above the Author and time in the pick list.

The same as Github.

![commit message](https://cloud.githubusercontent.com/assets/16208742/24853223/41162898-1dd2-11e7-9188-099ad36c7887.png)

When I'm visually scanning for a commit the message is more important to me.

Or maybe a config parmeter

[2017-04-10 16:54] #63 closed

[2017-04-10 16:55] eamodio commented on #63
@mikes-gh Great suggestion! Changed the behavior -- I didn't add a config setting as I definitely agree that the message is much more important.

[2017-04-11 05:27] mklemarczyk commented on #61
@eamodio It occurs in all files in that repo. Only if I commit changes with extension enabled it can trace only that particular commit.

My repo is a local GIT repo without any origins.

[2017-04-11 05:32] mklemarczyk commented on #62
I know that vscode provides some info about file status, as you mentioned it can be a bug in vscode itself.
I usually lose that feature after restart a vscode, than it is had to find where you left your work and what was changed. I need to make diff on each file to find it out.

[2017-04-11 05:38] mklemarczyk commented on #60
@eamodio I running the current version of vscode

- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|githistory|donjayamanne|0.2.0|
|python|donjayamanne|0.6.0|
|gitlens|eamodio|3.2.1|
|csharp|ms-vscode|1.8.1|
|PowerShell|ms-vscode|0.12.2|;

[2017-04-11 06:48] eamodio commented on #61
@mklemarczyk I can't seem to reproduce this behavior and I'm not sure I'm following. Can you walk me through the exact steps to reproduce this?

[2017-04-11 06:49] eamodio commented on #60
@mklemarczyk thanks for the vscode info. Can you also provide information on the other questions above? I'm unsure how GitLens could conflict with other extensions CodeLens. If you open up the developer tools do you see any errors in the console when this happens?

[2017-04-11 06:51] eamodio commented on #62
@mklemarczyk I think it would be worth opening an issue for vscode to fix the cases where it isn't behaving as you'd expect/want. Feel free to link it back to this issue as well.

[2017-04-11 09:59] rfgamaral opened #65 "Blame information in the status bar remains after closing all files"
When you have the blame information displayed in the status bar and close all opened files, that information will still remain in the status bar. IMO, it should be removed when there are no opened files.

[2017-04-11 13:40] eamodio commented on #65
@rfgamaral Thanks for the report -- I've reported the issue to vscode and it looks like that has been fixed in the upcoming recovery build. Once that is released, this bug should go away.

[2017-04-11 14:18] rfgamaral commented on #65
@eamodio Great :)

Could you just clarify what is a "recovery build"?

[2017-04-11 15:08] eamodio commented on #65
@rfgamaral I think what vscode calls a "Recovery Build" is basically a patch release. Basically addressing important issues that crop up right after the normal release.

I would expect to see the next recovery build in a day or two.

[2017-04-11 15:32] rfgamaral commented on #65
Cool. Thanks :)

[2017-04-11 19:02] mklemarczyk commented on #60
No errors in console. I can provide you a workspace.
[repo.zip](https://github.com/eamodio/vscode-gitlens/files/914392/repo.zip)

[2017-04-11 19:12] mklemarczyk commented on #61
Here is some log from GIT:
[code]

[2017-04-11 19:17] mklemarczyk commented on #61
Sorry, I stop working when I switch back to the testing small repo.

[code]

I'd created a branch named: "feature/NewFeature1"

[2017-04-11 20:31] eamodio commented on #61
@mklemarczyk if you set `"gitlens.advanced.output.level": "verbose"` in your settings GitLens will output to a `GitLens` channel in the Output window

[2017-04-11 20:31] eamodio commented on #60
@mklemarczyk thanks -- I'll take a look

[2017-04-12 18:32] eamodio opened #66 "Remove File & Blame History Explorers (peek style)"
Given the complexities of maintaining these as well as the non-optimal UI layout, I am thinking about removing these 2 features. Also given the more recent quick pick commands, these are sort of duplicated.

Please voice your feedback here if you feel these are valuable and should not be removed.

[2017-04-13 04:41] eamodio opened #67 "New awesome logo?"
Any takers? ;)

[2017-04-13 20:18] eamodio commented on #65
Now that vscode `1.11.2` is released with the fix I'm closing this.

[2017-04-13 20:18] #65 closed

[2017-04-14 03:54] eamodio commented on #60
This issue is the same as reported here -- https://github.com/DonJayamanne/pythonVSCode/issues/553. I've also added a comment to that effect here -- https://github.com/DonJayamanne/pythonVSCode/issues/865#issuecomment-294079568

[2017-04-14 03:54] #60 closed

[2017-04-14 04:09] eamodio commented on #62
@mklemarczyk I looked more into this -- and I don't think this would provide any value over what vscode already provides. The only time that I could find where vscode doesn't provide the "diff" is when the file is staged. I believe that is on purpose, but if you feel it should be changed please open an issue with vscode.

[2017-04-14 04:09] #62 closed

[2017-04-15 11:15] mklemarczyk commented on #67
I have one idea, but I will provide it after Easter.

[2017-04-15 11:20] mklemarczyk commented on #61
Log from current version
[code]

[2017-04-15 11:35] mklemarczyk commented on #60
👍  Thank you for solving problem

[2017-04-18 09:03] mdelapenya opened #68 "Cannot type backslash after installing "Git lens""
- GitLens Version: 3.4.5
- VSCode Version: 1.11.2
- OS Version: MacOS Sierra 10.12.3

Steps to Reproduce:

1. Install Git Lens
2. Open a file under a git repo
3. Type `\` at any line

Expected behavior: `\` is written
Actual behavior: `\` is not written

[2017-04-18 11:47] borekb opened #69 "GitLens steals Alt+F"
GitLens steals the Alt+F keyboard shortcut which should be reserved for File menu. As a workaround, the keybinding [can be removed](https://code.visualstudio.com/docs/getstarted/keybindings#_removing-a-specific-key-binding-rule).

[2017-04-18 15:51] eamodio commented on #68
@mdelapenya I can't reproduce this, nor can I fathom how GitLens could effect this -- do you have some key configuration setup for `\`?

[2017-04-18 15:52] eamodio commented on #69
Ah -- right. I'll look for a new shortcut key for that in the next release. Thanks!

[2017-04-18 16:26] mdelapenya commented on #68
No, but I uninstall the plugin and everything works as expected.

Let me grab the computer and send my plugins​ list

[2017-04-18 16:52] eamodio commented on #68
Is there anything else special about you setup? Do you have any customize key commands for GitLens?

[2017-04-18 17:26] mdelapenya commented on #68
No, I don't have any special key command.

The top header info message appears just hitting `\` with GitLens enabled.

Here is a capture of my plugins:

<img width="1439" alt="screen shot 2017-04-18 at 19 25 19" src="https://cloud.githubusercontent.com/assets/951580/25144021/c822e45c-246c-11e7-95fc-8baea95ac6aa.png">

[2017-04-19 02:43] eamodio commented on #68
@mdelapenya I'm really at a loss here. Do you have any special keyboard layout or app (like karabiner or something?)? And you definitely don't have any occurrences of `gitlens` in your `keybindings.json` file?

If you open the GitLens extension and switch to the `Contributions` "tab" do you see `\` listed?

[2017-04-19 06:51] mdelapenya commented on #68
Hey @eamodio, I'm sorry to say no to all, no keyboard layout here nor gitlens contribution 😢
<img width="1049" alt="screen shot 2017-04-19 at 08 48 51" src="https://cloud.githubusercontent.com/assets/951580/25166738/18d9eaba-24dd-11e7-83f2-af05f006edf8.png">
<img width="1049" alt="screen shot 2017-04-19 at 08 49 07" src="https://cloud.githubusercontent.com/assets/951580/25166739/18f0ae26-24dd-11e7

[2017-04-19 17:26] eamodio commented on #68
@mdelapenya hrm. I still have no clue how this could happen. Are you on a US keyboard layout? What other else is on your `\` key? I'm actually on vacation this week so I won't really be a Le to do much more until next week. Maybe we can screen share or something

[2017-04-19 18:08] mdelapenya commented on #68
I'm using Spanish keyboard.

Yeah, we can do that once you are back

Thanks!

[2017-04-26 22:48] eamodio commented on #68
@mdelapenya can you take a screenshot of the command palette if you type `GitLens` into it (with an open editor for a file in a git repo). I want to see what vscode thinks the keybindings are since they should show up there. Can you also take a screenshot of the GitLens contributions page (in vscode) -- make sure to scroll down to the `Commands` section (that also will show the keybindings).

I'm

[2017-04-27 07:25] mdelapenya commented on #68
Hi Eric, here I attach the screenshots:

### Command palette
<img width="1437" alt="command palette" src="https://cloud.githubusercontent.com/assets/951580/25472361/45c0007e-2b2b-11e7-91f8-a26d5290f335.png">

### Commands contributions
<img width="1009" alt="screen shot 2017-04-27 at 09 22 07" src="https://cloud.githubusercontent.com/assets/951580/25472364/45d3d072-2b2b-11e7-9eea-41b622a096dd.png"

[2017-05-02 12:36] kggp1995 opened #70 "Not able to compare file with previous commits."
Here's the message I'm getting when trying to compare the current file with previous commit(Empty file commit previously): **"Unable to open compare. See output channel for more details"**

- GitLens Version: 3.4.8

- VSCode Version: Version 1.11.2
Commit 6eaebe3b9c70406d67c97779468c324a7a95db0e
Date 2017-04-13T08:01:14.464Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

What might be possibly goi

[2017-05-03 04:02] eamodio commented on #70
@kggp1995 Can you set `"gitlens.outputLevel": "verbose"` in your `settings.json`? This will enable logging to the GitLens channel in the Output pane. Once enabled, please attempt to reproduce the issue (if possible) and attach the relevant log lines from the GitLens channel.

[2017-05-03 05:34] kggp1995 commented on #70
Ok, here's what we have:
**Error: fatal: Not a git repository (or any parent up to mount point /home/$USER) Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).  Failed with exit code: 128**

The file was in a git folder, which in-turn was a sub-folder of the opened non-git folder from the editor.

SO, I opened the specific sub-folder in the editor and now shows the proper me

[2017-05-03 05:34] #70 closed

[2017-05-03 16:05] skull132 commented on #61
I have the same issue. Oddly enough, on my laptop, with the same repo, repo management tools and VSCode setup (identical extensions + settings), it works fine. It's possible that something in the repo's .git folder got hit at some point, though.

Output from logger:
[code]

[2017-05-03 16:08] eamodio commented on #61
@skull132 is there any way you could provide logs from both the case where it is working as well as when it isn't? Maybe there is something in those differences that might help shed some light on this.

[2017-05-03 16:25] skull132 commented on #61
From the laptop (working and shows git blame properly, same file in the project):
[code]

[2017-05-05 06:13] bizoo commented on #40
Following this comment:
https://github.com/Microsoft/vscode/issues/21146#issuecomment-296583138

I tried the new git SCM integration and now the encoding works like before (the encoding of the files.encoding settings is always used), but it doesn't change anything for Git Lens.
Do you think it's possible to have the same behavior in Git Lens ?

[2017-05-05 09:33] SailorMax commented on #36
@eamodio Same problem still exist if file was modified by external editor. VSCode catch modifications, but GitLens - not.

[2017-05-05 13:42] eamodio commented on #36
@SailorMax can you open a separate issue for that? Also please provide the steps to reproduce it. Thanks!

[2017-05-05 13:49] eamodio commented on #40
@bizoo I will take a look at what was added and see if I can get that in to GitLens

[2017-05-05 13:53] SailorMax opened #71 "Blame information is invalid when a file has changed outside of VSCode"
GitLens ignore new/deleted line shifts in modified by outside file.

Steps:
1. open document which history has few people, for example:
line 1 by user A
line 2 by user B
line 3 by user C
2. open same document in another editor (EditPlus?)
3. EditPlus: put cursor in end of line 1, press Enter and save changes
4. switch to VSCode
5. check owners of lines 1-4

Expected:
line 1 by user A
line 2 (empty

[2017-05-05 13:54] SailorMax commented on #71
this is continue of bug #36

[2017-05-05 15:15] eamodio commented on #71
Thanks! I'll take a look

[2017-05-16 13:40] Moerj opened #73 "GitLens doesn't work with Chinese filenames"
When I use GitLens plugin on .vue files. It can not call any command.

like this:

![qq20170516-212137 2x](https://cloud.githubusercontent.com/assets/13795438/26108059/e35c5fe2-3a7d-11e7-8342-7c2a123755b6.jpg)
![qq20170516-211504 2x](https://cloud.githubusercontent.com/assets/13795438/26108069/ea06ca4e-3a7d-11e7-828b-258e42faedae.jpg)

But on .js files is work:
![qq20170516-211816 2x](https://clou

[2017-05-16 13:49] eamodio commented on #73
@Moerj Can you do the following:

And then post back with the relevant logs -- GitLens shouldn't care about file types -- just that its in a git repo so very curious to see what is going on.

Thanks!

[2017-05-19 21:06] Korporal opened #74 "Navigate to Github?"
Does this tool allow us to navigate right to the Github page for some commit? If we provided the following

base organization URL,
repo name (almost always the same name as the repo folder on local disk)
commit ID

Then you can build the URL of the commit and have VS open a browser window and see the commit IN Github, does it do anything like this?

[2017-05-19 21:34] eamodio commented on #74
@Korporal That is currently supported today -- using the `Open Commit in Remote` command -- or via the commit details quick pick menu. I'm currently working on adding a `Open Branch in Remote` command (though there is support for the current branch on the branch/repository history quick pick menu) as well as `Open Repository in Remote`.

The reason it is called `Remote` is because it supports GitH

[2017-05-22 19:49] eamodio commented on #74
@Korporal if that addresses your question, please close this issue -- thanks!

[2017-05-23 02:38] Moerj commented on #73
@eamodio
I found the bug!😈

If the file name is Chinese. Gitlens can not to open.

![qq20170523-103437](https://cloud.githubusercontent.com/assets/13795438/26336191/e0cca13a-3fa3-11e7-9d50-1dab264e612e.jpg)

[2017-05-23 02:40] eamodio commented on #73
@Moerj Thanks for digging into it more! I will try to get to the bottom of why that is happening.

[2017-05-23 02:54] Moerj commented on #73
![qq20170523-105008](https://cloud.githubusercontent.com/assets/13795438/26336540/b75488b6-3fa5-11e7-9c36-695b80f00f7f.jpg)
![qq20170523-105044](https://cloud.githubusercontent.com/assets/13795438/26336541/b7b4f8fe-3fa5-11e7-8b3e-7e5b010b1ed5.jpg)

Use the English file name to open GitLens. If changed File is Chinese. Can not open too.

[2017-05-23 03:14] eamodio commented on #73
@Moerj Is the filename Chinese in git? And on disk?

[2017-05-23 05:50] eamodio commented on #73
@Moerj can you try the new beta here: [v3.5.0-beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v3.5.0-beta)? You can find installation instructions here: [Installing Beta Releases](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Beta-Releases)

[2017-05-23 05:52] eamodio commented on #74
@Korporal FYI, you can try the new beta here: [v3.5.0-beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v3.5.0-beta)? You can find installation instructions here: [Installing Beta Releases](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Beta-Releases)

It adds `Open Branch in Remote` and `Open Repository in Remote` commands.

[2017-05-23 05:54] eamodio commented on #69
@borekb FYI you can try the new beta here: [v3.5.0-beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v3.5.0-beta)? You can find installation instructions here: [Installing Beta Releases](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Beta-Releases)

This version changes the `alt+f` shortcut to `alt+/`.

[2017-05-23 05:55] eamodio commented on #68
@mdelapenya can you try the new beta here: [v3.5.0-beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v3.5.0-beta)? You can find installation instructions here: [Installing Beta Releases](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Beta-Releases)

I'm still very much at a loss to how this is happening, but there have been quite a lot of changes in the latest version and wit

[2017-05-23 05:56] eamodio commented on #61
@mklemarczyk can you try the new beta here: [v3.5.0-beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v3.5.0-beta)? You can find installation instructions here: [Installing Beta Releases](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Beta-Releases)

I'm still very much at a loss to how this is happening, but there have been quite a lot of changes in the latest version and wi

[2017-05-23 07:19] Moerj commented on #73
@eamodio Very good, it is finally normal. Thanks!

 ![qq20170523-151618](https://cloud.githubusercontent.com/assets/13795438/26342507/f31b9496-3fca-11e7-8a9c-6f7d998963af.jpg)

[2017-05-23 09:04] mdelapenya commented on #68
Hey @eamodio, with 3.5.0-beta it works as expected!

Thank you very much for your work here :)

Closing...

[2017-05-23 09:04] #68 closed

[2017-05-23 12:54] eamodio commented on #68
Excellent! Thank you for your patience!

[2017-05-23 20:22] borekb commented on #69
I can't currently test it but trust that the mapping would work :)

[2017-05-24 17:08] eamodio commented on #40
@bizoo Sorry for the long delay, but can you try the new beta here: [v3.5.0-beta.2](https://github.com/eamodio/vscode-gitlens/releases/tag/v3.5.0-beta.2)? You can find installation instructions here: [Installing Beta Releases](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Beta-Releases)

[2017-05-25 03:05] #40 closed

[2017-05-25 03:05] #73 closed

[2017-05-25 03:06] eamodio commented on #74
Closing this -- please reopen if you feel there is something I missed.

[2017-05-25 03:06] #74 closed

[2017-05-25 03:07] eamodio commented on #69
Fixed in 3.5.0

[2017-05-25 03:07] #69 closed

[2017-05-25 03:09] eamodio commented on #61
@mklemarczyk I've released 3.5.0 to the marketplace -- please let me know if it resolves your issue. Thanks!

[2017-05-25 05:39] #71 closed

[2017-05-26 09:07] guoliang opened #75 "Remap alt+shift+7 command does not override the default key-map"
- GitLens Version: 3.5.1
- VSCode Version: 1.12.2
- OS Version: OS X El Capitan

Steps to Reproduce:

1. Remapping the key-shortcut
[code]

I want to override the default mapping with the above command since the default one is blocking the default keyboard layout I have for `\`. However adding the above mapping will just include another command instead of overwrite the default one.

[2017-05-26 15:04] eamodio commented on #75
@guoliang vscode allows for multiple shortcuts for a single command, but it also allows you to specifically remove a shortcut key -- see https://code.visualstudio.com/docs/getstarted/keybindings#_removing-a-specific-key-binding-rule

Basically I think you just need to add the following to remove that key-binding:
[code]

[2017-05-27 07:32] jing2si opened #76 "Blame annotations appears in the wrong location"
- GitLens Version: 3.5.1
- VSCode Version: 1.12.2
- OS Version: Windows 10

Steps to Reproduce:

Execute command `GitLens: Toggle Blame Annotations`

My **settings.json**

[code]

![1](https://cloud.githubusercontent.com/assets/2288824/26519285/3b7d11e6-42f1-11e7-89b8-3446d44b6795.gif)

[2017-05-27 15:46] eamodio commented on #76
@jing2si does that only happen with that file or others as well?

[2017-05-27 15:51] #76 closed

[2017-05-27 15:51] #75 closed

[2017-05-27 15:51] eamodio commented on #61
@mklemarczyk I'm going to close this -- please let me know and we can re-open if it is still an issue.

[2017-05-27 15:51] #61 closed

[2017-05-29 07:02] bizoo commented on #40
Sorry for the late answer, was on vacation.
Tried reproduce the encoding issues with build 3.5.1 and everything works as expected.
So GitLens as the same behavior as VSCode SCM.
Sad the set/get encoding from file (view) is still not supported in VSCode.

Thanks for your hard works.

[2017-05-30 15:35] maelvalais opened #77 "Show commit search shortcut conflicts with backslash on french MacOS keyboards"
Using a french macos keyboard layout, the default shortcut for `gitlens.showCommitSearch` is <kbd>shift</kbd><kbd>option</kbd><kbd>:</kbd>, which is conflicting the the way we type `\` (backslash).

My workaround: I just disable the shortcut.

- GitLens Version: [3.5.1] - 2017-05-25
- VSCode Version: Version 1.12.2 (1.12.2)
- OS Version: MacOS 10.12.4

[2017-05-30 23:03] eamodio commented on #77
@maelvalais Hrm, I'm not sure what to do on this one. I quite like the `alt+/` shortcut key and it seems no matter what I pick it conflicts with something :(. At least vscode makes it easy to remove a shortcut key.

[2017-05-31 02:59] ShashankaNataraj opened #78 "No option to hide git history per each line of code"
Absolutely love this extension but didn't find a way to toggle this behaviour off.

- GitLens Version:3.5.1
- VSCode Version:1.12.2
- OS Version:OSX Sierra

Steps to Reproduce:

1. Click on any line in source code
2. <img width="437" alt="screen shot 2017-05-31 at 8 26 04 am" src="https://cloud.githubusercontent.com/assets/650317/26613966/11b6acea-45db-11e7-9db6-b4dee1ba1863.png">
3. No way of tog

[2017-05-31 03:11] eamodio commented on #78
@ShashankaNataraj you can turn it off by setting `"gitlens.blame.annotation.activeLine": "off"`. Hope that helps.

[2017-05-31 04:30] ShashankaNataraj commented on #78
@eamodio Thanks! That worked! But can it be activated through the omnibox?

[2017-05-31 04:36] eamodio commented on #78
@ShashankaNataraj currently no -- you can toggle the whole-file blame on and off, but not just for the current line

[2017-05-31 05:37] maelvalais commented on #77
Maybe it could be on vscode's side to warn the user when such conflicts appear, and maybe show him all the conflicting ones in the shortcut view. I'll propose this feature to the vscode's team.

Thanks anyway for your kind and helpful answer!

[2017-05-31 05:37] #77 closed

[2017-05-31 05:42] eamodio commented on #77
@maelvalais if you open a vscode issue, would you mind either posting the link back here -- or linking it from the vscode issue?

[2017-06-02 16:39] GollyJer opened #79 "Application insights package breaks GitLens + eslint"
Hi... I wanted to let you know about an issue I ran into with Gitlens breaking other extensions.
You can read the details and fix [here](https://github.com/esbenp/prettier-vscode/issues/107
).

Thanks!
Jeremy

[2017-06-02 17:06] eamodio commented on #79
@GollyJer thanks for the info. Arg -- the damn application-insights package is causing this. I'll see what can be done or I'll just have to nuke it.

[2017-06-02 19:18] eamodio commented on #79
@GollyJer can you try the GitLens beta here: [v3.6.0-beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v3.6.0-beta) to see if it resolves the issue for you? You can find installation instructions here: [Installing Beta Releases](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Beta-Releases)

[2017-06-02 19:55] eamodio commented on #79
@GollyJer awesome -- thanks!

[2017-06-03 02:22] eamodio commented on #79
Fixed in v3.6.0

[2017-06-03 02:22] #79 closed

[2017-06-05 07:21] CoenraadS commented on #78
I would just like to say I experienced this also, I think many users will be confused like we were, please consider adding a toggle for active line.

[2017-06-06 02:36] eamodio commented on #78
@ShashankaNataraj @CoenraadS FYI, the latest [GitLens v4.0-alpha](https://github.com/eamodio/vscode-gitlens/releases/tag/v4.0.0-alpha.2) is available and adds a command to toggle the current line annotation on and off. Check it out. Please follow [these instructions](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Pre-release-Versions) to install a pre-release

[2017-06-06 08:07] jens1o opened #80 "Line with link => lens will also be underlined"
- GitLens Version: v3.6.0
- VSCode Version: 1.12.2
- OS Version: Win10 Anniversary Update

Steps to Reproduce:

1. Open a file
2. Write down `http://imperavi.com/kube/`
3. Commit it.
4. Put your cursor on the link
5. Get this:
![image](https://cloud.githubusercontent.com/assets/11234139/26819611/f84710b4-4a9f-11e7-8ac6-a4416a1a3efd.png)

[2017-06-06 09:45] CoenraadS opened #81 "Current line annotation feels too sticky"
- GitLens Version: 4.0.0-alpha.2
- VSCode Version: 1.13.0 insider
- OS Version: Windows 10

Hello, when moving up and down lines in a file, the active line lens stays at its position until a new lens is created. I would like to request that the lens immediately disappears when the active line changes as a small QOL change (I understand that the new lens is still debounced, and I'm not requesting t

[2017-06-06 14:43] eamodio commented on #81
Ah, this is a great suggestion -- I will take a look into it. Thanks!

[2017-06-06 15:22] eamodio commented on #80
@jens1o I think this is very similar to https://github.com/Microsoft/vscode/issues/22018 -- Could you possibly open an issue for vscode? As far as I'm aware there is nothing I can do to stop this behavior -- I've tried forcing `textDecoration` to `none` and still no change..

[2017-06-06 15:25] jens1o commented on #80
Okay, thanks, should I leave it open?

[2017-06-06 15:28] eamodio commented on #80
@jens1o let's leave it open for now -- if they don't have a work-around for GitLens, then we can close this one.

[2017-06-06 15:29] jens1o commented on #80
Yeah, it is not fixed in last insider:

![image](https://user-images.githubusercontent.com/11234139/26837430-b095d2bc-4add-11e7-8638-bbf787ef4c74.png)

[2017-06-06 16:03] ShashankaNataraj commented on #78
@eamodio You must be the most responsive open source dev out there! You are awesome!

[2017-06-06 17:34] eamodio commented on #80
☝️ don't get excited -- it doesn't work, but I wanted to leave the `text-decoration` resets in :)

[2017-06-06 17:34] jens1o commented on #80
Okay :)

[2017-06-07 04:36] eamodio commented on #81
@CoenraadS the latest [GitLens v4.0-beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v4.0.0-beta) is available and should fix this issue -- let me know what you think. Please follow [these instructions](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Pre-release-Versions) to install a pre-release

[2017-06-07 15:46] jens1o opened #82 "Icons not shown properly"
- GitLens Version: 3.6.0
- VSCode Version:
![image](https://user-images.githubusercontent.com/11234139/26887723-12c07480-4ba9-11e7-8da1-0eede052304e.png)
- OS Version: Windows 10 Anniversary

Steps to Reproduce:

1. Open up the file history with `Alt + H`
2. Select any commit
![image](https://user-images.githubusercontent.com/11234139/26887754-28d5c874-4ba9-11e7-8a10-3bb65985ac0b.png)
3. Type `o`

[2017-06-07 15:50] eamodio commented on #82
@jens1o sadly this is a reported vscode issue: https://github.com/Microsoft/vscode/issues/21243

[2017-06-07 15:50] jens1o commented on #82
ah, sorry. Shall I leave it open? I only searched here...

[2017-06-07 15:54] eamodio commented on #82
@jens1o Nah, this one is a bug that I can't do anything about (other than getting rid of the icons altogether -- which I'm not going to do). So I will close it. Thanks!

[2017-06-07 15:54] #82 closed

[2017-06-07 23:10] suan opened #83 "Calling "close unchanged files" results in no new files being openable"
- GitLens Version: v3.6.1
- VSCode Version: 1.12.2
- OS Version: OSX Sierra 10.12.4

Steps to Reproduce:

1. Have some files open, none of which have changed
2. Use the "close unchanged files" command - all files should have been closed
3. Attempt to open a new file (say through the filename search bar)

What will happen is that the file will flash onto the screen but close again in maybe like a 3

[2017-06-08 12:37] CoenraadS commented on #81
Thanks, works great

[2017-06-08 12:37] #81 closed

[2017-06-08 13:30] CoenraadS opened #84 "Compare File with Previous should only use the working tree if there are uncommitted changes"
- GitLens Version: 4.0.0-beta-2
VSCode 13 insider

`First issue`

Steps to Reproduce:

Have a file with contents `foo`
Commit
Change contents to `bar`
Commit

Right click editor -> Compare File with Previous
Diff shows with `bar` on both sides

`alt-c` -> Compare File with Previous
Diff shows with previous commit on left side, current commit on right side  (what I expected the first time).

Maybe

[2017-06-08 13:58] CoenraadS opened #85 "Show File Commit Details doesn't work on last line if it is empty"
- GitLens Version: 4.0.0-beta.2
- VSCode Version: 13 insider
- OS Version: Windows 10

Steps to Reproduce:

Have a file in git with contents
[code]

Put cursor on the last line

`alt+c` => `Unable to show commit file details. File is probably not under source control`

[2017-06-09 14:10] #80 closed

[2017-06-09 14:10] #83 closed

[2017-06-09 17:26] aengl opened #86 "Issues with "renderWhitespace" option"
Setting `editor.renderWhitespace` to `all` or `boundary` causes the code to overlap the author/commit hash:

<img width="484" alt="screenshot 2017-06-09 19 24 51" src="https://user-images.githubusercontent.com/5022924/26986798-672f902c-4d49-11e7-9d65-66d0d50da7c9.png">

[2017-06-09 17:30] aengl commented on #86
After some more testing it seems to be a bit more complicated than that. It's a combination of the font I'm using (Inconsolata) and `renderWhitespace`. Using VSCode 1.13.0 on MacOS.

[2017-06-09 17:50] aengl commented on #86
Here's my settings.json for reference:

[code]

[2017-06-09 18:39] zmoazeni commented on #86
Wow I thought I was the only one. Yep also running Inconsolata and renderWhitespace and ran into this issue.

Talk about the timing.

[2017-06-09 18:48] zmoazeni opened #87 "Can't open files in remote when using git@ urls (ssh)"
- GitLens Version: 3.6.1
- VSCode Version: 1.13.0
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. `git clone ...` a repository from github
2. Open any file
3. Ctrl-Shift-P -> "Open File in Remote"
4. You see "There are no entries to pick from"

Am I missing something that GitLens needs to open in GitHub? I'm coming from Sublime Text where I have an extension to do that for me now.

[2017-06-09 18:54] zmoazeni commented on #86
Looks like a problem with https://github.com/Microsoft/vscode/issues/11485

[2017-06-09 19:37] eamodio commented on #86
Yeah -- to workaround it  please set `"gitlens.advanced.toggleWhitespace.enabled": true` to render the GitLens blame annotations properly. This issue is noted in the README here: https://github.com/eamodio/vscode-gitlens#known-issues

[2017-06-09 19:37] #86 closed

[2017-06-09 20:35] eamodio commented on #86
FYI - in v4 (coming shortly) I've re-enabled `"gitlens.advanced.toggleWhitespace.enabled": true` as the default so it will no longer need to be set manually

[2017-06-09 20:41] #85 closed

[2017-06-09 20:41] #84 closed

[2017-06-09 20:41] #78 closed

[2017-06-09 20:48] eamodio commented on #87
@zmoazeni I can't reproduce this -- is there any special about the repo you are cloning? Or it could possibly be an issue with Ubuntu -- hrm.

[2017-06-09 20:50] zmoazeni commented on #87
It's a private repository, could that be it?

Other than that, no nothing special. I use git all the time locally and I have a GitHubinator in Sublime Text that works just fine.

I have also cloned them via the `git@github.com...` URL (ssh), so not http.

[2017-06-09 20:52] jens1o commented on #87
I have also private repositories, but it's working fine.

But I cloned it with https...

[2017-06-09 20:53] eamodio commented on #87
Ah -- ssh url -- that's got to be it. my parsing of that url must be wrong :(

[2017-06-09 20:54] zmoazeni commented on #87
Ahh yeah, I think that it's. I just tested on an open source project I have already cloned using https and it works fine there.

[2017-06-09 20:58] eamodio commented on #87
@zmoazeni can you post the format of the url you are using?

[2017-06-09 20:58] jens1o commented on #87
Should be somewhat like `git@github.com:eamodio/vscode-gitlens.git`

[2017-06-09 21:02] eamodio commented on #87
Ok great -- just wanted to make sure there wasn't anything else in there for a private repo. :)

[2017-06-09 21:03] jens1o commented on #87
no, it's exact the same.

[2017-06-09 21:04] eamodio commented on #87
Can one of you check -- is the url in the `.git/config` file in the `[remote "origin"]` the same?

[2017-06-09 21:06] jens1o commented on #87
I didn't set it up properly, I just got the link from the tool here:
![image](https://user-images.githubusercontent.com/11234139/26994528-455b47b0-4d68-11e7-9e61-e24151560a0c.png)

[2017-06-09 21:08] eamodio commented on #87
Yeah, I just want to make sure that is the same url that git puts into the `config` file for the repo. It definitely is for `https`, but not sure about ssh -- I thought it had something like `ssh:` at the start.

[2017-06-09 21:09] zmoazeni commented on #87
Yeah @jens1o is onto it. Here's some better steps to reproduce on one of my OSS projects

1. Clone https://github.com/zmoazeni/harvested via SSH `git@github.com:zmoazeni/harvested.git`
2. Open it in VS Code
3. Open the README.md
4. Try to open the file remotely

This is the blurb in `.git/config`

[code]

[code]

[2017-06-09 21:28] #87 closed

[2017-06-09 21:28] eamodio commented on #87
@zmoazeni please re-open if you are still having issues in v4.0.1

[2017-06-09 21:45] zmoazeni commented on #87
Awesome! Verified it works. Thanks!

[2017-06-10 14:33] dfinke opened #88 "How to change the color of the watermark on a line of code?"
I'm using a theme white background theme for the editor window and the light gray watermark is hard to read. How can I make it dark gray?

[2017-06-10 14:59] eamodio commented on #88
You can change `"gitlens.theme.annotations.line.trailing.light.foregroundColor": "<valid-css-color-here>"`, FYI, you can also find all the other theme controls in the [README](https://github.com/eamodio/vscode-gitlens/blob/master/README.md#theme-settings)

[2017-06-10 14:59] #88 closed

[2017-06-12 09:29] SailorMax opened #89 ""Show Line Commit Details" date format"
- GitLens Version: 4.0.1
- VSCode Version: 1.13.0
- OS Version: Windows 10.1703

Steps to Reproduce:
1. right click on any line / "Show Line Commit Details"

Expected: commit details in format "gitlens.annotations.line.trailing.format" (or else?) with date in format "gitlens.annotations.line.trailing.dateFormat"

Actual: commit details in gitlens author specific format.

P.S. Do we really need so

[2017-06-12 09:32] SailorMax commented on #89
Settings for date format in "Show File History" also can't find.

[2017-06-12 09:42] SailorMax opened #90 "remove Context menu / Copy Commit ID"
Context menu of document line has "Copy Commit ID to Clipboard" and "Copy Commit message to Clipboard".
Commit ID/message of what? Of current line? Latest commit? Without Blame Annotations these menus confusing.

May be better remove them from Context menu if you can't change context menu in blame/not blame mode? You have they in "Show Line Commit Details" menu.

[2017-06-12 13:35] batisteo commented on #33
I think it’s happening again. Could you check if there was a regression?
Using 4.0.1

[2017-06-12 15:14] eamodio commented on #90
It copies the commit of the current line, unless there isn't any editors, then the command (via the command palette) will copy the last commit to the current branch.

You can remove these yourself using `gitlens.advanced.menus` -- can use something like:

[code]

[2017-06-12 15:20] SailorMax commented on #90
@eamodio
Then may be you will rename it to "Copy Line Last Commit ID to Clipboard" and "Copy Document Last Commit ID to Clipboard"?

Previous your menus are more concrete: "Compare Line Commit...", "Compare File with...", "Show File History",..

[2017-06-12 15:22] eamodio commented on #89
In the next release there will be a new `gitlens.defaultDateFormat` that can be used as the default format for all absolute dates GitLens uses. The more specific date format settings, will now override the default.

As for the relative dates in the GitLens UI, I won't be providing an option to change them to absolute date.

If you don't need them, don't use them :) I like to err on the side of fle

[2017-06-12 15:25] eamodio commented on #90
Unfortunately, I can't have different titles in the menu vs the command palette (without duplicate commands - and I don't feel the need for separate command here). So the commands are just contextual. The reason the others are more specific, is that there is overlap with the line vs file commands.

[2017-06-12 15:32] SailorMax commented on #89
With joy, but I need 10- of them (no codeLens, no blame.line and absolute dates)
and for it I have to scan all your library (69), because I don't know how you named required settings :)

[2017-06-12 16:10] eamodio commented on #89
You don't need to go digging for them -- they are all well-documented [here](https://github.com/eamodio/vscode-gitlens#extension-settings)

[2017-06-12 16:19] eamodio commented on #33
@batisteo the latest [GitLens beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v4.1.0-beta.2) should fix this issue. Please follow [these instructions](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Pre-release-Versions) to install a pre-release. Let me know if you experience any issues -- thanks!

[2017-06-12 16:20] eamodio commented on #89
@SailorMax the latest [GitLens beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v4.1.0-beta.2) adds the new `gitlens.defaultDateFormat`. Please follow [these instructions](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Pre-release-Versions) to install a pre-release. Let me know if you experience any issues -- thanks!

[2017-06-13 05:38] eamodio commented on #89
4.1 is now out

[2017-06-13 06:36] SailorMax commented on #89
@eamodio
Sorry for pause. My work day was done :)

In "Show Line Commit Details" date ignore "gitlens.defaultDateFormat". What can I do with that?

Plus in 4.1.0 "Toggle File Blame" button lost its icon.

[2017-06-13 06:49] SailorMax opened #91 "File Blame Annotations vs editor.renderIndentGuides"
- GitLens Version: 4.1.0
- VSCode Version: 1.13.0
- OS Version: Win 10x64

Steps to Reproduce:

1. turn on "editor.renderIndentGuides"
2. turn on "File Blame Annotations"

Expected: Guide lines shifted with code

Actual: Code shifted but Guide lines not

[2017-06-13 06:51] SailorMax opened #92 "File Blame Annotations lost after change focus on another file"
- GitLens Version: 4.1.0
- VSCode Version: 1.13.0
- OS Version: Win 10x64

Steps to Reproduce:

1. open in VSCode 2 files
2. turn on File Blame Annotations on first file
3. switch to second file and return to first one

Expected: first file still with Blame Annotations

Actual: first file without Blame Annotations

[2017-06-13 07:00] eamodio commented on #92
This only works if the editors are in view -- since when an editor is out of view it get destroyed along with its state. While it is probably possible to keep track of this, I don't think it would be too easy (given the other craziness I have to do to manage the whitespace toggling. And we would only want to track it if the document is still open -- once you close it, the state should be reset.

W

[2017-06-13 07:02] eamodio commented on #91
Fun -- looks like I need to toggle these off as well :(

[2017-06-13 07:03] SailorMax commented on #92
Sorry, but PR from me currently is not possible. My knowledge of TS is not enough.

[2017-06-13 07:16] eamodio commented on #89
No worries.

As I mentioned above:

Doh! Thanks for the report on the icon -- 4.1.1 coming in a few.

[2017-06-13 07:19] SailorMax commented on #89
I did not ask about "to change them to absolute dates" :) I ask about date format ;)
Do you want not add settings for format of dates in "Show Line Commit Details" and "Show File History"?

[2017-06-13 07:25] eamodio commented on #89
Can you post a screenshot of the dates you are talking about? If you are talking about the dates (x days ago) in the quickpick menus -- then you are correct, I'm not interested in adding the ability to control them.

[2017-06-13 07:29] eamodio commented on #92
I'm going to close this one - the blame annotation toggling is complex enough, I don't want to add even more complexity.

[2017-06-13 07:29] #92 closed

[2017-06-13 07:30] SailorMax commented on #89
Yes, I talk about them. They are not informative, when all records of history are "1 month ago".
Why no interested? Not so easy?

[2017-06-13 09:34] ViggoV opened #93 "VS code built-in icons messed up"
- GitLens Version: 4.1.1
- VSCode Version: 1.13.0
- OS Version: macOS 10.12.4

Steps to Reproduce:

1. Update GitLens

This might be a different issue but it occurred after updating GitLens. Basically all built-in icons are replaced with white squares, or blocky representations of themselves. This includes the close buttons on tabs, dropdown arrows in the explorer, icons in the left menu, split pa

[2017-06-13 09:48] SailorMax commented on #89
@eamodio
in 4.1.0 was button, but without icon
in 4.1.1 no button - no problem? :)

[2017-06-13 13:45] eamodio commented on #93
@ViggoV Hrm, I don't see how that would be possible (for GitLens to cause it). Can you post a screenshot? Does it persist after a restart of vscode? Might also want to try disabling all extensions and see if the issue goes away -- and then re-enabled them 1 by 1.

[2017-06-13 13:49] ViggoV commented on #93
You're probably right (disabling GitLens did not help). Yes, the issue persists after restart.
![skaermbillede 2017-06-13 kl 15 46 41](https://user-images.githubusercontent.com/3153568/27085493-b294fdb4-504f-11e7-9b13-a22c23530a6f.png)

[2017-06-13 13:51] eamodio commented on #93
I think this is related: https://github.com/Microsoft/vscode/issues/28590

[2017-06-13 13:51] ViggoV commented on #93
Weirdly enough it doesn't affect the explorer arrows when expanded. Anyways, thanks for your response. The reason is probably something else :)

[2017-06-13 13:54] eamodio commented on #89
I see (re: the dates).  I'll think more about how I can do that well -- thanks.

As for the button, I don't see it missing -- you still do?

[2017-06-13 13:56] ViggoV commented on #93
Thanks for the redirect! :D

[2017-06-13 13:56] #93 closed

[2017-06-13 14:20] SailorMax commented on #89
Sorry. Looks like it was problem from my side. VSCode had some error in console. Uninstall GitLens/Reload/Install GitLens/Reload helped. Possible some kind of cache conflict. The button was appeared.

[2017-06-14 17:57] abennouna opened #95 "Backslash is mapped to "Search Commits" in FR keyboard"
- GitLens Version: 4.1.1
- VSCode Version: 1.13.0
- OS Version: macOS 10.12.5

Steps to Reproduce:

1. Install extension and enable it
2. Type backslash in a Standard French keyboard (Macbook Pro)

It seems similar to #68 but with a different mapping.

The usual backslash combination on a French keyboard is `⇧ ⌥ /`. It happens that the `/` key is the `:` key, while the "Search Commits" is mapped t

[2017-06-15 08:15] carlobonamico opened #96 "External diff command always launched when opening files instead of plain git diff"
- GitLens Version:
- VSCode Version: 1.13
- OS Version: Ubuntu 16.04 LTS

Steps to Reproduce:

1. Configure global git to use an external diff command in .gitconfig
[code]
2. install vscode-gitlens
3. launch vscode, open git project
4. navigate to various files
5. when opening a file for the first time, the external-diff-cmd is always launched thus interrupting the editing flow

In my specific cas

[2017-06-15 22:05] #95 closed

[2017-06-16 04:04] #96 closed

[2017-06-16 18:37] eamodio commented on #96
@carlobonamico Thank you so much for this awesome bug report! 4.1.2 is out now with your fix -- thanks again!

[2017-06-19 07:42] obrejla opened #98 "Static width of blames in "File Blame" mode"
Hi

- GitLens Version: 4.1.2
- VSCode Version: 1.13.1
- OS Version: Mac OS X

I would expect to have some static editable width value of the file gutter blame area. If I set the format of file gutter annotations to `"${id} ${author}"` and some authors have longer/shorter names then another, then the lines in the gutter area are indented differently as well as the code in the file.

![different wid

[2017-06-19 12:09] GeorgeWells opened #99 "Ctrl+Z spawns a numerous amount of processes"
- GitLens Version: 4.1.2
- VSCode Version: 1.13.1
- OS Version: Windows 7 64bit

Steps to Reproduce:

1. Open an existing file
2. Write something then Ctrl+Z

Lots of processes spawn in the task manager relating to conhost.exe and git.exe.

Amount of processes before Ctrl+Z: 104
Amount of processes after Ctrl+Z 10 times (repeatedly Ctrl+Y & Ctrl+Z): 603

It locks out the CPU at 100%. It also seems

[2017-06-20 03:51] eamodio commented on #98
@obrejla See [Advanced Formatting](https://github.com/eamodio/vscode-gitlens/wiki/Advanced-Formatting) for details on how to control the lengths.

In your example you could use `${id|8} ${author|20}`  -- you can replace `20` with however many characters of the `author` you want displayed.

Hope that helps!

[2017-06-20 03:51] #98 closed

[2017-06-20 06:21] obrejla commented on #98
Cool! That did the trick, thanks a lot!

[2017-06-25 14:39] ShashankaNataraj opened #101 "The message shown by gitlens keeps bouncing whenever command button is pressed"
- GitLens Version:4.1.3
- VSCode Version:Version 1.13.1 (1.13.1)
- OS Version:OSX Sierra

Steps to Reproduce:

1. Mouse over any clickable token in source code
2. Press Command button on mac
3. The message shown by gitlens keeps bouncing whenever command button is pressed

http://recordit.co/4FOgvV3LLJ

[2017-06-25 15:02] eamodio commented on #101
@ShashankaNataraj does this happen with code lens not shown by GitLens? This feels like a vscode issue.

[2017-06-25 17:27] #99 closed

[2017-06-25 17:54] eamodio commented on #99
@GeorgeWells I just published 4.1.4 that *might* fix this issue -- please let me know and re-open this if not.

[2017-06-26 10:08] GeorgeWells commented on #99
@eamodio Seems to be working beautifully, thanks! :)

[2017-06-27 02:26] Chillee opened #103 "Toggle file blame annotations disables line blame annotations if line blame annotations are off by default"
Set `gitlens.blame.line.enabled": false` in your settings.json.
Then do `toggle line blame annotations`, which turns on the line blame annotations
Then do `toggle file blame annotations`.

The line blame annotations disappear for me.

GitLens Version: 4.1.4
VSCode: 1.13.1

[2017-06-27 05:35] #103 closed

[2017-06-27 14:02] robsonpeixoto opened #104 "Avoid `⎇ + any` shortcuts because of conflicts with different keyboard layouts"
The keybind bellow are very useful for languages that use a lot a accents, like portuguese.
IMO it should be avoided.

⎇ + c = ç
⎇ + e = ´ (accent)
⎇ + ` = ` (accent)
⎇ + n = ˜ (accent)
⎇ + i = ˆ (accent)
⎇ + u = ¨ (accent)

It's just a suggestion. I know that's possible remove this keybind and I'm already did it.

[2017-06-30 01:01] kiewic opened #105 "GitLens not working for some files in the repo, log error: 'foo.txt' is outside repository Failed with exit code: 128"
- GitLens Version: 4.2.0
- VSCode Version: 1.13.1
- OS Version: Windows 10 Version 1703 (Build 15063)
- Git version: 2.12.1.windows.1

GitLens work for some files in my repository, but it does not work for other files.

The GitLens logs show there are errors for the files where it is not working:

[code]

The same command works for the files where GitLens is working fine:

[code]

The issue seems

[2017-06-30 15:32] eamodio commented on #105
@kiewic I'm not 100% sure it is this issue: https://github.com/Microsoft/vscode/issues/12448 but it certainly sounds like it. The workaround is to make sure you open vscode to the folder path with the exact casing as on your file system otherwise you can run into all kinds of odd issues in vscode and GitLens.

Hope that helps.

[2017-06-30 18:37] kiewic commented on #105
@eamodio It sounds like the same issue, although I had never faced this problem until I started using vscode-gitlens.<sup>1</sup> The tricky part is that the issue repros for some files in the same instance of VSCode while other files work just fine. Apparently the case mixing does not come only from the VSCode open folder path, it could also come by typing different casings in the open file dialo

[2017-06-30 19:44] eamodio commented on #105
@kiewic Yeah, I've looked into this a bunch (some more details here https://github.com/Microsoft/vscode/issues/26187). The crux of the issue is that vscode doesn't normalize the paths to be the actual path (in the file system), which creates an issue for case-sensitive tools (like git). I've tried specific changes in GitLens to deal with it, but nothing panned out (especially since there is no gre

[2017-06-30 21:03] kiewic commented on #105
@eamodio Make sense, thanks for the explanation.

[2017-07-03 12:13] DonJayamanne opened #106 "RFE - Expose extension API for other extensions to use"
I'm wondering whether you're open to exposing the API of this extension for use by other extensions. In particular my [Git History](https://marketplace.visualstudio.com/items?itemName=donjayamanne.githistory) extension. I believe it would be much better and easier for me to use the Gitlense UI from within my extension.

E.g. when a user wishes to view the details of a particular file, I could disp

[2017-07-03 12:28] kyle245 opened #107 "Double-byte characters break blame layout"
- GitLens Version: 4.3.0

![zb 8 6 _ri a2bv3 c 2w](https://user-images.githubusercontent.com/10083834/27792843-26297ce4-602e-11e7-9d77-11bae4edcfaf.png)

[2017-07-03 12:44] rfgamaral opened #108 "Option to remove stash explorer from the main explorer?"
I don't really like that now I have a "GIT STASHES" tab on my main explorer, can we get an option to pick where this should be located instead of forcing it on the main explorer?

If not, at least an option to disable this tab would be appreciated. Or is there one already that I might have missed?

Just a few suggestions.

[2017-07-03 13:50] #108 closed

[2017-07-03 13:51] eamodio commented on #108
@rfgamaral Really sorry about that. v4.3.1 disables the Git Stashes explorer by default, and adds both a setting and command to turn it back on

[2017-07-03 13:58] eamodio commented on #106
@DonJayamanne 👍 I'm definitely interested in this. I've been thinking about breaking GitLens itself up into a "suite" of extensions around a common "core" which may provide an api to access my git object model and/or access to commands (mainly the quick picks, diffs, and such).

Unfortunately (for GitLens work 😄) I'm out on vacation for the next few weeks, but when I get back I'd definitely like t

[2017-07-03 14:32] rfgamaral commented on #108
Awesome, really appreciated, thanks :)

[2017-07-03 17:22] hbenl opened #109 "Can't disable Stashes Explorer"
- GitLens Version: 4.3.1
- VSCode Version: 1.13.1
- OS Version: Linux x64

Steps to Reproduce:

1. Run the command "Toggle Git Stashes Explorer" -> the Stashes Explorer appears
2. Run the command "Toggle Git Stashes Explorer" again -> nothing happens

Now I'm stuck with the Stashes Explorer, the only way to get rid of it is to uninstall this extension :(

[2017-07-03 21:25] eamodio commented on #109
@hbenl Sorry that you are experiencing issues. I'll have to check into why the toggle isn't working. I saw something there once but couldn't reproduce it. But the toggle command just sets the `gitlens.stashExplorer.enabled` setting. If you set `"gitlens.stashExplorer.enabled": false` it should resolve the issue for you.

Please let me know if not.

FYI, I will be traveling over the next couple of

[2017-07-04 06:06] netopolit commented on #109
I'm having the same problem. "gitlens.stashExplorer.enabled" is set to false but stash explorer is still there. Thanks.

[2017-07-04 09:21] eamodio commented on #109
Damn. I'm not near a computer but I'm guessing that the released version of vscode may not yet support conditional views :(

[2017-07-04 12:26] hbenl commented on #109
I tried with the latest VS Code Insiders build and it worked. So I guess we'll just wait for the next VS Code release (which should come out in the next days) and see if that fixes it.

[2017-07-04 17:22] eamodio commented on #109
Now I just have to decide -- pull the feature until 1.14 or wait it out until 1.14 -- hrm :(

[2017-07-05 07:20] lijunle opened #110 "The gitlens style is polluted by my theme style."
# Info

- GitLens Version: 4.3.1
- VSCode Version: 1.13.1
- OS Version: Windows Server 2012

# Steps to Reproduce:

The gitlens history line inherits the style from my left text style. See the green underline in the picture:

![image](https://user-images.githubusercontent.com/1296500/27853484-6219a2e8-6195-11e7-8850-d7ce1a8fe756.png)

[2017-07-05 11:58] jens1o commented on #110
caused by this: https://github.com/Microsoft/vscode/issues/22018 and https://github.com/Microsoft/vscode/issues/28079

[2017-07-05 17:03] cnshenj opened #111 "Go to previous/next commit when comparing "Compare File with Previous""
- GitLens Version: 4.3.1
- VSCode Version: 1.13.1
- OS Version: Windows 10 x64

Sometimes, Blame is not enough to figure out who made certain changes. What I do is backtracking on commit history using "Compare File with Previous". It would be very useful to have commands to "Compare File's Previous Commit with its Previous" and "Compare File's Next Commit with its Previous". Thus, I don't have to

[2017-07-05 20:16] eamodio commented on #111
@cnshenj Currently you can keep executing `Compare File with Previous` (or `Compare Line Commit with Previous`) and it will keep walking back in the history -- assuming when the diff editor opens, you set focus to the left side. Unfortunately the vscode api doesn't let me set the focus automatically.

[2017-07-06 18:27] cnshenj commented on #111
Yes. It does help. Thanks!

Two things that need improvement:
1. You already pointed out that the focus is not set automatically due to vscode API limit.
2. It opens a new tab every time. When walking back in history, it could have opened many tabs that need to be closed one by one (can't close all tabs since there are other tabs opened). It would be helpful if I can choose to re-use the existing

[2017-07-08 06:58] reednj opened #112 "Add an option for the codelens to ignore unsaved and uncommited changes"
The codelens information that appears above blocks and at the top of files is really useful, but it disappears when there are any unsaved changes. This is not that useful I think - I would like to still be able to see the last commiter etc, even if I have unsaved changes in the file.

If I created a pull request to add an option to change this, is it likely to be accepted?

[2017-07-09 01:36] yoshijava opened #113 "alt+c and alt+w key bindings conflicts with add next occurrence's options"
- GitLens Version: 4.3.1
- VSCode Version: 1.13.1
- OS Version: Windows 10

Steps to Reproduce:

1. ctrl+d to select next occurrence
2. alt+c and alt+w, which are the default key bindings for case sensitivity and select whole word

[2017-07-09 19:34] eamodio commented on #112
@reednj I used to "support" this case, but fixed it, because there isn't any way to call git blame on unsaved changes -- so when editing the cached blame will likely be wrong. For example, just adding a single line near the top of the file will break the blame for the whole file (because the line numbers will be off by the newly added line).

If there is a way to keep the blame *working* in this c

[2017-07-09 19:38] eamodio commented on #111
@cnshenj Ah good point, I'll make those preview tabs in an upcoming release

[2017-07-09 23:23] reednj commented on #112
Oh yeah, you're right, its more complicated than I thought... you somehow
would need to save the blame information and then offset it based off lines
added / removed?

On 10 July 2017 at 03:34, Eric Amodio <notifications@github.com> wrote:

[2017-07-11 10:28] lindskogen commented on #104
In general, `⎇` is not a modifier key for commands on macOS, it should only be used for special characters.

[2017-07-11 10:40] lindskogen opened #114 "Stylus files makes code lens freak out"
Code lens freaks out in `.styl` files, same problem is not present i CSS files.

- GitLens Version: 4.3.1
- VSCode Version: 1.13.1
- OS Version: macOS 10.12.5

Steps to Reproduce:

1. Install and enable gitlens
2. Open `.styl` file
3. When writing in the file the inline annotations "code lens" text will hide and show itself repeatedly which makes the file contents jump around.

[2017-07-12 15:05] hbenl commented on #109
It works in VS Code 1.14

[2017-07-12 15:05] #109 closed

[2017-07-13 13:28] borekb opened #115 "Compare branches (GitHub-style diff)"
It would be very cool if GitLens supported GitHub-style "compare view" between branches. The closest to it currently in GitLens is:

1. Show branch history
2. Manually find a commit that I know is the first one not in the branch
3. Invoke Directory compare

Step 2 is slightly inconvenient and step 3 takes me out of VSCode entirely so it would be really cool if GitLens could support this natively.

[2017-07-14 14:20] mgarf opened #116 "Get full commit message on hover"
Not so much of an issue than a configuration question.

How do i get the full commit message on hover. Right now its only showing the first line.

[2017-07-15 20:26] heathkit opened #117 "Directory Compare broken (no Git diff tool configured)"
- GitLens Version: 4.3.1
- VSCode Version: 1.14.1
- OS Version: OSX 10.12.5

Directory compare is not working for me. I get a warning message that a Git diff tool is not configured.

From the log:
[code]

I've tried setting `diff.tool` to vscode or vim diff. I no longer get the error, but nothing happens. Is there a recommended difftool I should be using on OSX? I figured I'd be able to browse the

[2017-07-18 00:26] heathkit commented on #117
Oh, nevermind. Nothing was happening because I was comparing master to master. It would be nice to get a hint in that case.

[2017-07-18 00:26] #117 closed

[2017-07-18 21:25] eamodio commented on #116
Because `git blame` only supports returning the "summary" of the commit message, I can't easily show the full commit message (without it being prohibitively expensive when generating the blame), but if you have the active line blame on -- then I do get the full commit message.

Hope that helps!

[2017-07-18 21:32] eamodio commented on #114
@lindskogen sorry for the delay on getting back to you (I'm currently on vacation). Is this still an issue with vscode 1.14?

[2017-07-18 21:36] eamodio commented on #115
@borekb This is a pretty big ask ;) But as I look to expand features using custom views -- I could possibly see something like this becoming a reality ;)

Though in the short-term, I might look into adding a command to jump directly to a github compare view.

Also just FYI, you can invoke the `Directory Compare` command at any time and it will allow you to pick the branch to compare the current br

[2017-07-18 21:42] borekb commented on #115
Thanks for at least considering it :) It would be a huge feature for me as I don't know of any other Git client that would do this well (GitHub as a web client got this "surprisingly" right).

And also thanks for the tip about the Directory Compare command. This extension just rocks :)

[2017-07-18 22:12] mgarf commented on #116
@eamodio yep!, thank you so much for your help.

[2017-07-19 15:04] vvs opened #118 "Git Lens extension stopped working on latest insiders build"
- VSCode Version: Code - Insiders 1.15.0-insider (9a308d1128df9af90e84b2988bce4f57f885b1c3, 2017-07-19T06:40:44.535Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
Bookmarks|ale|0.15.2
project-manager|ale|0.18.1
vscode-eslint|dba|1.2.11
gitlens|eam|4.3.1
EditorConfig|Edi|0.9.4
beautify|Hoo|1.1.1
atom-keybindings|ms-|2.9.1
stylelint|shi|0.2

[2017-07-19 15:07] vvs commented on #118
Looking at the debug output, it seems that the extension is not getting the actual file names to work with. It gets just '', and naturally doesn't provide any of its services for such a file.

[2017-07-19 15:54] raldred opened #119 "Comparing line's commit to working"
Comparing commit to working tree opens two empty untitled vscode windows.

- GitLens Version: 4.3.1
- VSCode Version: 1.14.1
- OS Version: macOS 10.12

Steps to Reproduce:

1. Select a line/file
2. Select Directory compare with working tree
3. Observe two blank vscode windows opened.

[2017-07-19 20:58] JaredNeil opened #120 "Feature Request: "Open in Remote" support for custom repositories"
Maybe a settings object to customize the url that opens in the browser.
I imagine something like:
[code]
And then it just fills in the `%s` with the branch, commit, or file path.
This would be really nice for Stash (Bitbucket Server) repositories.

[2017-07-20 08:53] eamodio commented on #120
@JaredNeil Good suggestion, but given my time and priorities I couldn't say when this would be added. On the other hand PRs are definitely welcome ;)

[2017-07-20 08:59] eamodio commented on #118
@vvs Thank you so much for your deep investigation! It looks like vscode has fixed the underlying issue. Once the next insiders comes out we can verify that is the case.

[2017-07-20 09:01] eamodio commented on #119
@raldred did you really mean directory compare? Because that just launches `git difftool` with the specified branches.

[2017-07-20 10:11] vvs commented on #118
I've built VS Code from the latest master sources (which supposed to have the fix) and unfortunately, that fix for Microsoft/vscode#31038 didn't fix this issue.

Most of the Git Lens functionality continues to be disabled and not available.

Sometimes I see the following error when launching VS Code (freshly built from latest master, Microsoft/vscode@167d697f6d972a ):
[code]

[2017-07-20 10:16] vvs commented on #118
The fresh log, is a bit different from the one originally reported. Now I see that Git Lens could get the file name for the git log caching, but not for the git blame though.

[code]

[2017-07-20 18:30] lindskogen commented on #114
Yes!

[2017-07-20 20:44] #118 closed

[2017-07-22 15:42] lh123 opened #122 "Blame information Bug"
When I only delete a few lines in the file, but Blame information is not updated
**Before deleting**
![image](https://user-images.githubusercontent.com/10697249/28492469-2bf2bbd2-6f37-11e7-915c-cc51799acc79.png)
**Afte rdeleting**
![image](https://user-images.githubusercontent.com/10697249/28492475-43f87848-6f37-11e7-82ad-0eddc513f685.png)

[2017-07-26 13:06] eamodio commented on #122
This seems to only happen with deletes -- I'll dig into this more.

[2017-07-27 03:43] eamodio commented on #101
Closing this as more info is needed. Please reopen if this is still an issue.

[2017-07-27 03:43] #101 closed

[2017-07-27 03:49] eamodio commented on #112
@reednj I did some more research into this and it looks like you can pass in *file contents* into `git blame` using `--contents - <file contents here>`. I have yet to really try it out to see if it work, but if so, it **might** be possible to get this to work. If it works, the biggest caveat I see is triggering blames while you are typing would be **bad**, but even a decently debounce delay could

[2017-07-27 03:52] eamodio commented on #114
@lindskogen do you have a public repo, or an example file I could use to see this in action?

[2017-07-27 04:01] eamodio commented on #122
@lh123 I've dug more into this and unfortunately `git blame` doesn't provide any information to know if a file has been edited with only deleted lines. Kind of feels like a git bug to me, but who knows. `git blame` does return proper information if there was any updated or added line in the file.

Because of the current `git blame` behavior and GitLens' reliance on `git blame` there isn't anything

[2017-07-27 04:01] #122 closed

[2017-07-28 12:44] iamhjr opened #123 "Jobber.exe makes trouble with virus scanner F-Secure"
_From @iamhjr on July 27, 2017 9:30_

- VSCode Version: Code 1.14.2 (cb82febafda0c8c199b9201ad274e25d9a76874e, 2017-07-19T23:34:09.706Z)
- OS Version: Windows_NT ia32 6.3.9600
- Extensions:

Extension|Author (truncated)|Version
---|---|---
project-manager|ale|0.18.1
githistory|don|0.2.2
gitlens|eam|4.3.2
rest-client|hum|0.14.6

---

Steps to Reproduce:

1.   I updated VScode to the current version

[2017-07-28 12:44] iamhjr commented on #123
_From @joaomoreno on July 27, 2017 19:57_

Please file this in the appropriate extension repository: https://github.com/eamodio/vscode-gitlens/issues

[2017-07-28 19:48] eamodio commented on #123
Opened https://github.com/paulcbetts/spawn-rx/issues/17

[2017-07-28 20:01] eamodio commented on #113
Opened https://github.com/Microsoft/vscode/issues/31683

[2017-07-28 20:04] eamodio commented on #91
Opened https://github.com/Microsoft/vscode/issues/28628

[2017-07-28 21:38] #107 closed

[2017-07-28 21:40] eamodio commented on #111
@cnshenj When vscode 1.15 is released, those diffs should become preview tabs.

[2017-07-28 21:42] eamodio commented on #107
@kyle245 this will be "fixed" in v4.3.3, but it is dependent on the font used. If the monospace font doesn't properly monospace double-width characters it still won't render properly. Unfortunately there isn't anything I can do about that.

See also https://github.com/Microsoft/vscode/issues/14589

FYI, I tested with Inconsolata and everything worked correctly.

[2017-07-31 13:49] cdloh opened #124 "Git diff should show the git hunk instead of the one line"
- GitLens Version: 4.3.3
- VSCode Version: 1.14.2
- OS Version: Win10

Steps to Reproduce:

1. Make changes to a file and save
2. Go to line and however over line to show diff

If possible it'd be great to show the hunk instead of just that single line.

[2017-07-31 13:51] cdloh opened #125 "Feature Request: Show diff when you however over git colours in the gutter"
GitLens Version: 4.3.3
VSCode Version: 1.14.2
OS Version: Win10

Not sure if possible in VSCode but it'd be great if you could show the diff when you hover over the git gutter similar to this in Sublime Text - https://github.com/jisaacks/GitGutter

[2017-07-31 13:53] cdloh commented on #125
Never mind just found this issue created by yourself!

I'll close this for now. https://github.com/Microsoft/vscode/issues/28080

[2017-07-31 13:53] #125 closed

[2017-08-02 22:41] onyxdragun opened #126 "Odd Workspace with GitLens"
- GitLens Version: 4.3.3
- VSCode Version: 1.14.2
- OS Version: Ubuntu 16.04

Steps to Reproduce:

Is it possible to get GitLens to peek a folder up for the .git items?
My workflow is creating a directory that is ignored by git that include 2 symbolic links to folders within the git repo I work from. This is so i can open multiple folders without resorting to opening the parent project. Let's me d

[2017-08-02 22:41] #126 closed

[2017-08-03 01:00] eamodio commented on #126
@onyxdragun did you intentionally close this?

[2017-08-03 08:46] borekb opened #127 "Grep full history"
It would be nice to be able to grep the full Git history. I'm not sure how to best do it but these Git commands provide close to what I would be after:

[code]

Some related Stack Overflow QAs:

- [How to grep (search) committed code in the git history?](https://stackoverflow.com/questions/2928584/how-to-grep-search-committed-code-in-the-git-history)
- [github - Search all of Git history for a str

[2017-08-03 14:07] BobbyMcWho commented on #87
I'm having this issue in 4.3.3, was there any sort of special configuration I need to do to get this to work with ssh?

[2017-08-07 14:08] eamodio commented on #123
@iamhjr I am closing this as *won't fix*, because I raised it up to the spawn-rx component and they felt it is just an issue with F-Secure wrongly identifying an issue. So there isn't much I can do on this.

[2017-08-07 14:08] #123 closed

[2017-08-07 14:10] eamodio commented on #114
@lindskogen if I can get a reproducible case I'm hopeful that I could fix the issue

[2017-08-07 17:35] eamodio commented on #67
@mklemarczyk any chance you still have that idea brewing? ;)

[2017-08-08 17:36] ssynix opened #128 "Question: toggling GitLens by vscode tab"
Is it possible to to show the inline blame details (and the ones above "containers") only when in the source control tab of vscode? I find them a bit distracting when coding in the explorer tab.

Thanks!

[2017-08-08 17:46] eamodio commented on #128
Interesting idea -- but as far as I know the vscode api doesn't have any way for me to detect that

[2017-08-08 18:14] ssynix commented on #128
Gotcha, thanks for the quick response! I'll resort to manually toggling code lens then.

[2017-08-12 11:29] aeinbu commented on #104
Also on Scandinavian macs (at least Norwegian) SHIFT+⎇+7 is used for \ (Backslash)

[2017-08-12 18:16] wsmelton opened #129 "Line toggle/pop"
- GitLens Version:4.3.3
- VSCode Version: 1.15.0 (x64)
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. All extensions are disabled except for Git Lens
2. Just open a file from GitHub repository

![gitlens_linepop](https://user-images.githubusercontent.com/11204251/29243258-18fd6ce6-7f60-11e7-86c8-50d9d8fd083d.gif)

Is there any way to disable the extension from making the line pop out?

[2017-08-13 03:12] wsmelton commented on #129
I'll confirm that this is strictly an issue with the 64-bit version of VS Code. I had 32-bit running on a Windows 2016 Server and did not see this issue. I removed the 32-bit and installed 64-bit version, as soon as GitLens loaded it started doing the same thing as above.

[2017-08-13 13:57] eamodio commented on #129
@wsmelton Are you using a non-monospace font? That is the only way I can reproduce this. I'll have to dig into this a bit more, but it really seems like a vscode bug. For now one way to stop this behavior would be to disable the line blame setting `"gitlens.blame.line.enabled": false`.

Hope that helps!

[2017-08-14 01:39] eamodio commented on #129
Opened https://github.com/Microsoft/vscode/issues/32436

[2017-08-14 01:44] #128 closed

[2017-08-14 01:47] eamodio commented on #124
@cdloh I'm somewhat concerned about the UX/UI of something like this. When I originally added the "diff" feature I did try out showing the whole chunk, but it made the hover much larger and because I don't have enough control of the coloring and formatting of the hover (as far as I know) I can't make it really look like a diff.

Do you have any thoughts on this and any more color to add to why you

[2017-08-14 01:48] eamodio commented on #119
@raldred feel free to reopen this with more details if you are still experiencing an issue. Thanks!

[2017-08-14 01:48] #119 closed

[2017-08-14 01:51] eamodio commented on #111
Closing this as this is addresses as much as it can be given the vscode api

[2017-08-14 01:51] #111 closed

[2017-08-14 01:52] #91 closed

[2017-08-15 00:12] eamodio commented on #129
@wsmelton That is the font you are using in vscode when you see the issue? If so I'm quite confused because the vscode change that caused this behavior was already in effect for monospace fonts

[2017-08-15 11:47] wsmelton commented on #129
Yes that is the font I have set.

[2017-08-15 15:36] larsboldt commented on #104
With gitlens active I can no longer type backslashes in VSCODE because it triggers search, ref: SHIFT+⎇+7

Is it possible to reassign this?

[2017-08-15 15:52] eamodio commented on #104
@larsboldt  you can specifically remove a shortcut key -- see https://code.visualstudio.com/docs/getstarted/keybindings#_removing-a-specific-key-binding-rule

I think you just need to add the following to remove that key-binding:
[code]

[2017-08-16 11:54] damsleth opened #130 "First-run "Thank you for choosing GitLens! [...]" info message shown on every start up"
- GitLens Version: v4.3.3
- VSCode Version: 1.15 (July 2017)
- OS Version: macOS Sierra 10.12.6

Steps to Reproduce:

1. Start VSCode
2. Observe the first-run "Thank you for choosing GitLens! [...]" info message pop down

![GitLens Firstrun](http://i.imgur.com/7FdRzvD.gif)

- Not experiencing the issue with VSCode-insiders 1.16 (August 2017) on the same machine.
- Reinstalling GitLens does nothing

[2017-08-16 14:29] eamodio commented on #130
@damsleth do you have any other issues with that instance of vscode?

[2017-08-16 14:40] eamodio commented on #130
@damsleth Can you open up the devtools in vscode (Help -> Toggle Developer Tools), and then select `Application` tab at the top, and then expand `Local Storage` and select `file://`. Using the filter bar at the top type `global/eamodio.gitlens` and then please send me the value of the only key.

It should look like this:
![image](https://user-images.githubusercontent.com/641685/29368987-3fc6bd0c-8

[2017-08-17 07:22] mklemarczyk commented on #67
@eamodio I do not have permission to make it public. Sorry.
I will try my best, but I can not promise anything.

[2017-08-17 07:36] mklemarczyk commented on #61
Thank you, I do not find that problem right now.

[2017-08-17 14:52] ergenekonyigit opened #131 "overlap with import cost extension"
![screen shot 2017-08-17 at 17 46 25](https://user-images.githubusercontent.com/7110136/29418261-867f93da-8374-11e7-838a-e991acc1eec1.png)
![screen shot 2017-08-17 at 17 46 36](https://user-images.githubusercontent.com/7110136/29418263-88fdac96-8374-11e7-81a8-4a0686e0a7a8.png)

these two extension overlaped.

- GitLens Version: 4.3.3
- VSCode Version: 1.15.1
- OS Version: 10.12.6

Steps to Reprodu

[2017-08-18 06:44] damsleth commented on #130
storage://global/eamodio.gitlens : {"gitlensVersion":"4.3.3"}
i.e. no "suppressWelcomeNotice":true.

[2017-08-18 15:38] eamodio commented on #130
@damsleth this is so strange -- since the version number is in there and that is what I key off. See:
https://github.com/eamodio/vscode-gitlens/blob/d3013a03d471a1ff5cc14853a2899924f0f195d7/src/extension.ts#L273-L278

Using the devtools again can you delete the key (press the `del` key) and then restart vscode and see if the welcome message goes away on the 2nd run?

[2017-08-18 16:36] tiendzbk opened #132 "I have error : GitLens was unable to find Git. Please make sure Git is installed. Also ensure that Git is either in the PATH, or that 'gitlens.advanced.git' is pointed to its installed location. ... help me"
- GitLens Version:
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2017-08-18 17:32] eamodio commented on #132
@tiendzbk I'd be happy to help you but I'm going to need more information from you. Can you please provide the information asked for in the issue template (GitLens version, vscode, os, etc). Also have you followed the steps in the error message? I'm assuming git is installed? If so, is it in your PATH? If not, where is it installed? Have you tried setting the `"gitlens.advanced.git"="<put your git

[2017-08-21 15:10] eamodio commented on #131
@ergenekonyigit I'm not sure what is wrong or what you are expecting to happen? Both extension can add decorations to the end of the code lines -- and only 1 is going to win at a time. GitLens only adds the end of line decoration on the current line, if enabled (can be toggled via a command, or turned off completely via a setting).

What would you expect to happen if you change the current line to

[2017-08-21 15:13] eamodio commented on #105
Closing this as once the vscode issue is fixed GitLens will work properly.

[2017-08-21 15:13] #105 closed

[2017-08-21 15:13] eamodio commented on #110
Closing this as once the vscode issue is fixed GitLens will work properly.

[2017-08-21 15:13] #110 closed

[2017-08-21 15:16] eamodio commented on #104
Since the `alt` modifier causes issues for some keyboard layouts -- what would people recommend as an alternative. Picking shortcuts keys is seemingly impossible to get right :)

[2017-08-21 15:17] eamodio commented on #114
@lindskogen sorry to bug you, but I'd love to get this fixed. :)

[2017-08-21 15:32] lindskogen commented on #114
Been unable to reproduce it on my non-work computer, only had this issue on my laptop from a previous job. Maybe it is fixed now, since I cannot reproduce it anymore :)

[2017-08-22 01:43] eamodio commented on #114
@lindskogen ok thanks! I'm going to close this then -- please feel free to reopen it if it comes back.

[2017-08-23 19:43] cwhenderson20 commented on #114
This is actually happening to me as well. [Here's how it looks.](http://imgur.com/a/7yYTr)

- GitLens version: 4.4.0
- VSCode version: 1.15.1
- macOS version: 10.12.6

I have the language-stylus extension installed (version 1.7.3).

Typically what happens is that each block of styles (nested or top-level) each gets its own Code Lens annotation (whether it's "Cannot determine recent change or autho

[2017-08-23 21:04] eamodio commented on #114
@cwhenderson20 Thank you for the GIF, I think I see what is happening. Can you try adding the following setting:
[code]

[2017-08-23 21:06] cwhenderson20 commented on #114
Sure thing! Just added it and restarted VSCode (just to be sure). Same behavior, unfortunately.

[2017-08-23 21:07] eamodio commented on #114
As in the gif do you still see the codelens at the top of every class definition?

[2017-08-23 21:08] cwhenderson20 commented on #114
Yes, I do

[2017-08-23 21:09] eamodio commented on #114
Hrm, now I'm a bit confused :) -- Do you have a public repo that I can try this on myself?

[2017-08-23 21:13] eamodio commented on #114
Maybe the language server uses the full name `stylus` rather than the extension -- Can you try changing the setting to use `"language": "stylus"`?

[2017-08-23 21:14] cwhenderson20 commented on #114
Yep, that fixed it!

[2017-08-23 21:14] cwhenderson20 commented on #114
So does this setting have to stay in the settings.json file or is this a bug?

[2017-08-23 21:14] eamodio commented on #114
Great! I'll get a release together that adds that to the GitLens defaults. Thank you for your time and patience!

[2017-08-23 21:15] eamodio commented on #114
Once I get the update out, you'll be able to remove the setting.

[2017-08-23 21:15] cwhenderson20 commented on #114
Great! Thank you for your quick response time and excellent extension!

[2017-08-24 01:01] #114 closed

[2017-08-25 13:40] Florian-R opened #133 "Error at startup and during stash operation"
- GitLens Version: 4.4.1
- VSCode Version: 1.15.1
- OS Version: Ubuntu 16.04.3

Steps to Reproduce:

1. Start VSCode or stash / unstash any file in Git
2. Have an error message displayed by VSCode : "Error: Path must be a string. Received undefined"

Output with verbose `gitlens.outputLevel`

[code]

Console output in dev tools :

[code]

Also, stash explorer remain empty even with some files stas

[2017-08-27 19:46] eamodio commented on #133
@Florian-R If you run a `git stash list` on the command line does any look strange? I'm wondering where in the stash output parsing something is going wrong.

[2017-08-28 07:32] MonsieurMan opened #134 "Multiline constructor displays multiple code lens"
- GitLens Version: 4.4.1
- VSCode Version: 1.15.1
- OS Version: Fedora 26

With my colleagues, we like to split constructor parameters into multiple lines but it ends up displaying multiple git code lens with this extension :
![constructor](https://user-images.githubusercontent.com/13108166/29762647-e2e82958-8bcf-11e7-9f49-362cb3d3e527.png)
Is this expected behavior or are we lonely to split const

[2017-08-28 08:43] Florian-R commented on #133
@eamodio Dont think anything seems weird

[code]

FTR, in case it could help

[code]

I'll try to dig more but no time at all actually :/

[2017-08-29 11:50] phillyai opened #135 "Full-width characters break gutter annotations"
- GitLens Version: 4.4.1
- VSCode Version: 1.15.1
- OS Version: Windows 10

![Screenshot](https://s26.postimg.org/mf2c0lk8p/054.png)

When commit message contains fullwidth chracter happens.

[2017-08-29 17:25] eamodio commented on #135
This is a duplicate of https://github.com/eamodio/vscode-gitlens/issues/107 and sadly it depends on the font used.

[2017-08-29 17:26] eamodio commented on #134
Hrm -- I'll look into what is going on here.

[2017-08-29 17:28] eamodio commented on #133
Very strange, I can't reproduce anything like this. Will dig more into it via code inspection.

[2017-08-29 17:33] phillyai commented on #135
I'm using monospace font but it doesn't work. Isn't there any way to calculate length of string using full-width character as two character?

[2017-08-29 18:32] eamodio commented on #135
Unfortunately as I understand it (from the vscode issue around it) only certain monospace fonts actually render full-width characters as double-width. If the font does, like Inconsolata, then it works, otherwise it won't. But AFAIK, there is nothing I can do as a vscode extension to get that to work -- maybe it is something vscode can do, but again I don't know. Here is the vscode issue: https://g

[2017-08-29 23:24] JarvisPrestidge opened #136 "Indentation issue - "editor.renderWhitespace": "all""
The cursor will indent the line it's on by a single space (or more sometimes) if using the `editor.renderWhitespace: all` settings option and the GitLens extension.

- GitLens Version: v4.4.1
- VSCode Version: 1.15.1
- OS Version: Ubuntu 17.04 Gnome

Steps to Reproduce:

1. Disable all extension, except GitLens.
2. Enable `"editor.renderWhitespace": "all"` in `settings.json`
3. Open a GoLang file

[2017-08-29 23:27] phillyai commented on #135
I think you didn't understane what's the problem. I'm using monospace font, and it works.
![screenshot](https://s26.postimg.org/lsolvrz21/060.png)
What I want to tell you is, you shouldn't pad just using length of string. Maybe you should use `isHalfWidth` in `eastasianwidth` or something to pad actual length of string.

[2017-08-30 01:02] eamodio commented on #136
This is a duplicate of https://github.com/eamodio/vscode-gitlens/issues/129, unfortunately right now there isn't much I can do as this is a vscode issue.

[2017-08-30 01:02] #136 closed

[2017-08-30 01:10] eamodio commented on #135
@phillyai can you try the Inconsolata font and see if you are still having an issue?

I am currently using the [string-width](https://github.com/sindresorhus/string-width) library to calculate the width of the line to pad it.

[2017-08-30 01:16] phillyai commented on #135
![screenshot](https://s26.postimg.org/kvrtxrj95/062.png)
Inconsolata used, still have issue.
[code]
And also string-width seems working well.

[2017-08-30 01:19] eamodio commented on #135
@phillyai is this a public repo that I can try out for myself? Also can you try setting: `"gitlens.annotations.file.gutter.compact": false` to see if you see the same behavior?

[2017-08-30 01:24] phillyai commented on #135
1. Sure, yes. Also there are many repository contains korean commit messages not only this. https://github.com/phillyai/bumble
2. Sadly, yes.
![screenshot](https://s26.postimg.org/7g9em2055/064.png)

[2017-08-30 01:38] eamodio commented on #135
@phillyai I think I see the issues. One is with the compact mode where I wasn't using string-width, and the other is my truncation function doesn't work properly with full-width characters.

[2017-08-30 02:52] eamodio commented on #135
@phillyai Just released v4.4.2 -- it should hopefully fix these issues. Thanks again for being persistent on this one!

[2017-08-30 04:47] phillyai commented on #135
I'm sorry, it's much better but it still have issue. Three dots character makes line little bit longer.
![screenshot](https://s26.postimg.org/6o7nplttl/065.png)

[2017-08-30 04:55] eamodio commented on #135
@phillyai what font is that? (Also is that file in the repo?)

This is what I see with `Inconsolata` (in the lexer.py file)
![image](https://user-images.githubusercontent.com/641685/29855980-c7ea6342-8d1d-11e7-8e7b-779c95acce98.png)

[2017-08-30 05:01] phillyai commented on #135
I'm using Inconsolata, same as you, and sorry, this is [another repository](https://github.com/phillyai/claculator/blob/master/src/builder.py).
Also I tried `lexer.py` in bumble, and it is working very well.

[2017-08-30 05:05] eamodio commented on #135
OK -- I'll check that one out -- thank you!

[2017-08-30 07:56] damsleth commented on #130
Deleted key, closed and restarted VSCode twice, key value still the same {"gitlensVersion":"4.4.2"}

[2017-08-30 12:33] Florian-R commented on #133
Without debugging that much, I *think* I understand what's going on.

For some reason (which I'll call for now the dark arcanes of Linux and i18n), I recently had to tweak some locale related env vars, but this as the effect to change my git output to french instead of english.

Re-reading your statement :

Could this be related in some way? After forcing git to output english, I don't have this e

[2017-08-30 15:50] eamodio commented on #133
@Florian-R that is definitely it -- GitLens can only deal with parsing English output from git. Sorry about that.

[2017-08-30 15:59] Florian-R commented on #133
No problem. Thanks for your input and your extensions.

I'll close this one as it works as intended.

[2017-08-30 15:59] #133 closed

[2017-08-30 16:20] #135 closed

[2017-08-30 16:24] eamodio commented on #130
@damsleth I'm so sorry this is still dragging on. I'm really baffled. I've added more logging in v4.4.3 so hopefully that will help point us in the right direction. Thank you for your patience.

Before you upgrade to 4.4.3 -- can you set `"gitlens.outputLevel": "verbose"` and then after you upgrade please post the output from the `GitLens` output channel?

[2017-08-30 18:50] svenax commented on #104
I'd suggest to never use `alt` or `shift+alt` as modifiers, but instead always combine with `ctrl` and/or   `cmd`. For an extension that introduces many key commands, I'd prefer to see chorded shortcuts using a common starting shortcut. Since VS Code itself only uses `cmd+k` in this way, perhaps Gitlens could use `cmd+g`, e.g. `cmd+g c` for "Show commit details".

[2017-08-30 20:56] eamodio commented on #104
Honestly I'm all for chords -- but I couldn't find any reasonable chords that didn't conflict with current vscode shortcuts or very popular extensions. It's like whack-a-mole. :(

[2017-08-30 21:07] svenax commented on #104
Yes, it is a mess ... I've always wondered why other editors don't handle this in the same way as Textmate does, i.e. if several commands use the same shortcut, then all of them will be shown in a pick list with automatically assigned completions (1-9 as far as I remember). Anyhow, `cmd+alt+g` seems to be free as chord starter - or maybe it is taken by some other extension?

[2017-08-30 22:11] eamodio commented on #104
It would also be nice if there was some way or something where I component could offer alternative keyboard mappings -- so maybe all the `alt+` works for some (i.e. me) and some alternative mappings could be offered as options. Since shortcut mappings for extensions are defined in the `package.json` it isn't even currently possible for extensions to offer any settings for alternatives.

I will loo

[2017-09-04 06:53] damsleth commented on #130
Don't worry about it, it's not exactly a blocker ;)
Here's the verbose GitLens output (same for first upgrade-run and all subsequent ones).
`GitLens(v4.4.3) active: /Users/damsleth/Code/
Git found: 2.8.4 (Apple Git-73) @ /usr/bin/git
git -c core.quotepath=false rev-parse --show-toplevel   cwd='/Users/damsleth/Code'
Git version: 2.8.4 (Apple Git-73)
GitLens first-time install
CodeLens config change

[2017-09-04 07:33] eamodio commented on #130
@damsleth I've just published [GitLens 5.0.0-alpha.2](https://github.com/eamodio/vscode-gitlens/releases/tag/v5.0.0-alpha.2). I've added a secondary check to suppress the welcome message -- hopefully this will resolve the issue (🤞 as I have no idea why reading from the `globalState` doesn't seem to be working in this case).

Please make sure to completely remove any prior version before installing

[2017-09-04 16:58] eamodio commented on #124
@cdloh or anyone else who might want something like this -- thoughts on the above?

[2017-09-04 17:01] eamodio commented on #66
I will be removing this feature in a post-5.0 release

[2017-09-04 23:52] AmandaCameron commented on #120
One alternate route this could take is to make it so you can add additional "domains" that a given service is attached to.

something like ```{
  "gitlens.remotes.gitlab": [ "gitlab.exaple.com" ]
}```

Then this kind of thing could also be solved by just having a bitbucket remote type, which @JaredNeil could add to his config like

[code]

or so

[2017-09-05 17:19] eamodio commented on #131
I've opened https://github.com/Microsoft/vscode/issues/33852 to track this issue

[2017-09-09 05:53] eamodio commented on #120
@AmandaCameron Excellent suggestion! I will look into adding something like that -- thank you!

[2017-09-11 07:15] eamodio commented on #120
@AmandaCameron @JaredNeil the latest [GitLens v5 beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v5.0.0-beta) adds a new `gitlens.remotes` setting to allow you to configure custom remotes similar to @AmandaCameron suggestion. Please follow [these instructions](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Pre-release-Versions) to install a pre-release. Let me know if you e

[2017-09-11 16:46] JaredNeil commented on #120
Apparently Stash and Bitbucket are not as similar as I thought.
If I set up my domain as a Bitbucket project and open a file in remote I get:
`https://${DOMAIN}/${PROJECT}/${REPOSITORY}/src/${BRANCH_NAME}/${FILE_PATH}`
But that gets a 404. The actual URL to look at a file is:
`https://${DOMAIN}/projects/${PROJECT}/repos/${REPOSITORY}/browse/${FILE_PATH}?at=refs%2Fheads%2F${BRANCH_NAME}`
I guess St

[2017-09-11 16:54] eamodio commented on #120
@JaredNeil if you could provide me with the url structure for all the pieces of stash, I will add it into the next release.

You can see the urls for Bitbucket here:
https://github.com/eamodio/vscode-gitlens/blob/62580da7023ee240fb2a6835f44f0665c30119e5/src/git/remotes/bitbucket.ts#L15-L41

[2017-09-11 18:43] JaredNeil commented on #120
[code]
One problem is that `this.baseUrl` also needs to be slightly different.
Bitbucket and GitHub both use `${DOMAIN}/${PROJECT}/${REPO}`, but stash uses `${DOMAIN}/projects/${PROJECT}/repos/${REPO}`. So I guess the `path` variable in the constructor needs to be modified.
Thanks for your work.

[2017-09-12 00:41] kiewic opened #137 "Editor is scrolled down after switching from current tab to another and then returning to the original tab"
- GitLens Version: 4.4.3
- VSCode Version: 1.15.1
- OS Version: Windows 10 1703

Steps to Reproduce:

1. Open two files, A and B. A must be a very large file.
2. Navigate to some line in the middle of file A, let say line 1390.
3. Switch to file B tab.
4. Return to file A tab, and notice that the page has been scrolled down. Now the first line displayed is line 1450, and line 1390 is not visible n

[2017-09-12 01:18] eamodio commented on #137
@kiewic Thanks! I looked into this quickly and it looks like an issue with vscode itself when showing code lens. Here is the open issue: https://github.com/Microsoft/vscode/issues/32397

[2017-09-12 03:52] #137 closed

[2017-09-12 03:59] eamodio commented on #120
@JaredNeil I just posted another [GitLens v5 beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v5.0.0-beta.2) which should hopefully resolve the Stash/Bitbucket Server issues. Let me know -- thanks!

[2017-09-12 14:50] bpartridge opened #138 "Whitespace flag (-w) as setting?"
Feature request: can we have a setting, as in https://github.com/Sertion/vscode-gitblame/issues/1 , to set -w when using Gitlens to view blames? Right now if someone fixes indentation of a file, the gitlens File Blame Annotations become relatively useless, but the history of the change to the meaning of that line is still accessible.

[2017-09-12 16:09] JaredNeil commented on #120
Works great so far.
The only issue I've seen is that it requires a reload after adding or changing the `gitlens.remotes` option. I'm not sure if there is a way around that, so it might be worth mentioning in the release notes since most settings changes don't require a reload.

[2017-09-12 16:10] eamodio commented on #120
@JaredNeil good catch -- I'll try to get that not to require a reload

[2017-09-12 21:56] ro-savage commented on #124
Yes @eamodio, would love this feature! Would be icing on the cake for your plugin.

Have a look how webstorm / intelli-j handle it.

![webstorm-example](https://user-images.githubusercontent.com/9244507/30350051-872ae746-9858-11e7-9098-405efa42b8db.gif)

You show the entire 'hunk', that is all the adjoining lines, and only show the *old* code not a proper diff. You don't need to see a diff, becaus

[2017-09-12 22:11] eamodio commented on #124
@ro-savage Hehe - just replied on that thread. I was thinking that this issue might be somewhat related, but not entirely the same -- since I read more into the other issue about being able to stage/unstage/revert lines in a diff.

As I mentioned in the other issue, I'm not sure there is a good UI metaphor available to extensions right now for this -- since I think I'd be even more against using c

[2017-09-12 23:06] #120 closed

[2017-09-12 23:06] #130 closed

[2017-09-12 23:06] #138 closed

[2017-09-12 23:11] eamodio commented on #132
This hasn't been updated in almost a month -- please re-open if there is still an issue I can help with

[2017-09-12 23:11] #132 closed

[2017-09-12 23:11] eamodio commented on #131
Closing this as it is a vscode issue.

[2017-09-12 23:11] #131 closed

[2017-09-12 23:11] eamodio commented on #129
Closing this as it is a vscode issue.

[2017-09-12 23:11] #129 closed

[2017-09-13 04:47] ro-savage commented on #124
I don't believe it requires code actions to the lightbulb.

Simply hover over the gutter or line (depending on settings) and it shows the same pop-up but instead of a
[code]

you would see the whole chunk such as

[code]

underneath that would appear actions buttons
Revert | Copy | Commit | Diff

Revert: Replaces your changes unstaged changes with the original code
Copy: Copies the original code
C

[2017-09-13 15:19] sschwartz0 opened #139 "[feature request] Show a list of files changed for current branch (ignoring merges)"
First off - thank you for creating and actively maintaining this amazing extension. I discovered it yesterday while trying to convince my team to get off PHPStorm. The only thing stopping our chief guy from switching over is being able to see what files were changed on a branch in the file explorer.

The new gitlens explorer is so close to solving this problem for him and many others (there's a tw

[2017-09-13 16:44] eamodio commented on #139
@sschwartz0 Thank you so much for your kind words -- really appreciate them. When you say a list of files modified/created/deleted on that branch -- I don't think I'm really understanding. Like in comparison to another branch or the working tree? Or literally a full file explorer with a deduped list of files changed in all commits since the start of that branch?

If its the latter, what is the use

[2017-09-13 20:16] sschwartz0 commented on #139
So this image is from PHPStorm. They indicate changes in the full file explorer by coloring the filename. Green is newfile, blue is edited file. Grey is deleted (forgot how to get that to show without the file disappearing...)

![image](https://user-images.githubusercontent.com/21964998/30398215-7151ce40-9884-11e7-83c1-b14095a5559d.png)

Based on the vscode issue thread it sounds like editing the

[2017-09-13 20:35] eamodio commented on #139
Thanks for the extra information and color. So yeah, currently not possible to affect the file tree. But on the others I have some questions still.

Isn't that handled by the current SCM view? It shows all the files changed that haven't yet been committed.

I'm not sure I really understand this one -- so you would want changes from the most recent commit when you open vscode? What is the use-case

[2017-09-13 20:45] sschwartz0 commented on #139
Ahhh - so on PHPStorm it makes the color changes in the file explorer as you are actively editing the codebase. So it would be nice to have a straight list of changed files without having to dig through the trees/commits.

For #2 it would be empty when you switch branches or reopen your editor and would start adding files to the list as you modify them. (there is open editors but sometimes I don't

[2017-09-13 21:35] eamodio commented on #139
OK looking forward to it.

For 1 -- Currently you can right-click and choose `Open File` to get at the file, rather than the diff -- it also works if you select multiple files in 1.16. GitLens also adds a `Open Changed Files` command if you right-click on the `Changes` or `Staged Changes` headers

For 2 -- I still don't understand why the SCM view doesn't already handle that?

For 3 -- I definitel

[2017-09-13 22:25] sschwartz0 commented on #139
I guess 1 and 2 are more of a UX thing but I did not know about the right click options so thank you for that! For me 1 and 2 are closed, my boss can live in PHPStorm if he wants ;)

For 3 I think that an option to also show the list of files by itself (without having to go commit by commit) would be great. I was thinking of a branch tracked to remote - for instance a development, staging or maste

[2017-09-14 12:04] donaldpipowitch commented on #124
I'd love to have "revert" button in the hover diff 😍

[2017-09-14 13:32] mwidmann opened #140 "gitlens.showCommitSearch overwrites ability to type backslash character on German keyboard on MacOS"
#The default Keybinding set up by Git Lens overwrites the ability to type backslash character for German keyboard setup in OSX, which is alt + shift + 7.

- GitLens Version: 5.0.0
- VSCode Version: 1.16.0
- OS Version: macOS 10.12.6

Steps to Reproduce:

1. set german keyboard layout
2. try typing alt + shift + 7 for \

The workaround so far is to add the following to the user's keybindings.json

[2017-09-14 14:35] mwidmann commented on #140
I've seen that this topic is convered in issue #104

[2017-09-14 14:35] #140 closed

[2017-09-15 00:55] antcodd commented on #116
What exactly are the conditions required to make full commit message work? I only see the summary line(s) on the trailing line hover even when not in blame mode (if the commit is formatted incorrectly without the blank line I can see multiple lines but never see the commit 'details'). Using git 2.7.4

The copy commit message to clipboard also doesn't appear to give the full commit details.

[2017-09-15 07:52] batjko opened #141 "Line annotation breaks font ligatures"
- GitLens Version: 5.0.0
- VSCode Version: 1.16.1
- OS Version: Linux Ubuntu 64bit

Steps to Reproduce:

1.Ensure you have a ligature font enabled in vscode.
2.Click on a line with a ligature symbol and observe the gitlens annotation appear.

Result:
![ligature_issue](https://user-images.githubusercontent.com/7287076/30472072-00e58ae6-99f3-11e7-9da7-14af536c35ca.gif)

Now, I cannot be sure how lon

[2017-09-15 09:38] vvs opened #142 "Feature request: colored file names in the tree view for the new/changed files"
As you may be aware, VS Code doesn't provide this functionality for some reason, even though this is one of the most requested features (well, it is *THE* most requested feature at the moment). See a very funny issue discussion here: Microsoft/vscode#178

Maybe Gitlens is to the rescue? 🙏

[2017-09-15 15:14] eamodio commented on #141
Sadly this is a vscode issue. Opened https://github.com/Microsoft/vscode/issues/34473

[2017-09-15 15:14] #141 closed

[2017-09-15 15:16] eamodio commented on #142
@vvs Unfortunately vscode doesn't provide any extension api support to make this possible -- currently I don't even have color control over the items in the GitLens custom view.

Until that changes there is nothing GitLens (or any extension) could do. :(

[2017-09-15 15:16] #142 closed

[2017-09-15 15:23] eamodio commented on #116
@mgarf I've figured out a way to both increase blame annotation performance AND provide full commit messages in the hovers! Check out the new beta: https://github.com/eamodio/vscode-gitlens/releases/tag/v5.1.0-beta

[2017-09-15 15:24] eamodio commented on #116
@antcodd could you open another issue for this please? This issue is really about adding a new feature (in just hovers), where as it sounds like you are hitting some bug somewhere. Thanks! Be sure to follow the issue notes and provide logs if possible.

[2017-09-15 19:34] cleidigh opened #143 "Missing GITlens commands, explore view with Insiders 9-13-17 x64"
GitLens 5
Insiders 9-13 x64
Windows 7

@eamodio
Cannot see many commands such as stash,compare or toggle explorers view.
Also did not see extension output channel.  Is this an issue with x64?
or is there some configuration I'm missing? Commands were usable before.
could not find anything in the documentation to imply problems with above.

[2017-09-15 21:34] eamodio commented on #143
@cleidigh Hrm, I'm on Windows 10 with the latest insiders x64 and don't see any issues. Do you see any errors in the devtools console? Or can you try setting  `"gitlens.outputLevel": "verbose"` and see if you see anything in the output channel?

[2017-09-15 22:07] cleidigh commented on #143
@eamodio
I actually already tried to get debug output with verbose.
there is not a GITlens output channel to look at either
just looked at dev tools didn't think of that ..
there is an error there
![image](https://user-images.githubusercontent.com/25272315/30505116-c74d8588-9a40-11e7-8881-4bccc638bd9e.png)

[2017-09-15 22:53] eamodio commented on #143
@cleidigh is that with the marketplace version of GitLens? I'm really confused as to how that could be missing. Can you try uninstalling and re-installing GitLens to see if it helps?

[2017-09-15 23:20] cleidigh commented on #143
@eamodio
yes it's version five from marketplace
just tried to uninstall could not do it prompts me for okay but does nothing
I will try to brute force

[2017-09-15 23:29] cleidigh commented on #143
@eamodio
deleted extension in user data
reinstalled that seem to do it.
I had extensions on auto update something must've happened during the update

[2017-09-15 23:32] cleidigh commented on #143
very happy to have my FULL stash commands !

[2017-09-16 01:04] #116 closed

[2017-09-16 11:30] spywhere opened #144 "Allow to disable custom explorer view on startup"
- GitLens Version: 5.1.0
- VSCode Version: 1.16.1 (1.16.1)
- OS Version: macOS Sierra 10.12.6 (16G29)

Every time a new project is opened, GitLens will create a custom explorer view. VSCode allow users to hide custom explorer views out of the box. However, doing this hiding stuffs on multiple projects is quite tedious. By allowing GitLens users to disable custom explorer view at all help reduce th

[2017-09-16 16:11] eamodio commented on #144
@spywhere are you looking to just turn off the custom view completely?

[2017-09-16 16:12] eamodio commented on #143
Looks like this is resolved -- closing the issue

[2017-09-16 16:12] #143 closed

[2017-09-16 18:10] spywhere commented on #144
Yup, exactly.

[2017-09-16 18:19] eamodio commented on #144
So let's say I add a new setting `gitlens.gitExplorer.enabled` that you could set to turn off the custom view completely -- is that acceptable? You wouldn't be able to have the view show up unless you change that setting.

[2017-09-16 18:21] spywhere commented on #144
Yes, that's exactly what I need.

[2017-09-18 02:49] eamodio commented on #139
@sschwartz0 the latest [GitLens v5 beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v5.1.1-beta) attempts to address this by adding a new `Changed Files` node to the repository status in the custom view. FYI, you need to set `"gitlens.insiders": true` in order for it to show up.

Please follow [these instructions](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Pre-release-Ve

[2017-09-18 07:22] eMerzh opened #146 "Blame gutter annotation issue when commit contains emoji"
Hi,
Thanks for your work on this extension! really great ...
it seems that i encounter a small bug (i first thought it was normal :p )
with the "File annotation" feature with commit that contains emojis
it's probably a char count issue or smth like that

- GitLens Version: 5.1.0
- VSCode Version: 1.16.1
- OS Version: OSX

Steps to Reproduce:
Have commit with and without emojis  like here
<img widt

[2017-09-18 14:02] eamodio commented on #144
@spywhere the latest [GitLens v5 beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v5.1.1-beta) adds a new `gitlens.gitExplorer.enabled` setting.

Please follow [these instructions](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Pre-release-Versions) to install a pre-release. Let me know if you experience any issues -- thanks!

[2017-09-18 14:05] spywhere commented on #144
@eamodio Thanks. That's work like a charm!

[2017-09-18 14:05] #144 closed

[2017-09-19 11:07] livcurious opened #147 "Git blame when opening symlinks in vscode should run git blame on linked file."
- GitLens Version: 5.1.0
- VSCode Version: Version 1.16.1 (1.16.1)
- OS Version: macos sierra 10.12

Steps to Reproduce:

1. Make a file, and create a symlink to this file.
2. Open the symlink in vscode. The linked file will be open but git blame will be run on symlink.

[2017-09-19 11:10] #147 closed

[2017-09-19 11:11] livcurious commented on #147
This should be addressed by a vscode parameter instead, since vscode path on opening the symlink also shows the path of symlink while opening the linked file.

[2017-09-19 18:52] wesbaker opened #148 "Add additional domains to gitlens.remotes"
- GitLens Version: 5.1.0
- VSCode Version: 1.1.6.0
- OS Version: macOS 10.12.6

Right now, [from what I can tell](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens#user-content-custom-remotes-settings), you can only setup custom domains for GitHub, GitLab, and BitBucket. Is there any chance we could use an arbitrary URL for commits?

[2017-09-19 19:01] eamodio commented on #148
@wesbaker Can you provide an example or use case?

[2017-09-19 20:38] wesbaker commented on #148
Sure, my company uses a self-hosted Git repository called GitBlit which is a Gerrit plugin. URLs end up looking like this `company.com/plugins/gitblit/commit/?r=repository.git&h={hash}`. I'd like to be able to click on commit SHAs from VSCode and be able to go to that link.

[2017-09-19 21:02] eamodio commented on #148
Ah, gotcha. I'll look into adding support for a `Custom` provider.

[2017-09-20 00:05] sschwartz0 commented on #139
@eamodio This is great! Sorry I never got you a picture but this is awesome. Is it possible to have gitlens autorefresh when you have no changed files and then there is the first file change? Other then that, love it.

Also another cool feature would be to also show a list of all changed files (from the master branch) since the branch was created. So there'd be two dropdowns:
Changed Files Since L

[2017-09-20 02:16] fgallardograzio commented on #146
I can also reproduce this same issue with a seemingly plain old text-only commit message. Here's a screenshot:

![screenshot-gitlens-vscode](https://user-images.githubusercontent.com/10978027/30623571-ba584c2c-9d8e-11e7-9d15-f6d92a7a0652.png)

[This is the commit](https://github.com/Microsoft/TypeScript-Node-Starter/commit/76c4593f2b3ab55050f114bd41b4a19b87649989) that is causing the issue. The fi

[2017-09-20 02:35] fgallardograzio opened #149 "Word wrapping issue when viewing blame annotations"
Word wrapping breaks the blame layout. Please see the attached screenshot.

I think the appropriate behaviour would be to wrap the lines on the right hand side of the "blame panel", after the heatmap.

If this is technically problematic to do, then I'd rather have word wrapping automatically disabled when blaming a file.

![image](https://user-images.githubusercontent.com/10978027/30624170-2bba671

[2017-09-20 05:08] eamodio commented on #149
@fgallardograzio While I would **love** to fix this, unfortunately the only way I can provide the blame annotations (via the vscode api) doesn't allow for something like this. Hopefully vscode will ultimately provide a true *gutter* api and the crazy hacks that GitLens has to do could be a thing of the past :)

[2017-09-20 05:08] #149 closed

[2017-09-20 05:44] fgallardograzio commented on #149
@eamodio what about having the extension disable word wrapping automatically when blaming a file?

[2017-09-20 05:48] eamodio commented on #149
Good idea, but I've gone down that path with toggling on/off visible whitespace (used to be required to the annotations to render properly) and it was fraught with issues and caused a noticeable delay in triggering the annotations. Sorry.

[2017-09-20 05:54] eamodio commented on #139
@sschwartz0 the latest [GitLens v5 beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v5.2.0-beta) polishes up this a bit more -- but no auto-refreshing yet

Please follow [these instructions](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Pre-release-Versions) to install a pre-release. Let me know what you think and/or if you experience any issues -- thanks!

[2017-09-20 05:56] eamodio commented on #146
@eMerzh @fgallardograzio the latest [GitLens v5 beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v5.2.0-beta) should fix this as best I can -- the heatmap edge should no longer break, but the right-aligned text could be a little jagged although much better than before.

Please follow [these instructions](https://github.com/eamodio/vscode-gitlens/wiki/Installing-Pre-release-Versions) to

[2017-09-20 06:09] fgallardograzio commented on #146
There's an issue with consecutive whitespace characters (spaces, tabs, etc) in the gutter annotation.

This happens whether the spaces are in the gutter annotation format, e.g:
"gitlens.annotations.file.gutter.format": "${author|10}       ${message|30?} ${ago|14-}"

or if they're from the commit message itself, e.g:

(I've added `&nbsp;`s here so that github's markdown would not get in the way, bu

[2017-09-20 06:11] eamodio commented on #146
@fgallardograzio is that with the latest beta?

[2017-09-20 06:27] fgallardograzio commented on #146
@eamodio Just installed v5.2.0-beta. Heatmap is perfectly straight! Right aligned text in line 5 (which was broken before) is pushed a few pixels to the left as you predicted.

However this behaviour is accentuated in my "commit message with spaces" example.
In the screenshot below you can see the commit command in the console, and the result in the blame annotation.

![image](https://user-images.

[2017-09-20 09:23] borekb commented on #139
Hi, the way I understand the feature request, and what would be very useful to me as well, is a way to compare the current state in my `feature-branch` to the base branch (`master` most commonly). **GitHub's pull requests** / compare view are a great example of this:

![image](https://user-images.githubusercontent.com/101152/30636277-437b6668-9df5-11e7-8b1d-f1eb951b318f.png)

Admittedly, it won't

[2017-09-20 14:12] eamodio commented on #139
@borekb I'm definitely thinking about providing something along those lines. :)

[2017-09-20 14:33] sschwartz0 commented on #139
Thanks @borekb for helping me out here. I've only been working as a dev since March so still working on my technical communication for devtools heh..

@eamodio Again, you're awesome for how hard you work on this. Any beer money donation link?

[2017-09-20 15:26] josephluck opened #150 "Configuration option to show history mode by default in explorer panel"
Feature Request:

Personally, I find the history tab of the explorer view more useful than the repository tab. It would be nice to configure gitlens to either remember that I have selected history on subsequent vscode sessions, or have a setting to show history mode by default instead of repository mode.

[2017-09-21 03:08] shunjinchan commented on #132
I'm having the same issue just after update the lastest xcode.

- MacOS High Sierra (GM)
- Xcode Version 9.0 (9A235)
- VSCode 1.16.1

fix issue
`$ git -v`
`Agreeing to the Xcode/iOS license requires admin privileges, please run “sudo xcodebuild -license” and then retry this command.`
`$ sudo xcodebuild -license`

[2017-09-21 15:44] eamodio commented on #146
Great -- thank you! I'll dig into the space collapsing issue.

[2017-09-21 15:52] eamodio commented on #139
@sschwartz0 thank you for you very kind words. I hadn't really thought about setting up a donation link or anything -- maybe I'll look into that! Thanks again!

[2017-09-22 06:57] BendingBender opened #151 "Avoid ⎇ + Shift + 7 on German keyboard"
- GitLens Version: 5.1.0
- VSCode Version: 1.16.1
- OS Version: OSX 10.12.6

Steps to Reproduce:

1. use shortcut Alt+Shift+7 on German keyboard to enter the backslash char (\\)

When this shortcut is overridden, it's not possible to enter the backslash char on German keyboard (which is used quite frequently in some programming languages).

[2017-09-22 23:15] sschwartz0 commented on #139
So I found an extension that does the base branch comparison so not sure if you want to keep working on this or not. Works well and clicking on a file opens the SCM file view. However it's only got a 1000ish downloads so not sure what the support is like for it. It's nice to see both change histories (latest commit changes from GitLens and full base branch changes from this one.

It's called Git T

[2017-09-23 09:53] christophberger commented on #151
Apple did a terrible job with the German keyboard layout. I have no idea what they smoked back then when they decided to go completely non-standard with the placement of the curly braces, brackets, the pipe symbol, the backslash, the tilde, and the at sign. Even worse, none of these characters except the at sign are even printed onto the keys.

I just stumbled over this Alt-Shift-7 issue today whe

[2017-09-23 19:30] bpartridge commented on #138
Awesome!!

[2017-09-24 03:38] #139 closed

[2017-09-24 03:38] #146 closed

[2017-09-24 03:38] #150 closed

[2017-09-24 06:25] jens1o opened #152 "How far I can go without an internet connection?"
For what functionalities do I need a internet connection?

[2017-09-24 11:57] eMerzh commented on #146
Looks perfect now :)

Thanks for the update

[2017-09-24 14:25] eamodio commented on #152
I would think the only thing you'd need a connection for is the `Open in Remote` commands. But I guess the best way to find out would be to try it 😁

[2017-09-24 15:50] jens1o commented on #152
Maybe you can write it down, because in a few days I need to go offline and I'd like to use your awesome extension as good as possible 😆

[2017-09-24 18:14] borekb commented on #139
@sschwartz0 that's very nice indeed! Thanks for the tip. Feels like a natural fit for GitLens in the future 😉

[2017-09-25 13:51] eamodio commented on #152
Sorry unfortunately if you want that info, you'll have to figure it out for yourself. While I am interested in supporting off-line mode, it isn't close to the top of my list. And remember I work on GitLens completely in my free time (of which I have little, so I end up losing too much sleep) so I have to prioritize what I allocate time to. Sorry.

[2017-09-25 13:52] eamodio commented on #139
@sschwartz0 @borekb
Let's track further conversation/request on this here: https://github.com/eamodio/vscode-gitlens/issues/115

Since GitLens 5.2 I *think* addresses the main concern and the rest imo is about branch comparing

[2017-09-25 14:04] jens1o commented on #152
Okay, I'll try it out and will come back to you. :) Don't worry. :)

[2017-09-25 15:57] eamodio commented on #152
Appreciate it -- and thanks!

[2017-09-25 19:55] sschwartz0 commented on #115
@borekb What are you using as your git diff tool?

[2017-09-25 20:03] eamodio commented on #115
I use [Beyond Compare](http://www.scootersoftware.com/) its not free - but its incredible. Its been my go to tool for comparisons for MANY years

[2017-09-25 20:42] borekb commented on #115
Me too, nothing compares (ehm) to it.

[2017-09-25 20:47] borekb commented on #115
Actually, after many years with TortoiseGit and Beyond Compare, I would say that VSCode + GitLens is now a Git client I used the most frequently. Complex directory compares and directory graphs are still something I do outside of VSCode but those case are becoming rarer. GitLens plays a big part in this transition, 👏.

[2017-09-26 00:36] fgallardograzio opened #153 "New folders treated as files in "Changed Files" section of the sidebar component"
When adding a new folder (with files inside it) to a git project, the "Changed Files" node in the "Repository Status" section of the "GitLens" side bar component only shows the folder itself, not the files it contains. GitLens tries to diff the directory as if it was a file, when the item is clicked, and fails.

- GitLens Version: 5.2.0
- VSCode Version: 1.16.1
- OS Version: Linux Mint 18

Steps t

[2017-09-27 02:16] #153 closed

[2017-09-27 12:16] eamodio commented on #139
@sschwartz0 Since you asked about donation, etc -- one thing that is always very helpful to extensions you love is reviews on the marketplace. So if you haven't left one yet, I'd encourage you to do so ;) Thanks in advance.

[2017-09-29 07:52] borekb opened #155 "Navigating file diffs with `alt+,` gets stuck"
- GitLens Version: 5.3.0
- VSCode Version: 1.16.1
- OS Version: Windows 10

From README:

This does work for me for about 2-3 revisions into the past, then `alt+,` is stuck on the same comparison again and again. There was no rename of the file or anything.

If I use File History menu and jump to some old one, `alt+.` navigation works correctly, it seems to be stuck on the most recent ones only wh

[2017-09-30 03:58] WadeShuler commented on #54
Sorry if this is found somewhere else. I have looked, and haven't came across it yet. This is as close as I have found to what I was looking for (the git related messages injecting themselves into my files).

While I understand the reasoning and how they can be useful, I personally want them off. Just leave me to my normal, un-injected/hijacked, code. If I need the features, I will toggle them on

[2017-09-30 14:31] eamodio commented on #155
Do you have a public repo & file that you see this behavior on? So far, I haven't been able to reproduce it. If you don't have any place public that demonstrates the issue can you turn on logging and reproduce the issue and post the logs?

Thanks!

[2017-09-30 14:41] eamodio commented on #134
@MonsieurMan sorry for the delay on this. This is expected behavior depending on how `gitlens.codeLens.locations` and/or `gitlens.codeLens.customLocationSymbols` is set. If you include `blocks` in `gitlens.codeLens.locations` or `property` in `gitlens.codeLens.customLocationSymbols`, then these code lens will show, because the Typescript language server (correctly) reports those line as properties

[2017-09-30 14:41] #134 closed

[2017-09-30 14:42] #148 closed

[2017-09-30 18:55] ffxsam opened #156 "Too many settings / confusing names"
I may be alone in this, but I find that there are too many settings with not very clear names, so it's extremely difficult to figure out how to disable/enable certain features.

For instance, I for the life of me cannot figure out how to disable the git blame annotations that appear throughout a file (without any hovering). E.g. "Your name, 5 days ago"

[2017-09-30 19:00] #156 closed

[2017-09-30 21:24] jez9999 opened #157 "Add "View file at this commit""
When I'm view a file's blame annotations, I sometimes want to trace back the history of a particular line.  So I can "compare line revision with previous", but that only tells me the last change on the line.  What would be nicer is if I could view the file at that commit revision, then use the regular functionality on *that revision* of the file.  So I could view blame annotations for that file's

[2017-09-30 21:29] jez9999 commented on #157
There should also be a "View file at parent commit" option actually, as to trace back the history of a line you want to be able to open the file at the commit just before it was changed, and then view blame annotations for that version.

[2017-10-01 17:02] borekb commented on #155
I can reproduce on [this `README.md`](https://github.com/versionpress/versionpress/blob/master/README.md). I am pressing `Alt+,`, in the GIF below, then `Alt+.` a couple of times.

![gitlens-back-bug](https://user-images.githubusercontent.com/101152/31056935-a0290d5a-a6da-11e7-8c22-96ee69880a8b.gif)

Here are the logs:

[code]

[2017-10-02 16:49] wesbaker commented on #148
This is perfect, thanks for your work on it!

[2017-10-02 17:53] eamodio commented on #148
@wesbaker awesome -- let me know if you run into any challenges/issues

[2017-10-03 04:28] eamodio commented on #155
@borekb thanks for the gif -- so the issue basically comes down to you needing to focus the left side of the diff when walking back with `alt+,` -- because it opens a diff with the previous of the selected revision -- and the right side ends up re-opening the diff that is already opened.

Unfortunately there isn't a way for me to get vscode to focus the left side (see https://github.com/Microsoft/

[2017-10-03 04:36] eamodio commented on #157
@jez9999 If you use the `Compare Line Revision with Previous` command, the diff presented is the differences in the whole file for that commit. And you can keep walking back from the left-side of the diff further into the history -- and blame annotations are available inside each diff pane.

Are you asking for something else?

[2017-10-03 06:05] borekb commented on #155
Ah I see! Do you have access to the tab label? Maybe the previous to previous revision could be inferred from that. For example, if the label is _README.md (0a74cd8) <-> README.md (c1bea421)_, `alt+,` would navigate to the revision before `0a74cd8`.

If this isn't a reasonable workaround, maybe a note about the manual focus to the left pane could be added to the README.

[2017-10-03 10:16] jez9999 commented on #157
How do you "keep walking back from the left-wide of the diff further into the history"?

[2017-10-03 11:05] borekb commented on #66
Hi, I just found out about the Blame History Explorer, not really sure how to use them but is their goal similar to [GitHub's previous blame feature](https://github.com/blog/2304-navigate-file-history-faster-with-improved-blame-view)? Something like that would be super-useful in GitLens as the most recent blame might be something trivial like "code formatting" and an easy way to navigate to previo

[2017-10-04 13:04] jens1o opened #159 "Add setting to show gitlens window only, when there is a repository"
- GitLens Version: 5.4.1
- VSCode Version: 1.17 insider
- OS Version: Win 10

That would avoid auto extending and wasting the space on the sidebar.

[2017-10-04 20:44] eamodio commented on #66
@borekb sadly no, they were a VERY early feature that hacked into the peek UI too attempt to make the history visible. It was before I started using quickpicks and before custom views existed. And there is just no reason for them to exist anymore (their cost in the code is also harmful to future features). But you will be happy to know, that I have something in the works that is somewhat similar t

[2017-10-06 03:09] FelixButzbach opened #160 "'ext install gitlens' doesn't find any extension"
Not sure if this is the right place, but on the [marketplace page](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens) it is written to do:
`ext install gitlens`
to install the extension, but this won't find any extension.

I think it should be
`ext install git lens`
(space between git and lens)

I am using vscode 1.16.0 on ubuntu 16.04.

[2017-10-06 10:00] Giusti commented on #51
I just started with visual studio code, and tried gitlens, I am getting the Error that it cant find my git installation so as suggested I wanted to change the gitlens.advanced.git. But nowhere is actually explained where you enter those commands because they didnt work in cmd + shift + p, or in the terminal so I am kinda confused. When I open cmd + shift + p and enter gitlens I get some commands l

[2017-10-06 15:21] Naereen opened #161 "Force to remove colors from output of git command calls"
Hi. First, :clap: for your project!

If the `~/.gitconfig` file (or a local git config) sets `[color]  ui=always`, then ugly ANSI colors codes are displayed in gitlens output. For instance:
![ugly ansi color codes gitlens](https://user-images.githubusercontent.com/11994719/31284898-3714f02a-aaba-11e7-9ea0-a001f8a0575c.png)

I see many different configuration option for `gitlens`, and the only one

[2017-10-06 16:18] eamodio commented on #161
Thanks -- I will look into adding that in an upcoming release

[2017-10-06 16:22] Naereen commented on #161
Great, thanks for your fast reply!
Let me know if you need a beta tester :smile:

[2017-10-08 15:03] 0m4r opened #162 "git required version is 2.20 but latest official is 2.14"
- GitLens Version:
5.4.1

- VSCode Version:
Version 1.17.0
Commit be377c0faf7574a59f84940f593a6849f12e4de7
Date 2017-10-04T23:33:52.565Z
Shell 1.7.7
Renderer 58.0.3029.110
Node 7.9.0
Architecture ia32

- OS Version:
Debian Jessie with Xfce (running on a Chromebook)

Steps to Reproduce:

1. start visual studio code
2. install git lens
2. error message appears saying "GitLens requires a newer versio

[2017-10-08 21:59] eamodio commented on #162
@0m4r I think there is some confusion with similar version numbers -- GitLens requires 2.**2** or later, while it looks like you have 2.**1**.4 installed, while the latest version of Git as you noted is 2.**14**.2. So if you upgrade to a later version of Git you should be just fine

[2017-10-09 04:04] #66 closed

[2017-10-09 04:04] #161 closed

[2017-10-09 06:40] borekb commented on #66
The new _Blame Previous Revision_ in 5.5.0 is fantastic, thank you!

[2017-10-09 07:04] Naereen commented on #161
It seems fixed, I will try to update the VSCode extension (when it is updated) and let you know if the bug is fixed. Thanks :clap:!

[2017-10-09 07:18] 0m4r commented on #162
@eamodio you are correct. I did manage to update to 2.14 and now the gitlens error message is gone. Sorry for the confusion!

[2017-10-09 07:19] #162 closed

[2017-10-09 08:24] Naereen commented on #161
Perfect!
![fixed ansi color codes gitlens](https://user-images.githubusercontent.com/11994719/31329802-0d01b3b2-acdc-11e7-8f48-29482664d10c.png)

[2017-10-09 16:04] joelhock opened #163 ".git/index.lock can be held when vscode is in background because of GitLens calls to `git status`"
- gitlens|eam|5.5.0
- VSCode Version: Code 1.17.0 (be377c0faf7574a59f84940f593a6849f12e4de7, 2017-10-05T06:07:51.906Z)
- OS Version: Darwin x64 16.7.0

Steps to Reproduce:

1. switch from vscode to terminal (so that vscode is in the background)
2. touch file (or do something that touches files, like a `git pull --rebase`)
3. see that `getStatusForRepo('/my/path/to/repo')` is called in GitLens outp

[2017-10-09 16:15] joelhock commented on #163
and now that I look at things a bit more, I see that GitLens will call `getStatusForRepo` in response to the git cache changing, so `gitlens.gitExplorer.includeWorkingTree": false` is not a complete workaround.  the filesystem watch that it controls made the problem worse, so setting it to false can still help mitigate the issue.

[2017-10-10 02:36] eamodio commented on #51
@Giusti sorry for the delayed response, I didn't notice the update to this issue (FYI in the future its best to open a new issue unless there is a true duplicate)

the `gitlens.advanced.git` is a setting that goes into you vscode settings file: See here: https://code.visualstudio.com/docs/getstarted/settings

So you would add a line that looks something like `"gitlens.advanced.git": "<put-your-ful

[2017-10-10 06:48] chabou commented on #151
This is the same with a french keyboard. To enter a backslash, you need to hit `alt+shift+:` because / is placed on `shift+:`.
But `showCommitSearch` (that have `alt+/`) is triggered.