[2018-09-28 03:14] eamodio commented on #515
Why do you want that removed? It avoid any possible ambiguity that might come from the specific usage.

[2018-09-28 03:35] eamodio commented on #514
How are you disabling the code lens?

[2018-09-28 03:38] eamodio commented on #513
I can't reproduce this issue -- although it is likely to do with a clipboard dependency and your version of Linux. Can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your settings.json. Then reproduce the issue and post the output from the `GitLens` channel in the Output pane?

[2018-09-28 03:42] eamodio commented on #509
I'm pretty sure this is related to https://github.com/eamodio/vscode-gitlens/issues/439.
Can you try to repeat your test after setting `"gitlens.codeLens.enabled": false` in your config? That will confirm my suspicions.

[2018-09-28 03:57] eamodio commented on #511
I would recommend opening an issue with the python extension (or vscode itself) as GitLens uses standard vscode api's to toggle on and off its code lens which unless there is a bug with vscode or the python extensions should not cause any issues.

I know there are outstanding issues with the python extension and interactions with GitLens -- see https://github.com/eamodio/vscode-gitlens/issues/439.

[2018-09-28 03:57] #511 closed

[2018-09-28 03:58] #506 closed

[2018-09-28 03:58] #505 closed

[2018-09-28 03:59] eamodio commented on #512
What does your remote url look like?

[2018-09-28 07:18] ypapouin commented on #514
I first tried to set

    "gitlens.codeLens.authors.enabled": false,

But the author line was still displayed.
So I had to set this line instead:

    "gitlens.codeLens.enabled": false,

[2018-09-28 15:04] jmb-mage commented on #515
I'm not the greatest expert in git but when I am using GitLens commands via Terminal in VS Code I get two different things.
[code]
versus the same command without "origin/"
[code]

That what happens if the branch 1.8/dev exists.  If it's a new branch, then VS Code thinks the branch name is a GUID unless I take the "origin/" out of the git commands.

[2018-09-28 15:41] eamodio commented on #515
Right -- damn, sorry about that. Will get that fixed up!

[2018-09-28 15:45] eamodio commented on #514
Ah, yeah, there are 2 code lenses that GitLens adds, a "recent changes" one (the `You, 2 days ago`), and an authors one that only shows if there is more than 1 author for that block. The first is controlled by `gitlens.codeLens.recentChange.enabled` and the latter `gitlens.codeLens.authors.enabled`. And both of them can be turned off completely by using `gitlens.codeLens.enabled`.

You can also us

[2018-09-28 15:45] #514 closed

[2018-09-28 21:42] narad-git commented on #513
The problem was that xsel was not installed.
Please note that the error message that popped up after enabling debug provided installation instructions for debian-based distributions (apt install), which could mislead some users.
After installing xsel and restarting vscode, I am able to copy commit descriptions.
Thank you!

[2018-09-28 21:48] eamodio commented on #513
@narad-git the error message didn't show up until you set the `outputLevel`? If so that is a bug :)

Also what part is misleading?

[2018-09-29 03:28] eamodio commented on #513
Hrm, I looked into it and I can't see how setting `outputLevel` would have any effect on that error message appearing or not. Is it possible that you just missed the message before?

As for the message I will change the text to "Please install it via your package manager, e.g. `sudo apt install xsel`"

The output logging logs in UTC

[2018-09-30 04:42] eamodio commented on #500
I am closing this issue because it needs more information and has not had recent activity.  Please re-open this issue when more details can be provided.

Thanks!

[2018-09-30 04:42] #500 closed

[2018-09-30 04:44] eamodio commented on #495
Duplicate of #443

[2018-09-30 04:44] #495 closed

[2018-09-30 04:47] eamodio commented on #481
@rokoroku Can you try setting the `GIT_DISCOVERY_ACROSS_FILESYSTEM` to `1` and see if it helps this issue?

[2018-09-30 04:50] eamodio commented on #383
Depends on https://github.com/Microsoft/vscode/issues/55879

[2018-09-30 04:52] eamodio commented on #275
Depends on https://github.com/Microsoft/vscode/issues/55879

[2018-09-30 08:12] catexis opened #516 "Extension disappeared"
- GitLens Version: 8.5.6
- VSCode Version: 1.27.2
- OS Version: Linux Mint 19 Cinnamon 3.8.9 (core 4.15.0.34-generic)

After new reload of OS extension GitLens disappeared ([screenshot](https://i.stack.imgur.com/a9fVQ.png))
I can't see any information in my source code, that provide this extension. Reinstallation this extension or vs code didn't apply any effect.

[2018-09-30 18:38] DJMcNab commented on #371
Microsoft/vscode#34968 has landed, but it doesn't seem to give what we would need (unless I'm misunderstanding something).

I came to this issue because of a similar issue with @matklad's [rust-analyzer](https://github.com/matklad/rust-analyzer), where there is recent changes for every simple `mod` statement, which doesn't seem right:

![image](https://user-images.githubusercontent.com/36049421/46

[2018-09-30 19:06] narad-git commented on #513
Yes, it is possible I missed it. Thanks.

[2018-09-30 19:43] #513 closed

[2018-09-30 20:31] eamodio commented on #371
Microsoft/vscode#34968 didn't expose any more information to GitLens, but https://github.com/Microsoft/vscode/issues/57984 fixed that (which will be released when the vscode 1.28 ships).

I have also made some changes in the next release of GitLens, to stop adding the authorship codelens unless the symbol is more than 1 line -- which should help with this issue as well.

[2018-09-30 20:47] DJMcNab commented on #371
Yeah - that change to stop one line recent changes is a good thing - that looks like it should fix it. Sorry to have bothered you!

[2018-09-30 20:52] eamodio commented on #371
No bother at all -- your post prompted me to add the single line change! 😄

[2018-10-01 19:35] eamodio commented on #509
Can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please attempt to reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2018-10-02 02:33] Xekyo commented on #509
This is just from running it about one minute, while trying to add a new line. It stutters and letters only appear delayed. In the log, I've replaced the project path and file path with placeholders, but I hope that works for you. Lemme know if you need more data or if I should be doing something differently. Thank you for looking into this.

[2018-10-02 03:02] asvetliakov commented on #481
Same here. Using wslgit and repo was initialized in WSL. ```GIT_DISCOVERY_ACROSS_FILESYSTEM``` didn't help

[2018-10-02 03:17] eamodio commented on #481
I don't currently have a WSL environment setup, so if anyone out there could help out to figure out what is wrong I would be very appreciative 😄

[2018-10-02 03:19] eamodio commented on #509
How big is the file you are editing? Is the slowness only with that (or other large files)? Do you see the same behavior with small files?

[2018-10-02 18:41] sethetter commented on #512
I'm also having this issue, however we do have an `https` url for the remote. It looks like `https://our.gh.enterprise.url.here/org/repo`, as you would expect.

When using "Open In Remote" I'm then presented with an input with the placeholder text `Open {filename} in...`. If I try to type anything here and hit enter, or any other combination, nothing happens.

[2018-10-02 18:59] Xekyo commented on #509
The file is about 4000 LOC. The effect is indeed a lot less pronounced on a smaller file.

[2018-10-02 19:05] sethetter commented on #512
That quick pick list is empty, and looking at the code it seems it should be providing me with a list of remote to choose from, must be a problem with getting the remote list.

[2018-10-02 19:58] sethetter commented on #512
Solved it -- I did not have the remote configured in `gitlens.remotes`.

[code]

[Found the docs](https://github.com/eamodio/vscode-gitlens#custom-remotes-settings)!

[2018-10-02 20:29] eamodio commented on #512
Hehe -- we could work on a PR that adds support for unknown remotes and allows configuring it to be added into the `gitlens.remotes`  😄

FYI, if you are interested in a PR please make sure to target the `develop` branch as that will be the next version of GitLens.

[2018-10-02 20:31] eamodio commented on #509
Do you have `"files.autoSave": "afterDelay"` and `files.autoSaveDelay` set to a short interval?

[2018-10-03 00:12] asvetliakov commented on #481
Investigated, there are 2 problems:
1) WSLGit doesn't translate unix repository path to win path for ```rev-parse``` command (due to ```-c``` args) and GitLens is trying to cwd unix path. Fill https://github.com/andy-5/wslgit/pull/48 to fix it

2) WSLGit doesn't properly escape ```--format``` arg in ```log``` and ```stash``` commands due to spaces in the argument. This is not GitLens problem, but

[2018-10-03 08:47] wirowka commented on #516
Same here, Windows 10 version 1709
VSCode Version: 1.27.2
GitLens Version: 8.5.6

[2018-10-03 19:16] Xekyo commented on #509
My Auto Save is off. But, how would saving my file change the blame? Wouldn't that only be impacted by a git operation such as commit, pull or rebase? So, why would blame rerun on saving?
Ah, maybe because the lines shifted?

[2018-10-03 19:38] Xekyo commented on #509
I'm very sorry.

I was trying to reproduce the issue with GitLens 9.0.0-alpha and went about deactivating various plugins (again). It seems that I may have misattributed the slowdown. The slowdown problem gets also significantly better when I deactivate the CodeMetrics plugin. I think it may be the combination of the two running at similar times, or just the CodeMetrics plugin that is causing the

[2018-10-03 20:36] eamodio commented on #509
Yeah, I try to recalculate the blame with the edits so that all the blame information is correct.

No problem at all -- glad you've found a possible explanation for it. Please report back after you've been using it for a while -- I'm very curious as to what the performance issue is (other than just competing calculations)

[2018-10-04 07:07] Waltari10 commented on #319
I've just now been having similar issues with GitLens. Disabling GitLens makes the actions show up again. I have GitLens version 8.5.6 and Visual Code 1.27.2.

Not sure how to reproduce. Seems to pop up every now and then.

[2018-10-05 08:34] eamodio commented on #281
I'd be thrilled to review/accept a PR for something like this 😄

[2018-10-05 09:47] ihtiuh commented on #516
Same here, but this only happened for one of my git repository, I test with a new git repository and it worked fine though:

OS Version: openSUSE Leap 42.3
VSCode Version: 1.27.2
GitLens Version: 8.5

@eyalcohen4 May be you can update the `settings.json` with `"gitlens.outputLevel": "verbose"` and reload the workspace and check the Output window of GitLens.

For me it gets stuck at "Repository fou

[2018-10-08 02:59] i-shubhamprakash opened #518 "Bug: Right click don't work properly in VS Code when gitlens is enabled"
- GitLens Version:8.5.6

- VSCode Version: 1.27.2
- OS Version: Linux mint 19

# Bug description:
1. When I right click on the editor (not on the code), it opens Branch History menu.
2. When I right click on any code, it opens git diff view.
3. when I select text and then right click, it opens function definition view.
4. Sometimes it shows random behavior on right-clicking anywhere in the editor.

[2018-10-08 03:08] eamodio commented on #518
Unfortunately I can't see how this could possibly happen outside of a corrupted vscode install or bugs within vscode itself. Vscode provides extensions a very limited api to work with, and GitLens cannot control when menus are shown or not -- all I can do is tell vscode (statically in my package.json) that GitLens wants a set of menu items added to a set of named menus and a condition for when.

A

[2018-10-08 03:09] eamodio commented on #516
Can all of you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please attempt to reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2018-10-08 03:17] i-shubhamprakash commented on #518
Currently, I am not running any other extensions or things that modify the base vscode install.
I am not facing the above issue after I uninstalled GitLens extension.
Let me install it again and tell you if the problem returned.

Thanks.

[2018-10-08 03:35] i-shubhamprakash commented on #518
As suggested by you, I tried setting "window.titleBarStyle": "native" and found the issue no longer persist.
the editor is functioning normally without any problem.

[2018-10-08 03:36] i-shubhamprakash commented on #518
Probably the problem is with VS code custom title bar. But why did the problem occurred only when gitlens was installed? Is it related to this extension also?

[2018-10-08 03:43] eamodio commented on #518
Hrm, definitely a vscode bug -- something that GitLens must expose (though I fail to understand how). I would recommend opening an issue with the vscode repo and reference this issue. Hopefully they can get to the bottom of the issue.

[2018-10-08 03:47] i-shubhamprakash commented on #518
Alright, I'm opening this issue in the vscode repo referencing this issue.
Thanks for the help.

[2018-10-08 08:42] ihtiuh commented on #516
With `"gitlens.outputLevel": "debug"`, for me the output is the same with as in the above comment.

[2018-10-08 10:36] Wattabak commented on #60
Same here, Python test lens buttons don't show up while using GitLens

![ca8a7e2d579c7a2eccdadf65852228e4](https://user-images.githubusercontent.com/18378763/46604426-e3f83a80-cafe-11e8-9266-049c58795f63.png)
[![Image from Gyazo](https://i.gyazo.com/7a7a6d39cb32226f8314e412e22af93e.png)](https://gyazo.com/7a7a6d39cb32226f8314e412e22af93e)

Environment:

- Win 10
- VSCode 1.27.2
- GitLens 8.5.6
- P

[2018-10-08 17:34] eamodio commented on #60
@GasparCheng so with everything the same, if you uninstall GitLens 8.5.6 and install 8.5.4 everything works, and then switching to 8.5.6 breaks things?

[2018-10-08 20:11] i-shubhamprakash commented on #518
@eamodio The above issue was due to this https://github.com/Microsoft/vscode/issues/57399
It is now fixed in the latest build of VS code i.e.  v1.28
Thanks :)

[2018-10-08 20:12] #518 closed

[2018-10-09 08:41] catexis commented on #516
In my output console same information. And one more thing: i get this problem in different computers.
[code]

[2018-10-09 13:08] alesmenzelsocialbakers opened #520 "(False Positive) Extension reported as Trojan by ESET"
Output from ESET Endpoint Security:

[code]

- GitLens Version: 8.5.6

- VSCode Version: 1.27.2
- OS Version: Windows 10

Steps to Reproduce:
I had GitLens installed for quite some time now, this appeared while working in vscode.

[2018-10-09 15:09] hesperanca commented on #520
Yep same here with exactly the same file. ESET just deleted the file and GitLens stopped working :(

- VS Code version: 1.28.0
- GitLens version 8.5.6
- OS: windows 10

[2018-10-09 15:37] troy-johnson commented on #520
Same thing here.

GitLens: 8.5.6
VS Code: 1.28.0
OS: macOS Sierra 10.12.6

[2018-10-09 17:12] vadviktor commented on #520
Interestingly enough, I have downloaded, extracted the vsix file from the release page, scanned it with Eset manually and found nothing. When installing it as a plugin from the marketplace, it is infected.

Could it be that the marketplace file is hijacked and infected?

[2018-10-09 17:14] vadviktor commented on #516
Is this related to #520 by any chance?

[2018-10-10 01:55] mitch308 opened #521 "activationTimes"
- Extension Name: gitlens
- Extension Version: 8.5.6
- OS Version: Windows_NT x64 6.1.7601
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:
[code]

[2018-10-10 04:39] kevinmarty commented on #520
I had the same problem. Scanning the extension.js file with VirusTotal shows that ESET is the only program flagging it as malicious. False positive?

https://www.virustotal.com/#/file/a81e9e9ee185c98648db5701a72f0cb9ae9fd4fd2a58a5d6a517d6e4345440e7/detection

[2018-10-10 05:31] catexis commented on #516
There is no antivirus on my linux systems. But the symptoms are similar.

[2018-10-10 06:45] Wattabak commented on #60
I have been having the same issue as @GasparCheng, python test lens does not work with git lens installed, I tried switching to 8.5.4 version of git lens, didnt work either. I commented two days ago about having this problem but figured it was a problem with vscode rather than git lens and deleted it.

My environment:

- VSCode 1.28
- GitLens 8.5.6
- Pytest 3.5.1
- Python extension 2018.9.0

[2018-10-10 07:27] AshwinKheta opened #522 "longer activationTimes"
- Extension Name: gitlens
- Extension Version: 8.5.6
- OS Version: Windows_NT x64 10.0.17134
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:
[code]

[2018-10-10 08:47] vadviktor commented on #516
@catexis, of course there is, https://www.clamav.net/ to name one. 😈

I saw you are using LM, but wanted to remind this thread to rule out the AV vector.

[2018-10-10 12:47] develbro commented on #60
Same issue with latest VS Code and GitLens 8.5.4 and 8.5.6

[2018-10-10 12:50] develbro commented on #60
Got solution with disables Gitlens › Code Lens › Authors: Enabled and Gitlens › Code Lens › Recent Change: Enabled settings

[2018-10-11 10:36] fbehrens opened #523 "File History doesn't show all commits on file"
Hi, thanks for the amazing extension. I am using it in the following environment:

- GitLens Version: 8.5.6
- VSCode Version: latest stable
- OS Version: Windows 10

here is my File History Explorer on my `gitlab-ci.yml` file
![image](https://user-images.githubusercontent.com/13704/46798077-2dd85f00-cd51-11e8-933e-6eb7fbf0f5e5.png)

There are changes in the file (coming in from a merge request), w

[2018-10-11 12:32] rflmyk commented on #318
Like @SiTaggart told us, just:
- uninstall extension,
- remove folder on `.vscode/extensions/`,
- install again;

Now work very well, tnks

[2018-10-11 16:05] eamodio commented on #523
Can you try turning off follow renames (from the ... menu on the explorer) and see if that helps?

[2018-10-11 16:15] eamodio commented on #516
@catexis interesting -- thanks for the extra info -- this gives me much more to go on.

[2018-10-11 18:15] Tonylic opened #524 "Codelens Not Showing Author Information for Block Code"
- Extension Name: gitlens
- Extension Version: 8.5.6
- OS Version: MacOS X High Sierra 10.13.6
- VSCode version: 1.28.0

After upgrading to High Sierra, Gitlens stops showing author information for block function code, even if I added `blocks` into `gitlens.codeLens.scopes`. Document and container part look good still.

[2018-10-12 05:08] Perdek commented on #524
Same problem
Extension Version: 8.5.6
OS Version: Windows 10 1809
VSCode version: 1.28.1

[2018-10-12 05:11] SerhiiBilyk opened #525 "GitLens stop working"
I have update VS Code to 1.27.2 and  GitLens stop to work.
WIndows 10 x64,
Node:8.9.3

[2018-10-12 06:36] amarinov commented on #525
Same with VS Code 1.28.1 on MacOS X

[2018-10-12 11:53] PerfectionCSGO commented on #525
GitLens isn't working on 1.28.1 x64 Windows 10

[2018-10-12 17:41] eamodio commented on #525
Can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2018-10-12 17:42] eamodio commented on #524
Can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2018-10-12 17:43] eamodio commented on #520
I'm not sure what to say on this one -- I've scanned the files and everything comes up clean, and Microsoft scans the extensions as they are published to the marketplace. This must be a false positive. I also can't seem to find a way to report it to ESET as a false positive. Anyone know how?

[2018-10-12 17:45] eamodio commented on #520
Also from the virustotal scan, it seems that ESET is now reporting it clean. Does anyone still see this issue after ensuring ESET is up to date?

[2018-10-12 18:32] ekrapfl commented on #525
Turning that on does not result in any ouptut.  In fact, I can even try running the command to show the welcome page, and I still get no output.  Just the following error message on screen:
![image](https://user-images.githubusercontent.com/5939413/46887436-37ca9280-ce23-11e8-9e1d-d953ae0f72c0.png)

[2018-10-12 18:48] eamodio commented on #525
Hrm, can you try uninstalling GitLens, restarting vscode twice (make sure there are no running instances), and then reinstall GitLens?

If that still doesn't help, can you look in your extensions folder (`~/.vscode/extensions`) and see if there is more than 1 GitLens folder?

[2018-10-12 19:06] marquezw commented on #525
Hi. I just followed your latest instructions and it's still not working.
And in ~/.vscode/extensions I have only one folder of it. eamodio.gitlens-8.5.6.

[2018-10-12 19:19] marquezw commented on #525
Ok, I fixed the issue by reinstalling the **Command Line Tools**.

xcode-select --install

This is on Mac with macOS Mojave.

[2018-10-12 20:03] eamodio commented on #525
@marquezw before you installed the tools, when GitLens was failing -- was there any output in the GitLens output channel? I really don't see how GitLens could be failing without logging something.

[2018-10-12 22:33] gitsoft commented on #516
Windows 10 Pro, version 1803
VSCode Version: 1.28.1
GitLens Version: 8.5.6

[2018-10-13 01:45] eamodio commented on #520
Closing this as it is a false positive

[2018-10-13 01:45] #520 closed

[2018-10-13 07:34] eamodio commented on #516
@catexis when you repro the error -- if you turn on logging -- do you get any output in the GitLens output channel?

[2018-10-13 08:29] luguoshaonian commented on #525
@eamodio working well as you told

[2018-10-13 09:54] fbehrens commented on #523
Switching off `follow renames` doesn't change the effect.

For your answer I assume this is a bug.

In the commits no file-renaming was involved. Instead they contain some unresolved merge conflict markers someone accidentally checked in. The VSCODE diff window doesn't render my correcting commit (bb0..) correctly. This may be the reason for this bug, and I am fine to leave it like this.

However,

[2018-10-13 13:15] eamodio commented on #523
Is the repo public where you can reproduce this?

[2018-10-13 15:13] jd-naranjo commented on #60
I am having the same issue, with the latest updates of Visual Studio Code, Pytest and GitLens. The only way for me to get the python unittest lens to work again is to deactivate GitLens as @develbro mentioned.

Recently pytest and vs-code were fixing the python unittest lens, probably their solution didn't take into account working with GitLens.
https://github.com/Microsoft/vscode-python/issues/23

[2018-10-14 01:45] diablodale opened #526 "FAILED in gitlens.outputLevel=verbose; likely due to regex not in quotes"
FAILED errors are appearing in the GitLens logs. Perhaps these are harmless, though I've isolated the issues and perhaps it can be fixed.

At some part of the GitLens startup on a repo, it is doing several activities which include getting the user.name and user.email. However, the regex that is given is not within quotes or shell escaped. Therefore, it fails due to special characters like the foll

[2018-10-14 21:27] fbehrens commented on #523
its on private gitlab, I can give you access if you are interested, on your email ?

[2018-10-15 05:17] SerhiiBilyk commented on #525
I have uninstalled GitLens and after two reloads its began to work

[2018-10-15 13:28] AhmedBHameed commented on #319
Hey guys, So after long searching with trying i may discovered the reason of disabled options for the merge conflict sections. In my case was solved by removing this line in `settings.json` file which is located in
`~/.config/code/User` note that my OS is Linux Ubuntu.

`"editor.codeLens": false`

Hope that will resolve your issue also.
Thank you.

[2018-10-16 04:07] nealot opened #527 "GitLens icon flashes on startup"
Gitlens version: 8.5.6
Vscode version: 1.29.0-insider

I've noticed that when I open a git folder, gitlens disappears for a moment before reappearing. This is the only activity bar icon that does this, so I'm wondering if it might be a bug. It seems similar to https://github.com/eamodio/vscode-gitlens/issues/447, but that was supposedly fixed? The icon reappears exactly when the SCM badge is displ

[2018-10-16 15:10] GargIT opened #528 "Remotes not showing, being filtred on domain and file, but not complete path"
- GitLens Version: 8.5

- VSCode Version: 1.28.1
- OS Version: Debian 9

Steps to Reproduce:

Have this in the gitconfig

ssh://bahamas2.millnet.site:~dajo/milltime.git
ssh://bahamas2.millnet.site:~dean/milltime.git
ssh://bahamas2.millnet.site:~erma/milltime.git
ssh://bahamas2.millnet.site:~heth/milltime.git
ssh://bahamas2.millnet.site:~maho/milltime.git

And they all being treated as one remote

[2018-10-16 16:39] ItzhakS commented on #477
@eamodio I had a similar issue. Gitlens was  not found, the pre-release worked.

[2018-10-16 20:38] matheusssilva opened #529 "GitLens code shortcut conflicting with python unittest code shortcut."
- GitLens Version: 8.5.6
- VSCode Version: 1.28.1
- OS Version: Linux Mint 19

Steps to Reproduce:

1. Configure [python unittest](https://code.visualstudio.com/docs/python/unit-testing)
2. Create a python teste case.
3. Install and configure GitLens

The GitLens shortcut overlaps on the python unittest shortcut. In order for the python unittest shortcut to reappear, just disable gitlens.

With Gi

[2018-10-17 07:46] GargIT commented on #528
my bad, replaced ~ with /home/ and now it works :-)

[2018-10-17 10:10] jozefizso commented on #525
Gitlens stopped working for me. I'm currently running VS Code 1.28.1 (user setup) on Windows 10 x64.

I tried to uninstall Gitlens, restart VS Code and install it again. It did not help.

When I uninstalled Gitlens, closed VS Code and removed the `.vscode\extensions\eamodio.gitlens-8.5.6` folder, I was able to install Gitlens again.

I compared contents of the old and new folders and only differen

[2018-10-17 13:59] zfeher commented on #525
I had the same problem on Windows 10,  VSCode 1.28.1. Tried to uninstall/reinstall many times didn't help. Then after an uninstall I removed the Gitlens related folders from `.vscode/extensions` then installed Gitlens and it started to work again \o/

[2018-10-17 16:28] eamodio commented on #528
I would still say this is an issue. I should support `~` in the remote

[2018-10-17 17:12] zfeher commented on #525
Now that you mentioned AVs, Eset complained about something and maybe quarantined it as well recently I think that was the `extension.js` file yes.

[2018-10-17 19:13] SerhiiBilyk commented on #525
@eamodio restarting twice help me

[2018-10-17 20:53] lorensr opened #530 "How to remove top-right icons"
I read the extensions Details page, but didn't see anything about how to remove these icons at the top-right of the screen?

![image](https://user-images.githubusercontent.com/251288/47115567-f70cb800-d22c-11e8-8003-8c9eb5522ea9.png)

[2018-10-17 20:58] lorensr commented on #530
Update: first icon is from Git History, removed by `"gitHistory.showEditorTitleMenuBarIcons": false,`

Second and last are not from this extension, but these two appear to be:

![image](https://user-images.githubusercontent.com/251288/47115831-c37e5d80-d22d-11e8-8413-f0a66da82224.png)

[2018-10-17 21:10] eamodio commented on #530
You can customize them using the `gitlens.menus` setting -- or you can also use the GitLens interactive settings editor from the command palette run `GitLens: Open Settings`. See the **Menus & Toolbars** section of the **General** group

Hope that helps!

[2018-10-17 21:21] lorensr commented on #530
Thanks, it was the second-to-last item, and required a `Reload Window` to take effect:

![image](https://user-images.githubusercontent.com/251288/47116957-14438580-d231-11e8-98dd-39653a2cb215.png)

[2018-10-17 21:21] #530 closed

[2018-10-18 08:35] bendtherules opened #531 "How to stage files interactively?"
How do I do the equivalent of `git add -i` inside vscode using gitlens?

I would like to commit parts of a file by choosing the specific lines/hunk in the editor. But couldn't find something like this in gitlens.

If not possible currently, please consider this a feature request.

[2018-10-18 09:37] gitsoft commented on #516
I can confirm that the solution suggested by @michaelgeorgeattard works on windows.
As described above, you must manually delete %userprofile%\.vscode\extensions\eamodio.gitlens-8.5.6 for the reinstall to make gitlens visible again.

[2018-10-18 10:28] ppatalong commented on #525
had the same issue on windows 10. Reinstall extension helped.

[2018-10-18 12:29] PerfectionCSGO commented on #525
I repeatedly disabled, enabled, uninstalled, installed and checked ESET for any intervention but to no avail. Gitlens is not working in VS Code in 1.28

[2018-10-18 12:55] BrendanBeltzNIH commented on #525
Myself, and my colleague both lost gitlens a week ago. Manually deleting the folder after uninstall and then reinstalling seems to have worked for us as well.

[2018-10-18 14:39] thanhduy2b commented on #525
I had same problem in Windows 10 with VS Code 1.28.2. Tried uninstall/reinstall many times in only VS Code didn't help. Need remove the GitLens related folder and then it started to work again.
Depending on your platform, the location is in the following folder:
- Windows %USERPROFILE%\.vscode\extensions
- macOS ~/.vscode/extensions
- Linux ~/.vscode/extensions

[2018-10-18 20:07] Perdek commented on #524
[gitlens.txt](https://github.com/eamodio/vscode-gitlens/files/2493442/gitlens.txt)

[2018-10-19 03:54] tryy opened #532 "How to configure dateformat options?"
I configured like this

But it doesn't seem to work.

[2018-10-19 15:06] eamodio commented on #532
That format is correct, but since GitLens shows dates in a relative format by default, you need to also set another setting.

Set `"gitlens.defaultDateStyle": "absolute",` to cause **all** dates in GitLens to be shown in an absolute format, which will cause the status bar to use your new date format.

If you don't want to affect all dates you can control the status bar only by setting:
`"gitlens.s

[2018-10-21 13:22] beastdestroyer opened #533 "Some descriptions not using markdown properly in Settings GUI"
This issue doesn't have any relevance to the extension functionality itself. Just thought it could do a bit of fixing with the descriptions in VSCode Settings GUI. Below I have listed all the location where markdown code doesn't seem to be working, or where it could be added. This is based on the current state of how it's used in VSCode, I don't mean to say do this do that.

BEWARE: QUITE LONG

1.

[2018-10-22 09:35] Superpencil commented on #418
@eamodio could you move it to the bottom instead to prevent the jumping?

[2018-10-22 16:38] eamodio commented on #418
When you say bottom, you mean of the file?

[2018-10-22 17:17] eamodio commented on #319
Just so everyone is clear, that setting has nothing directly to do with GitLens -- and GitLens never changes that setting. That is vscode's master setting to allow (or disallow) and code lens in the editor -- GitLens or otherwise.

[2018-10-24 12:02] doutdex commented on #451
Hey, I got the same issue 3 days of full work on a file is lost, exist a wat revert or check history within Visual Studio to get back my last data of the file.....

[2018-10-24 14:18] eamodio commented on #451
Sorry that you lost work, but what were the steps that caused it? This bug has been fixed so I'd like to  understand if there are other issues lurking.

[2018-10-26 10:18] martinbergpetersen opened #534 "Hover effect"
Gitlens line annotation: Show information on hover.

Could it be possible to have a keyboard command for showing the line information instead of using the mouse to activate hover effect.
As it is right now  you have to hover over the line annotation with the mouse before the information is shown. It could be really nice to stand on a line, and use the keyboard to see the extended information inste

[2018-10-30 13:29] bramsvs commented on #529
Can confirm this.

Quick workaround while keeping GitLens active is disabling the GitLens code lens in `settings.json`:
[code]

[2018-10-30 13:44] bramsvs commented on #529
Also check this: https://github.com/eamodio/vscode-gitlens/issues/60#issuecomment-429549737

Microsoft/vscode-python#2347
Microsoft/vscode-python#2663

[2018-10-30 16:05] pimlottc-gov opened #535 "Compare HEAD / Compare Working Copy should support commit IDs"
The commands for comparing HEAD or working copy only support branches and tags.  It should also allow you to enter a commit ID.  The dropdown doesn't necessarily need to list them, but you should be type/paste one directly.

Rationale:
Comparing to an arbitrary commit is useful when code reviewing feature branches.  If a branch has not yet been rebased to the current master, then the merge base wi

[2018-10-30 19:52] erihanse opened #536 "Support "Stage selected ranges" in diff view"
Issue Type: <b>Feature</b>

With the built in SCM in vs code, we can stage selected lines by marking the lines we want to apply and invoking the Git: Stage Selected Ranges. Is this supposed to work in gitlens as well, or is there another way to achieve this?

Extension version: 8.5.6
VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windo

[2018-10-31 17:55] ihgsm opened #537 "Author date or Commit date"
Hi,

It looks to me all the dates (absolute and relative) used in gitlens are author date(even it is called commit date in settings) . Is there a way to switch to show the commit date which is the last time the change was commited? Thanks.

[2018-11-02 04:22] jpenna opened #538 "Wrong highlight when ignoring FOLDER but NOT SOME files"
- GitLens Version: 8.5.6
- VSCode Version: 1.28.2
- OS Version: MacOS 10.13.6

Files are wrongly highlighted when using .gitignore with DON'T ignore:

[code]

<img width="345" alt="screen shot 2018-11-02 at 12 19 35 pm" src="https://user-images.githubusercontent.com/16005946/47893786-d170e700-de99-11e8-8610-5131a401c2b8.png">

Code and Git are tracking correctly.

<img width="339" alt="screen shot

[2018-11-02 05:13] eamodio commented on #538
@jpenna GitLens doesn't provide the features you've shown above -- they are provided by the built-in vscode Git extension. Please file an issue with the vscode repository.

[2018-11-02 05:13] #538 closed

[2018-11-02 10:23] gennaro-tedesco opened #539 "Apply diff"
functionality: Compare Working Tree with branch...

question: is it possible to directly "apply changes" from file to file in different branches? Say we are looking at the `git diff` between the same file in two different branches and we want to apply it: I assume such functionality is there but I have been unable to find it.

[2018-11-03 00:48] forivall opened #540 "Add option to hide editor title buttons"
It would be nice to have an option to hide the buttons in the editor title bar -- the ones in the split pane field.

![screen shot 2018-11-02 at 5 46 31 pm](https://user-images.githubusercontent.com/760204/47946301-41e22d00-dec7-11e8-9a5c-6343e033c2ca.png)

it should be as simple as adding an option and then adding the option to the "when" option in the clause in the package.json @ https://github.

[2018-11-03 05:10] eamodio commented on #540
You can customize them using the `gitlens.menus` setting -- or you can also use the GitLens interactive settings editor from the command palette; run *GitLens: Open Settings*. See the **Menus & Toolbars** section of the **General** group

Hope that helps!

[2018-11-03 05:10] #540 closed

[2018-11-04 15:56] tnimni commented on #516
@michaelgeorgeattard thanks man that works great
for mac users:
remove the extension
reload vscode
go to setting.json by pressing cmd+shift+p > open user settings
delete all entries regarding the extension
close vs code
open vscode
install the extension

[2018-11-05 09:56] Turgon-Aran-Gondolin opened #541 "Open binary file"
Can you add an option to open binary files? i.e. set the ways to open binary file in user-setting (including open in vscode in another tab) and open it by right-click the file in gitlens sidebar.  For me it's mostly pdf files and they can be opened in vscode, but sometimes other file formats might be needed.

[2018-11-05 21:57] NeilCross opened #542 "Enable configuration of Recent Changes and Gutter Heatmap to be enabled by Reviewing mode"
It doesn't seem that there's a way to enable the recent changes or gutter heatmap features automatically under reviewing mode.  Can we please have a way to toggle them on and off from there?

[2018-11-07 11:53] mikelgmh opened #543 "Add a "Show GitLens Results Explorer" icon to the sidebar"
I thought it would be a good idea to implement a button in the sidebar so we can open the GitLens Results Explorer in a fast way without having to move it to the explorer view.

If this cannot be implemented, is there any way to open it by a shortcut?

[2018-11-08 05:59] ljporljp opened #544 "Some commit messages have one letter missing"
- GitLens Version:8.5.6

- VSCode Version:1.28.2
- OS Version:win7 6.1

Steps to Reproduce:

1.Checkout the repo: https://github.com/processhacker/processhacker
2.Open vscode with gitlens already installed.
3.Check the earliest log message, you'll see the last letter was missing(not all).e.g.0ba4e1bd7617de8da7ef818bc72ef7f640292a08

[2018-11-08 15:38] mattpepin opened #545 "Git commands run in a Python virtualenv fail because of activation"
- GitLens Version: 8.5.6

- VSCode Version: Code OSS 1.27.2
- OS Version: Arch Linux fully up to date

Steps to Reproduce:

1. Create a python virtualenv under source control
2. Create a branch "test"
3. Change something and create a commit
4. Return to master branch and try to merge like this: Open GitLens Explorer, Develop Branches, Right click on the test branch and click on "Merge Branch (Term

[2018-11-09 09:12] andersennl opened #546 "Changing gitlens.statusBar.enabled has no effect"
- GitLens Version:
8.5.6
- VSCode Version:
1.28.2 (1.28.2)
- OS Version:
MacOS 10.14.1
Steps to Reproduce:
1. Set `"gitlens.mode.statusBar.enabled"` to `false` / disable it via the wizard
2. The "Blame name" in the status bar doesn't disappear.
![bildschirmfoto 2018-11-09 um 09 54 19](https://user-images.githubusercontent.com/2667916/48252597-7b55f380-e405-11e8-896c-8bc26f18b3cd.jpg)

I've changed

[2018-11-11 06:30] eamodio commented on #527
This will be resolved in the next version of GitLens coming "soon" 😄

[2018-11-11 06:55] eamodio commented on #516
I'm closing this -- as the main issue seems to be extension installation issue, which I cannot control (vscode handles extension installation).

[2018-11-11 06:55] #516 closed

[2018-11-11 06:55] eamodio commented on #525
I'm closing this -- as the main issue seems to be extension installation issue, which I cannot control (vscode handles extension installation).

[2018-11-11 06:55] #525 closed

[2018-11-11 06:56] eamodio commented on #509
I am closing this issue because it needs more information and has not had recent activity.  Please re-open this issue when more details can be provided.

Thanks!

[2018-11-11 06:56] #509 closed

[2018-11-11 06:57] #521 closed

[2018-11-11 06:57] #522 closed

[2018-11-11 07:00] eamodio commented on #531
This is already possible with the built-in vscode git extension via `Stage Selected Range` & `Unstage Selected Range`. Let me know if you were looking for something else.

[2018-11-11 07:00] #531 closed

[2018-11-11 07:01] eamodio commented on #534
Unfortunately there isn't any way for a vscode extension to trigger a hover -- we can only provide them over a range and vscode handles the rest.

[2018-11-11 07:01] #534 closed

[2018-11-11 07:03] eamodio commented on #536
I'm not sure I understand what you are asking for -- as you mentioned the built-in git extension provides this, but I'm not sure what part when using GitLens you are missing. You can only stage changes from the working tree.

[2018-11-11 07:05] eamodio commented on #539
This feature is in GitLens 9 -- hopefully coming out "soon" 😄

[2018-11-11 07:10] eamodio commented on #546
That setting `gitlens.mode.statusBar.enabled` is for the `mode` status bar entry (when you are in a GitLens mode -- zen, review, etc). The setting to control the blame status bar entry is `gitlens.statusBar.enabled`.

You can also use the GitLens interactive settings editor from the command palette run `GitLens: Open Settings` to easily toggle this and most other GitLens settings.

[2018-11-11 07:10] #546 closed

[2018-11-11 10:55] gennaro-tedesco commented on #539
oh great, thank you for looking into it!

[2018-11-11 22:17] NeilCross commented on #542
Perhaps i'm misunderstanding the reviewing/zen modes here, but I believe the purpose of that feature is to enable/disable features as a mode is activated.  If this correct?
If that's the case, I'd like to be able to enable gutter heatmap when i enter reviewing mode, and disable it in zen mode.

[2018-11-12 09:50] andersennl commented on #546
I'm sorry about the "typo" in the post, it's correct in the title. I've set `gitlens.statusBar.enabled` to false, which doesn't hide the git blame indicator in the status bar.

[2018-11-15 19:00] Domvel opened #547 "Natural Sorter"
A natural sorter would be great.

[code]

![screen](https://user-images.githubusercontent.com/35452565/48574729-3b64a400-e910-11e8-8a22-578728cf07d1.png)

[2018-11-15 20:12] eamodio commented on #547
Tags are just strings -- while your strings look like versions, that is just a convention you chose. So I'm not sure how GitLens could sort the list of unknown string any differently.

[2018-11-16 09:16] Domvel commented on #547
The windows explorer also sort by natural. File names are also just strings. ... Just a suggestion. :) No problem, if rejected. Because a natrual sorter is a bit more complex as normal sort or no sort. It needs more resources and may produce some bugs at "wrong" implementation. (experience 😄 )
![win](https://user-images.githubusercontent.com/35452565/48612009-0136e900-e988-11e8-8f46-7df978f585f6.p

[2018-11-16 16:00] eamodio commented on #547
@Domvel Sorry, I should have looked more into "natural" sorting before responding -- learned something new! Thanks for the suggestion and it will be coming in the next release!

[2018-11-16 21:42] michaelaye opened #549 "Switch off inline blame"
The settings do not seem to offer any simple toggle to enable/disable inline blame. I am NOT talking about currentLine but ANY in-editor blame display, e.g. "You, 5 months ago"
I find these extra lines inside my code quite confusing.

[2018-11-16 22:31] eamodio commented on #549
Check out the `Code Lens` section of the GitLens interactive settings editor (from the command palette run `GitLens: Open Settings`). From there you can turn on/off those items (vscode calls them Code Lens) as well as most of the other GitLens UI features.

There is also a command `GitLens: Toggle Git Code Lens` to quickly toggle them back on and off -- though it will only affect the current windo

[2018-11-16 22:33] michaelaye commented on #549
i only see toggles for the whole GitLens functionality, not for inline only?

[2018-11-16 23:00] eamodio commented on #549
Can you send a screenshot of what you are asking about?

Here are the code lens settings -- the image in the settings will dynamically update as you toggle the settings
![image](https://user-images.githubusercontent.com/641685/48651545-55ae8880-e9c9-11e8-95f3-7b882adee9d1.png)

Here are the current line settings:
![image](https://user-images.githubusercontent.com/641685/48651576-84c4fa00-e9c9-11e8

[2018-11-18 10:18] pdkovacs opened #550 "Incorrect linux distribution is detected"
- GitLens Version: 8.5.6

- VSCode Version: 1.29.1
- OS Version: Fedora 29

Steps to Reproduce:
1. Exercise the _Copy Commit Message to Clipboard_ function without `xsel` installed
2. Observe that the error message gives a hint about installing the missing package which is applicable for a Linux distribution (Ubuntu) different from the one installed (Fedora 29): https://i.imgur.com/uREnUYV.png

On

[2018-11-19 10:57] ctxhou opened #551 "What string should be entered when we wanna open file in remote custom git host?"
Hey!
First thanks for the great package.

I have a question about opening the custom git host website.
I follow the [Custom Remotes Settings](https://github.com/eamodio/vscode-gitlens#custom-remotes-settings) and add a custom remote in the workspace `settings.json`.
When I select a file and want to `Open file to remote`, it shows this dialog:
<img width="737" alt="screen shot 2018-11-19 at 11 49 1

[2018-11-19 21:54] philraj opened #552 ""Open Line Changes with..." doesn't work for renamed files"
Issue Type: <b>Bug</b>

After renaming a file, when you try to e.g. `Compare Commit with Previous` it shows an empty file on the right pane, and the titlebar shows that GitLens thinks the file has been deleted from the perspective of the current commit.
![image](https://user-images.githubusercontent.com/16470658/48737171-59394e00-ec1b-11e8-9cbc-c044bd8dc712.png)
This is despite the fact that the i

[2018-11-20 13:15] someusersomeuser commented on #523
my case
some files in project after open with Explorer tree no have history
![image](https://user-images.githubusercontent.com/36192774/48766113-c2c16700-ecc4-11e8-9199-eb23f22b43af.png)
after open this same file with buton in diff tool, history display correct
![image](https://user-images.githubusercontent.com/36192774/48766438-8c381c00-ecc5-11e8-96e4-18e572d68ab5.png)
now i have 2 tabs for one f

[2018-11-21 07:11] g3rhard opened #553 "Configure issue tracker url (Redmine, etc)"
Hello. I request the function to display a link to the error tracker in a pop-up window. In place of refs #31463 I would like to have a link to the tracker. Is it possible?

![2018-11-21 9 03 39](https://user-images.githubusercontent.com/8848216/48824542-4767c000-ed6d-11e8-8104-a338c10b47fa.png)

[2018-11-21 14:34] tiagomsmagalhaes commented on #430
Hi.. I installed your plugin today and found the issue and that it's already mentioned here. Don't know if it helps but when reloading the window the problems are gone until I check changes or previous revision

[2018-11-21 16:38] eamodio commented on #430
@tiagomsmagalhaes Thanks -- this issue has been fixed in the GitLens 9 release which will be coming very soon.

[2018-11-21 20:31] michaelaye commented on #549
Thanks! Wasn't aware of the gitLens own settings dialog, very convenient! And that the name I was looking for was codeLens!

[2018-11-21 20:31] #549 closed

[2018-11-21 23:52] Xekyo commented on #509
Sorry for the late follow-up: I've not had any issues since disabling the CodeMetrics plugin. Thanks!

[2018-11-22 09:04] jyavenard opened #554 "Allow to use a different commant than blame"
While we can add arguments to the git blame command, you can't specify which blame command to use instead.

Like google's depot_tools has a hyper-blame method that works in an identical way to git blame but ignore specified commit.

It would be great if you could override the command to run, so that by default it uses say git hyper-blame instead.

[2018-11-22 10:25] Yanpas opened #555 "Change tmp directory"
- GitLens Version: 8.5.6

- VSCode Version: 1.29.1
- OS Version: linux

Currently diffs and other actions with history directly create files in /tmp directory.
A better solution would be creating in /tmp/vscode-gitlens
The best one is /tmp/vscode-gitlens/$USER with mod `0750` for the $USER folder

[2018-11-22 14:32] eamodio commented on #555
GitLens 9 (coming very soon) avoids using a temp folder completely.

[2018-11-22 14:32] #555 closed

[2018-11-23 10:32] LazerFX opened #556 "Feature Request: Git Remote Origin Prune"
It would be nice if you could right-click on the origin after creating/removing branches and do a `git remote origin prune`, to remove from the local cache all the remote branches that no longer exist.

Our workflow is:
- Create feature branch
- Complete (small) task of work
- Pull into release branch, with auto-destroy of feature branch on complete

This means that we tend to have lots of task-re

[2018-11-26 06:49] eamodio commented on #550
The message has been tweaked in GitLens 9 (coming very soon). Also once vscode's [clipboard api](https://code.visualstudio.com/updates/v1_29#_clipboard-api) lands I will be able to remove the custom solution and avoid this issue completely.

[2018-11-26 06:49] #550 closed

[2018-11-27 03:05] OhYee opened #557 "Cause Vetur server crash."
- GitLens Version: v9.0.0-beta

- VSCode Version: 1.29.1
- OS Version: Windows 10

Steps to Reproduce:

1. Install Vetur extension.
2. Commit a `.vue` file(May be need typescript)
3. Click **Open Changes with Previous Revision**
4. Then the Vetur will try to format the previous file, but can not find the file so crashed.
[code]

[2018-11-27 03:07] OhYee commented on #557
I have open a issue on vetur.
https://github.com/vuejs/vetur/issues/987

[2018-11-27 04:57] eamodio commented on #552
@philraj Can you try again with the [GitLens 9 beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v9.0.0-beta) release to see if you still have the issue? It seems to be working for me.

[2018-11-27 04:59] eamodio commented on #551
@ctxhou Are you still experiencing this issue? If so, can you try with the [GitLens 9 beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v9.0.0-beta) release to see if you still have the issue?

[2018-11-27 05:00] eamodio commented on #537
Unfortunately GitLens only currently shows the authored date. Would you like to always see the commit date, or just have the commit date accessible in the commit tooltip or something?

[2018-11-27 05:02] eamodio commented on #543
@Jariway Could you try out the [GitLens 9 beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v9.0.0-beta) release, the GitLens _Results_ explorer has been split into 2 persistent views, `Search Commits` and `Compare`, let me know if this resolves the issue for you.

[2018-11-27 05:04] eamodio commented on #541
@Turgon-Aran-Gondolin Can you try this with the [GitLens 9 beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v9.0.0-beta) release to see if you still have the issue? I have completely rewritten how GitLens provides file content to vscode and _should_ be able to support any file type vscode itself can open.

[2018-11-27 05:06] eamodio commented on #557
This will be resolved on the vetur side.

[2018-11-27 05:06] #557 closed

[2018-11-27 05:17] philraj commented on #552
Yep, still happening in 9 beta. Here's what happens when I run the two comparison commands (new wording seems less intuitive than "Compare Commit with..." but maybe that's just me):

<br/>

**Open Line Changes with Previous Revision:**

![image](https://user-images.githubusercontent.com/16470658/49059778-8025f000-f1d8-11e8-9e5c-4bdd54d8b44d.png)

<br/>

**Open Line Changes with Working File:**

![

[2018-11-27 06:00] eamodio commented on #552
@philraj what exactly are the steps you are following?

Hrm, I've constantly struggled with the naming of that command. I want to make it clear that it is _line_ specific, rather than file specific -- e.g. just walking back to the previous commit of the file. And rather than calling it _Compare Line Commit with..._, I've aligned with vscode's terminology for diff comparisons -- as they use _Open C

[2018-11-27 06:11] philraj commented on #552
Oh, you want to emphasize that the commit you're comparing with is the one from that specific line. I think "Compare Commit with..." was the most ergonomic one so far (I think I saw a few of the previous ones) but you're right, it's tricky to find the right wording that's clear but not too verbose. ("Open Changes Between This Line's Commit And The Revision Before It" doesn't really roll off the to

[2018-11-27 07:46] eamodio commented on #541
In theory GitLens should be providing the raw file contents to vscode and then vscode applies its magic to figure out how to deal with that file (and this is basically using the same vscode code that is used for opening real files).

For the files it didn't work on (older commits), can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. Thi

[2018-11-27 17:32] LazerFX commented on #556
It would be nice if there was also a way to remove the local tracking branches as well; that's a much more manual process, but would be a feel-good improvement,

[2018-11-28 05:06] JohnKahn opened #559 "HTML not escaped in GitLens Explorer sidebar"
Issue Type: <b>Bug</b>

When a commit message has any html (such as \<br />) it won't escape the characters and will instead insert the html into the DOM for vscode. I verified this by looking at the developer tools for vscode.

Steps:
1. Create a commit with html such as "Commit with \<br /> html break"
2. Open GitLens Explorer in sidebar
3. Drop down "History" tree to see that the commit only sh

[2018-11-28 06:49] Turgon-Aran-Gondolin commented on #541
Thanks for your response! The log reads "file not found":

An additional problem is, when I open file from new commit, with msg level set to debug, an additional file called `extension-output-#3` is opened alongside my file. The log is

Since pdf file is not natively supported by vscode, I need to select `open it anyway` sometimes, and in the selection page (where vscode tells you it's a binary fi

[2018-11-28 09:43] zedaav opened #560 "Show tags (like branches) in Explorer commit history"
Hi,

Disclaimer :wink:
Please accept my apologies if the feature is already there or has already been requested, I wasn't able to find something related.

In the *Explorer* view, when browsing the commits history under a given branch, we already have mentions of other branches.

e.g.
[code]

It would be really nice to have tags displayed the same way.
Something like:

[code]

[2018-11-29 06:01] eamodio commented on #559
Opened https://github.com/Microsoft/vscode/issues/63968

[2018-11-30 05:01] gajop commented on #425
I'm having a similar issue with `using MyFunctionType = std::function<void()>;`
I get author + date information above each such line.

[2018-11-30 15:37] wpatter6 opened #561 "Allow customization of terminal commands"
Hi,

Love the tool, thanks for all your hard work!

I have a small issue that over time is becoming more annoying.  Because of the pull request mechanism we use, the branches we create locally are never merged back into master, that always happens remotely.

This means that when we go to delete local branches using gitlens, we always have to rewrite the command that it puts into the terminal from

[2018-11-30 19:51] ejdaly commented on #501
Note: the following url patterns work when setting up Azure DevOps via "gitlens.remotes"

[code]

Using a visualstudio.com domain didn't work for me at all (even when selecting "Custom" type).

In remotes/factory.ts, there is a search for "visualstudio.com" in the domain, which marks the remote as VSTS, and the Custom type is not used in this case? I found that a little confusing since VSTS is not

[2018-11-30 20:07] eamodio commented on #501
Can you try out the [GitLens 9 beta](https://github.com/eamodio/vscode-gitlens/releases/tag/v9.0.0-beta) and see if you are experiencing the same issues?

[2018-11-30 20:49] roydukkey opened #562 "Setting the color of blame at top of file."
As per the changelog, I expect these two properties would allow me to change the blame that displays at the top of files. However, I have tried finding these is settings and even attempted setting them from a theme, but haven't be able to get the color of the text to change. I have tried searching the repo for references to `activeLineDarkColor`, `activeLineLightColor`, and `activeLineColor`, but

[2018-11-30 22:11] eamodio commented on #562
Those colors only affect the blame that appears on the active line (the line where your cursor is). There isn't a way to directly control the color of the code lens (the `You, 6 minutes ago | 2 authors (roydukkey and others)`).

You can change the colors for all code lens (not just the ones GitLens provides) by overriding the theme color for `editorCodeLens.foreground`

Hope that helps.

[2018-12-01 01:00] #562 closed

[2018-12-01 01:01] roydukkey commented on #562
Thanks. That is the correct solution.

[2018-12-01 09:31] ejdaly commented on #501
I think everything is good in 9 beta, thanks.

The new SSH url for Azure DevOps is like: ```git@ssh.dev.azure.com:v3/<organization>/<project>/<repo>```

, so that's not being _automatically_ identified
(in the defaultProviders array in /src/git/remotes/factory.ts --- the match is looking for exactly "dev.azure.com").

But when using the new HTTPS url for Azure DevOps
(which looks like ```https://<

[2018-12-01 18:42] parsalotfy opened #563 "How can I Stage a specific change and commit it with a message ?"
I read the document and search for **commit** and **stage** but I couldn't find a way to stage a change and commit it like the native git extension of Visual studio Code
I would like to hide the native VSCode Source control and use Gitlens instead but as I could not find the way to **stage and commit a specific change** , the git lens extension is not comfortable for me.
Please let me know if ther

[2018-12-01 18:56] parsalotfy commented on #375
I wanted to Hide Source Control because this extension is much better than that , but lack of commiting and staging , **Disappointed me**....

[2018-12-01 19:04] eamodio commented on #375
GitLens is not a replacement for the built-in Git extension, nor is it trying to be. GitLens and the built-in Git are complementary and for some things GitLens even relies on the built-in Git to provide some features.

[2018-12-01 19:07] eamodio commented on #563
GitLens is not a replacement for the built-in Git extension, nor is it trying to be. GitLens and the built-in Git are complementary and for some things GitLens even relies on the built-in Git to provide some features.

In GitLens 9, I have added some more support for common, e.g. you can now stage files from the GitLens repositories view.

[2018-12-01 19:07] #563 closed

[2018-12-01 19:31] parsalotfy commented on #563
Please Add commit in GitLens 9 too 🥇
Thanks for answer 👍

[2018-12-01 19:34] eamodio commented on #563
Committing is something that I feel the built-in git handles very well -- I don't see what GitLens could bring to the table to improve upon it without attempting to fully replace it (which I am not interesting in doing).

[2018-12-01 20:33] eamodio commented on #501
@ejdaly Awesome, thanks for the info. I will change the matching to support the ssh url as well.

Thanks 😄

[2018-12-01 21:37] ejdaly commented on #501
Cool. I'll watch for updated releases, and can test the next beta binary for SSH and let you know...
Thanks :)

[2018-12-02 09:33] #405 closed

[2018-12-02 09:33] #430 closed

[2018-12-02 09:33] #354 closed

[2018-12-02 09:33] #388 closed

[2018-12-02 09:33] #456 closed

[2018-12-02 09:33] #493 closed

[2018-12-02 09:33] #389 closed

[2018-12-02 09:33] #470 closed

[2018-12-02 09:33] #496 closed

[2018-12-02 09:33] #503 closed

[2018-12-02 09:33] #214 closed

[2018-12-02 09:33] #502 closed

[2018-12-02 09:33] #275 closed

[2018-12-02 09:33] #535 closed

[2018-12-02 09:33] #544 closed

[2018-12-02 09:33] #547 closed

[2018-12-02 09:33] #533 closed

[2018-12-02 09:33] #560 closed

[2018-12-02 22:35] #539 closed

[2018-12-02 22:35] #527 closed

[2018-12-02 22:35] #455 closed

[2018-12-02 22:36] #494 closed

[2018-12-02 22:36] #398 closed

[2018-12-02 22:36] #507 closed

[2018-12-02 22:38] eamodio commented on #551
@ctxhou GitLens v9 is out hopefully this will resolve any issues. If not please re-open this issue.

[2018-12-02 22:38] #551 closed

[2018-12-02 22:38] eamodio commented on #543
GitLens v9 has been released which should address this. Please re-open if not.

[2018-12-02 22:38] #543 closed

[2018-12-02 22:39] eamodio commented on #536
I am closing this issue because it needs more information and has not had recent activity.  Please re-open this issue when more details can be provided.

Thanks!

[2018-12-02 22:39] #536 closed

[2018-12-02 22:39] #532 closed

[2018-12-03 08:52] bm-stschneider opened #564 "Horizontal scroll on delete row"
Issue Type: <b>Bug</b>

When the GitLens view is open in the sidebar, and I delete a line the editor scrolls horizontally.

Extension version: 9.0.1
VS Code version: Code - Insiders 1.30.0-insider (9e62a05bc7c5dbb74d165e06f7c3a5f3c7549096, 2018-12-03T06:12:08.874Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4980HQ CPU

[2018-12-03 13:56] eamodio commented on #564
@bm-stschneider I was able to reproduce this once, but can't seem to any more. I don't think it is related to having the GitLens side bar open. My guess is it is the current line blame annotation messing up (vscode's decorators seem to do that sometimes).

If you try setting `"gitlens.currentLine.scrollable": false,` the current line blame won't affect the horizontal scrolling and my guess would a

[2018-12-03 13:58] bm-stschneider commented on #564
Seems to work better that way.

[2018-12-03 13:59] eamodio commented on #554
Duplicate of #413

[2018-12-03 13:59] #554 closed

[2018-12-03 14:00] eamodio commented on #413
@banga @jyavenard Can you provide more details on to how adding hyper-blame support would be useful for GitLens?

[2018-12-03 14:02] eamodio commented on #407
@shane-smith would https://github.com/eamodio/vscode-gitlens/issues/561 solve this for you if you were able to always make the _Merge Branch (via Terminal)_ command be `--no-ff`?

[2018-12-03 14:06] eamodio commented on #395
@mliq Can you try again with GitLens 9?

[2018-12-03 14:09] eamodio commented on #319
Is anyone still experiencing this? If so, please try GitLens 9 and let me know if the issue still persists.

[2018-12-03 14:10] eamodio commented on #564
@bm-stschneider with that setting back on -- can you send me a video of the issue? Ideally happening a few times in a row?

[2018-12-03 14:14] eamodio commented on #524
@Perdek Can you try GitLens 9 and see if you are still experiencing the issue? If so what version of the C# extension are you running?

[2018-12-03 14:31] jyavenard commented on #413
Hyper-blame allows to define commits that must ignored. This is particularly useful for commits that were whitespace changes only, such as reformatting or code style change.

For the Mozilla gecko tree we have very recently started to move from the Mozilla coding style to Google's. Plain git blame would make every lines appear to be last modified by the coding style change commit. Making git blame

[2018-12-03 14:36] bm-stschneider commented on #564
I can repeat this over and over, I had to resize the editor a bit to make it work so it might be dependant on the width of the active editor.

![kapture 2018-12-03 at 15 33 35](https://user-images.githubusercontent.com/30625381/49380112-201bd600-f711-11e8-8e94-858c3f6a4e3f.gif)

[2018-12-03 14:50] eamodio commented on #413
@jyavenard Thanks. How do you define those commits? In a config file or something? Would GitLens need to know about that? I'm trying to both understand the benefit and the work involved.

[2018-12-03 16:06] jyavenard commented on #413
There's a .git-blame-ignore-revs file like so
https://hg.mozilla.org/mozilla-central/file/tip/.git-blame-ignore-revs

Gitlens doesn't need to know about it, only the custom git blame command

[2018-12-03 16:09] shiftgeist commented on #319
I have experiences the same as yuo @eamodio: Installed gitlense: Links are gone. The setting "Merge-conflict > Code Lense: Enabled" (checked) brought it back.

Thanks for mentioning @James-E-Adams, it works again!

[2018-12-03 17:09] eltian opened #565 "Regression: Submodules don't work properly (missing repo in view, file and inline blame, etc)"
- GitLens Version: 9.0.1

- VSCode Version: 1.29.1
- OS Version: CentOS 7

After the extension updated today, I noticed some issues with git blame: I don't see the inline blame annotation, (I tried to toggle it to no avail), and the "File Blame Annotations" command is missing. Is this intentional?

[2018-12-03 17:11] eamodio commented on #413
@jyavenard Could you provide me the output of a `blame` vs `hyper-blame`?

Here is the command GitLens uses for blaming:
`git blame --root --incremental -- <file-name-here>`

[2018-12-03 17:21] banga commented on #413
@eamodio unfortunately `hyper-blame` doesn't support any other arguments than the file name.

There's an example here which illustrates the difference: https://commondatastorage.googleapis.com/chrome-infra-docs/flat/depot_tools/docs/html/git-hyper-blame.html.

If you want to try it out, you can follow these steps: https://commondatastorage.googleapis.com/chrome-infra-docs/flat/depot_tools/docs/htm

[2018-12-03 18:03] eltian commented on #565
Here's the debug output for gitlens. Keep it mind that, although we're working with an older version of git (1.8), these features were still working as of last week:
[code]

[2018-12-03 19:52] Perdek commented on #524
@eamodio With GitLens 9 this problem disappeared. Thanks!

[2018-12-03 19:56] #524 closed

[2018-12-03 20:37] Tonylic commented on #524
Working fine now after updating to 9 as well. Thanks!

[2018-12-03 22:18] shane-smith commented on #407
@eamodio - I suspect it would, yes.

[2018-12-03 22:45] aster94 commented on #494
any news? why was it closed?

[2018-12-03 23:15] ili101 opened #566 "History error with UNC"
Issue Type: <b>Bug</b>
Similar to https://github.com/eamodio/vscode-gitlens/issues/208
Looks like the bug was reintroduced in 9.0.0 or 9.0.1
The history is shown but errors are being produced while you browse:
`fatal: Invalid path '//ServerIpOrName//ServerIpOrName': No such file or directory`
[code]

Extension version: 9.0.1
VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2

[2018-12-04 00:45] eamodio commented on #407
Duplicate of #561

[2018-12-04 00:45] #407 closed

[2018-12-04 00:45] eamodio commented on #494
GitLens 9 was released with many new features.

[2018-12-04 00:46] eamodio commented on #565
@michael-letcher so normal repos are working but submodules are busted?

[2018-12-04 02:40] michael-letcher commented on #565
@eamodio Yes, this is when I've opened just the folder.

Note: I do the workaround for working with multiple monitors and opening the folder in a workspace, but Gitlens works... I see my submodule and it works as intended. (Not sure if this is relevant)

[2018-12-04 05:19] eamodio commented on #501
@ejdaly GitLens 9 is out -- let me know if this works out of the box for you now

[2018-12-04 09:32] ronag opened #567 "Too many annotations in YAML"
This is a bit too much annotations in my docker-compose file...

![screenshot 2018-12-04 at 10 31 48](https://user-images.githubusercontent.com/3065230/49432418-eea61780-f7af-11e8-832c-b4e4d72c78f2.png)

- GitLens Version: 9.0
- VSCode Version: 1.29.1
- OS Version: Mojave

[2018-12-04 12:35] eltian commented on #565
In my case, I just have the main repo (no submodules).

[2018-12-04 13:55] carvemerson commented on #565
In my root project it is working fine, but it is not working in my packages that are inside the vendor folder (I have a laravel project).

[2018-12-04 14:37] eamodio commented on #565
Really sorry for the issues and I will be getting a new release out (likely tonight or tomorrow) with a fix. Again sorry for the regression.

[2018-12-04 15:50] kaiseiken commented on #503
I was testing this functionality using Meld on Linux and Windows, which supports file comparisons and directory comparisons.  I believe this is the difference between the two difftool commands as previously implemented.

[2018-12-04 15:56] turijs opened #568 "Line History - Cannot read property 'startsWith' of undefined"
Issue Type: <b>Bug</b>

Certain lines of files in my repo are causing this error to occur, which always coincides with the Line History Explorer displaying 0 commits. Full stack trace is below.
[code]

Extension version: 9.0.1
VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:07:43.495Z)
OS version: Linux x64 4.15.0-42-generic

<details>
<summary>System Info</su

[2018-12-04 16:16] eamodio commented on #567
That is far less than ideal 😉. I'll look into it and get it fixed up.

[2018-12-04 16:18] eamodio commented on #503
@kaiseiken Thanks for the report -- would you mind opening a new issue for this _Open All Changes (with difftool)_ missing or not working?

[2018-12-04 19:27] kaiseiken opened #569 "Open All Changes (with difftool) missing from context menu"
"Open All Changes (with difftool)" action previously executed a directory comparison with external difftool (in my case, Meld). Feature was removed/broken following an update to v9.0.1, possibly while fixing bug #503 Open Changes (with difftool), which is similar but executed an individual file comparison for all changes.

- GitLens Version: 9.0.1
- VSCode Version: 1.2.9.1
- OS Version: Ubuntu 18.

[2018-12-05 05:08] llezenelrahc opened #570 "Add feature to compare branch and filter commits and files changes by author"
is there any feature to compare branch and filter commit and file changes by author ?
for i want to review some merged branches who did something,any idea to complish this task?

[2018-12-05 05:48] eamodio commented on #570
Unfortunately not currently -- although I have started (laid the basic groundwork) on the implementation of this feature.

[2018-12-05 06:06] eamodio commented on #568
@turijs Unfortunately I can't seem to reproduce this and even though I can see the surface cause of the exception, I can't see the root cause.

Can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the

[2018-12-05 06:40] tiansin opened #571 "Hide repository separator"
![qq20181205-142813](https://user-images.githubusercontent.com/4232281/49494279-0f4a9c00-f89a-11e8-908d-7fdd0e9f7dbf.png)

After upgrading to the latest version, use scm management to find out something like a separator.

[2018-12-05 07:19] eamodio commented on #571
That's by design -- just a visual separator of the current branch and context from the rest.

[2018-12-05 07:30] #528 closed

[2018-12-05 07:30] #565 closed

[2018-12-05 07:30] #567 closed

[2018-12-05 07:30] #569 closed

[2018-12-05 07:48] tiansin commented on #571
Looks weird.....

[2018-12-05 09:44] eps1lon opened #572 "Explorer cant expand some branch folders"
- GitLens Version: 9.0.2
- VSCode Version: 1.29.1 and 1.30-insider
- OS Version: Ubuntu 18.04.1 LTS

Steps to Reproduce:
1.
[code]
2. activity bar > gitlens > explorer
3. expand `feat` or `fix` > Error:
![vscode-gitlens-branch-issue](https://user-images.githubusercontent.com/12292047/49504709-8e2fdc80-f87a-11e8-9f43-726d6fe4c7e0.png)

Attempt at minimal repro but everything worked here.
1.
[code]

[2018-12-05 10:17] carvemerson commented on #565
Thanks! now it works gracefully!

[2018-12-05 11:51] rudeb0y opened #573 "Support for Azure Data Studio"
Azure Data Studio is based off vscode, so this might be quite easy to port over to there?

I've tried installing the extension on Azure Data Studio via a .vsix but it does not work

[2018-12-05 12:47] eltian commented on #565
Still not working for me :( I tried the new update, reinstalled gitlens and restarted code several times. I can't turn on blame inline and the "GitLens: Toggle File Blame Annotations" command doesn't show up.

[2018-12-05 12:58] eltian commented on #565
I just tried the version 8.5.6 (installed manually) and it worked correctly.

[2018-12-05 15:32] tiansin opened #574 "Apply Changes not working because of whitespace conflicts"
- GitLens Version: 9.02

- VSCode Version: 1.2.9
- OS Version: mac 10.13.6

Steps to Reproduce:

This feature is not available for both the repository and submodules

[2018-12-05 16:01] joelday commented on #106
I'd find just the wrappers and base implementations for vscode's APIs super helpful!

[2018-12-05 16:05] joelday opened #575 "Move vscode API extension helpers/base classes to a separate package"
Would find these very useful for unrelated extensions, especially the infrastructure for managing/registering commands and views, etc.

[2018-12-05 18:04] eamodio commented on #575
@joelday can you go into more detail in what you'd like to see?

[2018-12-05 18:05] eamodio commented on #574
Can you provide more details and steps for what you are seeing?

[2018-12-05 18:07] turijs commented on #568
@eamodio Thanks for taking a look! I have done as you said and the output is below for when I clicked into the problematic line (I replaced paths with placeholders since it is a private repo):
[code]

[2018-12-05 18:30] eamodio opened #576 "Fails to load with older versions of git"
From https://github.com/eamodio/vscode-gitlens/issues/565#issuecomment-443807615

[2018-12-05 18:31] eamodio commented on #565
@eltian sorry for conflating your original issue with the submodule issue. They are completely different and looks like your issue is because of your mentioned older git version.

Since I've co-opted this issue, I've opened a new one here #576

[2018-12-05 21:31] michael-letcher commented on #565
@eamodio Awesome work mate! No issues here for me.

[2018-12-06 06:04] eamodio opened #577 "Add localization support to GitLens"
Here is a [sample extension](https://github.com/Microsoft/vscode-extension-samples/tree/master/i18n-sample) using the [vscode-nls](https://github.com/Microsoft/vscode-nls) library

[2018-12-06 06:53] #576 closed

[2018-12-06 09:51] MaximeWeyl opened #578 "Search by shorten commit ID"
Hello ! Thank you for this addon !

It would be great if it was possible to search by shorten (beginning of) commit ID, like I'm used to do with CLI or Git Gui.

For now it does not work :
![git_lens](https://user-images.githubusercontent.com/31591159/49576178-c6035680-f944-11e8-9b9f-b56e2aaeceb3.gif)

[2018-12-06 10:11] MaximeWeyl commented on #578
I just found out that beginning the search by **#**shortenCommitId does this !

If you think this should work even if **#** is not there, this ticket could remain opened.

[2018-12-06 15:06] eamodio commented on #578
This is by-design. There are different prefixes for different types of searching, see the [docs](https://github.com/eamodio/vscode-gitlens/tree/master/#search-commits-view-)

[2018-12-06 15:06] #578 closed

[2018-12-06 15:52] MaximeWeyl commented on #578
OK, sorry for the useless issue :)

[2018-12-06 16:22] eamodio commented on #578
@MaximeWeyl no worries at all!

[2018-12-06 16:56] ejdaly commented on #501
It's recognizing the remote url "ssh.dev.azure.com" as an Azure repo, but then if I click "view X on remote", it's going to (e.g.)

```https://ssh.dev.azure.com/v3/<org>/<project>/<repo>/commit/8c5b.../?_a=contents&path=/app/main.js```

instead of:
```https://dev.azure.com/<org>/<project>/<repo>/commit/8c5b.../?_a=contents&path=/app/main.js```

(just drop the "ssh." and "/v3")

[2018-12-06 18:29] dpnub opened #580 "Gitlens not usable with bat/cmd wrappers of Git"
- GitLens Version: 9.0.3
- VSCode Version: 1.29.1
- OS Version: Windows 10 x64

I have problem with Gitlens 9.x in binding with Cygwin git under Windows.
I run git from some bat-wrapper, since I need to translate the paths between Windows and Cygwin.
As far as I can see in the logs, Gitlens cannot execute the git-wrapper specified in the "git.path" setting. For this reason, no function of the Gitl

[2018-12-07 08:38] deitry opened #581 "Stuck while open large repo"
- GitLens Version: 9.0.3
- VSCode Version: 1.29.1, 1.30 Insiders
- OS Version: Kubuntu 18.04.1

After I did update GitLens from 8.x to 9.x version, I decided to test it on project which contains about 8000 commits and huge amount of files.

GitLens debug log:
`[2018-12-07 08:08:49:735] [1] GitService.initialize
[2018-12-07 08:08:49:892] Git found: 2.17.1 @ /usr/bin/git • 101 ms
[2018-12-07 08:08:4

[2018-12-07 08:57] eamodio commented on #581
@deitry Is this repo accessible? I've tried with some large repos ([git](https://github.com/git/git), [vscode](https://github.com/Microsoft/vscode), etc) and I haven't seen any performance issue like you are describing. I would love to get to the bottom of what you are seeing.

Can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This wi

[2018-12-07 09:21] deitry commented on #581
@eamodio No, it's not accessible. We have internal server with some repos like project and toolchain. We have following structure: `~/workspace/toolchain [repo]/pkg/project [repo]/external_libs [repo]/[submodule for each lib]`
As I said, GitLens with toolchain repo works fine, as well as external libs repo with submodules, but for project it fails.

Log from GitLens Output with `"gitlens.outputLev

[2018-12-07 09:55] deitry commented on #581
That is sooo strange. It reproduces always and only on this single repo. Any other opens as usual. But most important, it works perfectly even on another clone of this repo! I tried to remove nested external_libs repository, but it doens't solve issue.

Could it be something inside working folder?

[2018-12-07 10:44] deitry commented on #581
Ooh, I get it!
For toolchain purposes there was a symlink that pointed to the project itself (I don't know really why it's needed, I didn't do that): `../project/src -> ../project`

As soon as I delete symlink, GitLens started to operate normally. I guess GitLens 8 doesn't followed symlinks since it worked well with that.

So is it correct behavior?

[2018-12-07 12:39] idoo commented on #314
looks like it came back

[2018-12-07 12:49] idoo opened #582 "GitLens: Toggle Line Blame Annotations"
- GitLens Version: 9.0.3

- VSCode Version: 1.29.1

VSC  doesn't respect `GitLens: Toggle Line Blame Annotations` option
added to settings.json
`"gitlens.currentLine.enabled": false,`

I'm able to toggle it, but after a restart, it came back.

Looks like it happens, because `review mode` is enabled, but it's messy to disable it by option and have it because of some mode?

[2018-12-07 19:17] michael-lang opened #583 "No automatic refresh of repositories that are outside of the workspace"
Steps:
Open the GitLens window
Use the VSCode window footer to change to another branch.
GitLens does not update the checkmark to be on the current branch.
Use the refresh button in Gitlens to update the active branch checkmark.
No change, the wrong branch still has a checkmark.  In the prior version of gitlens this workaround worked.  Although the workaround itself should not be needed.

Log outp

[2018-12-07 23:33] eamodio commented on #583
I can't reproduce this -- when I switch branches via the status bar or command line, GitLens detects it and updates appropriately. Is there anything special about this repo? Does it happen on all repos? Are there any other details you can provide?

[2018-12-07 23:39] eamodio commented on #582
This is by design. Review mode has the current line blame enabled by default -- the reasoning is that if you are reviewing you "probably" want it on. But it is configurable, by overriding the value when in review mode.

For example:
[code]

[2018-12-07 23:40] #582 closed

[2018-12-07 23:43] eamodio commented on #581
@deitry so glad you figured it out! I don't know that I changed anything on purpose to follow symlinks -- as I'm not really sure where things went awry. But I think following the symlinks is probably ultimately desirable.

[2018-12-07 23:44] eamodio commented on #573
Does anyone know what would need to be done to support this?

[2018-12-07 23:51] michael-lang commented on #583
You're right.  I didn't have the problem on another repo.  I'll try to find
what is unique about the repo.

On Fri, Dec 7, 2018, 5:33 PM Eric Amodio <notifications@github.com wrote:

[2018-12-08 11:34] idoo commented on #582
I guess we should add that to readme, right?

[2018-12-08 14:20] turijs commented on #568
@eamodio Unfortunately I don't think I can do that as the code is my company's IP and I am under an NDA. I will say that the output appeared normal at first glance. Is there a function in the gitlens codebase which parses the output of the above command where you think the problem could be arising? If so, maybe you could point me there and I could do a bit of testing to try and figure out what's g

[2018-12-09 15:37] turijs opened #584 "Unexpected results when opening diff from file history"
- GitLens Version: 9.0.3

- VSCode Version: 1.29.1
- OS Version: Mac OS 10.13.6

When clicking on a commit in the File History pane to open  a diff:

**Expected:**
A diff showing the changes introduced in that commit

**Actual:**
A diff of the clicked commit with the following commit in the File History (if I'm not mistaken). When history is non-linear, this can cause "extra" changes to show in th

[2018-12-09 15:45] turijs commented on #584
I created a minimal repo to demsontrate this as well: https://github.com/turijs/gitlens-issue-584

To reproduce:
1. Open the above repo in vscode with gitlens
2. Open the only file in the repo and go to the GitLens File History pane
3. Click on commit 3, and note that the diff shows changes to "Line 1" and "Line 3", when only "Line 3" was actually changed in that commit.

Is this expected behavior

[2018-12-10 05:21] eamodio commented on #564
Unfortunately other than using that setting, I don't think there is anything I can do here. Looks like a vscode issue.

[2018-12-10 05:21] #564 closed

[2018-12-10 06:00] eamodio commented on #508
Unfortunately this isn't something GitLens can provide -- the built-in git extension would need to handle this. Sorry.

[2018-12-10 06:00] #508 closed

[2018-12-10 10:33] GandalfSaxe opened #585 "Restore deleted line?"
If I accidentally delete a line, is there a way to restore it with GitLens?

Here is an example:

<img width="1344" alt="image" src="https://user-images.githubusercontent.com/12127864/49726832-2ceb7d00-fc6f-11e8-851c-8dcd5e42cd54.png">

I would like to restore line 145, which has been deleted as an uncommitted change. However, I can't select the deleted line with the mouse, I can only select the a

[2018-12-10 16:41] andygikling commented on #58
Bump,
Git submodules are super common these days.
Is anyone working on this right now?

[2018-12-10 16:55] eamodio commented on #58
@andygikling Have you tried with GitLens 9? And if so, can you detail what isn't working that you expect to be working? Thanks!

[2018-12-10 18:43] mtp1032 opened #586 "How to connect GetLens to remote GitHub repository?"
I have just installed VStudio Code V1.29.1 and now want to clone my repo on GitHub to my local system using the editor (Heretofore I've been using GetHub Desktop). There is a youtube video that demonstrates how to accomplish this very clearly using an earlier version of VStudio Code. Sadly, my newer version of VStudio Code doesn't offer the same menu options.

To date, I have been unable to set th

[2018-12-10 18:57] mtp1032 commented on #586
Well, a friend of mine showed me the way. For others who are reading this, all one has to do is to press <F1>, type in "git clone" followed by the url of you repo.

[2018-12-10 20:21] eamodio commented on #586
This is really a question for vscode and not GitLens as the built-in SCM (git) extension handles that view (and cloning).

[2018-12-10 20:21] #586 closed

[2018-12-10 23:33] MikeVelazcoMtz opened #587 "No search provider registered for scheme: gitlens"
- GitLens Version:

- VSCode Version: 1.29.1 (1.29.1)
- OS Version: macOS 10.14.1 (18B75)

Steps to Reproduce:

I'm not sure what did I move, but when I try to make a search on the search module below the file exprorer or when I try to open a file with Cmd+P this message appears:

![screen shot 2018-12-10 at 17 26 26](https://user-images.githubusercontent.com/5341310/49768107-bf584480-fca0-11e8-97

[2018-12-11 00:07] roblourens opened #588 "Output channel doesn't exist with `gitlens.outputLevel` default"
- I tried to apply a stash, it failed.
- A notification told me to find more details in the output channel.
- I clicked "Open output channel", nothing happened

I had to read the source to find that the output channel isn't created when the "output level" setting is silent, which is the default value. It seems like "errors" would be a more useful default.

[2018-12-11 00:22] roblourens opened #589 "Bad revision for stash"
The error from https://github.com/eamodio/vscode-gitlens/issues/588...

- I open the gitlens sidebar
- Right click any stash, click "apply"
- The stash can't be applied, and the output channel says something like `Error: fatal: bad revision 'stash@{0}^3'`

Seems that the `@{}` syntax can't be combined with `^`?

[2018-12-11 15:10] andygikling commented on #58
First of all I love what Gitlens is all about.  I looked closer at it.  There are two main problems.

The first issue is yes it shows submodules but it doesn't recuse the folder tree looking for more.  It only shoes submodules for git directories directly below the current VS code active folder.  Maybe this is intended though.

My repo structure looks like this:

-GitRepoMaster
----NormalCodeFolde

[2018-12-11 16:42] eamodio commented on #58
@andygikling Thanks! You can control the depth that GitLens searches for repositories by default by changing the `gitlens.advanced.repositorySearchDepth` setting. It currently defaults to 1 for performance reasons. Also, GitLens should automatically discover new repositories as you open new files from those repos.

Let me know if that works for you.

As for the naming -- I went with that structure

[2018-12-11 16:42] roblourens commented on #589
No, same issue.

I get the error just from clicking on the stash, not trying to apply it necessarily.

[2018-12-11 16:46] eamodio commented on #589
Hrm, I can't seem to reproduce that. Can you set the outputLevel to `debug` and send me logs?

[2018-12-11 16:59] roblourens commented on #589
I set the outputLevel to debug, cleared the output channel and clicked around a bit. Not sure there's any more detail. Is there a different log?

[code]

[2018-12-12 05:20] eamodio commented on #589
Hrm, I can't repro this at all. I see the same git calls, but `stash@{0}^3` is a valid ref -- its getting the first stashed and looking for any untracked files in it (see: https://stackoverflow.com/questions/12681529/)

What version of Git do you have? Is this on macOS?

[2018-12-12 05:31] roblourens commented on #589
I see the same error for that command.

[code]
$ git ls-tree -r stash@{0}^3
fatal: Not a valid object name stash@{0}^3
[code]

[2018-12-12 05:33] eamodio commented on #589
If you explicitly stash an untracked file and then run those commands against that stash does it work?

[2018-12-12 05:35] roblourens commented on #589
Can you tell me what commands to run? I'm not even clear what the `^3` means here.

[2018-12-12 05:36] eamodio commented on #589
Add a new file to your repo (but don't stage it), and then right-click on it and select `Stash Changes` -- GitLens will stash that untracked file.

Then run:
`git -c core.quotepath=false -c color.ui=false -c diff.renameLimit=0 log --name-status --format="%x3c%x2ff%x3e%n%x3cr%x3e%x20%H%n%x3ca%x3e%x20%aN%n%x3ce%x3e%x20%aE%n%x3cd%x3e%x20%at%n%x3cc%x3e%x20%ct%n%x3cp%x3e%x20%P%n%x3cs%x3e%n%B%n%x3c%x2fs

[2018-12-12 05:39] eamodio commented on #589
The way git stores stashes is kind of a 3-way merge (it has 3 parents) -- if you don't have any untracked files (or don't use the `--include-untracked`) the 3rd parent is just the root of the repo (empty), but if you do include untracked then the 3rd parent is the blob with the untracked file (or at least that's how I understand it)

[2018-12-12 08:09] codemeow5 opened #590 "Show blame by local incremental files"
I exported some git blame incremental files using the following [command](https://git-scm.com/docs/git-blame#_incremental_output).

[code]

Does GitLens consider display blame by loading local incremental files?

[2018-12-12 08:09] therealgorgan opened #591 "GitLens Error: Unable to open"
Error:
```Unable to open 'pet_controller.lua (e6e4c85) ⟷ pet_controller.lua (e89650e)': File not found (gitlens://git/<LoU-Server@e6e4c85>/mods/Ultima/scripts/pet_controller.lua?{"path":"/f:/#LoA-Server/#Git/LoU-Server/mods/Ultima/scripts/pet_controller.lua","ref":"e6e4c853664eb271d1aca3e30b0fbb5345c4208d","repoPath":"f:/#LoA-Server/#Git/LoU-Server"}).```

- GitLens Version: 9.0.3

- VSCode Versio

[2018-12-12 08:41] #501 closed

[2018-12-12 08:41] #552 closed

[2018-12-12 08:41] #566 closed

[2018-12-12 08:41] #572 closed

[2018-12-12 08:41] #584 closed

[2018-12-12 08:41] #33 closed

[2018-12-12 08:41] #588 closed

[2018-12-12 09:01] tiansin commented on #574
<img width="445" alt="qq20181212-170031 2x" src="https://user-images.githubusercontent.com/4232281/49858289-7e426a80-fe2f-11e8-9ac0-cc1bc25a5f7c.png">

Always prompt this, choose Yes.

[2018-12-12 09:04] eamodio commented on #574
So when you say Yes it doesn't apply the changes to the working tree?

[2018-12-12 09:15] tiansin commented on #574
<img width="454" alt="qq20181212-171411 2x" src="https://user-images.githubusercontent.com/4232281/49858997-61a73200-fe31-11e8-8f59-32268aa03168.png">
`
[2018-12-12 09:13:18:971] git — -c, core.quotepath=false, -c, color.ui=false, apply,   cwd='/Users/xxxx/xxxx/xxxx/xxx/src/app/Services'

Error: <stdin>:33: trailing whitespace.
     * @param url
error: patch failed: Public/plat.class.ts:5
error: P

[2018-12-12 10:17] a7madgamal opened #592 "add option to 'ignore' an array of commit id in line blame"
in line blame feature is amazing and I use it all the time. However, some commits like changing the formatting of the codebase will be in your face.
would be great if we can ignore some commits and show their parent commits as the blame result

[2018-12-12 10:20] a7madgamal commented on #592
something like this https://commondatastorage.googleapis.com/chrome-infra-docs/flat/depot_tools/docs/html/git-hyper-blame.html

[2018-12-12 11:46] bpasero commented on #570
I would love to have this feature (filter comparing between 2 commits by author).

[2018-12-12 13:56] andygikling commented on #58
Fantastic!  Well done sir.  Sorry I didn't know about the search depth option!

Naming decision makes sense.  Thank you.

[2018-12-12 14:50] forsureitsme commented on #587
Related: https://github.com/Microsoft/vscode/issues/58370

[2018-12-12 16:34] eamodio commented on #582
I'm open to suggestions and PRs are very welcomed 😄

[2018-12-12 16:39] #523 closed

[2018-12-12 16:40] eamodio commented on #592
Duplicate of https://github.com/eamodio/vscode-gitlens/issues/413

[2018-12-12 16:40] #592 closed

[2018-12-12 16:41] eamodio commented on #587
@forsureitsme thanks for linking that!

[2018-12-12 16:41] #587 closed

[2018-12-12 16:45] eamodio commented on #319
I'm going to close this as I think this is resolved (and was a vscode issue).

[2018-12-12 16:45] #319 closed

[2018-12-12 17:42] eamodio commented on #574
On the command line what happens if you run:
`git apply --whitespace=warn -3`

[2018-12-12 18:00] jackhorton commented on #33
thanks for the quick response!

[2018-12-12 21:50] roblourens commented on #589
[code]

[2018-12-12 23:41] eamodio commented on #589
@roblourens Interesting -- thanks for the info. So it seems that for your "version" of git it fails if there is no 3rd parent (i.e. no untracked files in the stash), but in my version of git it just returns no data.

I'll just put a trap in for this case and treat it as a no data event.

[2018-12-13 06:40] eamodio commented on #591
I don't see any errors in those logs which correlate to the original error posted, can you retry and post the logs covering the error? Also where is the space in the folder name? I don't see any spaces

[2018-12-13 06:41] #590 closed

[2018-12-13 06:44] eamodio commented on #585
You can just using the built in git extension -- if you aren't in diff view, you will see a little red arrow at the point where you deleted the line. If you hover over it, it will expand to a red rectangle that you can click on and it will open a peek view with the change which you can undo.

Hope that helps.

[2018-12-13 06:44] #585 closed

[2018-12-13 07:09] therealgorgan commented on #591
[2018-12-13 07:09:00:900] [730] GitService.resolveReference —
e=f:/#LoA-Server/#Git/LoU-Server,
t=2f655649548adc2cc7234897e3673d9f8d88b506^,
i=Uri(file:///f:/%23LoA-Server/%23Git/LoU-Server/mods/Ultima/scripts/globals/engine_callbacks.lua)
[2018-12-13 07:09:01:011] [f:/#LoA-Server/#Git/LoU-Server] git log -M -n1
--format=%H 2f655649548adc2cc7234897e3673d9f8d88b506^ --
mods/Ultima/scripts/globals/e

[2018-12-13 07:11] therealgorgan commented on #591
I saw some logs that referenced my %APPDATA% directory earlier I guess that was unrelated to this, as the path with a space is not being referenced in the GitLens error, you're right.

I've cleared my Gitlens Output logs and have attempted to open a change from another branch again and this is the output:

[code]

[2018-12-13 07:39] tiansin commented on #571
@eamodio Is it possible to add a configuration to control its display and hiding, which in my opinion affects my visual enjoyment.

[2018-12-13 07:43] therealgorgan commented on #591
Update: This also happens when trying to load a diff from the same file I'm viewing.

[2018-12-13 08:41] therealgorgan commented on #591
Can I roll the plugin back to the previous version somehow?

[2018-12-13 09:41] GandalfSaxe commented on #585
Actually it doesn't help me because it's an all-or-nothing feature: I can only discard ALL changes in the block. If I'm only interested in restoring a single line, it's not possible in this pop-up view you speak of to select text here either. Thus I'm forced to go to the web interface of GitHub.com to find the line I'm looking to restore.

[2018-12-13 09:53] eamodio commented on #585
If you open the diff view (click the Open Changes button in the editor toolbar) then you should be able to see the contents of the deleted line on the left and copy it to the right.

[2018-12-13 09:53] #574 closed

[2018-12-13 09:53] #571 closed

[2018-12-13 09:53] #589 closed

[2018-12-13 09:58] #559 closed

[2018-12-13 09:58] #383 closed

[2018-12-13 10:08] GandalfSaxe commented on #585
The Open Changes view doesn't allow me to select any of the deleted lines either:

![](https://i.imgur.com/DGhptNG.gif)

[2018-12-13 12:51] kolya-ay opened #593 "Use native VSCode clipboard api"
Seems it [was finalized](https://github.com/Microsoft/vscode/issues/64220).

[2018-12-13 22:14] andygikling commented on #58
Of course!  Thank you.

[2018-12-13 22:16] #58 closed

[2018-12-14 10:43] edugarcam opened #594 "Linter no longer works over file diffs"
- GitLens Version: 9.2.0

- VSCode Version: 1.30.0
- OS Version: Linux x64 4.19.8-arch1-1-ARCH

More or less a week ago linter, spell checker and sonnar (in my case) stop works when i am reviewed commit differences.

Is it a normal behaivor?

Thanks in advance!

[2018-12-14 17:43] eamodio commented on #594
Sadly this expected since GitLens changed from using temp files on disk to using a virtual FileSystemProvider. This change was for many reasons (fixes many bugs, opens up many new features), but this one of the consequences of it.

Although for some of those tools, they can "learn" to target not just files (i.e. documents using the `file` scheme) and could target GitLens' virtual files which use t

[2018-12-15 03:04] k1nghat opened #595 "adding upstream remote commands"
possible to add upstream remote commands to gitlens? these off the top of my head but there are others:
`git remote add upstream`, `git fetch upstream`, `git rebase upstream/master` or `git merge upstream/master`
as @KamasamaK on slack pointed out that VSCode is implementing some and not sure when:
https://github.com/Microsoft/vscode/pull/60640
and im not sure if this is a comprehensive list of th

[2018-12-16 08:13] IoTFier commented on #589
Hi @eamodio - can you please reopen this issue ? I am stuck with my stashed changes with the following error …

**_error: could not restore untracked files from stash
The stash entry is kept in case you need it again._**

I am stuck with the risk of many of my changes lost.

[2018-12-16 08:20] IoTFier commented on #589
Apply Stashed changes command fires up .. git — -c, core.quotepath=false, -c, color.ui=false, stash, apply, stash@{0},   cwd='~ working directory … '

resulting in the error "error: could not restore untracked files from stash" and then for StashApplyCommand fails with another error of same kind. I have few untracked and modified files in the stash....

[2018-12-16 08:49] IoTFier commented on #589
@eamodio - while trying to apply those stashed changes .. one of the files popup under repositories window under my local branch. When tried to commit changes from that file it failed... Now I see two lists when I run "git stash list " it shows two lists but nothing under stashes

C:\~path~ >git stash list
stash@{0}: WIP on {my branch name}: {commit id} adding 38 files changes stashed from visual

[2018-12-16 15:16] IoTFier commented on #589
@eamodio I am not sure if having the same repo open in VSCode and VS simultaneously created any conflicts. But now, under Stashes I see two stashes … When tried to apply on of the stashes will multiple files that was giving me above error .. I observed an exclamation mark shown in the notification window as pointed below. Am I missing setting up any configuration of the GitLens Extn ? Is there a c

[2018-12-16 15:34] eamodio commented on #589
As long as you don't delete the stash (or delete after applying) you run no risk of losing your changes -- they are safely contain within the stash.

While I'm not sure of what is really going on here, but my guess is that the stash couldn't be applied cleanly to the working directory because there were conflicts -- e.g. a file that was not tracked in the stash that exists in the working directory

[2018-12-16 15:39] eamodio commented on #589
FYI all GitLens is doing to apply that stash is (assuming you are apply in the first stash)
[code]

Which you can run directly and git should list what files are in conflict

[2018-12-16 16:33] IoTFier commented on #589
running git stash apply "stash@{0}" throws following message and an error
C:\{path}>git stash apply "stash@{0}"
On branch {branch name}
Your branch is ahead of 'origin/{branch name}' by 1 commit.
  (use "git push" to publish your local commits)
nothing to commit, working tree clean

![image](https://user-images.githubusercontent.com/26844611/50056164-fe155100-011d-11e9-93a1-9245cb42797c.png)

[2018-12-16 19:38] eamodio commented on #591
@therealgorgan Is this repo accessible (where I can try it out)? Or do you have another repo that is that reproduces the issue?

Now with vscode 1.30 you can actually rollback to another version: https://code.visualstudio.com/updates/v1_30#_install-previous-versions

[2018-12-17 09:21] edugarcam commented on #594
Ouch! Thank you for the answer

[2018-12-17 09:21] #594 closed

[2018-12-17 10:55] therealgorgan commented on #591
Very good! I actually rolled back to version 8 and it works! :) Thank you
very much! -- My repo is private as it's covered under NDA. This issue
happened across multiple machines with different OSes too, until we
switched back down to v8.

On Sun, Dec 16, 2018 at 1:38 PM Eric Amodio <notifications@github.com>
wrote:

[2018-12-17 10:56] therealgorgan commented on #591
I'm sorry I don't actually use any public repos to test on. My team and I
can work on setting up a test public repo to see if the issue persists
there.

On Mon, Dec 17, 2018 at 4:55 AM Nicholas <flynn.nick06@gmail.com> wrote:

[2018-12-17 17:11] Ryan-Efendy opened #596 "GitLens & Visual Studio Live Share: Participant/guest cannot see current line blame annotation"
- GitLens Version: 9.2.1
- VSCode Version:
    - Guest using Code - Insiders Version 1.31.0-insider
    - Host using Code Version: 1.30.0
- Both host and guest have GitLens Version: 9.2.1 installed. In Visual Studio Live Share, the host can see the current line blame annotation but participant/guest cannot see on their end.

[2018-12-17 17:14] turijs commented on #568
@eamodio I was looking at this again today and I am no longer able to produce the issue (tried same files/lines as before). Was it fixed? At any rate, this can probably be closed now. Thanks!

[2018-12-17 19:46] eamodio commented on #568
I did make some changes, but couldn't be sure it fixed things. Looks like maybe they did -- thanks!

[2018-12-17 19:46] #568 closed

[2018-12-18 10:01] philraj commented on #552
Thank you!

[2018-12-18 10:01] mrsimpson opened #597 "Comparing the active file with other branch - feature removed?"
A feature I recall to have used very often is the comparison of a single file I opened with one in another (potentially remote) branch.

![image](https://user-images.githubusercontent.com/17176678/50146311-c3ddb800-02b3-11e9-8a20-8b00f3380c2d.png)

Now (precisely for some releases) the command `Compare active file with remote branch` is gone.

Current GitLens Version: 9.2.1

Is this a bug, a featu

[2018-12-18 10:12] seifsg opened #598 "Apply changes when comparing a file from two branches is not working"
- GitLens Version: 9.2.1
- VSCode Version: 1.30
- OS Version: Windows 10

Steps to Reproduce:

1. Select two branches for compare
2. Select a file with changes
3. Right click on it and click Apply Changes

Recently and until about a month ago, I've used Apply Changes on the same repo with the same machine many times before and it was working fine.

[2018-12-18 19:09] UziTech opened #599 "Stage entire folder in tree view"
Is there a way to stage an entire folder in tree view?

[2018-12-18 19:19] UziTech commented on #599
context: https://github.com/Microsoft/vscode/issues/14582#issuecomment-429239809

[2018-12-18 20:45] eamodio commented on #597
Sorry for the confusion -- in GitLens 9, I aligned with the VS Code terminology of _Open Changes_, so the "missing" commands use that naming structure:

![image](https://user-images.githubusercontent.com/641685/50181932-dd92f580-02db-11e9-870a-834363377427.png)

[2018-12-18 20:45] #597 closed

[2018-12-19 10:45] oferz commented on #319
I'm having this issue with GitLens 9.2.2, VS Code 1.30.1 running on Linux.
editor.codelens and Merge-conflict > Code Lense are enabled.
Turning off GitLens' review mode (to Zen mode) fixes the issue and I can see the resolve conflict actions above the merge conflict code again.

[2018-12-19 19:34] michael-lang commented on #583
I may have confused the issue.  The problem does occur still in both my current repos.

![image](https://user-images.githubusercontent.com/326012/50243115-e7773000-0391-11e9-97d3-8ccf961ed5af.png)

Notice in the screenshot the current branch is correctly reflected at the top.  However, under "Branches" the checkmark is still next to the last branch I was working on.  Also I just deleted a couple l

[2018-12-19 20:04] AustonZ commented on #319
FYI @oferz:

For me:
VSCode 1.30.1
GitLens 9.2.2

`Merge-conflict > Code Lens` was already enabled, so that wasn't the problem, but as @AhmedBHameed said up above, `Editor: Code Lens` was disabled, and switching that to enabled fixed it.  I'm not sure how that got disabled in the first place.

[2018-12-20 16:20] parejadan commented on #565
Is the solution to downgrade your git lens version? I'm running one:

[code]

[2018-12-20 17:21] eamodio commented on #565
@parejadan Solution for what? What issue are you having?

[2018-12-20 17:24] parejadan commented on #565
@eamodio non of the gitlens features were responsive and my search results let me to enable verbose mode. I would then get the `GitService.isTracked false` output nonstop.

Somehow I was able to get the gitlens to function again by updating my mac's git version among other things (can't remember what old version I was on).

[2018-12-20 20:30] showcasefloyd opened #601 "Add a setting to turn off relative date markers"
Is there any way to turn off the little when messages that say in "Less than a week ago", or "Less than a month ago" in the history window panes.

I just want to see the commit log.

Thanks

[2018-12-21 08:48] #601 closed

[2018-12-21 08:53] eamodio commented on #583
@michael-lang I just released GitLens 9.2.3 which should fix the refresh issue, but I'm still at a loss to understand the root issue. Can you please reproduce the issue and send me both the steps that show the problem and the logs that go along with those steps?

[2018-12-21 11:20] peteboothroyd commented on #60
I am also facing this issue with GitLens 9.2.3, python 3.6.5, pytest 4.0.2 and VSCode 1.30.1

[2018-12-21 17:47] Ryan-Efendy commented on #596
I'm not debugging on the live share session. What additional information would you need?

This is a screenshot from the host, as you can see there's a blame annotation on the line the user is currently hovering on.
![screen shot 2018-12-21 at 9 40 58 am](https://user-images.githubusercontent.com/12979345/50355954-32fe1b00-0505-11e9-9681-139d6e2decce.png)

This is a screenshot on the participant/gu

[2018-12-21 18:18] viktordd commented on #583
Hi I have the same issue.
The picture below shows the state after deleting a local branch, then creating a new branch. The branch list in gitlens is not updating. I have tried to fetch, pull, and refresh on git lens, but the Branches list does not update. You can see on the left it shows I have 2 local branches and 3 on Git Lens.
![image](https://user-images.githubusercontent.com/4382305/50356916-

[2018-12-22 05:14] eamodio commented on #596
@Ryan-Efendy can you please enable output logging on both the host and guest by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Then reproduce the issue and send me the resulting output from the channel?

Also what OS' are you using?

[2018-12-22 05:15] eamodio commented on #583
@michael-lang So using the refresh button with GitLens 9.2.3 didn't help? Can you provide logs please?

[2018-12-22 15:01] michael-lang commented on #583
9.2.3 did not fix the problem I was having.  But I did find the cause.

I have a git repo with multi-projects in it. At the root is a visual studio solution, which I edit using Visual Studio 2017.  I also have a folder under the root for an Angular 7 project, which I open directly in VS Code. The Git repo root is at the parent folder of what I have open in VS Code.

If I open the full git repo in

[2018-12-22 16:46] HarryAdney opened #602 "gitlens.historyExplorer.enabled"
- GitLens Version: 9.2.3
- VSCode Version: 1.31.0-insider
- OS Version: Windows 10 Insider

Steps to Reproduce:

1. Viewed settings.json

Tried uninstalling and reinstalling, but issue remains

[2018-12-22 17:30] eamodio commented on #602
I'm really not sure what this issue is about -- can you provide more details? And the setting referenced in the title doesn't exist anymore.

[2018-12-22 17:56] HarryAdney commented on #602
Sorry friend,

This issue seems to have disappeared! I've just reinstalled again and this time, the line "gitlens.historyExplorer.enabled" doesn't show in settings.json. Maybe I needed to close vscode and reopen, rather than just reload?

I don't know, either way, it seems to be ok now.

[2018-12-22 17:56] #602 closed

[2018-12-22 19:48] eamodio commented on #583
Ah, that explains it and also why the refresh button wasn't working for you even in 9.2.3. This problem is a consequence of this issue: https://github.com/Microsoft/vscode/issues/3025

Until that is resolved, I will add an indicator that shows that the repo won't be automatically updated. And will ensure that caching won't be used unless I can detect repository changes.

[2018-12-22 19:58] eamodio commented on #583
@michael-lang @viktordd can you try out this build and see if it resolves the issue for you? Again GitLens still won't be able to detect the repository change (until the vscode issue is fixed), but the refresh button should work properly now. You should also see an indicator in the _Repositories_ view when GitLens won't be able to automatically detect changes.

Please remove the `.zip` from the en

[2018-12-25 06:06] jjasoncool opened #603 "Encoding issue"
- GitLens Version:9.2.3
- VSCode Version:1.30.1
- OS Version:Windows 10

My files is big5 encoding (Not UTF-8), when I using gitlens view history, the encoding will change to UTF-8.
I have to change it by myself, but previous version is auto guess my file encoding.
I have setting vscode setting.json
[code]

Steps to Reproduce:
- In file history have this issue
![image](https://user-images.githubus

[2018-12-25 16:22] bontchev opened #604 "How do I compare branches?"
I would like to be able to compare different git branches from within VSCode. Googling around lead me to this extension. The documentation (which is really a humongous list of features) suggests that it indeed can compare branches - however, I am unable to figure out how exactly to do it.

There seems to be (according to the documentation) something called "Compare view" - but I have no idea how t

[2018-12-26 06:42] ldhios commented on #597
@eamodio I looked for it for a long time，The suggestion is to change back to the previous one。 Compart file with other branch or tags is correct。

[2018-12-26 07:45] sherlockwang opened #605 "Show More Commits not working"
- GitLens Version: 9.2.3

- VSCode Version: 1.30.1
- OS Version: macOS 10.14.2

Steps to Reproduce:

1. Open a repository with a lot of commit
2. Click "Show More Commits"

Nothing happened, no earlier commits loaded.

![image](https://user-images.githubusercontent.com/9678225/50437540-11e26380-0925-11e9-9fdd-820ebc0f224c.png)

[2018-12-26 20:48] #605 closed

[2018-12-26 20:52] eamodio commented on #583
Reopening, since this really isn't fixed, just somewhat handled until the vscode issue is addressed.

[2018-12-26 21:48] bontchev commented on #604
Thank you. My version of GitLens is 6.4.0 - that's what VSCode installed from the repository. It is possible, however, that I don't have the latest version of VSCode. I'll see if I can install a newer version and it it will update GitLens to a newer version.

[2018-12-26 22:38] bontchev commented on #604
Yep, that was it. Once I managed to install VSCode 1.30.1 (a somewhat non-trivial task, because the installer kept hanging when I told it to install over the existing installation in `C:\Program Files\VScode`), GitLens updated to 9.2.4 and everything looks very different (there is no Gitlens group in Explorer; instead there is a Gitlens icon on the sidebar) but, most importantly, I can now compare

[2018-12-26 22:38] #604 closed

[2018-12-27 15:00] michael-lang commented on #583
@eamodio The 9.2.4 beta does allow the refresh button to work.  Thank you.

[2018-12-27 21:09] eamodio commented on #395
I'm going to close this as I can't reproduce it, nor do I have access to a Mac at this point. And also the commands in question are built-in vscode commands, so if there is some underlying issue it is likely to be with vscode itself. So I would recommend filing an issue against that repository. Sorry.

[2018-12-27 21:09] #395 closed

[2018-12-27 21:39] eamodio commented on #319
@oferz I'm not sure how GitLens could be conflicting with the built-in merge code lens unless there is an issue in vscode itself. Could you please open an issue against the vscode repository and link it here?

[2019-01-02 08:12] #542 closed

[2019-01-02 08:12] #504 closed

[2019-01-02 08:12] #599 closed

[2019-01-03 07:14] eamodio commented on #427
@thetrompf I've made some changes to the naming in a recent version of GitLens -- can you try out GitLens 9.3 and see if it improves things for you?

[2019-01-03 07:17] eamodio commented on #515
I am closing this issue because it has not had recent activity and I believe this is behaving as designed.

[2019-01-03 07:17] #515 closed

[2019-01-03 11:13] oferz commented on #319
@eamodio with the latest versions (VSCODE 1.30.1 and GitLense 9.3.0) it works fine again.

[2019-01-03 23:03] ghost opened #606 "ID for xxx is already registered?!"
- GitLens Version: 9.3.0
- VSCode Version: 1.30.1 (User setup)
- OS Version: Windows 10 (Professional, x86)

Steps to Reproduce:

1. Open a repository based on your local PC, then use the command below to sync with your remote one:

**git pull --rebase [your remote rep name] [your remote branch name]:[your local branch name]**

![errorinterface](https://user-images.githubusercontent.com/40081831/5

[2019-01-04 00:04] ghudik-clgx opened #607 "Open file in Remote Doesn't URL encode"
## Open File on Remote Path
https://github.com/org/repo/blob/#162623762-feature/Path/File.cs

## Correct URL when file is browsed in Github.com
https://github.com/org/repo/blob/%23162623762-feature/Path/File.cs

As a result Open File in Remote results in 404 in browser in cases where there are special characters in branch name for example.

- GitLens Version: 9.3.0
- VSCode Version: 1.30.1
- OS Ve

[2019-01-04 06:51] Luxray5474 opened #608 "Please, 8 character long commit ID"
Literally every other git interface uses 8 characters in the commit ID abbreviation. Gitlab, GitHub, BitB, Gogs, GitExt, GitKraken, you name it, they all use 8 character long commit ID abbreviations...

***why*** does GitLens only have 7 characters?

It may not be too much of a bother to some people, but to me it certainly is, especially when I am trying to copy abbreviated commit IDs into a sprea

[2019-01-04 07:38] eamodio commented on #608
See: https://github.com/eamodio/vscode-gitlens/issues/496

The default abbrev length of git is currently 7. Also when I look on GitHub I see 7, the same with GitHub Desktop, and in GitKraken I see 6.

Although I would be open for a PR that adds a setting to make it configurable.

[2019-01-04 08:48] Maledong commented on #606
@eamodio：OK, it seems fixed. MANY THANKS FOR YOUR QUICK REPLY!!!!

[2019-01-04 16:27] DarthSpock opened #609 "How to get Gitlens to view workspace hosted by SSHFS?"
I have a server I remotely connect to using SSHFS for a project I'm doing that makes use of the FileSystemProvider API to do ssh://  paths. How do I get Gitlens to show this workspace?

[2019-01-04 16:56] eamodio commented on #609
Are you using a vscode extension to support ssh files?

[2019-01-04 17:01] DarthSpock commented on #609
Yes the extension is actually called SSHFS, not to be confused with the FUSE one. Link to project: https://github.com/SchoofsKelvin/vscode-sshfs

I'm running on Win 7 but remote into a Fedora Server that's used among other purposes for my dev work before getting pushed to BitBucket.

[2019-01-04 17:04] eamodio commented on #609
Does the built-in git support in vscode work with that setup?

[2019-01-04 17:06] DarthSpock commented on #609
I'm not sure. I haven't been successful in getting it to read the path. I'm unable to create a Samba share so I'm totally reliant on the extension to directly manipulate from Windows.

[2019-01-04 17:09] eamodio commented on #609
Yeah, unfortunately I don't think it can work, since both the built-in vscode git and GitLens shell out to git itself to do all of the work. So the git process would need to be able to have access to the repo/fs itself.

[2019-01-04 19:36] mosta2 opened #610 "In visual studio code Gitlense: how to undo Revert Commit (via terminal) to restore files?"
On visual Studio extension After committing a lot of changes using
Revert Commit (via terminal)"
A lot of unwanted changes happened including deleted files, is there a way to restore this commit back ?
my git experience is not good. here is the what i tried to restore using terminal:

[code]

[code]

[code]

[2019-01-04 22:00] mosta2 commented on #610
I was able to restore the commit version from the visual studio code and gitlens extension, even after commit does not appear on list (after undo commit)

On gitlens extension there is a tab for search commits, you can search the commit by its ID.

Then Right click the commit and click on "checkout commit".

[2019-01-04 22:00] #610 closed

[2019-01-05 13:12] annymosse commented on #172
how about this video [youtub](https://www.youtube.com/watch?v=RU-_0cgyGyI) ?

[2019-01-05 17:15] Luxray5474 commented on #608
I am working on it right now. So far, I have found the location of the value that needs to be changed and have added an option in package.json. However, how do I link that option to the value?

Btw, I have never made a VScode extension before, but I have some JS and OOP experience from working with other software. So I might be really off with the way I'm doing this.

[2019-01-05 18:34] eamodio commented on #608
@Luxray5474 No worries at all, I'm happy to help you through it -- and really appreciate you tackling this!

So you are on the right path for sure.

And you are correct with adding that setting to the `package.json` -- though lets call it `gitlens.advanced.abbreviatedShaLength`, and set its `scope` to `window` (since this setting will be for the whole "window")

Then in https://github.com/eamodio/

[2019-01-05 18:35] eamodio commented on #608
Also make sure to make these changes off of the `develop` branch, not `master`

[2019-01-06 02:34] Luxray5474 commented on #608
Ah, nice! Thanks for the guide! I'll let you know if I have anymore questions. Again, I appreciate it :D

[2019-01-06 03:38] Luxray5474 commented on #608
Yay!!!

![](https://i.imgur.com/8kmnxGB.png)
![](https://i.imgur.com/mm0FrRu.png)

Thanks for everything :D I will submit a pull request very soon. Again, thank you so much!

[2019-01-06 15:48] Luxray5474 commented on #608
Are linebreak and `no-floating-promises` warnings that prevent me from completing the PR checklist?

[2019-01-07 18:44] jayarjo commented on #375
@eamodio would be great though if you could blend these two together somehow.

[2019-01-07 19:40] lcswillems commented on #375
The problem with the plugin is that I am not able anymore to access the built-in Git extension with ctrl+shift+g. And I don't know how to access it without.

[2019-01-07 21:13] eamodio commented on #375
Ah, yeah, sorry GitLens remaps that to the `ctrl+shift+g g` chord -- so that GitLens can use `ctrl+shift+g` for all of its keyboard shortcuts.

[2019-01-07 21:15] lcswillems commented on #375
Thank you but this is written nowhere and I think it blocks a lot of people using the extension.

[2019-01-08 05:35] eamodio commented on #609
Closing as this currently isn't possible given the current level of file system support

[2019-01-08 05:35] #609 closed

[2019-01-08 05:42] eamodio opened #612 "Add UI to aid (guide) in the creation of custom (e.g. unrecognized remotes)"
Extracted from here: https://github.com/eamodio/vscode-gitlens/issues/512#issuecomment-426418740

[2019-01-08 05:44] eamodio opened #613 "Change Copy Remote URL to Clipboard to always copy a permalink (e.g. revision link)"
Quote from @loskael: https://github.com/eamodio/vscode-gitlens/issues/512#issuecomment-429191634

[2019-01-08 05:45] eamodio commented on #512
I am closing this issue because I believe it is working as intended.

[2019-01-08 05:45] #512 closed

[2019-01-08 07:31] eamodio commented on #591
@therealgorgan Please let me know if you can repro this on another repo that I could get access to -- because I'd love to get to the bottom of why this works in v8 but not v9. Also can you still reproduce the problem with v9.4?

[2019-01-08 07:32] eamodio commented on #603
@jjasoncool Can you send me an example file that shows this issue?

[2019-01-08 15:20] jaywryan opened #614 "remote URL not working for wiki links"
- GitLens Version:

- VSCode Version: 1.29.1
- OS Version: Windows 10

Steps to Reproduce:

1. Use the Remote features of GitLens (Copy or Open) Remote URL on a github wiki.

This results in a 404 as the URL gets set to the remote url for the git repository, which is <repository url>.wiki

This should recognize the .wiki and redirect the remote URL to be <repository>/wiki

In practice, I am using

[2019-01-08 15:32] liuyuanting1209 opened #615 "add open changes(with merge tool)"
when merge conflict, is it possible to add new command open changes with merge tool? the default merge tool is not good. config merge tool in git, but cannot call  it from vscode

[2019-01-09 01:05] RudyOnRails opened #616 "How do you view your favorited branches?"
This is probably a very easy question to answer but I can't seem to find the answer.

After favoriting a branch, where do you find your favorites? I've looked all over the place which includes googling, Github issues, and searching settings for GitLens...but I cannot find all the favorites I have favorited.

Thanks for any assistance,
Kevin

[2019-01-09 01:39] jjasoncool commented on #603
Hi here is the file which is encording with big5.

Eric Amodio <notifications@github.com> 於 2019年1月8日 週二 下午3:32寫道：

[2019-01-09 04:31] eamodio commented on #616
Favorited branches currently just show up sorted first within the _Branches_ node in the _Repositories_ view. Also if layout branches is set to tree (`"gitlens.views.repositories.branches.layout": "tree"`, the default), then favorited branches won't be grouped with others.

[2019-01-09 08:22] shadowspawn opened #617 "Version links in CHANGELOG not functional"
The version "reference links" in the headings of the CHANGELOG entries are not functional because the separate URLs are missing. Willing to do a Pull Request if you are interested in adding the reference links to the past releases. (I noticed the issue partly because I had same issue with the `Keep a Changelog` format myself.)

# Example Raw

[code]

# Rendered

## [9.4.1] - 2019-01-08

### Fixed

[2019-01-09 11:26] cgxxv opened #618 "Disable pushing to certain branches"

[2019-01-09 11:29] felixfong227 opened #619 "When VSCode debugger is up, no more Git blame messages"
- GitLens Version: 9.4.1

- VSCode Version: 1.30.2
- OS Version: MacOS 10.13.6

Steps to Reproduce:

1. Developing a React app
2. Open the VSCode debugger
3. Enable the debugger
4. Attach the current debugger process to one of the React's process

Screenshots:

![image](https://user-images.githubusercontent.com/13918481/50896396-d9be4300-1443-11e9-9fee-c95603d0bfda.png)

When the debugger is off,

[2019-01-09 14:08] RudyOnRails commented on #616
Ok that helps @eamodio.

But what's weird, and threw me off sparking this question, is that my non-favorite branch `160912344` is at the top, and then several favorites after it. If I favorite it, it stays put, and if I un-favorite it, it still stays put.

Any thoughts?

[2019-01-10 03:44] Eskibear opened #620 "Wrong URL to open commit on Azure DevOps if cloned via SSH"
- GitLens Version: 9.4.1

- VSCode Version: 1.30.1
- OS Version: Win10 Ent

Steps to Reproduce:

1. Clone and open a repo from Azure DevOps.
2. Choose a commit to "open commit on Azure DevOps"
3. Page is 404

I can give you some edge cases:

### Example 1 (visualstudio.com)
#### Cloning URL via HTTPS:
`https://<org>.visualstudio.com/DefaultCollection/<project>/_git/<repo>`
`https://<org>.visualstu

[2019-01-10 12:46] fasvald opened #622 "Current branch name in left down corner"
Hello.
When I try to checkout a branch from a repo using GitLens Side Bar Menu VSCode in the left corner shows me only id/hash of the branch, but not a name.

For example instead of showing `dev` name it shows me `2fgrersd...`.

How can I change it?
Thanks a lot.

[2019-01-10 16:47] kglickman opened #623 "[Feature Request] Link to pull request"
I frequently have the situation where I don't remember why I changed a line of code. I use the blame feature to find the commit id, build the URL in our internal git repository to see the commit, then use the link on that page to go to the pull request.

It would be amazing if GitLens could provide a link to the commit url, or even better, the pull request.

[2019-01-10 16:49] kglickman commented on #623
I frequently have the situation where I don't remember why I changed a line of code.  I use the blame feature to find the commit id, build the URL in our internal git repository to see the commit, then use the link on that page to go to the pull request.

It would be amazing if GitLens could provide a link to the commit url, or even better, the pull request.

[2019-01-11 12:34] RedTailBullet commented on #245
So have anyone reported this to the VS Code team?

[2019-01-11 13:51] Speedy-VonGofast opened #624 "Branches comparison not working"
Issue Type: <b>Bug</b>

When I try to compare a file from two branches, I get an error that the comparison file doesn't exist.

![image](https://user-images.githubusercontent.com/10726818/51037121-a13b7800-15af-11e9-9a7d-279e285d6214.png)

**Steps to reproduce:**
- Select _Compare <branch, tag or ref>_ on the Gitlens side bar
- Select two different branches
- Select a changed file to view the comp

[2019-01-11 18:06] eamodio commented on #245
@RedTailBullet My guess is it has been reported many times, but I also highly doubt they will change the behavior. The current behavior allows them to decouple the loading of the code from any delays/overhead extensions might add. This allows them to keep the coding experience fast.

[2019-01-12 14:34] mjmhtjain commented on #615
I think this is one of the most relatable issues i have had with this extension

[2019-01-13 02:22] haojun99 opened #625 "Branches in Repositories view shows some commit comment texts as branches"
- GitLens Version: 9.4.1

- VSCode Version: 1.30.0
- OS Version: Windows 10

Steps to Reproduce:

1. Just open Branches in Repositories view. Some commit comment texts are shown as branches. When it gets worse, Branches won't show anything due to conflicting IDs (two commit comments with same texts).

I ran "git branch -vv --abbrev=40 -a". One suspicious thing I saw is the ^M character in some com

[2019-01-13 02:37] haojun99 commented on #625
![untitled](https://user-images.githubusercontent.com/6914381/51080933-e3e17b00-16a9-11e9-98d7-d4a3c437bd7f.png)

[2019-01-14 11:38] mlasson opened #626 "Branch names with only digits always appear first"
Issue Type: <b>Bug</b>

To reproduce, make a branch with a name consisting only of digits (eg. "123") in a repository containing a starred/favorite branch (eg. "master"). Normally, you'll expect to have master appearing first in the list because it is starred but you'll see that the "123" is first:

![image](https://user-images.githubusercontent.com/5814258/51110376-cbcc4180-17f8-11e9-82a9-c47e208

[2019-01-14 17:43] slarrasoain opened #628 "History error"
- GitLens Version: 9.4.1
- VSCode Version: 1.30.2
Version : 1.30.2 (system setup)
Validation : 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
Date : 2019-01-07T22:54:13.295Z
Électron : 2.0.12
Chrome : 61.0.3163.100
Node.js : 8.9.3
V8 : 6.1.534.41
OS : Windows_NT x64 10.0.17134

The file history is not shown.
didn't work since gitlens version 9.0 but was ok on last 8 version

thanks for the help

Please

[2019-01-14 18:33] sa-mm opened #629 "Compare Ancestor"
Is `gitlens.views.compareAncestryWithWorking` working for anyone? I'm unable to see it in my context menu. It doesn't appear in the list of git commands available after pressing command + shift + P. I _can_ assign a keyboard shortcut to it, but invoking the keyboard shortcut does nothing.

Basically, I think I'm after `git diff master...HEAD` or `git diff master...(working copy somehow)`.

[2019-01-15 18:04] yashLadha commented on #477
Error still persists, getting `spawn EACCESS`

[2019-01-15 21:36] brianchuchua commented on #61
For what it's worth, I ran into a similar issue, but it turned out to be due to line endings -- locally I was using CRLF on a Windows machine with GitHub Desktop, but the files were actually originally LF.

Once I switched my document from CRLF to LF, the issue went away.

[2019-01-17 15:40] johnspurlock opened #630 "GitLens commands are mistakenly enabled for non-disk-based workspace files"
- GitLens Version: 9.4.1

Steps to Reproduce:

1. Add the [MemFS](https://marketplace.visualstudio.com/items?itemName=jrieken.vscode-memfs) extension (or the [fsprovider-sample](https://github.com/Microsoft/vscode-extension-samples/tree/master/fsprovider-sample) in the vscode-extension-samples repo)

2. Create an MemFS workspace.  > MemFS: Setup Workspace

3. Create some new files in the workspace

[2019-01-17 19:18] wgehalo opened #631 "Remotes fail to show in gui."
- GitLens Version: 9.4.1
- VSCode Version: 1.30.2
- OS Version: Windows_NT x64 10.0.14393 (W10)

Steps to Reproduce:

1. Click on gitlens in sidebar.
2. Expand remotes

Pop up appears:
`Element with id 0:gitlens:repository(c:/Users/<redacted>/Git/PublicRecords):remote(<redacted>) is already registered`

Removing this remote causes it to happen with other remotes.
Log set to debug, however it never

[2019-01-18 12:54] bitfield opened #632 "How to add port number to GitLab remote?"
Our GitLab server runs on port 8000, so when you right-click on a file and select 'Open File on Remote', or 'Copy Remote Url to Clipboard', the generated URL doesn't work. It looks like this:

[code]

whereas it should be:

[code]

I can't figure out how to configure this in the GitLens settings. I've tried adding this:

[code]

But this seems to have no effect at all on the generated URL. What am

[2019-01-18 21:50] CCludts opened #633 "Compare File with Previous Revision doesn't work if path contains '#'"
__First and foremost, a huge thanks for creating and maintaining gitlens! It is an awesome tool! 👍__

#### Steps to Reproduce:

1. create file in a folder with '#' in the path
2. commit that file
3. make change to that file
4. click 'Open Changes with Previous Revision' in top-right of the screen
![image](https://user-images.githubusercontent.com/18717967/51414423-bfd2dd80-1b72-11e9-97e6-8d96357d5

[2019-01-19 08:42] mlasson commented on #616
I had the same problem ! See issue #626 and PR #627 for a bug fix.

[2019-01-19 18:59] mikeerickson opened #634 "Is it possible to change these items... too obtrusive?"
I am curious if it is possible to change the font color for these items (see screenshot)

![image](https://user-images.githubusercontent.com/183153/51431110-360a2b00-1bd9-11e9-983a-b4701409f92a.png)

[2019-01-19 22:31] eamodio commented on #634
Please use the GitLens interactive settings editor from the command palette run `GitLens: Open Settings` and you can disable the Git code lens.

[2019-01-19 22:31] #634 closed

[2019-01-20 19:58] eamodio commented on #629
@sa-mm That command is only hooked up as a context menu of branches in the GitLens views -- so if you right-click on the `master` branch in the _Repositories_ view, you should see the entry (unless `master` is already the current branch, and if so there is a `Compare with Working Tree` item)

Basically there are a few compare options on a branch, tag, or commit:
- _Compare with HEAD_ which is basi

[2019-01-20 19:58] #629 closed

[2019-01-20 20:19] eamodio commented on #632
I think the issue is that you need to fill out more properties in your custom remote:

[code]

[2019-01-20 20:48] eamodio commented on #477
@yashLadha Can you open a new issue with more details and logs about what you are experiencing? From `EACCESS` is sounds like a possible permissions issue.

[2019-01-21 17:04] cra0zy opened #635 "Show more commit not working properly"
Clicking Show more commits gets automatically collapsed after ~30 seconds.

- GitLens Version: 9.4.1

- VSCode Version: 1.30
- OS Version: Linux

Skipping steps as the issue is self explanatory.

[2019-01-22 11:09] sztomi commented on #319
I'm using 1.30.2, `Merge-conflict > Code Lens: Enabled`, `Editor: Code Lens: Enabled` and yet I'm not seeing the merge conflict actions. Anything I can do?

[2019-01-22 15:47] eamodio commented on #319
What OS?

[2019-01-22 16:25] sztomi commented on #319
Linux. But it turns out that switching to Review mode solved it. I'm not sure if this behavior changed recently, but I recall I usually use Zen mode and switch to Review as needed. If it's a change, I'd prefer the old behavior where the action items still appear in Zen mode for merge conflicts.

[2019-01-22 18:17] eamodio commented on #319
Review mode in GitLens right? GitLens doesn't provide the merge code lens (that is built into vscode itself) and there seems to be some issue (only under linux) where somehow GitLens can affect those built in code lens.

I'm a little confused on the steps -- are you using GitLens in Zen mode or the Zen mode of vscode itself? GitLens Zen mode *should* have no effect on vscode features (such as the

[2019-01-23 04:40] yinghaochan commented on #596
Having the same issue @eamodio

Here is what happens when i select a line, and then hover over the annotation (on the guest; host works fine)
[code]

[2019-01-23 04:43] eamodio commented on #596
@yinghaochan can you please enable output logging on both the host and guest by setting "gitlens.outputLevel": "debug" in your settings.json. This will enable logging to the GitLens channel in the Output pane. Then reproduce the issue and send me the resulting output from the channel?

[2019-01-23 04:51] yinghaochan commented on #596
above was debug from guest,
this is from host
[code]

[2019-01-23 05:08] yinghaochan commented on #596
@eamodio

Also, the hover in guest has worked _once_ out of a few hundred attempts. Was very surprised.

VS Live Share output when hovering over git blame annotation.
[code]

[2019-01-23 08:30] thetrompf commented on #427
I'm still experiencing the same issue in the newest version:

[code]

![image](https://user-images.githubusercontent.com/1430118/51592680-7f67bc80-1ef0-11e9-8c04-d81c880b42f1.png)

The static-content-server in the screenshot above should have been `core`.

![image](https://user-images.githubusercontent.com/1430118/51592653-724acd80-1ef0-11e9-9f8d-3af7b8ef7345.png)

[2019-01-24 10:54] meden opened #636 "Line blame annotation not shown"
As per subject. Here a screenshot.

![image](https://user-images.githubusercontent.com/824351/51673558-9086fb00-1fce-11e9-89e6-81b9c734b7c5.png)

- GitLens Version: 9.4.1
- VSCode Version: 1.30.2
- OS Version: Debian 9

Thanks for your work!

[2019-01-24 12:13] Toddish commented on #636
Same for me.

- Gitlens version: 9.4.1
- VSCode version: 1.30.2
- OS version: Mac OSX High Sierra 10.13.6

Weirdly the annotations show in a new file if I create one and stage the changes, but then they stop showing if I then close the application and reopen it.

[2019-01-24 23:21] CCludts commented on #633
Thanks for fixing! After manually applied these changes from your commit, everything works properly again.

[2019-01-24 23:21] #633 closed

[2019-01-25 07:56] Exlsunshine opened #637 "OUTLINE windows not work with gitlens when I opened python files."
- GitLens Version: 9.4.1

- VSCode Version:

Version: 1.30.2 (user setup)
Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
Date: 2019-01-07T22:54:13.295Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Windows_NT x64 10.0.17763

- OS Version: Windows 10 Enterprise

Steps to Reproduce:

1. Enable gitlens plugin
2. Open a python file.
3. You will find the OUTLINE window does

[2019-01-25 08:03] meden commented on #636
Not sure when this started happening. Actually, I had the feature disabled on my previous machine (Mac OS), but it was definitely working (that's why I disabled it... :smile:). Then I switched to Linux (at last), and I wanted to try the feature again, but with no luck.

Indeed there is an empty annotation when the feature is enabled, which disappears on disabling. Hovering on this empty annotation

[2019-01-25 09:49] meden commented on #636
I found the culprit: it is an incompatibility with the extension [code-eol](https://github.com/sohamkamani/code-eol).

I got it because I was looking to a file with no last-line line ending, and there was the git blame annotation.

Disabling the `code-eol` extension got back the GitLens blame annotations.

[2019-01-27 12:19] alexeychikk commented on #404
I think it would be nice at least to add setting that will force VS Code to open new Git diff tab only if none diff tabs are opened and replace diff tab otherwise. The problem is that I want this behavior only for Git diffs but not for editor tabs.

[2019-01-28 08:42] ravihara opened #638 "Extension causes high cpu load"
[eamodio.gitlens-unresponsive.cpuprofile.txt](https://github.com/eamodio/vscode-gitlens/files/2802055/eamodio.gitlens-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `gitlens`
- Extension Version: `9.4.1`
- OS Version: `Linux x64 4.15.0-43-generic`
- VSCode version: `1.30.2`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-

[2019-01-28 08:46] gmonet opened #639 "WordWrap + heatmap annotations"
- GitLens Version: 9.4.1
- VSCode Version: 1.30.2
- OS Version: Windows 10 17763.253

Steps to Reproduce:

1. enable editor.wordWrap: "on"
2. Enable nable gitLens
3. Enable heatmap with wrapped line

Heatmap annotations are not shown properly with wrapped lines.
Example with my LaTeX document :
![image](https://user-images.githubusercontent.com/12810242/51823981-50cb5680-22e1-11e9-8dc7-5565463526b

[2019-01-28 13:58] Toddish commented on #636
After enabling debug, it looks like mine is a folder case issue.

I lowercased my root project folder, and the uppercased is still referenced in the debug log.

If I rename the root folder to something entirely different, and re-open vscode, the blames appear again.

[2019-01-28 16:24] eamodio commented on #636
@Toddish this sounds like another case of https://github.com/Microsoft/vscode/issues/12448. The casing of the folder on disk needs to exactly match the casing of the folder opened in vscode

[2019-01-29 18:59] kasplat opened #640 "Does not load with Live Share with error Service 'eamodio.gitlens.proxy' is not available."
Issue Type: <b>Bug</b>

When running Gitlens with Live Share, displays error message "Service 'eamodio.gitlens.proxy' is not available." at the bottom right. Does not appear to do anything after this. Whenever I am not using live code, the extension works properly.

Extension version: 9.4.1
VS Code version: Code 1.30.2 (61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8, 2019-01-07T22:48:31.260Z)
OS version

[2019-01-29 19:03] kasplat commented on #640
Never mind, I just needed to install VS code on the host and it works properly. Would be good if the error was more clear, but not a problem.

[2019-01-29 19:03] #640 closed

[2019-01-30 12:21] nikopavlica commented on #585
I have the same question. If one could at least copy text of deleted lines, it would be really helpful, but at the moment, its just as @GandalfSaxe said... you can restore the whole chunk or nothing.

Is there any chance to rethink this feature request or add the ability for selecting deleted lines?

[2019-01-31 10:25] ferdynice opened #641 "Telemetry should be off by default or at least adhere to the general vscode settings"
Telemetry should be disabled by default.

[2019-01-31 10:33] ferdynice commented on #641
Didn't read the description well enough. It seems it already adheres to the vscode setting.

[2019-01-31 10:33] #641 closed

[2019-01-31 15:35] eamodio commented on #641
@ferdynice Currently there is no telemetry at all - and it's been that way for a long time. Although that is likely to change in the future it will definitely adhere to the vscode setting

[2019-01-31 17:15] DBjelovuk opened #642 "Commit author email?"
Is there any way to view the email of a commit author? Can't seem to find this.

[2019-02-01 17:33] jabacchetta commented on #293
I like the "commits behind master" view that Bitbucket gives, and I believe this feature would essentially be the equivalent.

[2019-02-01 18:16] ryaninvents commented on #106
I really like this idea; it would be nice to be able to implement a pull-request package which uses GitLens's (already excellent) Compare view

[2019-02-01 19:20] RudyOnRails commented on #616
I see that #627 was merged

[2019-02-01 19:20] #616 closed

[2019-02-03 19:42] fcharron commented on #583
@eamodio Your commit seems to falsely detect root folders from a multi-folder workspace as not being automatically updatable. I have a case where each of my root folders has its own .git folder (which is a child of the root folder), and all those folders aside from the first one I added to the workspace are marked with the new indicator.

ex:

- Workspace
  - Folder1 --> Green
    - .git/
  - Fold

[2019-02-04 10:00] mika76 commented on #556
Hell yeah - only thing missing as far as I can see

[2019-02-04 20:33] Bledhard opened #643 "View size in SCM is not saved"
- GitLens Version: 9.4.1

- VSCode Version: 1.30.2
- OS Version: Windows_NT x64 10.0.14393

Steps to Reproduce:

1.  Move 2 GitLens views to the SCM tab.
2. Expand them with the minimum height.
3. Restart VS Code.
4. One of the views moved to the top, making standard 'Changes' view minimal height.

The issue appears only when there are 2 of the views opened (I personally have all 5 views in the SC

[2019-02-04 23:59] billsedison opened #644 "All `npm run <command>` fails on GitLens v9.4.1 source code on macOS Mojave"
- GitLens Version: 9.4.1
- VSCode Version: 1.30.2
- OS Version: macOS Mojave 10.14.1
- nodejs version: v10.14.2
- npm version: v6.4.1

Steps to Reproduce:

1. git clone https://github.com/eamodio/vscode-gitlens.git (master branch)
2. cd vscode-gitlens
3. npm i
4. npm run build

You'll see no `dist` folder is generated. If you use VSCode to open it, and run F5, the extension is not runnable.

All `

[2019-02-05 02:44] eamodio commented on #643
Extensions have no control over the view sizing at all -- although vscode is usually very good at remembering the last position/size of all the views. I would recommend opening an issue on the vscode repository. Sorry.

[2019-02-05 02:44] #643 closed

[2019-02-05 02:58] eamodio commented on #639
Unfortunately vscode doesn't provide a way for extensions to provide the decorations required to handle word wrapping. Sorry.

[2019-02-05 02:58] #639 closed

[2019-02-05 03:02] eamodio commented on #644
@billsedison What is the output from the commands?

[2019-02-05 06:15] Bledhard commented on #643
@eamodio Thank you for the response.
By the way, the extension is awesome) Good job!

[2019-02-05 06:36] eamodio commented on #643
@Bledhard Thank you!

[2019-02-06 05:07] eamodio commented on #583
@fcharron Unfortunately I can't reproduce this. Can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue and attach the log lines from the *GitLens* channel. Thanks!

[2019-02-06 05:08] eamodio commented on #583
@fcharron Also can you please open a new issue with the info and logs -- thanks!

[2019-02-06 08:15] #626 closed

[2019-02-06 08:15] #591 closed

[2019-02-06 08:15] #631 closed

[2019-02-06 08:15] #635 closed

[2019-02-06 08:15] #642 closed

[2019-02-06 08:19] eamodio commented on #624
@Speedy-VonGofast Please retry this on v9.5 and let me know if it is still an issue

[2019-02-06 08:24] eamodio commented on #623
@kglickman GitLens currently supports getting the commit url for a commit - see the `GitLens: Open Commit on Remote` command from the command palette. You can also get to this from the right-click menu of a commit on the GitLens views. Hope that helps.

[2019-02-06 08:24] #620 closed

[2019-02-06 09:26] felixfong227 commented on #619
In my personal experiences, I saw the benefit of enabling the GitLens even during a debugging session, since it provides more information about the latest commit that costing the issue at the first place.

And having an option to enable the inline git blame annotations optionally just solve the issue.

[2019-02-06 13:58] kglickman commented on #623
That is perfect!  I didn't have my gitLens.remotes set up correctly so I never knew what those features were supposed to do.

[2019-02-06 14:10] kglickman commented on #623
I meant to tell you that this extension is a life saver.  I completely despised git before I found this.

[2019-02-06 14:42] eamodio commented on #623
@kglickman Thank you!

[2019-02-06 14:42] #623 closed

[2019-02-06 15:25] bitfield commented on #632
@eamodio can we categorise this as a documentation enhancement? I mean, if it _is_ possible to do what I'm trying to do, then I should be able to figure it out from the documentation. On the other hand, if it isn't, the documentation should say so, shouldn't it?

[2019-02-06 21:40] billsedison commented on #644
@eamodio There is not specific output, `npm run build` only exists silently.

[code]

Here is a screencast
![output](https://user-images.githubusercontent.com/5657467/52375525-cdf18b00-2a9a-11e9-88c6-59b9b6301681.gif)

This is only observed on macOS, no such issue on Ubuntu 18.04 and Windows 10.

[2019-02-06 21:50] eamodio commented on #644
@billsedison Could this be related: https://stackoverflow.com/questions/53602337/node-and-npm-too-slow-to-start-after-install-of-macos-mojave

If you wait a while does it actually start?

[2019-02-06 21:52] eamodio commented on #644
From the output -- it looks like its trying to run the command. I'm at a loss. I would recommend reaching out to npm and ask them or dig into npm's trace logs.

[2019-02-06 21:55] eamodio commented on #632
@bitfield if you set it up with the structure I provided does it work? Depending on that -- there is either a bug or documentation issues

[2019-02-06 22:11] billsedison commented on #644
Nope, it never actually starts even I wait for 1 minute.

The problem is the `package.json` size (221KB) is too big, this issue wasn't observed on GitLens v8.5.6, where the `package.json` size is 159KB. Looks like the JSON object in `package.json` is too big.

If I reduce the size of package.json, for example, by removing `contributes.configuration`, then `npm run build` works.

Is it possible to

[2019-02-06 22:19] eamodio commented on #644
Again, I would still recommend reaching out / filling an issue with npm. npm deals with this fine on other OS' (and later versions of macOS I believe) and package-lock.json files are much larger.

As for breaking it up -- I would think it is possible with some sort of build step to put the files back together, but given what would be built would be `package.json` and that's what's used to run comm

[2019-02-06 22:30] billsedison commented on #644
Okay, noted. Thanks.

[2019-02-06 22:34] eamodio commented on #644
Sorry I don't have anything better to offer -- I'm at a loss. 😢

[2019-02-06 22:41] billsedison commented on #644
No problem at all, thank you. At least I have some tricky workaround to bypass it by reducing the package.json size issue for now, it's been enough for my local development. 😄

[2019-02-06 22:43] eamodio commented on #644
👍 Can also just use webpack directly -- the npm scripts themselves aren't really tricky at all.

[2019-02-06 22:44] billsedison commented on #644
Yes, exactly!

[2019-02-07 10:32] digeomel opened #645 "monorepo: show only files to be committed under workspace folder(s)"
We're working on a monorepo, and each project is in a different folder under the one repository.
I have a different vscode workspace for each project, containing only the folders that are relevant to the project.
When I work on multiple projects (so, I have more than one vscode windows/workspaces) at the same time, Git(Lens) shows me all the files that have changed (to be committed) across all fol

[2019-02-07 14:50] cideM opened #646 "Quickly show current file on other branch"
In `vim-fugitive` I can do `:Gedit develop:%`. The `%` expands to the current file path and the command will open that file path but from the specified branch (here `develop`) in my editor. How do I achieve the same in GitLens? I can compare my directory and branch and then navigate through the explorer view but that's a bit clunky. I really just want the current file on the current branch and (ne

[2019-02-07 15:14] talmdal opened #647 "Can I move "hunks" between the panes in compare mode"
Is there away to transfer lines between panes after opening with "Open Changes with Working File". I usually have some changes stashed or in another branch.  I then want to bring those changes into the current branch. I'm not usually interested in the entire commit so Cherry-picking is not an option.

For example, If I'm comparing files in Intellij, There is a ">>" to transfer the change from the

[2019-02-07 15:31] eamodio commented on #646
From the command palette, you can use the _GitLens: Open Changes with Branch or Tag..._ — compares the active file to the tip of the selected branch. The command is also on the right-click menu of items in the Source Control sidebar.

Or you can use _GitLens: Open Changes with Revision..._ — compares the active file with whatever revision you choose from the quick pick. The command is also on the

[2019-02-07 15:34] eamodio commented on #647
Unfortunately not, and it is something that vscode itself would need to provide to really have a good experience. See https://github.com/Microsoft/vscode/issues/25887

[2019-02-07 15:36] eamodio commented on #645
@digeomel where are you seeing all the files? Inside the GitLens repositories view or in the Source Control sidebar?

[2019-02-07 15:55] talmdal commented on #647
Thanks, for quick response and link to the other issue... I couldn't find that anywhere

[2019-02-07 15:55] #647 closed

[2019-02-07 16:13] gbritton1 opened #648 "How can I add additional repositories"
I have several, unrelated repos for different projects.  Previously I've used Atlassian Source tree, GIT GUI and more recently GitHub desktop for a meta-view of them.  Is there a way to add additional repositories to GitLens?  Did I just miss something easy to do? e.g. in Github desktop I have:

![image](https://user-images.githubusercontent.com/12263288/52425136-5d159780-2ac9-11e9-93d2-f13366144a

[2019-02-07 17:19] eamodio commented on #648
GitLens only shows the repositories that you have open in vscode, so there isn't a notion of adding a repository — you would just open the folder for the repository (or containing repositories) and they should all show up automatically.

Hope that helps.

[2019-02-07 17:58] gbritton1 commented on #648
ah yes, that worked!

[2019-02-07 18:03] gbritton1 opened #649 "GitLens can't see the remote but git can"
![image](https://user-images.githubusercontent.com/12263288/52432563-b6d18e00-2ad8-11e9-89ef-3e1f4fe581a9.png)

[2019-02-07 18:13] #648 closed

[2019-02-08 04:23] officialsanjaysharma opened #650 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `gitlens`
- Extension Version: `9.4.1`
- OS Version: `Linux x64 4.15.0-43-generic`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/sanjay/eamodio.gitlens-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-l

[2019-02-08 05:33] fcharron commented on #583
@eamodio Well that's embarrassing, now I can't reproduce it either. If I reproduce the issue, I'll open a new bug along with the requested info.

Thanks for your great work on this most useful extension :100:

[2019-02-08 06:32] eamodio commented on #583
@fcharron Sounds good -- and thanks!

[2019-02-08 08:24] SailorMax opened #651 ""Last fetched" message has wrong date format"
Repositories panel has wrong date format in message "Last fetched"

Expected: 24 hours format or in defaultDateFormat
Actual: 12 hours format "H:mm, D MM, YYYY"

My settings:
[code]

- GitLens Version: 9.5.0
- VSCode Version: 1.31
- OS Version: Windows_NT ia32 10.0.17763

[2019-02-08 08:25] #651 closed

[2019-02-08 08:25] SailorMax commented on #651
lost time in `defaultDateShortFormat`.

[2019-02-08 09:23] cideM commented on #646
This always opens a diff rather than the file though

[2019-02-08 12:33] digeomel commented on #645
Source Control sidebar. I assume this is not handled by GitLens? Then I should probably remove this request and put it in the vscode github page...

[2019-02-08 14:52] bitfield commented on #632
Well, here's my question about that:

Can you help me understand how this works?

[2019-02-08 16:05] eamodio commented on #632
All the `file*` properties contribute to different aspects of how GitLens builds file urls.

- `file` is the base url for a file on HEAD (i.e. not targeting a specific branch or commit)
- `fileInBranch` is the base url for a file on a specific branch
- `fileInCommit` is the base url for a file in a specific commit

Then tacked on to each of the above could be one of the following:
- `fileLine ` is

[2019-02-08 16:20] bitfield commented on #632
OK, that's helpful, thank you. It sounds like to enable 'Open File on Remote', for the HEAD version of a file, all I need to set is `file`. Is that correct?

[2019-02-08 16:37] eamodio commented on #632
Yes, but then other features like `Open Commit on Remote`, `Open Branch on Remote`, etc would be broken.

You will also need to set `fileLine` & `fileRange` to match what your host would use. But since you mentioned GitLab, as long as you set `"type": "GitLab",` everything will default to the GitLab formats

I am looking into making this simpler and will add an explicit port to make this case MUCH

[2019-02-08 17:32] th317erd commented on #472
Could this just be a live preview for now? This would work, allow the useful graph to be rendered, and when the support is added to VSCode (see here: https://github.com/Microsoft/vscode/issues/68266), could most likely easily be moved from a preview to the sidebar. Thoughts?

https://marketplace.visualstudio.com/items?itemName=hdg.live-html-previewer

[2019-02-08 17:33] th317erd commented on #472
Also, I currently have zero time, but when my time does free up I would love to help with this feature. I will watch it closely to monitor progress and status, and input where I can be helpful

[2019-02-09 02:31] Maledong commented on #606
@eamodio：Just for a confirmation……This bug is still open?

[2019-02-09 02:56] Maledong commented on #606
This bug is still open, and this problem still occurs……So isn't this fixed (Just for a confirm)...

[2019-02-09 03:02] eamodio commented on #606
Yeah, I had to roll back the first "fix", and I'm quite convinced there is a vscode bug here -- but I've had a hard time pinning it down. I am also hoping once vscode finishes moving extensions over to their new tree implementation that the issue will just go away 😄

But its terribly annoying -- I just don't have an idea how to fix it at this point :(

[2019-02-09 03:07] Maledong commented on #606
OK no problem, just for a confirm and don't worry, frankly speaking, I can continue using that :)

[2019-02-09 03:17] eamodio commented on #606
👍 Also at least now the refresh button on the view will fix everything too.

[2019-02-10 10:27] axetroy opened #652 "support i18n"
GItLens is great for me.

I hope to contribute and add support for i18n.

So ask the author here if you agree

If you agree, I would be happy to submit a PR support Chinese Simplified

**implement is very easy for extension**

[2019-02-10 11:20] emmanueltouzery commented on #646
yes `magit` has the same feature in `emacs`. i can pick a file and say "open me that file read-only as it is currently in branch X" and you get to pick which branch. I was hoping this could available through a command in vs code or vscode-gitlens but right now I'm under the impression it's not possible as-is.

[2019-02-10 14:56] eamodio commented on #652
@axetroy Yes, I would love the help on this -- see https://github.com/eamodio/vscode-gitlens/issues/577

[2019-02-10 14:59] axetroy commented on #652
I do not recommend using the official i18n example

Because it is too complicated, it is not easy for team assistance

There is an easier way to implement it

eg. https://github.com/axetroy/vscode-gpm or https://github.com/shanalikhan/code-settings-sync

[2019-02-10 15:00] eamodio commented on #646
Ah, so to just open a readonly version of a specific revision use, _Open Revision..._ — opens a version of the active file with whatever revision you choose from the quick pick.

[2019-02-10 15:17] eamodio commented on #652
Can you explain the differences or the trade-offs with what you are suggesting vs the official vscode-nls library?

[2019-02-10 15:19] eamodio commented on #652
Let's also close this issue and continue the conversation on #577

[2019-02-10 15:19] #652 closed

[2019-02-10 15:32] axetroy commented on #577
I have tried to implement i18n with `vscode-nls`.

Then encountered a lot of difficulties

I found that `vscode-nls` is not so friendly.

here we go:

**1. `vscode-nls` is not a standalone package**

We have to use `Transifex` as a third-party hosting service that hosts i18n files.

If we need to modify the translation file, we need to log in `Transifex` and add a collaborator to modify it.

This

[2019-02-10 15:40] eamodio commented on #577
While I agree that the official i18n sample is seemingly over complicated and the documentation is not very clear, the `vscode-nls` library which is standalone as far as can see, seems straight forward. I don't see where `vscode-nls` has any dependency on `Transifex` -- where is that?

Also will the files that have the localized strings be in the same format in what you are proposing vs `vscode-nl

[2019-02-10 15:42] eamodio commented on #577
The examples you've posted are full extensions -- what are the pieces (and dependencies if any) that would be brought into GitLens?

[2019-02-10 15:49] axetroy commented on #577
`vscode-nls` does not matter with `Transifex`.

But the official i18n example uses it. If you use `vscode-nls` alone, you have to explore it yourself.

The examples I've posted is the solution. not a library.

localized strings format same with official solution

You can see here:

English by default:

https://github.com/axetroy/vscode-gpm/blob/a00147fc2bc0e85296f65dcdf7c09a2dfba60cf1/package.nls.

[2019-02-10 15:54] eamodio commented on #577
OK, sounds good -- thanks for the information. FYI, will also need to make sure the solution works well with webpack -- which will likely mean avoiding the use of `require` to load json files on disk -- instead use `readFileSync`

[2019-02-10 16:00] axetroy commented on #577
@eamodio

Yes, the project must have the translation files.

Add copyPlugin to webpack to copy the translation file to the dist directory.

Because there is too much place to translate.

I suggest that the first stage of the translation of the command / configuration just fine.

[2019-02-10 19:41] cideM commented on #646
That doesn't let me select a branch though ;) although it's close since I can pick the most recent commit of that branch

[2019-02-10 19:50] eamodio commented on #646
Yeah that is the equivalent. But I'll add a new command to open the revision from a branch or tag shortcut like the comparison one.

[2019-02-11 09:40] Maledong commented on #606
@eamodio：No problem, I'll try to make a report to Microsoft (VSCode)

[2019-02-11 10:05] graphicsxp opened #653 "Branches merged with pull request"
When we merge a feature branch via pull request, then the line in the visual tool does not go back to the master.
This does not happen when we merge manully a branch to the master.

Is this the expected behaviour ?

![image](https://user-images.githubusercontent.com/4160415/52556390-aed16100-2dec-11e9-93a6-5bd778a409aa.png)

[2019-02-11 11:52] joaosamouco opened #654 "Activating extension 'eamodio.gitlens' failed"
Just installed GitLens but extension doesn't seem to be working. The only logging I could find is attached below.

Also tried re-installing the extension removing the extensions folder under `~/.vscode-insiders/extensions`.

- GitLens Version: 9.5.0
- VSCode Version: 1.32.0-insider (1.32.0-insider)
- OS Version: MacOS Mojave 10.14.3

![screenshot 2019-02-11 at 11 46 10](https://user-images.githubu

[2019-02-11 12:01] joaosamouco commented on #654
Add to install XCode Additional Tools and re-install extension after OS update.

Working now.

[2019-02-11 12:01] #654 closed

[2019-02-11 14:02] cideM commented on #646
:+1:

[2019-02-12 03:20] SheepDomination commented on #472
It looks as if a graphical sidebar is possible ?

[2019-02-12 05:12] jpike88 commented on #619
During debugging is the most likely point that you'd want to be blaming lines of code in my experience, I think it should show as much as it can.

[2019-02-12 05:55] eamodio commented on #653
That screenshot is showing the Git History extension not GitLens.

[2019-02-12 06:17] erfurtjohn commented on #606
I also ran into this issue, thanks for the information in this topic.

[2019-02-12 07:12] graphicsxp commented on #653
I'm sorry about that. I forgot I've installed this extension and I thought it came from GitLens

[2019-02-12 07:12] #653 closed

[2019-02-12 09:08] itsmasud commented on #298
I am getting this error and I am getting this error after having latest update of VS code. I am running react native. The non-react-native people are not getting that error.

[2019-02-12 21:16] eamodio commented on #298
@itsmasud can you follow the steps here: https://github.com/eamodio/vscode-gitlens/issues/298#issuecomment-368944503 and post back?

[2019-02-13 15:25] zzqluvmyj opened #655 "I want * you."
Why it is failed when I push,it is succeed when I fetch?you make me angry ,because of you ,my personal resposity are overrided by yesterday's content.I hate until you die.

[2019-02-13 22:37] AchmadFathoni commented on #655
Can you at least give coherent chronology how that problem occurs?

[2019-02-14 05:29] #646 closed

[2019-02-14 06:50] prasanthnv opened #656 "Git lens current line blame not working in the new VS Code insiders Version"
Issue Type: <b>Bug</b>

Git lense current line blame not showing up !

Extension version: 9.5.1
VS Code version: Code - Insiders 1.32.0-insider (a509265116babc17648c9052eeeb8ae2909fed87, 2019-02-13T06:14:01.838Z)
OS version: Linux x64 4.15.0-43-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz (8 x 4094)|
|GPU Status|2d_canvas:

[2019-02-14 15:15] slikts commented on #418
This behavior is indeed exceedingly annoying.

[2019-02-15 05:38] #655 closed

[2019-02-15 05:40] eamodio commented on #656
@prasanthnv Hrm, I'm not seeing any issue in the latest insiders. Can you try re-installing GitLens? If you are still having an issue, can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the log lines

[2019-02-15 15:54] ScaryDBA opened #657 "Installs to Azure Data Studio, Doesn't Work"
- GitLens Version:

- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Install to Azure Data Studio through .vsix
2. Try using CTL-SHIFT-P GitLens: Open Settings
command 'gitlens.showSettingsPage' not found

[2019-02-18 02:32] jjasoncool commented on #603
Should I provide any information?

[2019-02-18 10:24] stefano-b commented on #472
[Git Graph](https://marketplace.visualstudio.com/items?itemName=mhutchie.git-graph) is another example of graphical visualization of branches and history (IMHO even better than Git History).

From what I see, it's a pretty new project, but I fin this extension easier and faster than other solutions.

[2019-02-18 15:43] eamodio commented on #375
FYI, you can move all of GitLens' view to the SCM sidebar -- so then they are all grouped together (which is normally how I use them)

[2019-02-18 16:08] jayarjo commented on #375
@eamodio how?

[2019-02-18 16:14] jayarjo commented on #375
Wow, found it in the settings. That was buried deep, believe me. @eamodio you seriously need to put it at the top of the settings page, something like - `add all views to Source Control bar`. Or even make it default. Awesome!

[2019-02-18 16:25] eamodio commented on #375
I'm not sure how being the 2nd option on each view's section is buried "deep" -- but agree that it could be more discoverable (as GitLens has a ton of settings). I honestly haven't put any more work into that as vscode keeps saying that they are going to allow users to move views between the sidebars but my guess is it will still be a long time before that actually happens.

[2019-02-18 17:48] eamodio commented on #603
@jjasoncool sorry I haven't had a chance to look into it yet

[2019-02-18 21:21] eamodio commented on #657
GitLens doesn't currently support Azure Data Studio. This is duplicate of #573.

[2019-02-18 21:21] #657 closed

[2019-02-18 22:38] eamodio commented on #649
What command are you executing to get that error? It looks like the error is coming from vscode itself (as GitLens uses some vscode commands for push/pull/fetch).

[2019-02-18 22:40] eamodio commented on #645
@digeomel yeah, the views on the Source Control side bar are provided by the built-in Git extension for vscode (unless you have configured GitLens to explicitly add its views to that same side bar). So you should open an issue with them.

[2019-02-18 22:40] #645 closed

[2019-02-18 22:43] eamodio commented on #644
Going to close this since there isn't much I can do here given the `package.json` structure vscode requires.

[2019-02-18 22:50] #628 closed

[2019-02-18 22:52] eamodio commented on #624
Closing as I believe this is fixed.

[2019-02-18 22:52] #624 closed

[2019-02-18 22:53] eamodio commented on #622
Are you checking out a local branch? Are there conflicts when you perform the checkout?

[2019-02-18 22:54] eamodio commented on #619
I will add an option to provide the blame annotations even when debugging.

[2019-02-18 22:57] eamodio commented on #617
@JohnRGee sorry for the delay -- this is a great idea -- thank you. I would definitely welcome a PR 😄

[2019-02-18 23:02] eamodio commented on #577
@axetroy works for me! Thanks again! Looking forward to the PR

[2019-02-18 23:10] gbritton1 commented on #649
Just wanted to do a pull

[2019-02-18 23:10] gbritton1 commented on #649
Right click, pull

[2019-02-18 23:14] eamodio commented on #649
Hrm -- can you do a pull from the vscode Source Control side bar (under the ... menu) or via the command palette?

[2019-02-19 01:05] gbritton1 commented on #649
Yeah that works fine

On Mon, Feb 18, 2019, 6:14 PM Eric Amodio <notifications@github.com> wrote:

[2019-02-19 05:46] axetroy commented on #577
@eamodio
Yes. I am working on it.

This will take a lot of time due to a large number of configuration items.

[2019-02-19 09:52] JohnRGee commented on #617
In progress.

[2019-02-19 15:14] gasharm opened #658 "ERROR: EPERM: operation not permitted, lstat"
- GitLens Version:9.5.1

- VSCode Version: 1.13.1
- OS Version:Windows server 2012 R2

Steps to Reproduce:

Almost all the times when I update my local code base and then try to do npm install, I get an error "ERROR: EPERM: operation not permitted, lstat".

If I run vscode without gitlens extension, I don't get this error.

Is there some way I can avoid this error permanantly or maybe some fix nee

[2019-02-20 12:39] ebat79 opened #661 "SVN implementation"
Is it possible to integrate the use of this extension also in SUBVERSION repositories?
Now i use "SVN" and "SVN Gutter" extensions but GitLens seems to be more powerful.

[2019-02-20 16:38] eamodio commented on #661
Not currently -- GitLens uses git directly to provide its feature set. In theory it could be possible to provide a different implementation of that but it would be a non-trivial amount of work (if it even could be adapted properly).

[2019-02-20 16:38] #661 closed

[2019-02-20 23:18] metra commented on #656
Strangely enough, just setting the `outputLevel` to `debug` fixed the issue for me.

[2019-02-21 01:04] enerjazzer opened #662 "line history loses the line range after first click"
- GitLens Version: 9.5.1
- VSCode Version: 1.31.1
- OS Version: Linux

Steps to Reproduce:

1. select a range of lines
2. go to Line History, see the list of commits affecting these lines
3. click any commit

Expected results: the Line History doesn't change, allowing you to click other commits for the range and see the changes for the selected range of lines (see how CLion does that, Git->Show Hi

[2019-02-21 07:46] Egorvoz commented on #622
@eamodio hello, sir. There are no conflicts at all. It's weird for me when I tried to open branch 'dev' for example but the status line shows me not the name 'dev', but hash :)

Never mind. Maybe it's a feature.
Thanks for your attention btw and nice plugin :)
Good job, sir.

[2019-02-21 07:49] Egorvoz commented on #622
@eamodio steps to reproduce :)
I open GitLens as VS Code tab and then open remote branches.
For example, I want to check out `sandbox` branch => click to check out => and then it shows me that I am in `sandbox` branch but the name of it this branch is the hash of the last commit.

[2019-02-21 10:10] dwelle opened #663 "Make commit id in blame clickable"
Make commit id in `File Blame` annotations clickable to open commit on remote.

![image](https://user-images.githubusercontent.com/5153846/53161009-66bef500-35c9-11e9-97bf-bf1bfc4b8d1d.png)

Atom's [blame](https://atom.io/packages/blame) package has buttons:

![image](https://user-images.githubusercontent.com/5153846/53161087-9241df80-35c9-11e9-86d0-95fb1e56f434.png)

[2019-02-21 19:48] eamodio commented on #663
While I would love to have that ability -- vscode doesn't allow extensions to provide that. The best I can do is what GitLens does today -- when you hover over one of those lines it will show a popup (called a hover) like:

![image](https://user-images.githubusercontent.com/641685/53197190-ad234c80-35e7-11e9-919b-c2c7ad145cef.png)

And then you can click on the links/buttons in there.

[2019-02-21 19:53] eamodio commented on #662
That is basically by design, since automatic tracking is enabled by default. Although you can toggle on/off the automatic tracking at anytime:

![image](https://user-images.githubusercontent.com/641685/53197437-376bb080-35e8-11e9-9c7c-64824fc25c7e.png)

And the view won't change until you manually refresh or unpause tracking.

Hope that helps.

[2019-02-21 19:54] #662 closed

[2019-02-21 23:54] speed-oss commented on #662
@enerjazzer if you think this was helpful, consider adding a reward to this issue using speedoss.com to support the issue solver for their work :)

[2019-02-21 23:56] speed-oss commented on #657
@ScaryDBA if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com)  :)

[2019-02-21 23:57] speed-oss commented on #653
@[graphicsxp](/graphicsxp) if you think this was helpful, consider adding a reward to this issue using [speedoss.com](speedoss.com) to support the issue solver for their work :)

[2019-02-21 23:57] speed-oss commented on #652
@[axetroy](/axetroy) if you think this was helpful, consider adding a reward to this issue using [speedoss.com](speedoss.com) to support the issue solver for their work :)

[2019-02-21 23:58] speed-oss commented on #648
@[gbritton1](/gbritton1) if you think this was helpful, consider adding a reward to this issue using [speedoss.com](speedoss.com) to support the issue solver for their work :)

[2019-02-21 23:58] speed-oss commented on #647
@talmdal if you think this was helpful, consider adding a reward to this issue using [speedoss.com](speedoss.com) to support the issue solver for their work :)

[2019-02-22 00:23] speed-oss commented on #645
@[digeomel](/digeomel) if you think this was helpful, consider adding a reward to this issue using [speedoss.com](speedoss.com) to support the issue solver for their work :)

[2019-02-22 00:23] speed-oss commented on #646
@cideM if you think this was helpful, consider adding a reward to this issue using [speedoss.com](speedoss.com) to support the issue solver for their work :)

[2019-02-22 05:14] speed-oss commented on #573
[rudeb0y](/rudeb0y) if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com) :)

[2019-02-22 05:32] speed-oss commented on #635
@cra0zy if this was helpful to you, consider adding a reward to this issue using [Speedoss.com](speedoss.com)

[2019-02-22 05:32] speed-oss commented on #633
@CCludts if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:33] speed-oss commented on #626
@mlasson if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:35] speed-oss commented on #608
@[Luxray5474](/Luxray5474) if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:36] speed-oss commented on #607
@ghudik-clgx if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:37] speed-oss commented on #605
@[sherlockwang](/sherlockwang) if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:37] speed-oss commented on #601
@showcasefloyd if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:37] speed-oss commented on #599
@UziTech if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:37] speed-oss commented on #598
@seifsg if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:38] speed-oss commented on #593
@kolya-ay if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:38] speed-oss commented on #591
@therealgorgan  if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:38] speed-oss commented on #588
@roblourens if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:39] speed-oss commented on #584
@turijs if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:39] speed-oss commented on #574
@tiansin if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:39] speed-oss commented on #572
@eps1lon  if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:40] speed-oss commented on #571
@tiansin if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:43] speed-oss commented on #547
@Domvel if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:43] speed-oss commented on #544
@ljporljp if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:43] speed-oss commented on #542
@NeilCross if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:44] speed-oss commented on #539
@gennaro-tedesco if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com) :)

[2019-02-22 05:45] speed-oss commented on #628
@slarrasoain if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com) :)

[2019-02-22 05:46] speed-oss commented on #535
@pimlottc-gov if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:46] speed-oss commented on #533
@beastdestroyer if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:46] speed-oss commented on #528
@GargIT if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:46] speed-oss commented on #527
@nealot if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com) :)

[2019-02-22 05:48] speed-oss commented on #569
@kaiseiken if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:49] speed-oss commented on #567
@ronag if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:49] speed-oss commented on #566
@ili101  if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:49] speed-oss commented on #560
@zedaav if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:50] speed-oss commented on #552
@philraj if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 05:52] speed-oss commented on #507
@LuizCostaa if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com) :)

[2019-02-22 06:00] speed-oss commented on #642
@DBjelovuk if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 06:03] speed-oss commented on #504
@akashnimare  if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com) :)

[2019-02-22 06:03] speed-oss commented on #502
@vadimcn if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 06:03] speed-oss commented on #499
@szkaym if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com) :)

[2019-02-22 06:04] speed-oss commented on #496
@ducalex if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com) :)

[2019-02-22 06:04] speed-oss commented on #493
@tnrich if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com) :)

[2019-02-22 06:05] speed-oss commented on #467
@samuelmtimbo if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com) :)

[2019-02-22 06:05] speed-oss commented on #482
@pvormittag if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com) :)

[2019-02-22 06:05] speed-oss commented on #477
@cameroncooke if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com) :)

[2019-02-22 06:05] speed-oss commented on #471
@HitkoDev if you think this feature should be built, consider adding a reward to this issue using [speedoss.com](speedoss.com) :)

[2019-02-22 06:08] speed-oss commented on #470
@escamoteur if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 06:10] speed-oss commented on #463
@GandalfSaxe if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 06:10] speed-oss commented on #462
@GandalfSaxe if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 06:10] speed-oss commented on #461
@bardware if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 06:10] speed-oss commented on #459
@Yukaii if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 06:11] speed-oss commented on #457
@ashley if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 06:11] speed-oss commented on #456
@ryderatman if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 06:11] speed-oss commented on #454
@borekb if this was helpful to you, consider giving a reward to the issue solver using [Speedoss.com](speedoss.com)

[2019-02-22 08:02] bardware commented on #461
@[speed-oss](/speed-oss) And you are? :eyes:

[2019-02-22 12:42] dwelle commented on #663
Right.. forgot you could do that via popup since I had them disabled.

[2019-02-22 15:07] eamodio commented on #663
Sadly yes. But little by little it gets better and better :smile:

[2019-02-22 15:07] #663 closed

[2019-02-22 15:18] DrYSG commented on #556
Right now, you have an option to right-click on a branch and delete local via the ternminal.

which does something like:

git branch -d Sprint-1.4

Could this not also be simple done, but instead do a pull and prune?

git pull --prune

?

[2019-02-25 01:42] tecosaur opened #664 "[Feature Request] Show relevent tag in line blame"
I'll keep this short and sweet.

It would be nice if the Line Blanes could be configured to show the relevant tag for the commit, for instance - in what release the commit was first included in.

thanks,

tecosaur

[2019-02-25 14:44] adityagandhi007 opened #665 "Git lens"
Issue Type: <b>Feature Request</b>

how to resolv this "GitLens was unable to find Git. Please make sure Git is installed. Also ensure that Git is either in the PATH, or that 'git.path' is pointed to its installed location."

Extension version: 9.5.1

OS version: Windows_NT x64 10.0.17763

[2019-02-25 20:25] localhost61 opened #666 "Can't upgrade to latest version"
I first searched here and in the _readme.md_ why I couldn't upgrade from v8.5x to v9.5.1 and didn't find any answer.

Then I tried to uninstall and reinstall and got same version, VScode didn't warn for a new version of GitLens.
The reason seems due to the fact _**I was running VScode v1.2.1**_. Once I upgraded VScode to current v1.3.1.1 it offered me to upgrade GitLens.

Sorry if I make the Quest

[2019-02-26 13:04] dbaeumer opened #667 "Decoration rendered before code"
Steps:

- file under Git
- add a line to that file
- open diff
- set cursor onto the added line in the right hand side editor of the diff
- discard the file changes using the Git viewlet

You get something like this:

<img width="542" alt="capture" src="https://user-images.githubusercontent.com/1931590/53414590-5e9ef500-39cf-11e9-87e7-29048d5e5d0d.png">

[2019-02-26 15:53] Yzrsah opened #668 "Line blame annotations re-enabled every time VSCode starts, gitlens.currentLine.enabled not working"
The `"gitlens.currentLine.enabled": false,` setting does not work.

The line blame annotations are re-enabled at every startup of VSCode, and I have to run the `GitLens: Toggle line blame annotations` command each time.

version: VSCode Insiders 1.32

[2019-02-26 16:31] ronjouch opened #669 "Support disabling / hiding editor actions (icons at the right of tab bar)"
I don't like editor actions (the little icons on the right of the tab bar)

![screenshot_gitlens-editor-actions_2019-02-26-11 26 02](https://user-images.githubusercontent.com/522085/53428890-9438e380-39b9-11e9-8845-6609a393dc0f.png)

, because:

1. I don't use them (I invoke the commands via keyboard shortcuts or the command palette)
2. they consume precious space
3. they add UI clutter

So, I'd l

[2019-02-26 17:22] eamodio commented on #669
This is supported today. While the documentation of it is practically non-existent (using the `gitlens.menus` setting), the GitLens settings editor provides easy access (run _GitLens: Open Settings_ from the command palette).

Here are the settings in `simple` mode:
![image](https://user-images.githubusercontent.com/641685/53432745-17aa0300-39c1-11e9-8311-680c23192688.png)

Use the dropdown pointe

[2019-02-26 17:22] #669 closed

[2019-02-26 17:26] eamodio commented on #668
I can't reproduce this. Can you provide more details? Do you possibly have the setting on at the workspace or folder level that is overriding the user level setting? If not, can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue

[2019-02-26 17:30] eamodio commented on #666
Yeah, this isn't GitLens specific. It is just way vscode handles extension versioning -- an extension says what the minimum version of vscode that is needed (because of apis or features) and vscode will only allow you to install the latest version of an extension compatible with your vscode version. It would indeed be nice if vscode made that more clear in the UI as to why you might not have the l

[2019-02-26 17:30] #666 closed

[2019-02-26 17:45] ronjouch commented on #669
@eamodio it does! I had searched the gitlens settings namespace, but  missed `gitlens.menus` So,
[code]

Thanks!

[2019-02-26 20:56] localhost61 commented on #666
I anticipate what they will tell me, you're the first one that ask, nobody change default settings:
- Extensions:Auto Update
- Update:Enable Windows Background Updates
- Update:Channel
;-)

[2019-02-26 21:52] eamodio commented on #666
@localhost61 thanks for reporting that -- I added my 2c too ;)

[2019-02-26 22:59] localhost61 commented on #666
5000 pending issues in VScode !!! Wahoo ! I didn't had heart to add one :-/

[2019-02-27 01:37] creisle opened #670 "Configure similarity index for diffs"
Is it possible to configure the similarity index when comparing to a branch/tag/etc?

If I were doing this from the command line I would be using the -M/--find-renames flag

For example if I wanted to lower the threshold to 20 (from the default 50)

[code]

[2019-02-27 05:20] Yzrsah commented on #668
This only started happening in the past week.

Startup:
[code]

Then opening a file:
[code]

[2019-02-27 05:22] Yzrsah commented on #668
This only started happening in the past week.

Startup:
[code]

Then opening a file:
[code]

[2019-02-27 05:37] Yzrsah commented on #668
I found a way to make this reproducible:

It only happens when opening a workspace with a git repo that does not have commits, but contains nested git repos:
[code]

When opening the workspace for SuperProject,
It makes this log: ('GitService.getRepository returned undefined')
[code]

[2019-02-27 05:55] Yzrsah commented on #668
I found a way to make this reproducible:

It only happens when opening a workspace with a git repo that does not have commits, but contains nested git repos:
[code]

When opening the workspace for SuperProject,
It makes this log: ('GitService.getRepository returned undefined')
[code]

When I open a different workspace with a regular project that has git commits, the bug does not happen and line bl

[2019-02-27 08:20] keelung-yang opened #671 "DiffDirectoryCommand: Error: No diff tool found"
Firstly, I know maybe I should run "git config" command to config the third part diff tool. But I don't and Gitlens works--show diff results side by side in vscode, until I run "GitLens: Direcotry Compare All Changes".

Obviously, GitLens or vscode knows there is a "diff tool" to show diff result without any configuration. But why GitLens's "Direcotry Compare Command" cannot just pick than one? wh

[2019-02-27 10:30] Guria commented on #656
I still can't enable current line blame annotations on VSCode 1.31.1:
[code]

Here is debug output:
[code]

[2019-02-27 13:18] Guria commented on #656
Just found out that in my case it conflicting with another extension:
[code]

[2019-02-27 14:26] bardware opened #672 "History of binary file not shown in view"
- GitLens Version: 9.5.1

- VSCode Version: 1.31.1
- OS Version: Win 10 64 bit German

Steps to Reproduce:

1.

Right click on a jar file in the working directory. In the popup menu select `Show file history in View`
The file (name) is shown in the view, its history is missing
![grafik](https://user-images.githubusercontent.com/802702/53497096-b870ef00-3aa3-11e9-9dfb-fb7e66698b8d.png)

In the bott

[2019-02-27 14:45] rchod opened #673 "Copy deleted change"
Hi,
Is it possible to add a button to allow the copy of a deleted/added (red/green) change ?
![screenshot from 2019-02-27 15-34-15](https://user-images.githubusercontent.com/623771/53498284-4f3eab00-3aa6-11e9-87b1-2b6c2d2b899a.png)
Otherwise I have to revert the change and then copy the contents and finally remove the change, and that is quite tedious.

[2019-02-28 11:47] dnsampaio opened #674 "Stash line chunks of a altered file"
Hi,
would it be possible to add a stash change button over the inline-changes view? Just as stage change, I would like to stash single changes in a file. For example, if in one file we have changes in lines [0 - 3], [20-30], [90-100]. I would like to select to stash just the [20-30] chunk.

Regards
Diogo

[2019-02-28 12:12] JudyLipinski opened #675 "Copy lines or files between branches?"
Is there any way to copy lines or files between branches?

[2019-02-28 19:08] talmdal commented on #675
I asked the same thing here: [https://github.com/eamodio/vscode-gitlens/issues/647](url),

But what I have found is I can compare a file in a branch or stash with the current working tree. Unless the file doesn't exist in the working tree, the right pane is editable. So what I do is select the lines in the left pane and copy them (ctrl-c) and paste them into the right pane.

[2019-03-01 00:59] pqt commented on #418
Easiest solution to this was
[code]
so that it no longer adds anything to the top anymore.

[2019-03-01 09:00] jeasonstudio opened #676 "GitLen's icon looks weird in sidebar."
- GitLens Version: v9.5.1

- VSCode Version:  1.32.0-insider (1.32.0-insider)
- OS Version: macOS 10.14.3

It looks bigger than other icons. I don't think this is my illusion.

![image](https://user-images.githubusercontent.com/17971291/53627386-49ca9780-3c43-11e9-9051-2e8e70c6ddea.png)

[2019-03-02 20:04] kburson commented on #644
can you use nps?

https://www.npmjs.com/package/nps

edit package.json:

"scripts": {
   ...,
   "start": "nps"
}

Then create a package.scripts.js file for the build targets?

[2019-03-04 08:44] x13machine commented on #676
It's the same size as the debug icon. I checked it in gimp.

[2019-03-04 17:45] eamodio commented on #676
Yeah, GitLens follows the vscode guidelines and the image is exactly the same size at the debug one.

[2019-03-04 17:45] #676 closed

[2019-03-05 09:15] Nisthar commented on #375
@eamodio What does push repositories does in gitlens? Its not pushing or commiting code to remote.

[2019-03-05 18:26] pmilic021 commented on #585
As others have pointed out, it would be of immense help it could be possible to select and copy some content of _red blocks_.

[2019-03-06 11:06] #671 closed

[2019-03-07 14:49] mplwork commented on #580
I have the same problem but can't find those logs I am supposed to consult. Where are they? I saw them once by accident. And I'd really like to see this bug fixed.

[2019-03-07 23:38] neolivz commented on #118
And it's gone again :(

[2019-03-08 09:52] theseion opened #677 "Line and file history not working in symlinked repository"
- GitLens Version: 9.5.1
- VSCode Version: 1.32.1
- OS Version: macOS 10.14.3

Steps to Reproduce:
1. Create a repository (with some commits) at some arbitrary location (e.g. ~/myrepo)
2. Create a symlink to a parent directory of the repository (e.g.  ~/mysymlink -> ~)
3. Open VS Code via the symlink, e.g. `code ~/mysymlink/myrepo`
4. Open a file.

The logs were obtained right after opening a file

[2019-03-08 22:40] eamodio commented on #580
You can get output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane.

Any help you can offer here would be greatly appreciated.

[2019-03-08 22:41] eamodio commented on #671
VSCode doesn't provided a directory compare tool.

[2019-03-08 22:42] eamodio commented on #585
@pmilic021 Unfortunately that isn't something GitLens can fix -- that is an issue with vscode itself. I would recommend opening an issue with the vscode repo -- if there isn't one already (in which case upvote it).

[2019-03-08 22:44] eamodio commented on #375
@Nisthar it should push each repo to the remote. GitLens currently uses the built-in git commands to execute the push itself -- so if pushing works via the built-in git command it should work in GitLens. If you are having issues, can you open a new issue about it and please add logs. Thanks!

[2019-03-08 22:47] eamodio commented on #675
@JudyLipinski what @talmdal suggests is about the best option currently. Besides what is requested in https://github.com/eamodio/vscode-gitlens/issues/647 (which needs vscode itself to support), how would you like/expect it to work?

[2019-03-08 22:49] eamodio commented on #674
@dnsampaio do you mean _stage_ rather than _stash_?

[2019-03-08 22:56] eamodio commented on #673
Unfortunately this isn't something GitLens can provide (vscode apis don't support it) -- I would recommend opening a feature request with the vscode repo to add support for this.

[2019-03-08 22:56] #673 closed

[2019-03-08 23:00] eamodio commented on #656
@Guria Ah, glad you found the issue and that it is resolved.

I'm going to close this issue for now, until there is more information pointing to an issue. Thanks!

[2019-03-08 23:00] #656 closed

[2019-03-08 23:15] eamodio commented on #670
Unfortunately there is no way to do that today -- good feature request 😄

[2019-03-08 23:16] eamodio commented on #664
@tecosaur where would you like to see this? Can you send a screenshot of where?

[2019-03-08 23:18] eamodio commented on #658
@gasharm If you turn off the automatic refresh of the _Repositories_ view does that avoid the issue?

You can disable it (and re-enable it) from here
![image](https://user-images.githubusercontent.com/641685/54061384-9297c880-41ce-11e9-96f1-2673c85c50e6.png)

[2019-03-08 23:20] eamodio commented on #650
@officialsanjaysharma or anyone else who experiences this -- can you please attach the profile? Without that I can't do anything about it.

[2019-03-09 05:10] JudyLipinski commented on #675
Thanks to you both! Reading #647 that covers what I'd like nicely.  I will also try what @talmdal has said. I tried having my current branch compared to another but however I did it, it wasn't editable.

I write courses and use branches in a non traditional way, showing students how a demo app or solution progresses.  If I edit a package.json or image or data file, back on one of the first steps,

[2019-03-09 05:10] #675 closed

[2019-03-09 05:13] shadowspawn commented on #617
Submitted Pull Request for consideration.

[2019-03-09 05:13] #617 closed

[2019-03-09 06:06] tecosaur commented on #664
Does this work as an example?
![image](https://user-images.githubusercontent.com/20903656/54066988-80706580-4274-11e9-82e6-204388cdd2a6.png)

[2019-03-09 08:15] pmilic021 commented on #585
Alright, never would have guessed

[2019-03-09 10:09] fabrik42 opened #678 "GitLens not working against PR review files"
As a follow-up to [this tweet](https://twitter.com/eamodio/status/1104155520628387849):

When reviewing changes using the official [GitHub pull request extension](https://github.com/Microsoft/vscode-pull-request-github) it would be nice to use the features of GitLens either within the review/diff mode of the pull request extension or a quick way (shortcut?) to open a PR review file in a way that i

[2019-03-09 21:06] randallmeeker commented on #319
FWIW I do NOT have GitLens installed but still had this issue and google brought me here.

Ubuntu 18, VSC 1.32.1

Enable / Disabling
`Merge-conflict > Code Lens: Enabled, Editor: Code Lens: Enabled`

fixed my issues. Both shown as enabled. I disabled both and then re-enabled both via the GUI.

![image](https://user-images.githubusercontent.com/2538537/54077331-6044a480-427c-11e9-8e41-fefcce3d623f.

[2019-03-11 01:58] keelung-yang commented on #671
@eamodio THX! Now I know the reason.

[2019-03-11 12:39] dpnub commented on #580
Му logs

Gitlens log:
[code]

Gitlens (Git) log:
[code]

Git log:
[code]

[2019-03-12 00:44] tecosaur commented on #281
@eamodio Just regarding getting avatars for no-reply emails such as `20903656+tecosaur@users.noreply.github.com` would you be willing to point me to the relevant bits of the codebase and I'll take a look and implement it if it isn't too hard.

[2019-03-13 09:52] vegar opened #679 "Make GitLens work if opening a subfolder of a git repository"
We have a medium sized git repo, containing a lot of projects. Most often, I'll open up a sub folder in this repo in VS Code, to work with the files there. E.g. having a visual studio solution with multiple .net projects in it, one being a web project containing a wwwroot folder with the client side resources. I'll open up the wwwroot to work with the files there.

The built in VS Code source cont

[2019-03-13 09:53] vegar commented on #679
(I *thought* I posted it as a feature request, but I see the label was dropped along the way...)

[2019-03-13 17:56] marcelhekking commented on #472
Thanx for the tip! Looks very good

[2019-03-13 22:32] neolivz opened #680 "VS Code insiders gitlens not working"
- GitLens Version: 9.5.1
- VSCode Version: Version 1.33.0-insider (1.33.0-insider)
- OS Version: macOS Mohave 10.14.3

Steps to Reproduce:

1. Open a git project
2. Open any file which is already checked in and select any line
3. Wait for gitlens to show the commit details

Note: This only happens to vscode-insiders
The log from `vscode-insiders`
[code]
while the same file from `vscode`(not inside