[2019-03-14 13:17] can-artuc commented on #284
Yeap but it is not easy to check 120 settings rather than writing one line.

[2019-03-14 13:20] Niekket opened #681 "GitLens was unable to find Git. Please make sure Git is installed. Also ensure that Git is either in the PATH, or that 'git.path' is pointed to its installed location. Can't fix it.."
GitLens Version: 9.5.1
VSCode Version: 1.32.2
OS Version: 10.14.3 Mojave

Tried `xcode-select --install`, installed it but still the error.
Tried `sudo xcodebuild -license` agreed and still got the error.

I can't seem to find the problem here

[2019-03-14 13:32] Niekket commented on #681
Fixed! In the Settings I put in the search bar this line "git.path": "/usr/bin", clicked on edit in settings.json and added this line:

"git.path": "/usr/bin"/

[2019-03-14 13:32] #681 closed

[2019-03-14 15:30] eamodio commented on #679
@vegar This scenario *should* work -- Can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2019-03-14 18:38] bernardo-amaral commented on #667
It's happen to me when I'm codding in file tab. In the VSCode update causes an delay to update the text from gitlens to your position, showing for me a wrong code for just seconds.

[2019-03-15 04:59] eamodio commented on #284
@can-artuc sure, but if you don't know the name of the setting or if there is even a setting an interactive settings editor definitely helps.

[2019-03-15 12:42] robbuckley opened #682 "Filter git history by subtree, and browse repo by commit"
when viewing the git graph, it would really help in understanding large repos it the repo could be browsed in a sidebar window at the commit selected in the graph, and that the graph could be further filtered by selecting a substree/file

sidebar window to browse the file tree of the currently selected commit
if a folder or file is selected, the commits in the graph are filtered according to the s

[2019-03-15 12:46] can-artuc commented on #284
I agree @eamodio but I can always find the settings name as I found at the moment 😬I checked editor 2 times to find it. May be I am not so good to read settings in editor.

[2019-03-15 15:02] halicki commented on #625
I can confirm the same issue on:
* gitlens: 9.5.1
* vscode: 1.32.3
* ubuntu 18.04 LTS

And also in the repo on which the problem occurs has multiple commits with `^M` character in their message.

[2019-03-15 16:42] eamodio commented on #284
@can-artuc just to make sure I understand that we are talking about the same thing -- here is a screenshot of GitLens' settings editor:

![image](https://user-images.githubusercontent.com/641685/54447352-a3d95b80-471f-11e9-82ad-80f3aba9a21c.png)

You are talking about that one right? If so, I would love to hear any thoughts/feedback how I can make it less overwhelming and more accessible.

[2019-03-15 17:32] tribut opened #683 "log.showSignature leads to stray files being displayed"
When `log.showSignature` is enabled, the signature verification lines show up as files in the "files changed" section of a commit. Clicking on a commit in the "file history" view leads to bogus diffs being shown.

![Screenshot from 2019-03-15 18-19-43](https://user-images.githubusercontent.com/719105/54450389-92f50e00-4750-11e9-9b9c-9e7261fcef4f.png)

- GitLens Version: 9.5.1
- VSCode Version: 1.3

[2019-03-15 18:34] can-artuc commented on #284
Hmm nope @eamodio , I am talking about this:

![](http://canartuc.com/img/gitlens_settings.png)

[2019-03-15 19:33] eamodio commented on #284
@can-artuc Yeah -- that's what I thought -- that is vscode's settings editor -- which is completely unusable for something like GitLens which has a ton of settings. That is why I built my own interactive settings editor -- specifically for GitLens (and long before vscode even had its own ui settings editor).  You can open it from the command palette `GitLens: Open Settings`

[2019-03-15 20:06] can-artuc commented on #284
Thank you @eamodio , you are very helpful! I haven't built any vscode extension and don't know the dynamics and structures. But if it is possible to do, may be it is better to put some kind of info or link which points to your interactive settings editor from regular settings window. Thank you very much for your effort for this extension!

[2019-03-15 20:51] eamodio commented on #284
@can-artuc Appreciate that -- and glad to help. I wish it was something that was possible. I actually just opened this issue about it: https://github.com/Microsoft/vscode/issues/70589. Please upvote it ;)

[2019-03-16 21:58] khurom commented on #529
I can confirm this also. At the moment I'm segregating my work -- when I work on testing I disable GitLens, but for most of the time I will keep it on. As I do not need the GitLens decorations as much I think I will disable this particular feature as @bramsvs suggested.

[2019-03-18 11:17] tiansin commented on #574
@eamodio  This error appears again here.

[2019-03-18 11:27] tiansin opened #684 "Apply Changes not working because of whitespace conflicts"
- GitLens Version: 9.5.1

- VSCode Version: 1.32.3
- OS Version: mac 10.13.6

Steps to Reproduce:

#574

[2019-03-18 11:15:05:114] git — -c, core.quotepath=false, -c, color.ui=false, apply, --whitespace=warn, -3,   cwd='/Users/xxxx/project'

Error: error: patch failed: resources/views/home/index.blade.php:37
Falling back to three-way merge...
error: patch failed: resources/views/home/index.blade.p

[2019-03-19 06:47] vegar commented on #679
This is the log from opening the folder:

[code]

This is the log when I activate the `GitLens: Show File History View`-command:
[code]

To me, it seems like GitLens realize that I am in a git repository, but for some reason it don't believe my files are tracked..

[2019-03-19 10:41] rajesh996 opened #685 "GitLens not loading for a single repository"
Git lens is loading for all the different folders. But, it is not loading for a single folder. Why like that?

[2019-03-19 13:38] SimonKagstrom commented on #677
Not sure if this is the same problem, but I have a slightly different structure:

git repo:
[code]

We build multiple projects, some which use `module_foo` and some which use `module_bar`. To workaround other vscode issues, I've setup symlinks like this:

[code]

and with this, gitlens doesn't figure out that module_foo is a git repo. Using gitk in the symlink works though.

[2019-03-20 01:46] gservat commented on #656
Just in case it helps anyone... in my case :man_facepalming: the file I was looking at was [git-crypted](https://github.com/AGWA/git-crypt). The blame works fine for a non-encrypted file.

[2019-03-20 07:03] CodySayer opened #686 "GitLens showing commits by me as multiple different contributors"
![Code_pdrsZ1Z7Dj](https://user-images.githubusercontent.com/14969722/54665215-9e736c80-4aa3-11e9-92d4-844af8c5d5f1.png)
Issue Type: <b>Bug</b>

I don't know how to reproduce this, I'm assuming it has something to do with the interaction between GitLens and GitBash for windows since I don't have the issue on MacOS.

On the file blame, end of line blame, and GitLens explorer, my commits are shown u

[2019-03-20 15:24] paradoXp opened #687 "Disable the in line actions in repository view"
I would like to disable the duplicate actions that appear on hover over each repository in the repositories view.
![image](https://user-images.githubusercontent.com/13684150/54696443-37d16b80-4b02-11e9-8850-ed05c916eb8f.png)

Having the option to select a repository and then take action from the top row of buttons will make the view less cluttered. When the UI is configured this way, it will need

[2019-03-21 05:23] RayPS commented on #676
It looks weird  because the path is not pixel aligned.
<img width="723" alt="Screen Shot 2019-03-21 at 13 20 15" src="https://user-images.githubusercontent.com/1941540/54734665-16dd4900-4bdc-11e9-898b-286088ffc71e.png">
compare left (half pixels) and right (pixel aligned)

Please reopen.

[2019-03-21 06:00] eamodio commented on #676
@RayPS Please feel free to send a PR with an updated image. I'd really need to see the icon in vscode to judge it properly.

[2019-03-21 06:09] eamodio commented on #687
Unfortunately there isn't a way to multi-select in vscode views (at least not the views that extensions can contribute). If it were possible (or when it is possible), I like the idea of using multi-select to change fetch/pull/push all, but at the same time I'm don't want to lose the utility of the those affecting all the repos. I personally find both the "all" buttons and the individual buttons ve

[2019-03-21 08:01] havardl commented on #609
Hey @WSLUser, did you ever get to the bottom of this?

[2019-03-21 12:25] WSLUser commented on #609
I had filed an issue with VS Code https://github.com/Microsoft/vscode/issues/66046 but I also found https://github.com/Microsoft/vscode/issues/68808 which now has the on-deck tag on it. Probably because the issue writer provided a bit more details except in that case it was filed for the use case of debugging (which is why I requested VS Code itself tackle the issue instead of extension authors.)

[2019-03-21 13:12] paradoXp commented on #687
I assumed that the "select multiple" ability was possible because it works from the explorer, but I have no experience developing extensions for vs code, so I don't know what the capabilities actually are.

I would definitely not request that the ability to have the top bar perform actions against all repos be removed. I can see how some people would like that ability. My thought was more to have

[2019-03-21 13:16] rugglcon commented on #382
That workaround is fine, but it would be a lot more convenient to have a setting that won't stop line annotations when in debug mode rather than having to do that everytime. Not sure how easy that would be for you to add, and also sorry for commenting on this closed issue.

Let me know if that's at all possible or if you'd like some help.

[2019-03-21 13:21] paradoXp opened #688 "Ability to collapse all and expand all in repositories view"
In the repository view, I would like the ability to collapse all repositories so that I can get a quick overview of the repository status and get a more focused view of a specific repository. This would work the same was as the collapse all button in the explorer sidebar.
![image](https://user-images.githubusercontent.com/13684150/54696685-a6aec480-4b02-11e9-922d-dc915b191f09.png)

It could also b

[2019-03-24 10:20] krsiakdaniel opened #689 "Disable diff in scrollbar"
Hi,

I tried to hide the diff in scrollbar using these (obviously wrong):

[code]

I can view the diff on the left side, in the gutter. On the ride side in scrollbar want to hide it as it is really difficult to see anything else there. For example when I search: https://prnt.sc/n25tgl or select something: http://prntscr.com/n25smp

I would be greatful for help. Could not google it or find in the r

[2019-03-25 13:20] danielo515 opened #690 "Not able to select a commit sha for branch comparision"
Issue Type: <b>Bug</b>

Hello,
Thanks for this great extension, it is awesome.
I am trying to compare one branch HEAD with a particular git commit of the same branch. Ideally I would love to just do `HEAD~1`, but this is not possible. Then I tried to pick the git sha from git log and that is not working either. Is this supposed to be supproted (according to the placeholder it is )

Thansk in advan

[2019-03-26 07:35] Psithief opened #691 "Auto-expand tree view on Swap Comparison"
- GitLens Version: 9.5.1

- VSCode Version: 1.32.3
- OS Version: 6.1.7601

Steps to Reproduce:

1. Expand the Compare panel.
1. Select two branches.
1. Click the `Swap Comparison` button.

Actual behaviour:

1. The comparison tree view is refreshed but collapsed, requiring another click.

Expected behaviour:

1. The comparison tree view is refreshed and expanded.

Bonus functionality:

1. The comp

[2019-03-26 08:13] x13machine commented on #677
How do I get these logs? I went to Help -> Toggle Developers tools. I couldn't reproduce this bug. I only saw one git repo in the gitlens panel. I did "code apps/theapp/release"

**My directory tree:**
[code]

[2019-03-26 13:29] theseion commented on #677
You'll have to enable debug logging in GitLens. Search for `gitlens debug` in the settings, then check `Gitlens: Debug` and make sure that the output level is set to debug.
Once you've done that you'll see the output in the Gitlab output panel (if it's not open, click on the dropdown in the `Output` panel and select `GitLens`.

The GitLens panel only shows multiple repositories once you've opened

[2019-03-26 18:25] gbritton1 opened #692 "Can't open remote on bitbucket"
- GitLens Version: 9.5.1

- VSCode Version:  1,32,3
- OS Version: Windows 10

Steps to Reproduce:

1. Connect to a Bitbucket repo, e.g.

[code]
2.
Click on :Open Branch On Remote

3. 404 since the URL is incorrect
(tries to go to https://bitbucket.tds.td.com/projects/scm/repos/tbsm/tbsm-vision-db/commits?until=develop)

Correct url is: https://bitbucket.tds.td.com/projects/TBSM/repos/tbsm-vision-d

[2019-03-27 13:46] stavnskov opened #693 "Configure remotes for git on TFS"
Our git repo is hosted in Microsoft Team Foundation Server (TFS), see https://docs.microsoft.com/en-us/azure/devops/repos/git/overview?view=azure-devops

gitlens and vscode integration works fine except for remotes links. I try any of these methods to open the file on remote:
* Right click file|Open File on Remote
* gitlens code hover shield|...|Show More Actions|Open file?
* gitlens sidebar Open

[2019-03-27 16:35] Megalomaniak commented on #612
Not sure if this is useful feedback(I hope so) nor if this issue is the correct place for this, but as a completely new git user I expected to be able to just right-click on remotes in gitlens side panel and see a menu item for `Add new remote`. Instead I only saw `Refresh`.

For now I've resorted to following this guide from github to add upstream remote from vsc terminal:
https://help.github.com

[2019-03-28 00:57] yasuyuki commented on #650
I met a similar problem.
I created a gist with cpu profile.
https://gist.github.com/yasuyuki/e1c552d2ebb348a2f54dc4375e69f04d

[2019-03-29 20:37] Yzrsah commented on #668
@eamodio Continuing to test this, the line blame annotations are enabled when opening files in the Monorepos or yarn workspace repos. It's 100% consistent - Open files in Yarn workspace, Git line blames are enabled.

[2019-03-31 03:29] i-love-thinking commented on #319
The same reason as @randallmeeker. Disable `Gitlens > Code Lens:` make **merge conflict actions** appear.
![disable](https://user-images.githubusercontent.com/38521343/55284385-17c66580-53a8-11e9-93b8-2aafcb2083d4.png)

[2019-03-31 17:14] eamodio commented on #319
@i-love-thinking what platform are you on? Linux?

[2019-04-01 06:37] i-love-thinking commented on #319
Ubuntu 18, VSC 1.32.3

[2019-04-01 08:04] eamodio commented on #690
@danielo515 Can you provide more details as to where in the UI you are trying this? In the places I can find, I'm able to compare to `HEAD~1` or other computed refs.

[2019-04-01 08:10] eamodio commented on #689
@krsiakdaniel sorry for any confusion, but GitLens doesn't provide the feature (UI) you referenced. It is provided by vscode itself. The setting you are looking is `"scm.diffDecorations"` and it can be set `all`, `overview` (the scrollbar), `gutter`, and `none`.

Hope that helps!

[2019-04-01 08:10] #689 closed

[2019-04-01 08:19] eamodio commented on #686
Is it possible that you have committed code to that repo with more than 1 username/email? If you do a `git log` of the file in question, do you see different author names?

[2019-04-01 08:26] eamodio commented on #684
@tiansin why do you think this is because of whitespace conflicts? `--whitespace=warn` is set which will just report whitespace issues, but not block the apply. It is also falling back to 3-way merge, but is also failing. I'm not sure what I can do here, as git is failing to apply your patch.

[2019-04-01 08:27] eamodio commented on #680
@neolivz are you still having this issue?

[2019-04-01 08:29] eamodio commented on #685
@rajesh996 Can you provide more details? I'm not understanding the scenario that isn't working for you. Thanks!

[2019-04-01 08:32] eamodio commented on #682
@robbuckley try out the `Explore Repository from Here` command -- see here

![image](https://user-images.githubusercontent.com/641685/55313897-f3659a00-5436-11e9-8ac1-e2c06f816d72.png)

That command will add a new root folder in the _Explorer` sidebar which you can use to explore the repository at that point in time.

Please let me know if that helps and was what you were asking. Thanks!

[2019-04-01 08:35] eamodio commented on #664
@tecosaur do you know the git command that would provide this information?

[2019-04-01 08:35] eamodio commented on #658
@gasharm did that avoid the issue?

[2019-04-01 08:43] eamodio commented on #319
Reported here: https://github.com/Microsoft/vscode/issues/71532

[2019-04-01 08:45] eamodio commented on #612
@Megalomaniak yes, please open a new feature request for that. Also PRs are very welcome 😄

[2019-04-01 09:28] Megalomaniak opened #694 "Implement an easy way to add a new remotes."
As I brought up in https://github.com/eamodio/vscode-gitlens/issues/612#issuecomment-477242751 it would be nice to be able to just right-click on remotes in gitlens side panel and see a menu item for `Add new remote`. Currently there's only an entry for `Refresh`.

![GitLens_Remotes](https://user-images.githubusercontent.com/3162126/55317446-334d7100-5479-11e9-8f7e-eabcf8dcbb89.png)

For now I've

[2019-04-01 09:31] gasharm commented on #658
Thanks @eamodio  for looking into this issue, but seems like the issue is happening even after uninstalling all my extensions. I think this is a VScode issue. Let's close this one.

[2019-04-01 09:31] #658 closed

[2019-04-01 12:48] tiansin commented on #684
Sorry, I always thought that this command was to check out the file and replace the local file content. It may be that I understood it wrong.

[2019-04-01 16:36] tecosaur commented on #664
This could do the trick

[code]

[2019-04-01 23:17] bernienowel commented on #679
Windows generally is case insensitive for paths but when using git it is more finicky. When you open vscode from a subdirectory is that subdirectory the same case as the actual path in the filesystem?  When typing the `cd` command if you type `cd c:\projects\VSR\shareregister\Shareregister.Web\clientapp` but the directory name actually starts with a capital `C` like:
`c:\projects\VSR\shareregister

[2019-04-02 04:56] eamodio commented on #668
@Yzrsah Unfortunately I can't reproduce this. I've tried the "super" repo example you provided and I don't see the current line blame show up with it off. Also from code inspection, I can't see how it could happen either.

Can you send a video or something that shows the problem? And is there any public repo(s) that I can clone to see it? Alternatively, I can add some more logging and provide a ne

[2019-04-02 08:36] danielo515 commented on #690
Hope this gif clarifies it a bit

![Screen Recording 2019-04-01 at 05 11 PM](https://user-images.githubusercontent.com/2270425/55388205-c2ff2800-552a-11e9-8023-e32ffccf0c28.gif)

[2019-04-02 21:31] letmaik opened #695 "Invalid URL in Open File in Remote when selecting origin/.. as comparison branch"
- GitLens Version:  9.5.1

- VS Code version: Code 1.32.3 (a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4, 2019-03-14T23:43:35.476Z)
- OS version: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Select a branch to compare with and choose one like "origin/foo".
2. Click on Open File with Remote
3. Url is something like https://github.com/user/repo/blob/origin/branch/path/to/file

[2019-04-04 08:48] mikeflemingcfs opened #696 "Public Key issue when trying to push/pull for Visual Studio Code on Mac"
Hi,
I can't seem to find the right answer here or on the web.

So, if I create a project opening my Repo folder, VSC and GitLens see all the branch details.  However, I cannot use the pull/push features as I get a Permission (publickey) denied error.

I can't figure what setting to update to overcome this issue.

Hoping you can advise.
![Screen Shot 2019-04-04 at 09 45 51](https://user-images.gith

[2019-04-04 09:22] Strum355 opened #697 "An unknown error occurred. Please consult the log for more details."
- GitLens Version: 9.5.1
- VSCode Version: 1.32.3
- OS Version: Ubuntu 16.04
- Git Version: 2.7.4

Steps to Reproduce:

Extension is just not working at all. Open a file, Open Git Lens pane, error occurs. No features are working

<details>
<summary>GitLens</summary>

[code]
</details>

<details>
<summary>GitLens (Git)</summary>

[code]
</details>

[2019-04-05 15:44] dfmartin commented on #622
For me this is only with checking out a branch under the Remotes node of the repos tree.  It is actually checking out at that commit - not the branch - so it is showing up as HEAD detached in my console.  This is the only thing so far in GitLens that struck me as not working as it should - or at least as I would have expected it to.

[2019-04-06 18:04] derek-shnosh commented on #688
Excellent suggestion; to add, my preference is to have them collapsed by default (in a setting, maybe).

[2019-04-07 05:43] eamodio commented on #697
@Strum355 Can you provide more details on what you are seeing? What is the error message? Can you send a screenshot?

[2019-04-07 05:44] eamodio commented on #696
@mikeflemingcfs Do you see this same issue using the pull/push commands in vscode directly?

[2019-04-07 09:35] Strum355 commented on #697
The error message is literally just the title of this issue, which pops up as a notification. Those logs are the only two logs there. Not sure what else there is to show

[2019-04-08 06:37] eamodio commented on #665
@adityagandhi007 Please ensure that git is in your PATH or set `git.path` in your vscode settings to the path to where git is located on your machine.

Hope that helps.

[2019-04-08 06:37] #665 closed

[2019-04-08 06:42] eamodio commented on #667
@dbaeumer I can't seem to reproduce this with you steps -- though I have definitely seen this happen. Unfortunately I'm pretty sure this is an artifact of the way vscode decorations are implemented. I don't think there is any way for me to get around this.

[2019-04-08 07:38] #382 closed

[2019-04-08 07:38] #683 closed

[2019-04-08 07:38] #691 closed

[2019-04-08 07:38] #690 closed

[2019-04-08 07:38] #695 closed

[2019-04-08 07:58] dbaeumer commented on #667
I discussed this with @alexandrudima when we saw this and we were the opinion this is something that can be addressed in the extension. @alexandrudima do you remember the outcome of our discussion :-)

[2019-04-08 08:15] julian-poidevin opened #698 "Support Git Stash unstaged changes"
It would be great to have "Git: Stash unstaged changes" command shortcut in command pannel
This would avoid typing manually `git stash save -k`.

The "Stash All changes" button in the right pannel has the same function in `STAGED CHANGES` and in `CHANGES` parts. Maybe it could be implemented an other way on the `CHANGES` part to only stash changes not staged.

![image](https://user-images.githubus

[2019-04-08 08:31] zachary-zhaoqi opened #699 "中文支持"
希望可以增加汉化支持，例如设置区域等。

[2019-04-08 17:27] esmcelroy commented on #693
In the URLs settings, you have to update all of the below values to work with TFS.

where **YOUR URL** is, in this case `tfs-fs.company.com`

And, for each of these views, like repositories, add in the structure around the keywords, like `repo`, `branch`, `id`, etc.
In the case of `repository` setting for bitbucket server, this looks like: `https://<git domain>/projects/${repoBase}/repos/${repoPat

[2019-04-08 21:12] nickcorona opened #700 "How do you push git repository to GitHub from visual studio?"
There doesn't seem to be any functionality to do that.

[2019-04-08 22:59] eamodio commented on #700
@nickcorona are you asking about Visual Studio or VS Code? If the former, then GitLens doesn't apply (it is an extension for VS Code).

[2019-04-09 02:49] eamodio commented on #699
Have a look at: https://github.com/eamodio/vscode-gitlens/issues/577. Chinese support should be coming 😄

[2019-04-09 03:07] Jeremy115 commented on #699
将在那个版本开始支持

[2019-04-09 07:38] stavnskov commented on #693
I have tried to do as you suggest, no luck. I would expect the "file" url to be used when I issue a "Open File on Remote" command. I have tried to fill in a direct working URL without any keys ${...}. That also does not work. There is no browser trying to open at all. Just the empty pick list within vscode.

[2019-04-09 09:13] zachary-zhaoqi commented on #699
谢谢~

[2019-04-09 09:13] #699 closed

[2019-04-09 12:52] bg opened #701 "Contributors shows no commits for mailmapped committer name"
Issue Type: <b>Bug</b>

On 3 separate repos, I can reliably reproduce:

- open vscode on a repository that has a .mailmap file to normalize all commiter names & email addresses to a single, canonical initials & email address per committer
- open Contributors
- look at any node under Contributors where:
  - the committer email was originally *Firstname Lastname &lt;email&gt;*
  - and the name has b

[2019-04-09 13:50] chotaire opened #702 "Sign tags with gitlens"
I can't seem to be able to sign tags with gitlens, Has anyone had success doing so? Signing commits works like a charme though.

 I am using the following .gitconfig configuration for this:

[code]

[2019-04-09 17:52] 9527KGG opened #703 "Compare unstaged change to a branch and staged change to a branch"
Currently, the unstaged change, it looks like

![image](https://user-images.githubusercontent.com/12282281/55822720-133f3280-5ab5-11e9-92db-7f575bb9f2b3.png)

For staged change, it looks like
![image](https://user-images.githubusercontent.com/12282281/55822759-27832f80-5ab5-11e9-885f-3d3acf12429d.png)

There is only one group for unstaged and staged. If I right clicked the group, it shows
![image]

[2019-04-09 18:58] 9527KGG commented on #703
Currently, to find out all changes I've made on a child/dev branch, comparing to parent/release branch in gitlens. I've to:

1. git add
2. git commit
3. compare local commit to parent branch.

If sth goes wrong, I've to
1. git reset
2. make change to fix the issue.
3. git add
4. git commit
5. compare local commit to parent branch.
or
1. make change to fix the issue.
2. git add
3. git commit
4. com

[2019-04-10 07:42] cideM opened #704 "I don't understand Line History"
Here's what I would assume most people expect from line history:

- Select a range of lines.
- Activate line history.
- See how those lines changed, and only those lines

I hovered over every icon but I can't figure out how to achieve the same result in line history. Here's what happens in GitLens.

- Select a range of lines
- Click a commit in the line history view
- Get a diff which includes all

[2019-04-10 10:43] romanoza opened #705 "Any chances to make it work under Visual Studio 2019 Community?"
The latest version of VS 2019 Community came with CodeLens enabled. Is there any chance to make this excellent product work under VS 2019 Community?

[2019-04-10 15:10] mikeflemingcfs commented on #696
If you mean I just use VSC terminal?  If I do that I get the passphrase request and then it pushes.

[2019-04-10 17:25] eamodio commented on #696
I mean from either the command palette -- `Git: Pull` or from the `...` menu on the Source Control sidebar:
![image](https://user-images.githubusercontent.com/641685/55899964-10ffd580-5b94-11e9-8110-91a06f23b73e.png)

[2019-04-10 20:07] kylrth opened #706 "Transparent hover"
Sometimes I accidentally leave my mouse on the in-line blame annotation, and the hover appears, blocking code I'm trying to read. I haven't found a way to make the hovers transparent. Ideally, it could follow the behavior specified by the following in `settings.json`:

[code]

Let me know if I simply haven't found the setting to change.

[2019-04-11 03:59] ajhsu commented on #679
I've encountered the same issue, and I have a similar directory structure as @vegar;
The only difference is that I'm on a macOS with ***case-insensitive*** AFPS format.

And I can approve that what @bernienowel pointed out is the actual root cause on my machine!

From my observation, say that I'm working on a directory ***~/Git/repo***
- If I opened up the directory with command `$ code ~/git/repo

[2019-04-11 06:13] emmanueltouzery opened #708 "open any file from another branch"
Recently https://github.com/eamodio/vscode-gitlens/issues/646 was implemented, but it doesn't completely work for me. The reason being that sometimes a file is renamed, and then the command (understandably) fails. In emacs/magit this is handled like that: you run the command, then by default the same filename as your current file is displayed and you just press enter if you want the same filename,

[2019-04-11 11:20] rehbein-dieter opened #709 "Checkout a remote branch as new local branch"
The context-menu of a remote branch contains a menu item "Checkout". Using that item leads to a detached HEAD.

A second menu item "Checkout as new local branch" would be useful to check it out as a new local branch (if a local branch doesn't already exist).

[2019-04-11 16:14] Snukii commented on #694
Yes please

[2019-04-11 16:32] RafaelSalguero opened #710 "Show repository view doesn't show the view"
GitLens output:
*Note that executing the command doesn't generate any output*
[code]

GitLens (git) output:
[code]

- GitLens Version:

9.6.0
- VSCode Version:
1.33.0
- OS Version:
Windows 10 Version 1803 (Build 17134.706)
Steps to Reproduce:

1. Open VSCode on any folder with git
2. Run the "Show repositories view" command
3. VSCode shows the following error in the notification area:
`Running the

[2019-04-11 20:09] MitchLillie commented on #692
Also having this issue with Bitbucket Server v5.16.0

`scm` appears in the git URL, however it is not used at all in formulating the url for browsers to visit. Even with the `gitlens.remotes` configuration, it is not possible to construct a dynamic URL that works for each of my repos, and I have to hardcode it per-project.

Example:

[code]

An example URL I need is:
https://bitbucket.customurl.co

[2019-04-12 00:14] eamodio commented on #710
@RafaelSalguero how are you running that command? From the command palette? I can't seem to reproduce that behavior. Can you run any other GitLens commands, like `GitLens: Open Settings`?

[2019-04-12 00:16] eamodio commented on #709
@rehbein-dieter do you think the detached HEAD version is worth keeping? I'm thinking about just replacing the `Checkout` command on remote branches to be what you describe. Thoughts?

[2019-04-12 00:26] eamodio commented on #679
@vegar Does this explain the issue you are seeing?

@bernienowel Very true, git is always case sensitive, unless you change this config: https://git-scm.com/docs/git-config#Documentation/git-config.txt-coreignoreCase. Which is what I use on case-insensitive systems to avoid this issue.

@ajhsu unfortunately there isn't much GitLens can do here and vscode doesn't really help either, because it *sho

[2019-04-12 00:26] #679 closed

[2019-04-12 00:31] eamodio commented on #706
`editorHoverWidget.background` should be what you are looking for

You can see them all here:
https://code.visualstudio.com/api/references/theme-color#editor-widget-colors

Hope that helps!

[2019-04-12 00:31] #706 closed

[2019-04-12 00:33] eamodio commented on #705
GitLens is currently only for VS Code. Visual Studio doesn't support the same extension model that VS Code supports so in order to support Visual Studio it would be a new extension written from the ground up.

[2019-04-12 00:33] #705 closed

[2019-04-12 05:43] rehbein-dieter commented on #709
@eamodio Replacement would be perfectly fine for me (I don't think that I've ever used a detached HEAD).
Thanks for the quick response.

[2019-04-12 06:07] scambier opened #711 "Error: Unknown view gitlens.views.fileHistory:gitlens"
- GitLens Version: 9.6.0

- VSCode Version: 1.33.0
- OS Version: Windows 7 64bits

Steps to Reproduce:

1. Execute the "GitLens: Show File History" or "GitLens: Show File History View" command
2. The file history view does not show, and an error message pops in the output:

[code]

I tried reinstalling the extension (and even deleting the files in the .vscode/extensions folder), but the problem is

[2019-04-12 06:50] eamodio commented on #711
This sounds like the same issue as https://github.com/eamodio/vscode-gitlens/issues/710. Unfortunately I can't reproduce either of these. Can you try again with vscode 1.33.1 to see if it makes any difference?

[2019-04-12 07:31] scambier commented on #711
I tried with the following VSCode versions (in that order) :
- Downgrade to 1.33.1: not working
- Downgrade to 1.32.3: not working
- Downgrade to 1.31.1 : not working
- **Downgrade to 1.28.2: working**
- Upgrade to 1.29.1: not working

I uninstalled and reinstalled the extension each time I changed VSCode version

[2019-04-12 09:17] x13machine opened #712 "I add written code to solve the issue #670 "Configure similarity index for diffs""
The PR message said to write an issue first. Repo: https://github.com/x13machine/vscode-gitlens

[2019-04-12 09:49] jshall opened #713 "Toggle comparison style"
It appears the the comparison tool is based on `git log ref1...ref2`. It would be nice to toggle between `ref1...ref2` and `ref1..ref2`.

[2019-04-12 15:45] eamodio commented on #712
@x13machine Are you going to submit a PR for that? I don't see one currently -- and if you need help with it just let me know.

[2019-04-12 15:51] eamodio commented on #713
@jshall Any thoughts on where/how to toggle that? Like a menu option similar to `Follow Renames`? A config setting? Something else?

[2019-04-12 19:30] #712 closed

[2019-04-12 19:42] x13machine commented on #712
I'll submit one soon. I made a mistake, I'll fix it before submit.

[2019-04-14 04:23] phmngocnghia opened #715 "[Feature request] Hotkey: focus into changed file repositories, split changed file section into staged and unstaged"
**Requested Hotkey Lists:**

**- Focus into changed files of repositories:**
Press <key> to open gitlens view. Focus into repositories section then focus into changed file section

**- Split changed files into section: staged and unstaged:**
Make it easy to manage file changed. Also add a hotkey to focus into change and unchanged section.

**- Focus and collapse other**
- Collapse all section repo

[2019-04-14 12:35] rajesh996 commented on #685
I am using VSCode for my code development. And when I tried to use GitLens (installed the extension & reloaded VSCode). The GitLens sidepan doesn't show any files at all. It just keeps on loading, loading all the time. It's not working on one repository but working on another repository. I had removed the workspace settings and checked again but of no use.

[2019-04-14 15:27] eamodio commented on #685
@rajesh996 Can you see if your issue is a casing issue like in https://github.com/eamodio/vscode-gitlens/issues/679?

[2019-04-15 07:49] borekb opened #716 "Browsing history of a renamed file fails in forward direction"
- GitLens Version: 9.6.0
- VSCode Version: 1.33.1

When I use the history browsing commands:

<img width="118" alt="Screenshot 2019-04-15 at 09 46 53" src="https://user-images.githubusercontent.com/101152/56115327-702e6300-5f63-11e9-8e6b-d8d9f05d0623.png">

on a **renamed file**, it works in the backward direction (_Open Change with Previous Revision_) but fails in the forward one (_Open Change wi

[2019-04-15 14:25] mikeflemingcfs commented on #696
Hi Eamodio, yes same issue using the command palette.
Whilst this isn't causing me an issue in Bitbucket, could it be the issue in VSC?
fatal: ambiguous argument 'PE/QA1-Digital-25765_Croatia@{u}': unknown revision or path not in the working tree.
Use '--' to separate paths from revisions, like this:
'git <command> [<revision>...] -- [<file>...]'

[2019-04-16 05:20] phmngocnghia opened #717 "gitlens.view.stageFile bind hotkey doesnt' work"
Logs:
There was nothing output to the output panel when press key that bind into stageField command

Reproduce:
1 Bind command with desire key
![image](https://user-images.githubusercontent.com/36730355/56183705-c671d380-6041-11e9-95e7-3837b028be33.png)

2 Focus onto repositories view and changed file section and press key that bind into the stageFile command and nothing happend
![image](https://u

[2019-04-16 09:19] mikeflemingcfs commented on #696
Source Control, same issue.
![Screen Shot 2019-04-16 at 10 18 20](https://user-images.githubusercontent.com/45431594/56197583-0ed4c580-6031-11e9-9314-931abbc44b3c.png)

[2019-04-16 13:37] rajesh996 commented on #685
yes, my issue is similar to the issue in #679.
GitLens worked with one repository and didn't work with other one in my issue

[2019-04-16 13:38] esmcelroy commented on #693
Unless you have all the URLs completed, I suspect the pick list opens up. I ran into similar issues when configuring for Bitbucket Server. Once I had all the URLs managed, it stopped giving a pick list, and copied to clipboard.

[2019-04-16 14:29] eamodio commented on #685
@rajesh996 did you try any of the solutions to fix the issue with the repo it wasn't working with? For example, ensure that the casing you are open code with exactly matches the casing on disk. And/or change this git config setting: https://git-scm.com/docs/git-config#Documentation/git-config.txt-coreignoreCase?

[2019-04-16 16:54] tnrich commented on #259
What does the compromise entail @eamodio ?

It seems like I'm still seeing tons of merge commit messages in the file history side bar:

![image](https://user-images.githubusercontent.com/2730609/56228846-77ba3e80-602d-11e9-8c29-f621415dcee3.png)

Turning on Don't Follow Renames
![image](https://user-images.githubusercontent.com/2730609/56228885-8d2f6880-602d-11e9-9f87-2161ef3c31d4.png)

does allev

[2019-04-16 17:07] mikeflemingcfs commented on #696
This was the troubleshooting page that helps me resolve my issue.  In essence, the fact that I was able to successfully push/pull to Bitbucket using sourcetree, obscured the fact that my ssh keys had not been added to git.
https://confluence.atlassian.com/bitbucket/troubleshoot-ssh-issues-271943403.html

[2019-04-16 17:07] #696 closed

[2019-04-16 18:45] eamodio commented on #696
@mikeflemingcfs glad you figured it out!

[2019-04-16 20:49] eamodio commented on #711
@scambier I think I have figured out the issue -- do you have `gitlens.views.fileHistory.enabled` set to `false` in your vscode configuration? If so, that explains the issue, since GitLens doesn't even register the view if it is disabled. I will make a change in the next version to instead prompt you to enable the view in this case.

[2019-04-16 20:50] eamodio commented on #710
@RafaelSalguero I think I have figured out the issue -- do you have `gitlens.views.repositories.enabled` set to `false` in your vscode configuration? If so, that explains the issue, since GitLens doesn't even register the view if it is disabled. I will make a change in the next version to instead prompt you to enable the view in this case.

[2019-04-16 21:35] eamodio commented on #717
Unfortunately this is a bug in vscode itself. I have open this issue: https://github.com/Microsoft/vscode/issues/72442

[2019-04-17 04:42] eamodio commented on #688
The collapse all button was included in GitLens 9.6.

[2019-04-17 04:42] #688 closed

[2019-04-17 05:06] eamodio commented on #700
I am closing this issue because it needs more information and has not had recent activity.  Please re-open this issue when more details can be provided.

Thanks!

[2019-04-17 05:06] #700 closed

[2019-04-17 05:09] eamodio commented on #697
@Strum355 can you please try again with GitLens 9.6 -- it has more logging around startup and repository searching that might help pinpoint the issue.

[2019-04-17 05:12] eamodio commented on #684
It used to at one point but that was really a bug. Although I could add it back as a new _Checkout_ command.

[2019-04-17 07:01] eamodio commented on #686
I am closing this issue because it needs more information and has not had recent activity.  Please re-open this issue when more details can be provided.

Thanks!

[2019-04-17 07:01] #686 closed

[2019-04-17 07:20] #701 closed

[2019-04-17 07:20] #710 closed

[2019-04-17 07:21] #711 closed

[2019-04-17 07:24] eamodio commented on #704
@cideM Line history while providing similar behavior to file history, only shows the set of commits that affected the line or lines. As you note, the comparisons are based on the full commit changes to that file rather than just the line range. I chose that because a) I often wanted to see other changes outside just those lines and b) it was easier. I would disagree that this makes the line histor

[2019-04-17 07:32] eamodio commented on #619
This was fixed in GitLens 9.6

[2019-04-17 07:32] #619 closed

[2019-04-17 07:33] eamodio commented on #668
I am closing this issue because it needs more information and has not had recent activity.  Please re-open this issue when more details can be provided.

Thanks!

[2019-04-17 07:33] #668 closed

[2019-04-17 07:34] eamodio commented on #680
I am closing this issue because it needs more information and has not had recent activity.  Please re-open this issue when more details can be provided.

Thanks!

[2019-04-17 07:34] #680 closed

[2019-04-17 07:36] eamodio commented on #650
I've looked into that profile and I don't see anything from GitLens in there -- can you please capture a new profile the next time this happens?

[2019-04-17 07:52] Yzrsah commented on #668
@eamodio Sorry I didn't respond. I feel this is my responsibility to rebuild the VSCode setup and test with all the repos in multiple configurations to figure it out and make a perfect reproduction so that I can give you better information. I didn't have enough free time to finish this yet, I am working on it though. Any extra logging would be very helpful for this process.

[2019-04-17 07:58] eamodio commented on #668
@Yzrsah it is still reproducible with 9.6 (or 9.6.1 which I just released)?

[2019-04-17 07:59] eamodio commented on #668
Also if possible a video/gif showing the issue might help a great deal.

[2019-04-17 08:07] Yzrsah commented on #668
@eamodio Wow, the problem is no longer occurring with the new version. Thank you

[2019-04-17 08:23] joselcvarela opened #718 "Can't see changed files when comparing branches"
No output from Output pane.

- GitLens Version: 9.6.1

- VSCode Version: 1.33.1
- OS Version: Linux Mint 19 Tara

Steps to Reproduce:

1. Compare two branches

This will dispatch a notification with this message:
`Cannot set property repoPath of [object Object] which has only a getter`

I can see the diff in commits but not the files changed.

[2019-04-17 08:25] joselcvarela commented on #718
If I install the v9.6.0, this functionality works fine.

[2019-04-17 08:50] cideM commented on #704
Maybe useless was a bit strong but if one would like to see changes outside just those lines then I would assume file history is most appropriate or doing line history with a larger range. It seems like the feature in its current implementation is lacking focus. Thanks for the reply though!

[2019-04-17 11:10] glogar commented on #718
Same here:

OS Version: win10

[2019-04-17 14:30] krpn commented on #718
+1

[2019-04-17 14:51] #718 closed

[2019-04-17 14:54] eamodio commented on #718
@joselcvarela @glogar @krpn Sorry for the issue -- I've posted 9.6.2 which fixes this.

[2019-04-17 15:59] Strum355 commented on #697
<details>
<summary>GitLens</summary>

[code]
</details>

<details>
<summary>GitLens (Git)</summary>

[code]
</details>

[2019-04-18 00:24] max-sixty opened #719 "Selected line not considered by 'Open Line Changes with Previous Revision'"
As you can see in the gif, "Open Line Changes with Previous Revision" selects a change that's unrelated to the selected line.

Is this unexpected behavior? Possibly it's my expectations...

![line changes small](https://user-images.githubusercontent.com/5635139/56328612-b9420b00-614d-11e9-96a4-79c36114ee0b.gif)

Let me know if logs would be helpful

And thanks for such an awesome package!

- GitLe

[2019-04-18 05:46] eamodio commented on #697
@Strum355 Can you try this build and see if that helps? Just remove the `.zip` part from the name first.
[gitlens-9.6.2.vsix.zip](https://github.com/eamodio/vscode-gitlens/files/3092921/gitlens-9.6.2.vsix.zip)

So depending on the logs from the new build, I think the issue is that GitLens can't find any repository for the folder you have opened, but there is a bug on Linux (?) where the git error

[2019-04-18 06:50] scambier commented on #711
Indeed, that was the issue, even though I don't remember disabling it.

[2019-04-18 10:17] Banana-In-Black commented on #719
It looks like using the working version of selected line instead of last version to compare with previous version.

[2019-04-19 13:52] chun-wang opened #720 "Support Gerrit like urls for remotes"
Need tokens like changes、changeId、patch set for remotes url config

[2019-04-19 19:26] eamodio commented on #720
I'm not at all familiar with Gerrit, but I would welcome a PR for this.

[2019-04-21 10:31] bitfield commented on #632
That's OK, I just wanted to make sure my understanding was correct that setting `file` should be enough to make this one command ('Open File on Remote') work.

Right. I've done that, so according to what you've explained, this should work. _It does not_. That's the bug I'm reporting.

[2019-04-21 11:18] igreg commented on #563
I understand that GitLens is not trying to replace the built-in features but as a user of both, I have to admit that I have to constantly switch between the two because of the arbitrary decisions that were made during their development to implement or not such and such feature in such and such way.

I appreciate GitLens increasingly every day, I am just sad that it can't be the only interface I ha

[2019-04-21 21:17] eamodio commented on #563
@igreg what are the types of things that you'd rather manage via GitLens vs the built-in git support? Also one way I personally deal with switching between the 2 is moving the GitLens Repositories view to the Source Control sidebar (rather than on the GitLens sidebar), so that there is much less "switching"

[2019-04-21 23:32] Strum355 commented on #697
Hey Eric, sorry to say but ive replaced the Ubuntu i had on the system with Arch due to numerous other issues. The extension is working fine for me so perhaps there was some other underlying issue somewhere. Thanks for your help anyways :)

[2019-04-21 23:32] #697 closed

[2019-04-22 15:12] CornyjK opened #721 "ISO time and date format"
Is there a way to display date in [original](https://momentjs.com/docs/#/displaying/format/) ISO format? I mean other than just rewriting the format.

[2019-04-22 16:55] eamodio commented on #721
No, you'd need to set something like the following:
[code]

Hope that helps.

[2019-04-22 16:55] #721 closed

[2019-04-23 07:15] psychelzh opened #722 "Repo with two remotes report a bug"
- GitLens Version: `9.6.2`

- VSCode Version: 1.33.1 (system setup)
- OS Version: Windows_NT x64 10.0.17763

When I push all my branches to two remotes, they seems to contradict with each other. I have locally three branches: `master`, `develop` and `feature/analyze-blink-state`.

Error message:

[code]

[2019-04-23 14:21] igreg commented on #563
Ohh very neat. I was expecting visual studio code to allow such thing; I stand corrected. Seems an acceptable and reasonable compromise. Thank you @eamodio.

[2019-04-24 17:43] zero41120 opened #723 "Top right tool loading/placement enhancement"
There are 2 problems I would like to describe for the tool icons on the top right.
## Problem 1
Top right tool icon flickers when enter a diff editor, its load time is not desirable. User can start interact with the vscode default Previous Change/Next Change button and expect them to work without moving their mouse.
![ezgif-1-6122bff52b2a](https://user-images.githubusercontent.com/10471270/5668006

[2019-04-25 10:05] Tony-Gremillon opened #724 "GitService.getBranches very very very long"
- GitLens Version: 9.6.3
- VSCode Version: 1.33.1 (user setup)
Validation : 51b0b28134d51361cf996d2f0a1c698247aeabd8
Date : 2019-04-11T08:27:14.102Z
Électron : 3.1.6
Chrome : 66.0.3359.181
Node.js : 10.2.0
V8 : 6.6.346.32
OS : Windows_NT x64 10.0.16299

Extensions :
project-manager | ale | 10.5.1
cobol | bit | 5.0.4
gitlens | eam | 9.6.3
vscode-language-pack-fr | MS- | 1.33.2
vscode-icons | vsc |

[2019-04-26 07:25] eamodio commented on #724
@Tony-Gremillon is this a repo that I can have access to? Or if not, can you send me the output of `git branch -vv --abbrev=40 -a` so that I can debug the parsing?

[2019-04-26 07:28] eamodio commented on #722
@psychelzh Unfortunately I don't know what you are reporting -- what is the issue? How are you pushing your branches? What is showing up wrong in GitLens?

[2019-04-26 08:41] Tony-Gremillon commented on #724
Hello,
no you can't have acces, here is the result of the command :
[git branch -vv --abbrev=40 -a.txt](https://github.com/eamodio/vscode-gitlens/files/3120453/git.branch.-vv.--abbrev.40.-a.txt)

Thanks

[2019-04-26 08:41] psychelzh commented on #722
I give one screenshot here. Hope it will make the issue clearer.

![image](https://user-images.githubusercontent.com/13306020/56795029-22a6d580-6842-11e9-992f-d42b01934e9d.png)

[2019-04-27 06:48] eamodio commented on #670
@creisle @x13machine Is a global setting enough for this? Would you likely change this more than once?

In addition to a global default would you like to change the threshold on a per-comparision basis, say via a command or something and you enter a new threshold and it would be applied to that comparison immediately?

[2019-04-27 21:40] creisle commented on #670
A global setting should be good enough for our use case for now. I imagine once we start using it we could see better if it would be useful to have it per comparison?

Thanks for working on this!

[2019-04-28 20:33] arindam-bandyopadhyay opened #725 "Inline blame is not showing"
- GitLens Version: 9.6.3

- VSCode Version: 1.33.1
- OS Version: macOS High Sierra

In my environment the inline blame is not showing.
![image](https://user-images.githubusercontent.com/9819737/56869771-77a14200-6a22-11e9-80ec-24eb76f3804b.png)
 I have checked that the `
Show a blame annotation at the end of the current line` is set to true.
![image](https://user-images.githubusercontent.com/98197

[2019-04-28 21:06] eamodio commented on #725
@arindam-bandyopadhyay Have you reloaded vscode since changing the `outputLevel`? If so, you don't see GitLens listed here?
![image](https://user-images.githubusercontent.com/641685/56870089-f1f8a480-69d7-11e9-90df-acefed39d0d9.png)

[2019-04-28 21:21] arindam-bandyopadhyay commented on #725
Thanks @eamodio for pointing that out. Please find the GitLens log. I can't see any error there
![image](https://user-images.githubusercontent.com/9819737/56870209-aa026d80-6a29-11e9-8d5e-741873d3b90c.png)

[2019-04-28 21:25] arindam-bandyopadhyay commented on #725
An observation, In the output dropdown I can't see `GitLens` option. I can only see `GitLens(Git)` option
![image](https://user-images.githubusercontent.com/9819737/56870244-3ca30c80-6a2a-11e9-9e23-942a5d8f2c15.png)

[2019-04-28 21:27] eamodio commented on #725
If you put the cursor on line 1 does it show up?

[2019-04-28 21:28] arindam-bandyopadhyay commented on #725
Please find the GitLens logs
[code]

[2019-04-28 21:30] arindam-bandyopadhyay commented on #725
@eamodio No! If I put the ut the cursor on line 1  or any line the blame is not showing. But blame is showing in GitLens view(as pointed earlier)

[2019-04-28 21:32] eamodio commented on #725
What other extensions do you have enabled? Can you try disabling them and only enabling GitLens to see if that fixes the issue?

[2019-04-28 21:56] arindam-bandyopadhyay commented on #725
@eamodio Please find the list of extensions that were installed
[code]
I have diabled all in the workspace and reloaded vscode
![image](https://user-images.githubusercontent.com/9819737/56870523-5cd4ca80-6a2e-11e9-8da3-f1143e5b4342.png)
 However still the inline blame is not showing

[2019-04-28 21:57] arindam-bandyopadhyay commented on #725
Please find the GitLens logs now
[code]

[2019-04-28 22:00] arindam-bandyopadhyay commented on #725
@eamodio Sorry for an unrelated dumb question, Is there a file which I can edit to enable/disable extensions? Since I have a long list of extensions, I feel lazy to enable/disable them all from UI

[2019-04-29 08:52] arindam-bandyopadhyay commented on #725
@eamodio I have spent some time and found out the root cause of it. In my settings.json, I had enabled `"gitlens.mode.active": "zen"`. That was causing the issue.

[2019-04-29 15:06] mattrn opened #726 "creating a new file right after opening a folder makes vscode ui bug"
Issue Type: <b>Bug</b>

1. Install and activate GitLense
2. Open a Project Folder
3. Right after loading, create a new file with the "new file" button in the ui and start typing.
4. After 1 or 2 seconds the little text field for entering the filename will disappear.
5. Afterwards in some cases the "new file" Button wont work anymore

Extension version: 9.6.3
VS Code version: Code 1.33.1 (51b0b2813

[2019-04-30 07:09] rotwurstesser opened #727 "command "gitlens.XXX" not found"
Hello, i already deleted the extension in the folder after deinstalling the extension, and even restarted my mac after manually deleting the plugin in the folder. Sadly this didn't fix anything, i still can't call any commands nor do i get blame annotations inside my VSCode. If i can help in any way to fix it please let me now! I really miss my Lens ! Thanks for the great tool 💙

- GitLens Version

[2019-04-30 08:04] janosimas opened #728 "Configure the number of search results"
The current behavior of "search commits" returns 200 commits maximum,
It would be nice to be able to configure this size.

[2019-04-30 08:15] janosimas opened #729 ""Show more results"in search commit show less results"
- GitLens Version: 9.6.3
- VSCode Version: 1.33.1
- OS Version: Windows 10.0.17134

Steps to Reproduce:

1. When searching for commits of an author, for example
the maximum number of results is 200
`GitService.getLogForSearch — e=d:/some/path, t=somename, i=author, o={}`

2. Clicking in "show more results" show only 40 results
`GitService.getLogForSearch — e=d:/some/path, t=somename, i=author, o={

[2019-04-30 10:42] poke commented on #91
Hey, this problem is still happening for me in VS Code 1.33.1 with GitLens 9.6.3.

I see that the linked VS Code issue was already fixed with 1.15.0 so this should be working, right? But for some reason, it isn’t :/ Does anyone else have that problem?

[2019-04-30 13:24] borekb opened #730 "Clarify search by changes vs. changed lines"
Just from the title / tooltip of the actions, it's not clear what's the difference between the two:

<img width="378" alt="Screenshot 2019-04-30 at 15 13 24" src="https://user-images.githubusercontent.com/101152/56963976-8559e300-6b5a-11e9-9a12-a66f8eab2fdb.png">

This is what they do:

https://github.com/eamodio/vscode-gitlens/blob/5020fe18f0972f060a247976530b6e91fb97099d/src/git/gitService.ts#L1

[2019-04-30 13:27] borekb commented on #730
If there would be way to link to that SO answer or any other similar resource that contains an example, that would be very useful as well. I always have to google it 😄.

[2019-04-30 21:35] eamodio commented on #726
@mattrn This seems to be a bug in vscode itself. I can reproduce this with 1.33.1, but can't with 1.34 (insiders).

[2019-04-30 21:35] #726 closed

[2019-04-30 21:37] eamodio commented on #725
@arindam-bandyopadhyay Awesome -- glad you figured it out. I'll add more logging to the new version to make this easier to find.

[2019-04-30 21:37] #725 closed

[2019-04-30 22:25] eamodio commented on #728
This is currently controlled by this setting: [`gitlens.advanced.maxListItems`](https://github.com/eamodio/vscode-gitlens#advanced-settings-)

Although maybe an explicit search setting would be valuable.

[2019-04-30 22:28] eamodio commented on #727
@rotwurstesser Can you enabled output logging and post the output?

[2019-04-30 22:29] eamodio commented on #713
Also how would you best explain the difference in the title of a menu choice?

[2019-05-01 06:09] rotwurstesser commented on #727
I apologize If i didn't understand this correctly : i need to set "gitlens.outputLevel": "verbose" in my Settings.json then i should see errors in the "Output" (which is next to the integrated terminal) as soon as i run any gitlens commands ?  I don't get any output ....

[2019-05-01 06:11] eamodio commented on #727
Yeah, make sure you reload vscode after setting `gitlens.outputLevel` and you should see the output here:
![image](https://user-images.githubusercontent.com/641685/57007416-76088300-6bb6-11e9-98c0-d38dd6ce77ab.png)

[2019-05-01 07:30] rotwurstesser commented on #727
![Screenshot 2019-05-01 at 09 29 34](https://user-images.githubusercontent.com/8830678/57008907-a6badd80-6bf3-11e9-867c-0960524272fd.png)

It doesn't show it =( is there any other settings i might need to do?

[2019-05-01 08:01] eamodio commented on #730
@borekb I'm very tempted to just remove the `-S` variant as having 2 is quite confusing and the `-G` version is much more likely what people would expect. Also even the git docs say that `-S` is _Intended for the scripter’s use_: https://git-scm.com/docs/git-log#Documentation/git-log.txt--Sltstringgt

Thoughts?

[2019-05-01 16:15] denizobi opened #731 "ChildProcess.exithandler issue while checking out files from previous commits."
Issue seen while checking out some files from previous commit.

- GitLens Version: 9.6.3

- VSCode Version: 1.33.1
- OS Version: CentOS 4.17.3-1.el7.elrepo.x86_64

[2019-05-01 15:10:33:784] ChildProcess.exithandler
Error: Command failed: /usr/bin/git -c core.quotepath=false -c color.ui=false apply --whitespace=warn -3
error: patch failed: www/db/testdata.json:41
Falling back to three-way merge...

[2019-05-01 16:41] eamodio commented on #731
@denizobi What issue are you seeing in the UI? That error can certainly be expected when trying to apply changes from a previous commit. Also what command are you using? Apply changes or Checkout?

[2019-05-01 22:38] fantapop commented on #677
I'm in the same boat as @SimonKagstrom .

I've enabled gitlens logging and I see this:

[code]

[2019-05-02 03:38] colonelchlorine commented on #597
Just getting here late, but this has been plaguing me for months and thought Gitlens just expected to use the more complex sidebar.

Maybe I'll get used to "Open changes" ... but really what a dev wants to do is _compare_, so that makes the most logical sense to me.

[2019-05-02 08:09] borekb commented on #730
I generally agree, however, I just had a situation where I needed to look for instances of a string that was _removed_ from code, so "changed lines" is what I needed to use.

Still, I think you're right and that for the most part, having two very similar options is not worth it. If you could think of a way to hint at the other option, maybe hide it in the "..." menu as an advanced option or someth

[2019-05-02 08:09] borekb commented on #730
BTW, looking at my original post, is the current code even correct? `GitRepoSearchBy.Changes` uses `'--pickaxe-regex -S` while `GitRepoSearchBy.ChangedLines` uses `-G`; shouldn't it be the other way around?

[2019-05-02 09:13] imagoiq opened #732 "Option to choose terminal used for Git command"
Hello,

I'm using WSL as default terminal for coding but it doesn't work very well with Git and Vscode. I'm using Git bash as a secondary terminal fot Git. It would be perfect if I can choose which terminal Gitlens uses for Git commands.

Thanks

[2019-05-02 13:17] udox-cameron commented on #650
I am having the same problem it seems to be happening on my Mac when I've started it with Reopen windows when logging back in. If I quit and open VS Code it fixes itself.

[2019-05-02 22:59] denizobi commented on #731
@eamodio: i see that issue in UI extention on VSCode which i wrote versions above. When i saw that issue i was using UI and selected files to checkout. thanks.

[2019-05-03 18:37] SimonSiefke opened #733 "Gitlens & Liveshare go to definition bug"
- GitLens Version: 9.6.3
- VSCode Version: 1.34.0-insider
- OS Version: Ubuntu 18.10

Steps to Reproduce:

1. Have Live Share and Gitlens installed
2. Create a new file
3. Type `vsl:`
4. `vsl:` turns into a link like go to definition
5. When I click the link the error message `Unable to open '': resource is not available.` is shown

**Screenshots**
![Screenshot from 2019-05-03 20-17-31](https://us

[2019-05-04 09:47] ryansully opened #734 "Not working with VS Code Remote - SSH extension"
Issue Type: <b>Bug</b>

The GitLens extension doesn't seem to load at all with the new [Remote - SSH](https://code.visualstudio.com/docs/remote/ssh) extension in VS Code Insiders.

When opening a git-tracked file, there is no current line blame. Debug output shows undefined instead of correct paths, probably because those functions are using `file://` protocol for remote SSH paths:
[code]

Opening

[2019-05-04 12:20] romanfedyshyn opened #735 "Show what exactly was updated after pull/merge"
As a user, I want after successful pull/merge request extension automatically open output on the panel and show list of files which are changed.

[2019-05-04 20:24] eamodio commented on #733
While I can reproduce this, I can't see/guess at anything that GitLens could be doing to cause this (GitLens doesn't even register any providers that could create links like this. I would suggest opening an issue with Live Share since they register the `vsls` scheme and have deep hooks into vscode.

[2019-05-04 20:24] #733 closed

[2019-05-06 02:24] #537 closed

[2019-05-06 02:24] #670 closed

[2019-05-06 02:24] #716 closed

[2019-05-06 02:24] #724 closed

[2019-05-06 02:24] #729 closed

[2019-05-06 02:24] #719 closed

[2019-05-06 02:24] #728 closed

[2019-05-06 02:24] #730 closed

[2019-05-06 06:14] zedaav opened #736 "git command error on GitLens 9.7.0 (unknown '-M' option)"
- GitLens Version: 9.7.0

- VSCode Version: 1.33.1
- OS Version: Ubuntu 18.04.2 LTS
- git version: 2.17.1

I'm just getting this behavior from this morning, once GitLens got updated to 9.7.0
I tried with different workspaces, and I'm still getting the error.
When I install back 9.6.3 version, the behavior disappears.

Steps to Reproduce:

1. Just open a file in VS Code, and try to display any Gitl

[2019-05-06 06:26] light8lee commented on #736
Same error with you when I upgrated GitLens to 9.7.0

[2019-05-06 06:41] dalisoft commented on #736
Same error

[2019-05-06 07:22] shx996 commented on #736
Same error! @eamodio

[2019-05-06 07:35] yyonggithub commented on #736
Same error

[2019-05-06 07:35] julian-poidevin commented on #698
Any updates on my suggestion ? @eamodio ? 😄

[2019-05-06 07:42] AlexanderVasiliev commented on #736
update git to last version helped

[2019-05-06 07:44] eamodio commented on #736
Damn, sorry all. It looks like that parameter is only support in Git 2.18 or later. I'll push out a new release shortly to fix this.

[2019-05-06 07:48] bracco23 commented on #736
`git version 2.17.1.windows.2` here, seeing the same error.

[2019-05-06 07:50] #736 closed

[2019-05-06 07:51] eamodio commented on #736
9.7.1 will be in the marketplace very shortly -- sorry for the issue!

[2019-05-06 07:59] dalisoft commented on #736
On macOS helped upgrade `git` with Homebrew and `echo 'export PATH="/usr/local/git/bin:/usr/local/sbin:$PATH"' >> ~/.bash_profile` then restart VSCode.
@eamodio thanks for fast reply and fix

[2019-05-06 08:22] BraveHead commented on #736
same error

[2019-05-06 08:24] zedaav commented on #736
Just installed 9.7.1
Fix confirmed!
Thanks @eamodio :+1:

[2019-05-06 08:24] eamodio commented on #736
@BraveHead the same with 9.7.1?

[2019-05-06 08:26] BraveHead commented on #736
now  is ok , update 9.7.1

[2019-05-06 08:27] BraveHead commented on #736
Update to 9.7.1 is fine.

[2019-05-06 08:28] Cheng-Ya commented on #736
same error

[2019-05-06 13:26] alete89 opened #737 "failed to fetch commits and branches"
Issue Type: <b>Bug</b>

I got this error every time I try to see the list of commits or branches under GitLens tab.
`Command failed: git -c core.quotepath=false -c color.ui=false for-each-ref --format=%3ch%3e%(HEAD)%3cn%3e%(refname:lstrip=1)%3cu%3e%(upstream:short)%3ct%3e%(upstream:track)%3cr%3e%(objectname) refs/heads refs/remotes fatal: unknown refname: format lstrip=1`

This started happening r

[2019-05-06 13:49] nakinx commented on #737
I think i'm having the same problem:

Command failed: /usr/bin/git -c core.quotepath=false -c color.ui=false for-each-ref --format=%3ch%3e%(HEAD)%3cn%3e%(refname:lstrip=1)%3cu%3e%(upstream:short)%3ct%3e%(upstream:track)%3cr%3e%(objectname) refs/heads refs/remotes
fatal: unknown refname: format lstrip=1

I can't open my local and remote branchs.

Version: 1.33.1
Commit: 51b0b28134d51361cf996d2f0a1c

[2019-05-06 19:13] peterschussheim opened #738 "Disable showWhatsNewAfterUpgrades notification?"
In my settings for GitLens, 'Show Whats New After Upgrades` is unchecked; shouldn't this disable the notifications after the extension updates?  Thank you.

[2019-05-06 22:13] max-sixty commented on #719
Thanks @eamodio !

[2019-05-07 01:40] Cheng-Ya commented on #737
same error

[2019-05-07 05:35] iskandarovBakshi opened #739 "Breadcrumbs don't work on file revisions"
- GitLens Version: 9.7.1

- VSCode Version: 1.33.1
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. breadcrumb crashes on file compare
![image](https://user-images.githubusercontent.com/15240881/57273927-8cc54300-70aa-11e9-8bd4-240faad0ceb8.png)

[2019-05-07 06:12] tecosaur commented on #664
@eamodio any chance of an update?

[2019-05-07 06:19] tksbng commented on #737
Same problem

[2019-05-07 06:33] andares opened #740 "Opening untracked files from "files changed" section fails"
- GitLens Version: 9.7.1
- VSCode Version: 1.33.1
- OS Version: Windows 10 with WSL (ubuntu 16.04)

### vscode version info

[code]

I've been using gitlens for a long time, it works very well. At last auto upgrade, when I click a new file (not exists in previous repos) in file changed list, will get a error:

[code]

It's in previous version has no problem 😂

[2019-05-07 06:58] terry623 commented on #737
Same Error 😢

[2019-05-07 08:23] GargIT commented on #737
Getting the same error:

Command failed: /usr/bin/git -c core.quotepath=false -c color.ui=false for-each-ref --format=%3ch%3e%(HEAD)%3cn%3e%(refname:lstrip=1)%3cu%3e%(upstream:short)%3ct%3e%(upstream:track)%3cr%3e%(objectname) refs/heads refs/remotes
fatal: unknown refname: format lstrip=1

[2019-05-07 12:38] WispAmulet commented on #737
Same here.

[code]

vscode version: 1.33.1
gitlens version: 9.7.1

[2019-05-07 19:01] owkwen commented on #737
I had this same error and here is why it happens and how to fix it:

The error `fatal: unknown refname: format lstrip=1` is most probably related to the git version that gitlens is using, the _lstrip_ function isn't available on old git version.
On git's doc it looks like lstrip appeared in git [2.13.2](https://git-scm.com/docs/git-for-each-ref/2.13.2).
If you use ubuntu for example, the most up t

[2019-05-07 21:48] alete89 commented on #737
Thanks @owkwen . Anyway I would suggest gitlens not to use versions newer than provided in Ubuntu or Debian default repos :/

[2019-05-08 09:50] ryenus opened #741 "Do not reload commits in file history view when opening diff editor from it?"
- GitLens Version: 9.7.1

- VSCode Version: 1.33.1
- OS Version: macOS 10.14

Steps to Reproduce:

1. choose a file which had been renamed in the past
2. open the file history view
3. ensure "Follow renames" mode is turned on
3. click through the history commits to show the diff(s), no error for the latest commits
4. click an earlier commit before the renaming, the diff is shown correctly in the d

[2019-05-08 10:49] weiguoquan422 opened #742 "Command failed: /usr/bin/git -c core.quotepath=false -c color.ui=false for-each-ref --format=%3ch%3e%(HEAD)%3cn%3e%(refname:lstrip=1)%3cu%3e%(upstream:short)%3ct%3e%(upstream:track)%3cr%3e%(objectname) refs/heads refs/remotes fatal: unknown refname: format lstrip=1"
- GitLens Version: 9.7.1

- VSCode Version: 1.33.1
- OS Version: debian9

Steps to Reproduce:

1. when I click master or Branches tree to expand them,
there is a error pop up
Command failed: /usr/bin/git -c core.quotepath=false -c color.ui=false for-each-ref --format=%3ch%3e%(HEAD)%3cn%3e%(refname:lstrip=1)%3cu%3e%(upstream:short)%3ct%3e%(upstream:track)%3cr%3e%(objectname) refs/heads refs/remotes

[2019-05-08 10:52] weiguoquan422 commented on #742
Also, I can't view master and Branches tree. There's nothing there.

[2019-05-08 16:47] misolori opened #743 "Update activity bar icon size"
I realized that the [VS Code icon specs for extension viewlets](https://code.visualstudio.com/api/references/contribution-points#contributes.viewsContainers) was worded wrong (my mistake). The activity bar icons should only be 28x28.

I'm currently working through the iconography re-design issue, and also exploring alternate ways to size the activity bar icons via mask sizes. Because the Gitlens s

[2019-05-08 23:45] gee4vee commented on #563
@eamodio how do you switch the GitLens repositories view to the Source Control sidebar?

[2019-05-09 01:52] Cheng-Ya commented on #742
me too

[2019-05-09 02:14] ryenus commented on #741
This is what happened, the file selected had been renamed in the 2nd to last commit, then the error ENOENT would happen when earlier commits were selected.

![rename ENOENT](https://user-images.githubusercontent.com/610161/57422519-f2e4ce00-7242-11e9-96c4-5ce4b10044dd.gif)

[2019-05-09 05:31] stevenventimiglia commented on #742
Seems related to `[branch "master"]` referring to multiple repos, in my case.  I have three repos in tandem as `[remote "all"]`.  In `[branch "master"]`, when I use `remote = all`, it fails.  When I target any of the three individually, (ex. `remote = origin`, `remote = github`, `remote = bitbucket`), there is no error.  However, that is not a fix.

[2019-05-09 13:40] mwithi commented on #303
Up: in website or PHP webapp development, the ability to export a file to a destination folder along with its complete path structure (useful to extract small patches). Same as Eclipse -> Export -> File System feature

[2019-05-10 01:33] LachlanArthur commented on #742
The error "fatal: unknown refname: format lstrip=1" is likely because git is outdated.

My git version was 2.7, and this issue was resolved by upgrading (to 2.21 at the time of this comment).

[2019-05-10 15:38] eamodio commented on #625
Fixed in 9.7

[2019-05-10 15:38] #625 closed

[2019-05-10 20:14] eamodio commented on #737
Duplicate of #742

[2019-05-10 20:17] eamodio commented on #664
@tecosaur I would definitely welcome a PR for this, but this is not currently on my priority list

[2019-05-10 20:30] eamodio commented on #740
@andares I'm not sure I understand the steps to reproduce this issue, can you please provide some detailed steps that I can follow to see this issue? Thanks!

[2019-05-10 20:38] eamodio commented on #742
Duplicate of #737

[2019-05-10 20:38] #742 closed

[2019-05-10 20:42] ifinik commented on #742
duplicate of 737, that duplicate if this
wat?

[2019-05-10 20:43] ifinik commented on #737
duplicate of 734, that duplicate if this
wat?

[2019-05-10 20:56] federal977 opened #745 "Add the ability to sort remote and local branches"
We have hundreds of remote and local branches. After fetching either remote or local branches new branches appear in the end of the corresponding branch list. To find some new branches in the list becomes a stressful and expensive activity because you need to scroll through the old branches down. Could you please add the ability to sort these lists by the creation date. Thus, they will appear in t

[2019-05-10 21:03] eamodio commented on #739
Opened https://github.com/microsoft/vscode/issues/73594

[2019-05-10 21:09] eamodio commented on #737
Sorry closed this the wrong way originally -- and this will be fixed in 9.7.2 which will be released very shortly. Sorry for the issue and the delay in getting it fixed up.

[2019-05-10 22:23] eamodio commented on #745
Unfortunately git doesn't have a notion of a created date for a branch or remote -- and while technically I could find a pseudo-created date by looking at the first commit of the branch/remote it would be prohibitively expensive performance-wise (as I would need to make an individual git call for each branch).

Although I'm curious as to why the new branches would always show up at the end -- as t

[2019-05-10 22:26] eamodio commented on #741
@ryenus Can you turn on tracing and report back with the output? I can't seem to reproduce this.

[2019-05-10 22:32] eamodio commented on #734
It sounds like git isn't configured correctly (or at least GitLens can't find it) on the remote server. Can you send full logs that capture the startup and where git is located?

[2019-05-10 22:35] eamodio commented on #732
@imagoiq I'm pretty sure this would make for a pretty good first PR -- would you like to try?

[2019-05-10 23:00] eamodio commented on #731
@denizobi does this still happen with GitLens 9.7 or later?

[2019-05-10 23:01] eamodio commented on #727
@rotwurstesser does this issue still happen with GitLens 9.7 or later?

[2019-05-10 23:02] eamodio commented on #722
@psychelzh I believe this was fixed in GitLens 9.7. Please let me know if you are still seeing this issue. Thanks!

[2019-05-10 23:08] #737 closed

[2019-05-10 23:20] #743 closed

[2019-05-11 04:12] andares commented on #740
I try to show it with screenshots 😄

## step 1

I have a repos

![图片](https://user-images.githubusercontent.com/7556505/57564776-72f66980-73e4-11e9-9a07-c68534b74509.png)

## step 2

create a file

![TIM图片20190511120626](https://user-images.githubusercontent.com/7556505/57564817-45f68680-73e5-11e9-94ba-c503ea9f28a4.png)

## step 3

check file by gitlens view

![图片](https://user-images.githubuserco

[2019-05-11 07:46] federal977 commented on #745
Correct, branches/remotes are sorted alphabetically. In my case almost all branch names begin with numbers. Thus, they show up at the end of the list. Probably we can add an option to sort the list in a different order (ascending or descending).Therefore, we could see them at the beginning.
<img width="150" alt="sort_branches" src="https://user-images.githubusercontent.com/10773585/57566870-e81071

[2019-05-11 07:50] eamodio commented on #745
@federal977 thanks for the info. Adding an option to change the sort order is certainly doable.

[2019-05-11 08:01] #740 closed

[2019-05-11 14:15] psychelzh commented on #722
@eamodio Yeah, it was fixed. Thank you for your effort.

[2019-05-11 14:15] #722 closed

[2019-05-13 06:36] rotwurstesser commented on #727
Yes, 'gitLens.showsettingsPage' (or any commands) not found with version 9.7.3

[2019-05-13 06:40] eamodio commented on #727
@rotwurstesser Do you possibly have GitLens disabled or something? I don't understand what could be happening

[2019-05-13 07:14] eamodio commented on #735
@romanfedyshyn I've added a new _Recent incoming changes_ node to repositories in the _Repositories_ view. Please try it out and let me know what you think? I'm not too sure on the naming right now, fyi. Also in order for it to show up, make sure you have `gitlens.insiders` set to `true`

[gitlens-9.7.3.vsix.zip](https://github.com/eamodio/vscode-gitlens/files/3171513/gitlens-9.7.3.vsix.zip)

Just

[2019-05-13 07:31] rotwurstesser commented on #727
It is active, a difference i did notice since the upgrade to 9.7.3 though: the folder of gitlens in my extensions now has content...

[2019-05-13 12:10] ganesh-4212 commented on #732
Hi @eamodio, I'm interested to work on this issue.

[2019-05-13 14:19] eamodio commented on #727
So is it working now? If not, are there any logs now?

[2019-05-13 14:25] rotwurstesser commented on #727
Sadly no... but i found a plugin thats working for my needs atm, not as good as Lens but will do ... =) i will check the updates for gitlens from now on and notify you when it works again, thanks for your time !

[2019-05-13 15:32] eamodio commented on #727
The only other thing I can think of is that there is anti-virus that is getting in the way (there were some issues with false positives and av software nuking GitLens files). Can you check inside the `dist` folder inside the GitLens folder and let me know what files are in there?

[2019-05-13 15:35] eamodio commented on #732
@ganesh-4212 awesome!

Here is a good place to start:
https://github.com/eamodio/vscode-gitlens/blob/master/src/views/viewCommands.ts#L716-L737

I believe `window.createTerminal` optionally takes shell command and args -- so we should be able to just have a couple new settings and pass them through

[2019-05-14 00:14] ryansully commented on #734
[code]

I noticed the `Git found` path points to `/home/ryansully/my-app/bin/git`, which is a directory in my repo with utility shell scripts, but not a git executable. Perhaps that is confusing the extension?

[2019-05-14 02:32] ryansully commented on #734
I managed to get GitLens working by following the instructions for the second step here: https://github.com/microsoft/vscode-remote-release/issues/31#issuecomment-488888562

In my case, I set this in my remote host, `~/.vscode-remote/data/Machine/settings.json`:
[code]
(VS Code sees this as an unknown configuration setting for remote settings, possibly another bug.)

After reloading the window, Gi

[2019-05-14 06:05] rotwurstesser commented on #727
sure!
This is the content:
- extension.js
- extension.js.map
- webviews

[2019-05-14 12:42] prosenboim commented on #439
All related issues are marked as closed, but problem is still there with GitLens 9.7.3, Python 2019.4.12954 and VS code Version: 1.34.20-insider

[2019-05-15 05:15] eamodio commented on #727
@rotwurstesser does the `extension.js` have a valid size ~798 KB?

[2019-05-15 06:00] eamodio commented on #734
@ryansully GitLens searches for a git executable if it isn't explicitly set or in the path. In your case (given the logs above) It seems to have found `/home/ryansully/my-app/bin/git` and when run with `--version` returned `2.21.0`. Any idea how that could be?

[2019-05-15 07:20] eamodio commented on #735
@romanfedyshyn FYI, I just released GitLens 9.7.4 which includes a new experimental _Incoming Activity_ node to each repository in the _Repositories_ view (enabled via `"gitlens.insiders": true`)

- **Incoming Activity** &mdash; lists the recent incoming activity (merges and pulls) to your local repository
    - Provides the activity command, branch (if available), and date

![image](https://user-

[2019-05-15 08:07] vermaaakansha opened #746 "VS code is opening with default git user ID"
Hi Team,

my VS code is opening with default git user ID, which is not the required one.
i want it to be open with my another git user account. I'm not able to find to any option in VS code to switch the user account.
can anyone help me to rectify my problem?
![git issue](https://user-images.githubusercontent.com/50359777/57758975-840de600-7716-11e9-9713-1a8026c39405.PNG)

[2019-05-15 09:01] ryansully commented on #734
I think there may be a bug in VS Code regarding the remote git path, which, in combination with my remote system's configuration, triggers an unusual edge case in this extension.

When I explicitly configured `git.path` in remote settings above, the editor didn't recognize it as a known configuration setting, which may indicate that when `git.path` is not explicitly set, it doesn't have a value in

[2019-05-15 16:10] eamodio commented on #746
VS Code and GitLens use the Git config files to determine the current user. So I would recommend checking your global `.gitconfig` and/or your local `.git/config` files for your user name. See: https://git-scm.com/book/en/v2/Getting-Started-First-Time-Git-Setup

Hope that helps!

[2019-05-15 16:10] #746 closed

[2019-05-15 16:32] eamodio commented on #734
@ryansully Thank you so much for the in-depth explanation! I've tweaked some of that code, to ensure the version information comes from the right executable, and that we search for executable files only.

Can you try out this build to see if it helps? Thanks!
[gitlens-9.7.4.vsix.zip](https://github.com/eamodio/vscode-gitlens/files/3183496/gitlens-9.7.4.vsix.zip)

[2019-05-15 22:45] t0lkman commented on #344
I have `Accept incoming changes` but it looks like it does `Accept current changes`

Can somebody clarify which are the changes made locally?

[2019-05-15 22:48] eamodio commented on #344
@t0lkman that feature is provided by VS Code not GitLens, so you'd need to open an issue on the vscode repo

[2019-05-16 04:04] eamodio commented on #293
@borekb I've added a new experimental new _Compare <current-branch> with..._ node to each repository. It will let you pick the comparison and it persists based on the workspace/repo/branch. You must set `"gitlens.insiders": true` before it will show up.

[gitlens-9.7.4.vsix.zip](https://github.com/eamodio/vscode-gitlens/files/3185347/gitlens-9.7.4.vsix.zip)

Could you try it out and let me know if

[2019-05-16 04:07] eamodio commented on #330
@borekb Is this something a global setting would solve for you? If I were to offer a choice -- what would you name it?

[2019-05-16 06:13] borekb commented on #330
I'd probably keep the two-dot comparison only – it's something I want in 99% cases. Actually, I can't remember when I last needed the three-dot one.

[2019-05-16 07:09] borekb commented on #293
Thanks, I like the contents of that node but I'd prefer if this was just directly under the branch. Here's how I see it:

<img width="428" alt="Screenshot 2019-05-16 at 09 06 14" src="https://user-images.githubusercontent.com/101152/57833328-17e4be00-77ba-11e9-9f2d-a0287ba842ef.png">

I understand the challenge with the "base branch" but still think this can be a global setting as per https://gith

[2019-05-17 02:07] ryansully commented on #734
That build is better. The correct executable is found, so line blame works again.

The hover still has the "offline" message that I mentioned above, which I think is a separate bug with the Team Chat extension, but maybe related to the Live Share integration?

The side bar, however, still doesn't work fully. The Repositories pane works, but File History and Line History don't load. And an error is

[2019-05-17 04:54] eamodio commented on #734
@ryansully Thanks so much for the help tracking this down. The issues with the File/Line history sounds like https://github.com/eamodio/vscode-gitlens/issues/677 -- which I haven't looked into yet. The other issue with the offline message is confusing -- it seems like there is a broken image link, but I don't see how that could be the case. Although that image is the only image I pull off the loca

[2019-05-17 05:25] ryansully commented on #734
The message is less important as the broken image. I realized that I had not reconfigured Team Chat after moving the extension to the remote machine, and once I did that, commit authors displayed as either offline or available. That text is probably just the image's alt text displaying because the image itself is broken.

[2019-05-17 05:27] eamodio commented on #734
Yeah, that text is the alt text of the image -- just need to figure out why the image is broken (only when remote)

[2019-05-17 22:17] jpan127 opened #747 "Compare against permanently"
Hi, I have been using Gitlens for a few weeks now and it is better than anything I have used before.  There is one functionality that is either missing, or I just can't find it.

I see there is a way to set the branch / reference to compare against, and a diff view will pop up showing pretty diffs.

However, what I would like to see is to set a reference to compare against, then for everything the

[2019-05-19 02:43] devvpm opened #748 "Git pull from ssh URL should prompt for password."
When I do git pull using Gitlens from my ssh URL it shows the below error.

![image](https://user-images.githubusercontent.com/1164077/57977049-91321a00-7a21-11e9-8c6f-b63585e954b5.png)

However, when I do from the terminal it shows that message from the server and asks for the password,
![image](https://user-images.githubusercontent.com/1164077/57977096-2b469200-7a23-11e9-9ec2-893f64238c9a.png)

[2019-05-20 03:37] marvin46 opened #749 "Can't fetch repositories"
- GitLens Version: v.9.7.4
- VSCode Version: 1.34.0
- OS Version: Windows_NT x64 6.1.7601 (Windows 7 Profesional)

Steps to Reproduce:

1. just click on the fetch button (after pull button in side bar), and in the bottonm right, the notify just give information "Fetching my_repo_name" without give output succes or fail, it seriously make me confuse.

please fix it guys.

[2019-05-20 10:20] SheldonZhong opened #750 "Open file on GitHub does not include directory path"
- GitLens Version: 9.7.4

- VSCode Version: 1.34.0
- OS Version: Ubuntu 18.04.2 LTS

Steps to Reproduce:

1. Open a git-tracked file inside a folder.
2. Scroll to the top of the file.
3. Click the top-left most link, which shows the least contributor's name and commit days info.
4. A panel will be prompt, choose `Open File on GitHub`, and choose an arbitrary remotes if requested.
5. Browser goes t

[2019-05-20 12:58] sixclones opened #751 "Git Command failed: /usr/bin/git -c core.quotepath=false -c color.ui=false -c log.showSignature=false log --name-status --format=%x3cr%x3e%x20%H -n1 --follow --name-status"
Hello,

I have an issue when I try to compare changes with previous revision.

- GitLens Version: 9.7.4
- VSCode Version: 1.33
- OS Version: Ubuntu 19.04

Steps to Reproduce:

1. Click on "Open Changes With Previous Revision" button.
2. Open Output Channel.

Logs
[code]

[2019-05-20 23:24] ryansully commented on #677
This could be related to https://github.com/Microsoft/vscode/issues/5970.

[2019-05-21 06:05] rotwurstesser commented on #727
it has 827kb

[2019-05-22 04:23] eamodio commented on #749
@marvin46
Can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2019-05-22 04:25] eamodio commented on #748
GitLens uses vscode's built-in _pull_ command to perform its pull operations. Are you experiencing the same issue when using the `Git: Pull` command? If so, please open this issue on the vscode repo -- thanks!

[2019-05-22 04:25] marvin46 commented on #749
Oke i will tell you soon

Pada tanggal Rab, 22 Mei 2019 11.23, Eric Amodio <notifications@github.com>
menulis:

[2019-05-22 04:32] eamodio commented on #747
@jpan127 I'm not sure I understand what you are asking for with regards to the current line blame, hovers, etc. Those are always a snapshot of the current state of the file to its previous point in history (regardless of branch). Can you elaborate on what you would actually want to see?

As for the direct compare, I am adding a new feature that is coming soon: https://github.com/eamodio/vscode-git

[2019-05-22 07:34] jpan127 commented on #747
Hi, yea happy to elaborate.  I believe by default, all diff features diff against `HEAD`, which I believe is what you are saying too.  I would like to **not** diff against HEAD.  I want to diff against `origin/master`.

Let's say `origin/master` has some file `version.txt`.
[code]

I branch off to `release`.
[code]

I modify this file.  The diff shows this line has changed.
[code]

I commit this i

[2019-05-22 08:51] #739 closed

[2019-05-22 08:51] #330 closed

[2019-05-22 08:51] #750 closed

[2019-05-22 08:56] eamodio commented on #293
While I see what you are saying, I find the branch history regularly quite valuable. In 9.8 I've add the new comparison node similar to the above. Hopefully that meets your need closely enough.

[2019-05-22 08:56] #293 closed

[2019-05-22 08:57] eamodio commented on #330
There is now a `gitlens.advanced.useSymmetricDifferenceNotation` setting which can be set to `false` to use the `..` notation rather than the `...` default.

[2019-05-22 08:58] eamodio commented on #734
I'm going to close this as fixed in 9.8. The symlink issue is separate, and the broken image issue is a vscode issue (which I will be filing)

[2019-05-22 08:58] #734 closed

[2019-05-22 08:59] eamodio commented on #739
Breadcrumb now mostly work for file revisions although I may work on removing the full path in a later GitLens version

[2019-05-22 21:01] tuxracer opened #752 "Disable the "What's new" notification spam"
Can we please disable this entirely? Not a lot of examples of this type of notification spam from other extension. Really appreciate all the hard work that goes into this extension but this really feels like an abuse of the vscode notification system.

[2019-05-22 21:14] eamodio commented on #752
Duplicate of #738

[2019-05-22 21:14] #752 closed

[2019-05-23 01:38] marvin46 commented on #749
![error fetching](https://user-images.githubusercontent.com/27880394/58219715-170dd800-7d36-11e9-8465-7c3a556336b7.png)

thats the gitlens output,

[2019-05-23 07:57] yumen-s opened #753 "Can't create new file and directory"
- GitLens Version: 9.8.0

- VSCode Version: 1.33.1
- OS Version: macOS 10.14.3

Steps to Reproduce:

1. Open a project by VSCode.
1. Create a new file immediately(aboud 0 to 1 second?).
1. The operation is canceled.

![movie](https://user-images.githubusercontent.com/20495704/58235128-25caae00-7d7b-11e9-8fd0-a0166c896569.gif)

When I disable GitLens, the problem doesn't occur.
Maybe GitLens is not

[2019-05-23 11:46] raaaaaymond commented on #709
Thanks @eamodio for addressing this. Yes I would be happy with replacing the detached HEAD version with checkout as local (but tracking the remote obviously) by default. Indeed, this is the default behaviour of the Jetbrains IDEs (from where I'm switching to VSCode). The detached HEAD version is still useful, but we shouldn't have that as default, in my opinion.

[2019-05-23 17:22] eamodio commented on #753
@yumen-s this is a duplicate of #726 and unfortunately is a bug in VS Code itself. Reported here: https://github.com/microsoft/vscode/issues/74218

[2019-05-23 17:22] #753 closed

[2019-05-23 17:32] gurrrung opened #754 "Show line history data only on double click."
I am here with a feature request, I would love to see if I can disable the line history data, as it really distracts me sometimes even though it has a dull colour, but I don't want the history to completely go, having feature of viewing line history with something like double click only or some keystroke shortcuts would be great.

[2019-05-23 17:55] eamodio commented on #754
@gurrrung Unfortunately vscode doesn't provide any way for extensions to trap mouse or keyboard events directly. Although you can turn off the current line blame by default, and then use the _GitLens: Toggle Line Blame Annotations_ command via the palette and/or set a keyboard shortcut for that command. The command id if you need it is `gitlens.toggleLineBlame`

Hope that helps

[2019-05-24 00:07] yumen-s commented on #753
@eamodio thanks!

[2019-05-24 09:41] gurrrung commented on #754
Hey, thank for the reply actually I didn't notice that the line blame is on the status bar too, so I just disabled the current line blame and using the status bar blame line, its great.

[2019-05-24 09:41] #754 closed

[2019-05-24 13:29] eamodio commented on #754
FYI, you can also control the content/formatting of the statusbar entry too. So you can get it just like the line blame

[2019-05-25 13:43] zhangkaiyulw opened #755 "How to disable all shortcut keys for gitlens?"
Hi,

This is a quite briiliant and handy package.
Sometimes the shortcut keys just break my own. It's very confusing. I'd like to disable all default shortcut keys for gitlens. And for the features that I needed, I assign the one that I used to.

How to achieve that easily? Is there any additional implementation required?

Thanks

[2019-05-27 01:22] jjasoncool commented on #603
after version 9.8.1 this issue has been fixed

[2019-05-27 01:22] #603 closed

[2019-05-27 04:55] eamodio commented on #734
@ryansully Can you try this version to see if the broken image is fixed?

[gitlens-9.8.1.vsix.zip](https://github.com/eamodio/vscode-gitlens/files/3221897/gitlens-9.8.1.vsix.zip)

[2019-05-28 16:08] sarbuandreidaniel opened #756 "Merge commit shows only the changes from the last commit on those files"
- GitLens Version: 9.8.1

- VSCode Version: 1.34.0
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. Do a merge with **--no-ff** flag with a branch that has **at least 2 new commits**
2. Go to GitLens extension
3. Select the repository and the branch where the merge was made

At this point, you should be able to see all the changes from both commits (the new ones), but instead you are seeing onl

[2019-05-29 06:22] yelichi opened #757 "Unable to install Extension 'eamodio.gitlens-9.8.0' as it is not compatible with Code '1.28.2'."
Unable to install Extension 'eamodio.gitlens-9.8.0' as it is not compatible with Code '1.28.2'.

[2019-05-29 17:26] eamodio commented on #757
That is correct, 9.8 requires VS Code 1.31 or later

[2019-05-29 17:26] #757 closed

[2019-05-29 17:28] eamodio commented on #755
You can set `"gitlens.keymap": "none"` and GitLens won't register any key bindings -- you can also access this setting via the `GitLens: Open Settings` command:

![image](https://user-images.githubusercontent.com/641685/58577956-a83ced00-8215-11e9-96be-8eaa8f0b7566.png)

Hope that helps!

[2019-05-29 17:28] #755 closed

[2019-06-01 17:03] jpan127 commented on #747
Hi, bumping this again 😄

[2019-06-01 20:57] eamodio commented on #747
@jpan127 There are a few pieces to this (as far as I understand).

1. A desired way to compare the current branch to another branch -- this is available today with #293.
1. Showing change gutters like vscode does before a file is stages -- currently GitLens has no ability to provide this (as vscode doesn't provide any apis to create those type of gutters)
1. Having the blame/heatmap/current line b

[2019-06-02 22:55] jpan127 commented on #747
Thanks for the response.  To clarify on your #2, which I believe is what I want.

I think I may have been confused.  It seems like the gutters are from VS code and not from gitlens?  I installed gitlens the moment I installed VS code so that probably contributed to my confusion.

I guess ultimately I wanted the gutters to diff against `origin/master` and if gitlens doesn't control that, I'm sorry

[2019-06-03 16:15] sfuerte opened #758 "Gitlens not using global config settings"
- GitLens Version: 9.8.1
- VSCode Version: 1.34.0
- OS Version: macOS 10.14.5 (18F203)

My git settings:
[code]

Whether it's related to https://github.com/Microsoft/vscode/issues/67736 or not, but Gitlens not correctly using my global user.name and user.email. Initially thought that the problem was with VSCode, but a quick lookup to a raw commit in Bitbucket shows that it's fine there:
[code]

At

[2019-06-04 16:47] andyneff opened #759 "Revert changes on a hunk sometimes corrupt entire files"
Using the gutter to display than revert the changes of a single hunk

- GitLens Version: 9.8.1, but this has been happening for a long time
- VSCode Version: 1.34, but this has been happening for many versions
- OS Version: Fedora 28-Fedora 30 64-bit
- git Version: 2.21.0

Steps to Reproduce:

1. It is hard to reproduce on demand, but once it happens, Ctrl+Z and repeating will cause it to happen a

[2019-06-04 17:38] eamodio commented on #759
@andyneff The gutter indicators/UI is provided by VS Code itself, not GitLens (unfortunately VS Code doesn't even expose that type of UI to extensions, so I couldn't provide them in if I wanted too -- which I do in other cases). Please open this issue on the vscode repo. Thanks.

[2019-06-04 17:38] #759 closed

[2019-06-05 14:34] 1DontEx1st opened #760 "Add "open changed files" to Compare node"
Request: add "open changed files" to the "x files changed" node under the branch/tag/ref comparison node. Currently the only options are "expand" and "refresh". Note: "expand" is always in the context menu, even if the node is already expanded - I will add that as a possible bug.

![image](https://user-images.githubusercontent.com/6410132/58964799-83002f80-877d-11e9-946e-cc2193853476.png)

[2019-06-05 14:39] 1DontEx1st opened #761 "Compare nodes missing shrink"
Issue Type: <b>Bug</b>

When a subnode, such as "x commits" or "x files changed" is expanded, the context menu still shows "expand", instead of "shrink".

Extension version: 9.8.1
VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:37.030Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Cor

[2019-06-05 15:07] eamodio commented on #758
@sfuerte GitLens only uses the name/email for the current user for determining "You", other than that it just displays the information stored with each commit. The only caveat to that is GitLens also supports git's .mailmap file which allows for changing (merging) multiple names/emails into a single canonical version.

Can you provide more concrete details on what you are seeing and where you thin

[2019-06-05 15:15] MingXingTeam opened #762 "How i can see file changed of multiple commits in commits view"
![image](https://user-images.githubusercontent.com/4523625/58967761-584ac100-87e7-11e9-846c-335b54aa6369.png)
 I want to see exactly which files had beed changed of these commits. In webstorm, i can select  some commits,  then  the files changed will display on the rightside area.  Then i can easily see the final changes of files by the author.

[2019-06-05 15:25] eamodio commented on #756
@sarbuandreidaniel I'm not sure I'm understanding the issue.

Here's what I did:
1. Created `foo` from `develop`
1. Committed `wip1` to `foo` with 1 change
1. Committed `wip2` to `foo` with 1 change
1. Merged (with `--no-ff`) `foo` into `develop`

And here is what I see:
![image](https://user-images.githubusercontent.com/641685/58968653-64e9fd80-8784-11e9-9d8a-9ebd5440f4b4.png)

What are you seein

[2019-06-05 15:36] sfuerte commented on #758
@eamodio, emailed you directly due to privacy.

[2019-06-05 15:49] DoctorDro commented on #375
Thank you for the excellent software, but may I ask, what is the purpose for providing "Push repositories" as an option when you refuse to provide "commit" or stage as options?

The problem with the default Git support in VSCode, is that when you would like to stage all changes it also commits untracked files that may be found in your directory. It would be nice to have an automated Gitlens option

[2019-06-05 15:51] eamodio commented on #749
@marvin46 I'm still not sure about what the issue is. When you start a fetch I show a progress notification while the fetch is running, and it goes away once it is complete. If there was an error or something during the fetch there should be another error notification.

[2019-06-06 02:21] joelw commented on #727
I had the same problem - what eventually fixed it was deleting all gitlens settings from my settings.json.

[2019-06-06 07:52] sarbuandreidaniel commented on #756
@eamodio click on the launch.json file (from the Merge message) and let me know if you can see the diff with both changes made on that file.

[2019-06-06 09:31] tojamrok commented on #404
I'd expect that when pressing right mouse button over "GitLens view -> REPOSITORIES section -> branch -> commit" or over "GitLens view -> SEARCH COMMITS -> commit" the context menu would contain "show side-by-side diff of all changes".

Also, a config entry for "lines of context" just like in gitk tool.

So the difference between gitk and GitLens would be the side-by-side diff.

[2019-06-07 07:28] #735 closed

[2019-06-07 14:41] stephen-costa commented on #171
Ended up being `"gitlens.currentLine.enabled": false` for me, not sure if they changed it since then or not but figured I'd update here for posterity.

[2019-06-07 20:19] datocrats-org commented on #273
I used the response to advise me in how to move between changes that I want to revert more quickly.
 I submitted a related feature request to vscode am not sure if it qualifies as a bug or not but seems to be related to that API limitation you mention https://github.com/microsoft/vscode/issues/75098

[2019-06-10 09:03] kubenstein opened #764 "Sidebar Line History Box stopped working 9.6.0 -> 9.6.1"
- GitLens Version: 9.6.1 -> current
- VSCode Version: 1.35.0
- OS Version: Mac Mojave 10.14.5

Steps to Reproduce:
1. Clone any repo from github (I cloned [mine](https://github.com/kubenstein/reactoricus.jakubniewczas.pl))
2. With default settings the Line History box is always:
[code]

Hi! First of all thank you for such an amazing extension!
I just noticed that Line History box is not working in

[2019-06-10 17:34] eamodio commented on #764
@kubenstein You are only seeing this behavior when you have the last line in the file selected correct? If so, and if the last line in your file is just a newline, then this is expected behavior because git doesn't treat that last line as an actual line at all. It was technically a bug in 9.60 that was causing it to show up.

[2019-06-11 00:28] kubenstein commented on #764
@eamodio screenshots are quite unfortunate because of new line indeed, sorry for that. However if I hover over other lines the box is still empty.
Take a look at this screenshot, its from other file, because this file has more commits. We can see that file history as well as inline line history work but not the sidebar box:

<img width="1060" alt="9 6 1" src="https://user-images.githubusercontent.

[2019-06-11 02:24] eamodio commented on #764
Hrm, can you send me full logs? I can't reproduce this:
![image](https://user-images.githubusercontent.com/641685/59239064-4e053a00-8bce-11e9-803d-1086a27f55a2.png)

[2019-06-11 02:50] #751 closed

[2019-06-11 02:53] eamodio commented on #758
@sfuerte I've just published v9.8.2 which fixes an issue with the Contributors view -- can you see if it resolves the issue for you?

[2019-06-11 06:27] rajesh996 commented on #685
Git Lens is not working on the particular folder in Ubuntu (only for that particular folder, with other folders it is working).
But, it is working perfectly on Windows for all the folders (including the one for which it is not working on Ubuntu).

[2019-06-11 07:05] eamodio commented on #685
@rajesh996 For the folder that isn't working, are you sure you are opening the folder **exactly** as it appears on disk (no casing or other changes)?

[2019-06-11 10:36] rajesh996 commented on #685
@eamodio I have two folders in the untitled workspace in vscode. When I removed the folders (by keeping a file open), it worked. So, I removed all the folders and while closing Vscode, saved the workspace settings in some random place.
After that I again opened Vscode and added the folders one by one (in reverse order). Now, it is working fine.
Even now, the workspace is Untitled, but GitLens is w

[2019-06-11 14:14] eamodio commented on #685
@rajesh996 so all is good now?

[2019-06-11 15:00] sfuerte commented on #758
@eamodio, yes, it does. Thanks a lot!

[2019-06-11 15:00] #758 closed

[2019-06-11 16:31] gatopeich opened #765 "Repositories/Branches gets stuck and cannot checkout"
Issue Type: <b>Bug</b>

1. Checkout "master", then "branch2" manually
2. Right-click on GitLens Repositories/Branches/master to check it out
3. Do same with Repositories/Branches/branch2
4. Repeat a few times, until the non-checked-out branch incorrectly displays the tick mark, and no "Checkout" option shows in its pop-up menu.
5. Log "Already on 'master'" when I try to check-out again the one tha

[2019-06-11 19:36] borekb opened #766 "Merge commits are missing from file history"
- GitLens Version: 9.8.2
VS Code version: Code 1.35.0 (553cfb2c2205db5f15f3ee8395bbd5cf066d357d, 2019-06-04T01:16:40.241Z)
OS version: Darwin x64 18.6.0

This is listed by `git log`:

<img width="512" alt="Screenshot 2019-06-11 at 21 31 46" src="https://user-images.githubusercontent.com/101152/59300835-6f2e5f00-8c90-11e9-99f5-b0163010d0e6.png">

This is shown by GitLens:

<img width="400" alt="Scr

[2019-06-11 20:00] eamodio commented on #766
@borekb this is expected behavior if the _File History_ (and _Line History_) are following renames (this is because `git log --follow` does not play nicely with merge commits (it ends up including tons of unrelated merge commits). If you turn off rename following in the view (under the `...` menu), merge commit should show up.

Is that the behavior you are seeing?

[2019-06-11 20:17] borekb commented on #766
Oh yes, you're right. It's actually close to impossible to get `git log` behave correctly with `--follow`, it seems: https://stackoverflow.com/a/46492159/21728:

Wow, what a nasty behavior :)

[2019-06-11 20:19] eamodio commented on #766
Yeah, I've fought with trying to wrangle `git log` with `--follow` and it is just a nightmare -- it changes the behavior of so many of the options (and its not documented that it does).

[2019-06-11 21:57] eamodio commented on #766
Closing as this is the best I can do with Git currently

[2019-06-11 21:57] #766 closed

[2019-06-12 03:05] tecosaur commented on #664
@eamodio would you be willing to point me to the relevant bits of the codebase?

[2019-06-12 03:22] eamodio commented on #664
@tecosaur Can you explain more about this feature and why it is valuable? I *think* this change will be a bit involved (since it touches a bunch of different pieces) and the line blame is performance sensitive so it needs to do as little as possible as quickly as possible (granted if it is fully opt-in then that can change some).

[2019-06-12 05:18] tecosaur commented on #664
Sure :smiley:

## Use Case

To outline the use case for it I'll give two examples of where I'd find this useful. Hopefully, that would be sufficient.

### Notes
I'm a uni student, and I take my notes digitally in LaTeX. At the end of each week, I add a tag for that week.
I often want to see when a specific bit of information was given etc. At the moment the process I follow is something like this

[2019-06-12 08:16] kubenstein commented on #764
Hi, I noticed a new version (9.8.2) was released yesterday and it fixes the issue!
so I think this issue can be closed.

thank you very much!

[2019-06-12 12:16] rajesh996 commented on #685
Yeah, but again today morning when I turned on my Ubuntu, the problem has crept in again. So, again I removed folders from the workspace, saved the settings and again opened it.
After this, it is working now. But, I am not getting what the issue was (that too, only for my PC it's coming. In other's PCs' it's working fine).

[2019-06-12 12:43] grozan commented on #692
PR #767 submitted

[2019-06-12 14:16] #764 closed

[2019-06-13 11:13] sarbuandreidaniel commented on #756
@eamodio this is still broken. Now it shows to many diffs.

This is the commit diff:
![Screenshot from 2019-06-13 14-08-39](https://user-images.githubusercontent.com/6705865/59428019-cc3b2980-8de4-11e9-9c15-ee7af13c3ad7.png)

And this is the merge diff:
![Screenshot from 2019-06-13 14-09-52](https://user-images.githubusercontent.com/6705865/59428220-5b484180-8de5-11e9-867b-8547a8a4bf77.png)

[2019-06-13 16:06] eamodio commented on #756
@sarbuandreidaniel can you provide logs please? Thanks!

[2019-06-14 05:51] sarbuandreidaniel commented on #756
I'm not sure which logs do you need. Can you please let me know how can I provide them ?

[2019-06-14 05:58] eamodio commented on #756
Please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2019-06-14 06:07] sarbuandreidaniel commented on #756
Here you go:

`[2019-06-14 06:04:46:309] [175] GitService.getPreviousUri — e=/home/andrei/Projects/movavi-new-cart, t=GitUri(file:///home/andrei/Projects/movavi-new-cart/scripts/cart/ava_cart_init.js repoPath=/home/andrei/Projects/movavi-new-cart sha=f00561c2d3d523912edadd315222cae810c41388), i=f00561c2d3d523912edadd315222cae810c41388, o=0, r=undefined, n=true
[2019-06-14 06:04:46:359] [/home/andr

[2019-06-14 07:18] rotwurstesser commented on #727
@eamodio as @joelw said (thanks! 🙏) this solves it, i cleared everything and did a clean install, glad to use gitlens again =)

[2019-06-14 07:18] #727 closed

[2019-06-14 13:24] astrowonk commented on #439
Yeah, I'm being forced to use Jedi because of [another bug](https://github.com/Microsoft/vscode-python/issues/2528) in Python Language Server, and so have had to turn off GitLens. :-(

[2019-06-17 09:57] lcswillems commented on #375
Hi,

I really think that "source control layout" should be the default. Or it should be mentionned in big somewhere that it is available. It is only 1 year after opening this issue that I am able to use Gitlens.

By default, people don't want to use Gitlens because you remap ctrl+shift+g and prevent them to access the default source control view. It was my case and the case of many over people I t

[2019-06-20 07:49] bgpedersen commented on #319
This happend to me just now doing a rebase. I left the computer for 10 minutes, and when I came back the missing merge actions buttons were back. I also noticed the Srouce Control: GIT tab, had MERGE CHANGES with the correct file now - before it was in STAGED CHANGES, even though it contained conflicts.

[2019-06-21 15:55] yunti commented on #472
Would be perfect if we could just merge git graph and git lens.

[2019-06-21 17:24] nbozhinov opened #769 "Duplicated directory names in commit preview"
Previewing a commit in the "repositories view" sometimes duplicates the names of some directories when showing the changed files so instead of "repo/dir1/dir2/dir3" I see "repo/dir1/dir2/dir2/dir3" which is a nonexistent path.

GitLens version: 9.8.2
VS Code version: 1.34.0
OS: Ubuntu 16.04 LTS

[2019-06-25 11:43] luojinghui opened #770 "how to use the compare update operation?"
This is a comparison of git conflicts. The left side is the remote resource and the right side is the local resource.

![image](https://user-images.githubusercontent.com/12367406/60095384-001d3400-9781-11e9-89ae-139cbfe9b7b3.png)

But I couldn't find the action button for the merge a line.

 I hope to be able to offer buttons/actions to move/copy lines between each side, the purpose is to compare

[2019-06-26 13:43] J00MZ opened #771 "Enable view file permissions"
## Feature
As a user I'd like to have the permissions and history of file permissions in the git index shown.

The command `git ls-files --stage`  shows it
Example:
[code]
## Feature Mockup
![Annotation 2019-06-26 163328](https://user-images.githubusercontent.com/3058176/60184652-1a164f80-9831-11e9-8a27-32fc6a66ce6b.jpg)

[2019-06-27 09:01] eamodio commented on #771
@J00MZ Can you provide some use-cases for this?

[2019-06-27 09:04] eamodio commented on #770
I'm not exactly sure what you are asking for here, but VS Code doesn't offer much control/extensibility of its diff view (the image you posted above). There a requests opened for VS Code to offer buttons/actions to move/copy lines between each side, etc. Is that what you are asking about?

[2019-06-27 09:20] J00MZ commented on #771
Sure!
The simple use case is viewing the file permissions of the existing file is saved as executable or not.

For example, text and configuration files you save as 0644 (read permissions) and scripts and binaries as as 0755 (executable permissions).

The git file permissions are almost virtually invisible unless you use the command line. however wrong permissions on an executable can have a big i

[2019-06-27 20:47] jrheard opened #772 "GitLens features get trampled on by vim-induced muscle memory"
GitLens is great! But I've been having this problem:

Several of its features, including the gutter blame and gutter heatmap features, are documented to have this behavior:

I use the Vim extension for VS Code, and as a result, I hammer the `Escape` key constantly while editing code. It's muscle memory that's built up over many years, and I don't think I'll ever be able to get rid of it - when I w

[2019-06-27 20:49] jrheard commented on #772
@eamodio advised me that there is a way to get GitLens to work around my behavior!

There's a keybinding named `gitlens.key.escape` that can be configured to be something else besides escape; I've set it to cmd+shift+g E for now. This seems to have completely solved my problem. Thanks @eamodio!

[2019-06-27 20:49] #772 closed

[2019-06-28 03:21] luojinghui commented on #770
@eamodio
This is a comparison of git conflicts. The left side is the remote resource and the right side is the local resource.

As you said, I hope to be able to offer buttons/actions to move/copy lines between each side, the purpose is to compare conflicts and then selectively merge conflicting content.

[2019-06-28 15:33] obambrough opened #773 "Compare branch order not working"
Comparing one branch against another uses the three-dot symmetric difference between the two branches (showing all changes between the two branches.) I assume this is a bug because there is a button on the comparison's entry in the compare tree with at tool-tip of 'Swap Comparison'. After pressing it the UI shows the branch order changed but the list of commits is still the same (as its using thre

[2019-06-30 15:35] dwlsalmeida opened #774 "Is it possible to apply only the selected lines?"
In the 'compare' panel we can right click a commit and choose 'Apply Changes'. Is it possible to do the same but for a few lines only, for instance in the 'line history' panel? I guess I am looking for Gitlens support of a mixture of git cherry-pick and git add -p.

[2019-07-03 07:57] bracco23 opened #775 "Unable to open on remote for a Bitbucket Server"
I have a repo on a Bitbucker Server remote that I am unable to use with the "Open in remote" feature.

I have tracked the problem down to the fact that no _https_ is available on our server, we have to access using an unsecured _http_ connection, while, taking a look at https://github.com/eamodio/vscode-gitlens/blob/1d2c2ce5f712c92485cabaea0516b33fa5bb097b/src/git/remotes/bitbucket-server.ts#L15 I

[2019-07-04 13:23] stephtr opened #776 "File history sidebar having "Open file" instead of "Open revision""
- GitLens Version: 9.8.2
- VSCode Version: 1.36.0
- OS Version: Windows 10 1903

In my opinion the File History view should have "Open revision" buttons when hovering a specific file revision instead of the "Open file" button (whose function doesn't depend on the actual revision one is hovering).

[2019-07-04 13:27] stephtr opened #777 "Navigate across file revisions"
When opening a specific file revision ("GitLens: Open Revision...") it would be nice to additionally have "Open Previous/Next Revision" buttons in addition to the existing "Open Changes with Previous/Next Revision" buttons.

[2019-07-04 17:19] BillDenton opened #778 "Configurable fetch command to allow "git fetch --prune origin""
I would like to be able to configure the fetch command allow pruning of remote (origin) branches that have been removed from the remote repo. So instead of doing
git fetch
it would do
git fetch --prune origin

[2019-07-05 07:46] cydiacen opened #779 "Git Infomation Layout BUG"
At first I thought it was a vscode BUG , but they think it's cause 3rd-part extension。
https://github.com/microsoft/vscode/issues/76650#event-2461930053

- GitLens Version:9.8.2

- VSCode Version:1.36.0
- OS Version:macOS Mojave 10.14.5

Steps to Reproduce:

1.![Xnip2019-07-05_10-02-32](https://user-images.githubusercontent.com/11609222/60706165-72d59e80-9f3b-11e9-81be-93f18714c7aa.jpg)

[2019-07-05 09:52] wuyihao14 commented on #734
This issue still exists in 9.8.2

[2019-07-05 14:05] ampresent opened #780 "Symlink related bug"
- GitLens Version: 9.8.2
- VSCode Version: 1.36.0-insider
- OS Version: 10.14.5

Steps to Reproduce:

1. `mkdir /work`
2. `ln -s /work /home/username/stuff`
3. work in /home/username/stuff
4. Use GitLens to see line history
5. Fail. And we see `/work/home/username/stuff/file1` pattern in the log

This bug is in method `resolve` in `gitUrls.ts`, where
repoPath is recognized as `/work`, while `fileN

[2019-07-05 22:22] jrheard opened #782 "Closing the blame sidebar also hides the gutter heatmap"
GitLens version: 9.8.2
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:29:22.216Z)
OS version: Darwin x64 18.6.0

Steps to Reproduce:

I have "Toggle File Blame Annotations" bound to `cmd+option+g b` and "Toggle File Heatmap Annotations" bound to `cmd+option+g h`.

1. Be in a file that has an associated git history
2. Press `cmd+option+g h` to show the gutter

[2019-07-08 13:05] thijsputman opened #783 "Disabling "Current Line: Scrollable" causes line hover to not show"
Issue Type: <b>Bug</b>

Setting `gitlens.currentLine.scrollable` to `false` causes the informative hover (with `gitlens.hovers.currentLine.over` set to `annotation` - its default setting) to not show.

Setting `gitlens.hovers.currentLine.over` to `line` resolves the issue, but only triggers the hover on the actual code, not the GitLens generated annotation at the end of the line.

Enabling `gitlen

[2019-07-08 17:57] eamodio commented on #783
Unfortunately I don't believe this can be fixed. The issue is that setting `gitlens.currentLine.scrollable` to `false` removes the decoration (what vscode calls it) from the document flow (using `position: absolute`) which also causes vscode to not be able to get events for hovering over that element (vscode doesn't provide any apis for extensions to get events on decorations directly -- so the cu

[2019-07-08 17:57] #783 closed

[2019-07-08 20:48] thijsputman commented on #783
No worries. Thanks for the quick response and the additional info (and the great vscode extension 😉)!

[2019-07-08 21:45] eamodio commented on #782
That is the intended behavior -- each type of file decoration is mutually exclusive, so turning on one turns off the other.

[2019-07-08 21:48] eamodio commented on #782
While I can't see changing this behavior anytime soon (because of the work involved), I can see the desire to decouple at least the heatmap from the others, so I will leave this open.

[2019-07-08 21:52] eamodio commented on #782
Although another option (that might be easier to implement), is to keep a stack of the decoration providers. So while they will still be mutually exclusive, it could restore the previous one in the stack.

So doing the following:
1. turn on heatmap
1. turn on blame, would turn off the heatmap first
1. turn off blame, would restore the heatmap

Might not be exactly what is intended, but could be cl

[2019-07-08 21:55] eamodio commented on #779
Unfortunately this is a vscode bug, see https://github.com/microsoft/vscode/issues/71745

[2019-07-08 21:55] #779 closed

[2019-07-08 21:58] eamodio commented on #777
Could you provide a use-case as to why those commands would be useful? How would you use them differently than the changes?

[2019-07-08 22:30] stephtr commented on #777
My use-case would be for writing longer texts (in my case scientific publications; for programming I don't see any use).
When comparing different versions of paragraphs (spanning over multiple lines), it often is not enough to see the words/sentences which changed, but (at least for me) it is important to check the reading flow of whole paragraphs.

[2019-07-08 22:56] jrheard commented on #782
The proposal in your last comment would work fine for my use case! Right now I live in a world where every so often I toggle off the heatmap without meaning to, and afterward I don't notice for an hour or two and then I have to toggle it back on by hand; I would love to instead live in a world where it's toggled back on instantly without me having to remember to do it :D

[2019-07-09 07:02] johnletey opened #784 "Update the sidebar icon"
With the new vscode icons being released soon 🎉 (https://github.com/microsoft/vscode/issues/8017) ... the icon definitely needs to be updated to match the new icons' styles!

**Note:** I already have an icon designed and will submit a PR soon!

[2019-07-09 16:28] eamodio commented on #775
This will be fixed as part of https://github.com/eamodio/vscode-gitlens/issues/692 which is fixed but not yet released (will be coming soon)

[2019-07-09 16:28] #775 closed

[2019-07-09 16:33] eamodio commented on #773
The _Swap Comparison_ command just switches the order of the compare, not the type of compare. To switch to use two-dot comparisons set the following setting `"gitlens.advanced.useSymmetricDifferenceNotation": false`

See here: https://github.com/eamodio/vscode-gitlens#advanced-settings-

Hope that helps!

[2019-07-09 16:35] eamodio commented on #774
@dwlsalmeida where would you pick the set of lines to apply? From the comparison view itself?

[2019-07-09 16:43] eddyp commented on #692
When is the next release planned? I'm so tempted to hack a local copy version of the plugin just for this fix...

[2019-07-09 16:44] eamodio commented on #692
Most likely tonight or tomorrow night.

[2019-07-09 16:55] eddyp commented on #692
Excellent!

BTW, thank you for your work! It's appreciated!

[2019-07-09 17:37] dwlsalmeida commented on #774
Yes.

[2019-07-09 20:39] eamodio commented on #778
@BillDenton would just setting Git's config be enough here? See https://stackoverflow.com/a/18718936

[2019-07-09 20:41] eamodio commented on #769
@nbozhinov are there symlinks at play here?
Can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2019-07-09 20:43] eamodio commented on #649
@gbritton1 is this still an issue?

[2019-07-09 20:46] eamodio commented on #731
I am closing this issue because it needs more information and has not had recent activity.  Please re-open this issue when more details can be provided.

Thanks!

[2019-07-09 20:46] #731 closed

[2019-07-09 20:47] eamodio commented on #622
This will get fixed as part of https://github.com/eamodio/vscode-gitlens/issues/709

[2019-07-09 20:47] #622 closed

[2019-07-09 20:48] eamodio commented on #650
I am closing this issue because it needs more information and has not had recent activity.  Please re-open this issue when more details can be provided.

Thanks!

[2019-07-09 20:48] #650 closed

[2019-07-09 20:48] eamodio commented on #741
I am closing this issue because it needs more information and has not had recent activity.  Please re-open this issue when more details can be provided.

Thanks!

[2019-07-09 20:48] #741 closed

[2019-07-09 20:50] eamodio commented on #713
This was addressed in v9.8.0 -- see the `gitlens.advanced.useSymmetricDifferenceNotation` setting

[2019-07-09 20:50] #713 closed

[2019-07-09 20:50] eamodio commented on #749
I am closing this issue because it needs more information and has not had recent activity.  Please re-open this issue when more details can be provided.

Thanks!

[2019-07-09 20:50] #749 closed

[2019-07-09 20:55] eamodio commented on #756
@sarbuandreidaniel Is there any chance this repo is public? I can't seem to reproduce this

[2019-07-09 22:26] gbritton1 commented on #649
Yes

On Tue, Jul 9, 2019, 4:43 PM Eric Amodio <notifications@github.com> wrote:

[2019-07-09 23:05] #692 closed

[2019-07-09 23:05] #776 closed

[2019-07-09 23:12] stephtr commented on #776
Wow, thanks @eamodio!

[2019-07-10 03:47] johnletey commented on #784
@eamodio How does this look:

<img width="335" alt="Screen Shot 2019-07-10 at 6 46 36 AM" src="https://user-images.githubusercontent.com/30328854/60938916-7e7be900-a2de-11e9-9fb3-15a64b187ff0.png">

I will submit a PR once you give me the green light!

[2019-07-10 05:53] johnletey commented on #784
@eamodio I'm currently designing updates for the rest of the icons in the extension! Stay tuned!

[2019-07-10 07:15] bcongiusta commented on #784
Also consider this icon as well.

![image](https://user-images.githubusercontent.com/48673777/60948425-848abd80-a310-11e9-881b-c79dd50b97b8.png)

[2019-07-10 07:19] iyashpal commented on #784
Please consider this icon as well. it doesn't look good with the new icon set of vs code.

![image](https://user-images.githubusercontent.com/19922707/60948636-02e75f80-a311-11e9-93a4-e37487dacf88.png)

Thanks

[2019-07-10 12:51] obambrough commented on #773
Fantastic, thanks for pointing that setting out (I should've found that!). It would be really handy to have that setting be togglable from the search tree as it is very relevant there, especially since the 'swap comparison' button doesn't really make a difference when its configured to use symmetric difference (which I assume is the default.) Using that setting did work and the 'swap comparison' b

[2019-07-10 12:51] #773 closed

[2019-07-10 13:27] johnletey commented on #784
@iyashpal Not to worry ... I am going through and updating **all** of the icons throughout the package so that everything looks great for the new vscode release!

You can check out my progress here: [Figma](https://www.figma.com/file/d2JR6axIc4bsXOEsCOJfdChF/gitlens-icons)

I have already updated quite a few icons already and am working hard on the others so that we can have a PR up soon!

[2019-07-10 14:22] bracco23 opened #785 "Show file status on folder in changes view"
It would be nice if, in the sidebar, each folder would have an indication of the type of changes that the file inside it has.

Let me explain with an example.

I have this dir structure:
[code]

So I have `a11.cpp`, `a11.h` and `a21.h` modified, `a21.cpp` has merge conflicts and `a1.cpp` and `a1.h` are untracked files.

The relative files will be colored and an icon with the relevant status will b

[2019-07-10 14:42] misolori commented on #784
@johnletey the stash all icons are referenced here:

https://github.com/eamodio/vscode-gitlens/blob/84363ec5aca56e62e407965c2e55f62f17edc59f/package.json#L2281-L2288

[2019-07-10 16:23] VulcanRav commented on #674
@eamodio I think stashing specific ranges, `git stash -p`.

I'm in need of a similar utility myself, would you consider adding such a functionality to gitlens?

[2019-07-10 16:24] eamodio commented on #773
@obambrough in the next release, I'll add buttons to switch between two-dot and three-dot compares (and the setting will just control the default)

[2019-07-10 17:56] eamodio commented on #784
@johnletey Awesome -- thanks for taking this on! The activity bar icon looks good at that size, but I'd need to see it in product to really know. Are the strokes the same width as the vscode icons?

[2019-07-11 05:40] johnletey commented on #784
I'm not quite sure ... they are 2px strokes @eamodio ... what are the stroke sizes for the vscode icons @misolori?

[2019-07-11 09:42] Ollie-Saer-WBS opened #788 "Hover fails to render when scrolled past start of Current Line Blame"
- GitLens Version: 9.8.5

- VSCode Version: 1.36.1
- OS Version: Windows 10 Enterprise 1709 (Build 16299.1217)

Steps to Reproduce:
![See Animated GIF](https://user-images.githubusercontent.com/42766020/61040368-536dc400-a3c8-11e9-8a4d-fb4f4e4ba615.gif)

[2019-07-11 16:47] eamodio commented on #784
@johnletey also for quite a few of the icons, I lifted directly from vscode, so we should just lift the new versions directly

[2019-07-12 03:20] ryenus commented on #741
@eamodio Hey, sorry I missed the earlier comment.

Actually, the code is from an open source repo on github.com:
https://github.com/spark-jobserver/spark-jobserver/

I just checked with the same repository and the bug seems to be already fixed with GitLens `9.8.5` on VSCode `1.36.1`.

As explained earlier, the file `SparkJob.scala` had been moved to a different directory with commit `0919588`, hen

[2019-07-12 04:14] johnletey commented on #784
I understand ... and actually, that's exactly what I've been doing @eamodio

[2019-07-14 04:34] forrcaho opened #789 "Line blame annotations not working when vscode root is home dir and .gnupg dir is inaccessible"
I've reproduced this issue both on my debian linux computer, and using Remote - SSH to connect to an Ubuntu EC2 instance.

If I have a `.gnupg` folder in your home dir, and it's owned by root, and only accessible to root, and I open vscode with your home dir as vscode's root dir (e.g. invoking `code .` from my home dir on the command line), then when I open a file inside a git working dir, I do no

[2019-07-15 12:21] nbozhinov commented on #769
@eamodio no there are no symlinks in the paths that show this problem.
I've enabled the debug logging an am attaching the output from when the problem appeared. I've renamed my user and the project name due to company policy, but structure of the paths is preserved.
[gitlens_debug_output.txt](https://github.com/eamodio/vscode-gitlens/files/3392210/gitlens_debug_output.txt)

[2019-07-15 19:55] misolori commented on #784
@johnletey icons have a 1.5px border width and have a bevel edge:

<img width="490" alt="image" src="https://user-images.githubusercontent.com/35271042/61244700-a664b580-a6ff-11e9-8761-f184432c2f49.png">

[2019-07-16 04:27] johnletey commented on #784
Thanks, @misolori ... how does this look @eamodio?

<img width="341" alt="Screen Shot 2019-07-16 at 7 26 41 AM" src="https://user-images.githubusercontent.com/30328854/61265896-1ecc8480-a79b-11e9-88ec-0506f5f18262.png">

[Figma](https://www.figma.com/file/d2JR6axIc4bsXOEsCOJfdChF/gitlens-icons?node-id=1%3A2)

[2019-07-16 04:39] eamodio commented on #784
@johnletey it looks great there, but in-product it looks a bit wonky
![image](https://user-images.githubusercontent.com/641685/61266456-f3797380-a761-11e9-8edf-3e629947eff5.png)

I'm assuming that is because of some (mis-)alignment to the pixel grid? I'd also suggest moving the bottom-most dot, up a tad to give it a little more space between it and the circle

[2019-07-16 04:44] johnletey commented on #784
@eamodio I have moved up the bottom-most dot a tad bit ... here it is now:

![Screen Shot 2019-07-16 at 7 43 52 AM](https://user-images.githubusercontent.com/30328854/61266681-94d1eb00-a79d-11e9-8dd9-880d82fce9b3.png)

The icon itself and everything is all aligned in the pixel grid! 🤔

PS. What vscode theme are you using? 👀

[2019-07-16 04:48] eamodio commented on #784
Hrm, the spacing at the bottom is better, but now it looks chunkier for some reason:
![image](https://user-images.githubusercontent.com/641685/61266750-47d12300-a763-11e9-8f49-34910c542698.png)

I'm using my Dark Amethyst theme: https://marketplace.visualstudio.com/items?itemName=eamodio.amethyst-theme

[2019-07-16 04:48] johnletey commented on #784
@eamodio Just some minor updates here ... how does it look now?

<img width="546" alt="Screen Shot 2019-07-16 at 7 47 42 AM" src="https://user-images.githubusercontent.com/30328854/61266794-1a559b00-a79e-11e9-9e9c-0f0a22d442f4.png">

[2019-07-16 04:50] eamodio commented on #784
Still chunky:
![image](https://user-images.githubusercontent.com/641685/61266863-b7dfa900-a763-11e9-8d9f-54bf57c572c1.png)

Do you see the same in vscode?

[2019-07-16 04:51] johnletey commented on #784
I'm actually not running this in local development

[2019-07-16 05:18] johnletey commented on #784
For anyone that is following the progression of this issue, I have updated the activity bar icon (and it is not showing up chunky when in local development)

Update commit: https://github.com/johnletey/vscode-gitlens/commit/e1f2f51ee22c058c8ac7637d3fc5857d78c12e80

[2019-07-16 15:31] Bazalia opened #790 "Invisible git icons when running vscode from WSL with GitLens extension enabled"
Issue Type: <b>Bug</b>

I have GitLens extension installed locally and on WSL, and I also have Remote Development extension pack installed. When I open code normally everything is fine. When I open code from WSL with GitLens disabled everything is fine too. But when I open code from WSL and GitLens is enabled some icons become invisible. They are clickable but invisible. These icons are the GitLen

[2019-07-16 20:34] eamodio commented on #788
Duplicate of #783

[2019-07-16 20:34] #788 closed

[2019-07-16 20:40] eamodio commented on #789
@forrcaho could you please verify if the native git functionality works?

[2019-07-16 20:45] eamodio commented on #790
@Bazalia I am seeing the same behavior with Remote WSL, but I see it even if I don't have GitLens install in the remote at all. I think this an instance of this issue: https://github.com/microsoft/vscode-remote-release/issues/687

[2019-07-16 20:59] forrcaho commented on #789
The red, blue, and green marks in the gutter indicating the changes made since the previous commit still show up as expected, so I guess that confirms the native git functionality works. Sorry for being vague about it before.

[2019-07-16 21:14] eamodio commented on #789
Do commands like fetch/pull/etc work?

[2019-07-16 21:33] forrcaho commented on #789
Yes. I verified commit, push, and fetch all work.

[2019-07-17 10:23] gapark opened #791 "Notification of unstashed changes in working directory on failed checkout"
So, it has come to my attention that when checking out to a branch with unstashed changes in my working directory GitLens fails to notify you of the failed branch switch and appears to do nothing.

All I request is the addition of a popup message to notify a user when they have unstashed changes that are causing the checkout to fail.

I am aware of the terminal output but find it is too hidden to

[2019-07-17 14:20] inwardmovement opened #792 "Show last commit message on repositories view instead of Git reference"
For the last commit in the repositories view, is it possible to allow to display the last commit message instead of the Git reference ("origin/HEAD"), just as any other commit in the history?

Maybe display the Git reference in another way, somewhere else where it's not interfering with commit messages... Maybe just swap the order in the commit title: "origin/HEAD > [commit message]" would be "[co

[2019-07-17 15:36] joachim-n opened #793 "editor rule doesn't move when the git blame gutter is opened"
- GitLens Version:  9.8.5
- VSCode Version: 1.36.1
- OS Version: OS X 10.11.6

Steps to Reproduce:

1. have the git blame gutter off by default.
2. Open a file
3. Use the command palette to show the git blame gutter

The editor ruler shown at 80 characters doesn't move with the file text.

[2019-07-17 15:38] joachim-n opened #794 "Can't get back to settings page easily"
- GitLens Version: 9.8.5
- VSCode Version: 1.36.1
-  OS Version: OS X 10.11.6

Steps to Reproduce:

1. Install git lens
2. Nice settings page is available. This is great!
3. Want to change some settings later
4. Go to user settings. Not so clear.
5. Try to find the settings page I had before. Open 'Git Lens: welcome' from the command palette
6. Open the configure git lens page.

All the settings a

[2019-07-17 15:50] eamodio commented on #794
You can use `GitLens: Open Settings` to get directly to that page. Unfortunately the native Settings UI doesn't provide any good way for me to tell users to go to the GitLens Settings UI, nor does it provide a nice experience. I've opened this issue: https://github.com/microsoft/vscode/issues/70589 (please upvote it)

As for the issue about the values being default -- that sounds like a bug, and I

[2019-07-17 15:56] eamodio commented on #793
Unfortunately, this is caused by an issue in vscode itself: https://github.com/microsoft/vscode/issues/39165

[2019-07-17 15:56] #793 closed

[2019-07-17 16:01] joachim-n commented on #794
I've just tried again and it's fine now.

I've upvoted that issue. Thanks for the really quick response!!

[2019-07-18 01:54] zaboyle commented on #472
Is anyone working on something like this? I'd like to help contribute to creating a feature like this

[2019-07-18 05:34] eamodio commented on #756
@sarbuandreidaniel ☝️

[2019-07-18 06:27] sarbuandreidaniel commented on #756
@eamodio I can't make it public. Also I can't make some tests on other repo because I'm in vacation and I don't have the laptop with me. I can help you in 1 week when I'm back.

[2019-07-18 12:24] sseremelis opened #795 "Commit quick access icons replaced with open file actions in File History View"
Issue Type: <b>Bug</b>

In File History view, the inline toolbar that is displayed for each commit shows the icons for Open File and Open File on Remote. However I think that the icons for Compare with HEAD, Copy Commit ID to Clipboard and Open Commit on Remote used to be there, because I was used to using them from the File History view.

Is this the expected behaviour? Because I was using these

[2019-07-18 15:56] eamodio commented on #795
@sseremelis Good catch -- this was an unintentional regression

[2019-07-18 16:21] kenlyon opened #796 "Url produced by "Open File on Remote" is url-escaped twice"
- GitLens Version: 9.8.5
- VSCode Version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
- OS Version: Windows_NT x64 10.0.17134

Steps to Reproduce:

1. Create a branch that includes the `"#"` character in its name. Our branch naming convention is of the form `"#{work-item-id}.{work-item-title}"`, so a typical example is `"#123.fix-all-the-things"`.
1. Make this

[2019-07-18 17:07] eamodio commented on #796
I dug into this and it looks like it is an issue in vscode: https://github.com/microsoft/vscode/issues/76606#issuecomment-512904014. I don't currently have a workaround at this point. Hopefully the vscode issue with be resolved quickly.

[2019-07-19 17:05] eamodio commented on #644
I've just switched to `yarn` rather than `npm` and hopefully once this PR lands https://github.com/yarnpkg/yarn/pull/7419 this won't be an issue anymore

[2019-07-21 15:24] #791 closed

[2019-07-21 15:24] #792 closed

[2019-07-21 15:24] #709 closed

[2019-07-21 15:24] #760 closed

[2019-07-21 15:24] #795 closed

[2019-07-21 19:16] inwardmovement commented on #792
Awesome, thanks!

[2019-07-21 22:46] PanosBougas commented on #685
I have a similar issue, GitLens constantly loading without doing anything. I am using GitLens on a remote VM through the Remote SSH extension (that means that GitLens is installed to the Remote machine). There I have opened a workspace which has 3 folders (panos, public, log). The first folder has a sub-folder named **Foo** with a git repo inside it. The second folder **public** has a repository t

[2019-07-22 03:59] iyashpal commented on #386
@eamodio it would be great to have this functionality in GitLens. At least, we don't have to install another separate extension for this particular functionality.

Thank you

[2019-07-22 05:13] rajesh996 commented on #685
@PanosBougas once try changing the order in which you opened your folders. Not the best solution, but for me it is working after I changed the order in which the folders are opened, but the next day it is not working for me, so have to repeat the process everyday.

[2019-07-22 13:07] PanosBougas commented on #685
@rajesh996 I tried your solution and it is working. But this needs to be fixed as it is a bit silly. It isn't a critical bug but it is a bug and perhaps it could solve more issues along the way. So, perhaps this issue needs to be opened again @eamodio

[2019-07-22 14:29] borekb commented on #293
There seems to be many good changes around this in [v9.9](https://github.com/eamodio/vscode-gitlens/blob/master/CHANGELOG.md#990---2019-07-21):

![Screen Recording 2019-07-22 at 15 06 05_05 (1)](https://user-images.githubusercontent.com/101152/61640457-a9cae480-ac9d-11e9-90bf-e123db5a10c1.gif)

The number of commits (12) in case of a two-dot mode is correct, however, the files are not correct: the

[2019-07-22 16:19] Morikko commented on #293
I just spot the same behavior. It looks like the files changed are always diff with the 2 dot approach.

[2019-07-22 16:21] eamodio commented on #293
@borekb @Morikko sorry, that is a bug -- can you pls open a new issue for this?

[2019-07-22 16:36] borekb opened #797 "Branch diff against master shows incorrect files in two-dot mode"
_Originally reported in https://github.com/eamodio/vscode-gitlens/issues/293#issuecomment-513853506._

[v9.9](https://github.com/eamodio/vscode-gitlens/blob/master/CHANGELOG.md#990---2019-07-21) introduced new behavior for comparing with other branch:

![Screen Recording 2019-07-22 at 15 06 05_05 (1)](https://user-images.githubusercontent.com/101152/61640457-a9cae480-ac9d-11e9-90bf-e123db5a10c1.gi

[2019-07-22 16:37] borekb commented on #293
👍 , done that in #797.

[2019-07-22 20:48] eamodio commented on #472
@zaboyle I'm not aware of anyone working on this. I'm working on a feature somewhat related (but different) -- a new Timeline view. You can see the code in the `feature/timeline` branch

@yunti if git graph or another extension does this well (I'm assuming) -- without GitLens duplicating that functionality is there a set of things to make the integration between the 2 better?

[2019-07-22 21:02] eamodio commented on #685
@PanosBougas is that the full log above? The following line should have other `[3] GitService.repositorySearch` calls.
[code]

@rajesh996 @PanosBougas Can you send me logs from both when it is working and when it isn't? Are there any symlinks in any of these folders?

[2019-07-23 05:09] eamodio commented on #769
@nbozhinov First is this still happening with v9.9.1? If so, in that log what paths would get duplicated? You mentioned that it "sometimes" happens -- it is at least consistent with the same files? Or any other details that you can tell me to help see it?

[2019-07-23 05:17] eamodio commented on #748
I am closing this issue because it needs more information and has not had recent activity.  Please re-open this issue when more details can be provided.

Thanks!

[2019-07-23 05:17] #748 closed

[2019-07-23 05:19] eamodio commented on #747
@jpan127 Yeah, GitLens can't control the gutters currently.

[2019-07-23 05:19] #747 closed

[2019-07-23 05:21] eamodio commented on #778
@BillDenton In GitLens v9.9, you can now use the new _Git Commands_ command from the palette and pick fetch and prune. Hopefully that provides what you need.

[2019-07-23 05:21] #778 closed

[2019-07-23 05:24] #797 closed

[2019-07-23 07:22] pie-r opened #798 "git pull/fetch all repositories"
- GitLens Version: 9.9.1

- VSCode Version: 1.36.1
- OS Version: Ubuntu 16.01

Steps to Reproduce:

1. One Repository that is a gitlab project that contains two other gitlab repository. e.g. Project A with inside project B, project C where B and C are two different repositories
2. In gitlens there is this scenario:
![provaXXX](https://user-images.githubusercontent.com/53210578/61690575-f1974d80-ad

[2019-07-23 08:27] borekb commented on #797
Thanks, works beautifully!

[2019-07-23 10:58] rajesh996 commented on #685
How to find GitLens log files? Where they will be located?

[2019-07-23 12:48] borekb commented on #797
This might be another related bug. I tried to open the same comparison in the **Compare** panel and it produces a different set of results:

<img width="443" alt="Screenshot 2019-07-23 at 14 46 23" src="https://user-images.githubusercontent.com/101152/61713425-d263e480-ad58-11e9-9f57-ecf0c2bc24a3.png">

(In the upper part of the screenshot, there's a node from the **Repositories** pane which displ

[2019-07-23 12:56] borekb commented on #472
After a few months experience with Git Graph, I have to say that it works well and I use it besides GitLens, for different kinds of use cases.

Just to reiterate from the original feature request, I was wondering whether a graph-like UI could be integrated into GitLens' _sidebar_ – instead of seeing a flat list, there would be "rails". But I'm not sure if that's possible or easy enough to implemen

[2019-07-23 15:49] nbozhinov commented on #769
@eamodio yes it still happens with v9.9.1. It appears to be consistent with the same directory, but happens only on some commits, on others with the same files edited it appear normally. Also the problematic commit appears properly when viewed in GitLab.
The broken file path looks like this:
![Screenshot from 2019-07-23 18-21-07](https://user-images.githubusercontent.com/17404553/61726142-cd635d00

[2019-07-23 15:53] eamodio commented on #685
You can enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2019-07-23 22:51] haojun99 opened #799 "Switch to three-dot comparison doesn't change the files changed list"
When doing a comparison between two branches, the option to switch between 3-dot or 2 dot comparison affects the result of commits, but not the result of files changed.
From the log, it looks like it is already running "git diff A B" which is the same as  "git diff A..B"

[2019-07-24 02:16] eamodio commented on #799
This was fixed in 9.9.1. Do you still see the issue there?

[2019-07-24 02:49] eamodio commented on #798
@pie-r can you reproduce the problem, and send me both the `GitLens` output channel and the `Git` output channel? Because for `push` and `pull` GitLens calls into the built-in vscode Git.

[2019-07-24 03:50] eamodio commented on #685
@rajesh996 @PanosBougas Can you try the following build to see if it helps? If not please provide logs.

[gitlens-9.9.1.vsix.zip](https://github.com/eamodio/vscode-gitlens/files/3424936/gitlens-9.9.1.vsix.zip)

Just remove the .zip extension and install it.

[2019-07-24 04:05] eamodio commented on #797
@borekb That behavior while a bit confusing is working correctly. Basically the issue is that when using the 2-dot (range) syntax the order of the compare matters, i.e. `211-component-for-complex-l18n..master` vs `master..211-component-for-complex-l18n`.

So in the repository compare, I am always showing `<branch/tag/ref-you-choose>..<current-branch>`, because you want to see the changes in your c

[2019-07-24 07:34] pie-r commented on #798
@eamodio

Here the log given by git and gitlens.

**From gitlens, perform a Pull all:**

<details><summary>gitlens logs:</summary>
<p>

[2019-07-24 07:12:33:559] [7f2] GitService.pullAll
[2019-07-24 07:12:33:559] [7f3] GitService.getOrderedRepositories
[2019-07-24 07:12:33:559] [7f4] GitService.getRepositories
[2019-07-24 07:12:33:559] [7f4] GitService.getRepositories completed • 0 ms
[2019-07-24

[2019-07-24 08:34] d35k opened #800 "Gitlens compare changes is not working with MacOS Catalina"
- GitLens Version: 9.9.1
- VSCode Version: 1.36.1
- OS Version: 10.15 Beta

Hi There,
I can list my modified files via left sidebar but somehow I cant see anything in the code section (eg: Modified lines and commit message), and I dont have any idea about how can i track that issue

[2019-07-24 08:38] borekb commented on #797
Oh I see, it's indeed quite a UX challenge then. How about unifying the two this way:

- Both use the icon (as in the Repositories panel) to save space.
- Both use _white_ for the current branch.
- Both use _gray_ for the other comparison target.
- Both use the same format which looks like this:
    - <img height="16" src="https://img.icons8.com/ios-glyphs/24/000000/compare-git.png"> `master..211-

[2019-07-24 08:58] julian-poidevin commented on #556
👍  I'd like such a feature. It can be done as suggested [here](https://stackoverflow.com/a/17029936) by using this command line :
[code]
A integrated `Delete local branches not on master` feature would be great though.

[2019-07-24 23:40] alexthegreat1 commented on #800
Also on Catalina, same GitLens version. Having a weird issue that I think is related.

When I'm working on a file:
- "GitLens: File History" says "No file history could be found."
- "GitLens: Line History" says "No line history could be found."
- No GitLens UI elements work, like line blame annotations as you said, or code lens, etc.
- In the Debug error logs, some lines that stood out to me were:

[2019-07-25 01:42] zaboyle commented on #694
I'm new to open source, but I'm working on implementing a feature like this! Hope to make a PR in the near future

[2019-07-25 03:14] jxltom commented on #448
Not only for webstorm, as Jetbrain's software have same plugin system, it could work for pycharm, intelliJ, android studio, etc.

[2019-07-25 03:30] eamodio commented on #694
@zaboyle awesome! Please let me know if you have any questions. And don't hesitate to open a PR early.

[2019-07-25 03:31] eamodio commented on #800
Can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2019-07-25 04:56] zaboyle commented on #694
Hi @eamodio ! I actually do have a question: I think i found a resource on [this website](https://code.visualstudio.com/api/extension-guides/overview) to help with creating the "Add Remote" option that should appear when right-clicking, but I am having trouble figuring out how to create a `Command` object for this Git command. If you can point me in the right direction, I would greatly appreciate

[2019-07-25 05:51] eamodio commented on #694
So there a quite a few steps to this, but I'll try to lay out the basics and will use the `gitlens.views.checkout` command as the "template" to follow.

So first you'll need to add a new command for `gitlens.views.addRemote` similar to `gitlens.views.checkout`
https://github.com/eamodio/vscode-gitlens/blob/345be49d7b31f8dfd8cf2f60fadee0bc2fed17d3/package.json#L2367-L2376

Then you add a "placement

[2019-07-25 06:03] eamodio commented on #769
Can you provide the output of the following git command, replacing `<your-commit-id-here>` with the sha of a commit that shows this file issue?

[code]

[2019-07-25 07:44] d35k commented on #800
Hi There,

`Looking for git in: /usr/bin/git
Using git 2.21.0 (Apple Git-120) from /usr/bin/git

Open repository: /Users/goktughatipoglu/Projects/exampleProject

fatal: not a git repository (or any of the parent directories): .git

`

[2019-07-25 08:09] alexthegreat1 commented on #800
[code]

[2019-07-26 13:53] spajas opened #801 "Able to select removed text during diff-view of a line"
First of all, I want to say I really like GitLens. Actually, it is awesome!

However, I really hope it would be possible to do the following:
1) Modify a piece of text/code in a committed file
2) When GitLens indicates a difference for that line next to the line# in VScode, click on that indication
3) VSCode will show the original text and the modified text using different colors
4) The modified t

[2019-07-26 13:56] zaboyle commented on #694
Awesome, thank you for your help! I'll work on that today and this weekend :thumbsup:

[2019-07-27 05:29] zaboyle commented on #694
Thanks again for your help @eamodio ! I made a PR for this in #802 , let me know if there's anything I need to change!

[2019-07-29 16:03] eamodio commented on #801
Unfortunately the diff view is provided by vscode itself and I can't control if the text can be selected or not. See this issue: https://github.com/microsoft/vscode/issues/8226

[2019-07-29 16:03] #801 closed

[2019-07-29 16:19] samer-Sp opened #803 "SAMER.ABU-HESHMA@OUTLOOK.COM"

[2019-07-29 16:19] #803 closed

[2019-07-29 19:16] jupp0r commented on #413
Another option would be for gitlens to implement git blame in terms of more low-level git operations and take into account `.git-blame-ignore-revs` in the algorithm.

[2019-07-29 21:34] haojun99 commented on #799
yes, it works in 9.9.1. Thanks!

[2019-07-29 21:34] #799 closed

[2019-07-30 01:31] eamodio commented on #685
@rajesh996 @PanosBougas any chance to try out that new build?

[2019-07-30 01:36] eamodio commented on #800
@alexthegreat1 @d35k  Can you try the following build to see if it helps? If not please provide logs.

[gitlens-9.9.1.vsix.zip](https://github.com/eamodio/vscode-gitlens/files/3424936/gitlens-9.9.1.vsix.zip)

Just remove the .zip extension and install it.

[2019-07-30 07:45] d35k commented on #800
It worked for me 🥳

[2019-07-30 09:09] panosAdzuna commented on #685
@eamodio I did install the latest 9.9.1 version but the same problem persists.

Here is the log with one folder inside the workspace, here GitLens works normally:
`[2019-07-30 09:01:03:020] [/foo/bar] git rev-parse --show-toplevel • 15 ms
[2019-07-30 09:01:03:141] [/foo/bar] git remote -v • 2 ms
[2019-07-30 09:01:11:485] [/foo/bar] git status --porcelain=v2 --branch -u --find-renames= -- • 57 ms
[

[2019-07-30 09:10] PanosBougas commented on #685
@eamodio I did install the latest 9.9.1 version but the same problem persists.

Here is the log with one folder inside the workspace, here GitLens works normally:
[2019-07-30 09:01:03:020] [/foo/bar] git rev-parse --show-toplevel • 15 ms [2019-07-30 09:01:03:141] [/foo/bar] git remote -v • 2 ms [2019-07-30 09:01:11:485] [/foo/bar] git status --porcelain=v2 --branch -u --find-renames= -- • 57 ms [2

[2019-07-30 10:14] esemlabel opened #804 "Support Tree Indent value"
Git Lens currently not respect "Workbench > Tree: Indent" value.
<img width="252" alt="VSCODE Workbench Tree Indent" src="https://user-images.githubusercontent.com/17903845/62121274-f4ff7b80-b2cb-11e9-9a50-55589e0acb0c.png">

[2019-07-30 12:25] BMBurstein commented on #649
I am having a similar issue. gitlens only sees one of my 2 remotes:

![image](https://user-images.githubusercontent.com/1149432/62128919-2ed97d80-b2de-11e9-8300-08d3044feaf9.png)

[2019-07-30 13:53] MajorBreakfast opened #805 "Version 9.9.1 breaks working tree comparison"
- GitLens Version: 9.9.1
- VSCode Version: 1.36.1
- OS Version: macOS 10.14.5

Steps to Reproduce:

1. Click "Compare with Working Tree"
<img width="318" alt="Screen Shot 2019-07-30 at 15 40 55" src="https://user-images.githubusercontent.com/340142/62134620-20409580-b2e1-11e9-99e4-9dadce56c097.png">

2. Tab title shows `some-file.txt (my-other-branch) <-> some-file.txt (HEAD)` instead of the expec

[2019-07-30 14:50] eamodio commented on #804
That setting and the tree rendering is controlled by VS Code. In the stable build of VS Code, no custom views honor that setting (since it is only supported with their new tree implementation), but in the insiders build the custom views have been upgraded to the new tree implementation and now honor this setting.

So once VS Code 1.37 ships (pretty soon) this will be supported.

[2019-07-30 14:50] #804 closed

[2019-07-30 14:51] eamodio commented on #649
Can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2019-07-30 14:53] eamodio commented on #800
@d35k Could you please send updated logs? I want to check that my theory was correct. Please attach the ones from the `GitLens` channel though, not the `Git` one. Thanks!

[2019-07-30 14:55] eamodio commented on #644
@billsedison @kburson Could you try and see if the latest [yarn nightly](https://nightly.yarnpkg.com/yarn-1.18.0-20190724.1302-unsigned.msi) resolves the issue for you?

[2019-07-30 14:56] eamodio commented on #685
@PanosBougas Damn. Can you send me the full logs from the `GitLens` output channel?

[2019-07-30 16:38] PanosBougas commented on #685
@eamodio Here are the full logs without any open file and by just pressing the GitLens icon on the left menu bar.

[code]

[2019-07-30 17:00] haojun99 opened #806 "file diff in two-dot branch compare should only show the changes in one branch"
For example if I compare master with branch A using two dot compare, it shows all changed files in branch A. Then click a changed file to see the diff. The diff shows the changes of the file in both master and branch A. I think I want to see the changes only in branch A in this case.

[2019-07-30 17:14] haojun99 commented on #745
"sort by latest commit" seems most useful to me for local branches.

[2019-07-30 18:04] rt3norio commented on #685
Same problem here.

some repositories works...

some doesn't...

[2019-07-30 18:24] alexthegreat1 commented on #800
I was already on 9.9.1, but I uninstalled it and installed the one you linked. Same issues though. It's acting the exact same way I had detailed before.

Here are the logs:
[code]

[2019-07-30 19:45] BMBurstein commented on #649
From the GitLens channel:

[code]

From the GitLens (git) channel:

[code]

[2019-07-30 19:51] eamodio commented on #649
@BMBurstein Thanks -- can you send me the output of `git remote -v `?

[2019-07-30 19:54] eamodio commented on #685
@rajesh996 @PanosBougas @rt3norio  Can you try the following build to see if it helps? If not please provide logs. (@PanosBougas from those logs it doesn't seem like it was the right 9.9.1 - so please try out the one below -- thanks!)

[gitlens-9.9.2-beta.vsix.zip](https://github.com/eamodio/vscode-gitlens/files/3448614/gitlens-9.9.2-beta.vsix.zip)

Just remove the .zip extension and install it.

[2019-07-30 20:14] BMBurstein commented on #649
As much as I can share of it is in the image I posted. Here is a sample output. It is the same format as my real output.:

[code]

As I am pasting and editing the above output I noticed that the remote that gitlens is ignoring has a trailing slash. I hadn't noticed that before. Related?

[2019-07-30 22:29] eamodio commented on #649
Thanks! I see the issue and will be fixed in the next release.

[2019-07-30 22:41] eamodio opened #807 "Unable to pull a repository"
Originally opened here: https://github.com/eamodio/vscode-gitlens/issues/649#issue-407826787

![image](https://user-images.githubusercontent.com/12263288/52432563-b6d18e00-2ad8-11e9-89ef-3e1f4fe581a9.png)

@gbritton1 I've move your issue here, since it got taken over by an unrelated issue.

[2019-07-30 22:41] eamodio commented on #649
@gbritton1 I've moved your issue here: https://github.com/eamodio/vscode-gitlens/issues/807 (sorry about the confusion)

[2019-07-30 22:42] eamodio commented on #807
@gbritton1 can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2019-07-31 03:45] eamodio commented on #800
@alexthegreat1 thanks for the updated logs. It looks like the main issue is that for some reason vscode is reporting the folder path to be `/System/Volumes/Data/Users/username/*` while when I ask git to return the path of the repo it returns `/Users/username/`. I'm not sure why the vscode folders are getting returned that way.

These two vscode issue seem somewhat related: https://github.com/micro

[2019-07-31 04:49] BMBurstein commented on #649
Thank you for the quick fix.
I'm sorry for hijacking the original thread. I thought the two were related.

[2019-07-31 05:37] builtbyproxy opened #808 "Broken Sponsors"
# I am unable to sponsor you through the github feature

**Sorry** this doesn't fit the format at all.
Your FUNDING.yml is broken:
![image](https://user-images.githubusercontent.com/16897508/62186285-15513800-b3a9-11e9-8427-be67e158fe8a.png)

[2019-07-31 05:52] eamodio commented on #808
Yeah, unfortunately GitHub sponsors still has a waitlist (and so far I haven't gotten in). Please feel free to nominate me though: https://github.co/2IHdeOw 😄

[2019-07-31 07:38] BMBurstein commented on #649
I just found that in a different repo it is the other way round. The first remote listed in `git remote -v` has the trailing slash, and GitLens only lists that one. Is this the same issue? Does this fix fix this too?

[2019-07-31 08:08] d35k commented on #800
Hi There,

The problem is, in Catalina, a lot of directory has been changed. I don't know why but some files returning from /System/Volumes/Data/Users/username/* but some of them returning from /Users/username/*,  I just realize that if project folder says "~/Projects" Gitlens works properly but when it says "/System/Volumes/Data/Users/username/Projects" Gitlens is not working.

[2019-07-31 08:08] d35k commented on #800
Hi There,

The problem is, in Catalina, a lot of directory has been changed. I don't know why but some files returning from /System/Volumes/Data/Users/username/* but some of them returning from /Users/username/*,  I just realize that if project folder says "~/Projects" Gitlens works properly but when it says "/System/Volumes/Data/Users/username/Projects" Gitlens is not working.

[2019-07-31 08:20] PanosBougas commented on #685
@eamodio I also tried the new 9.9.2 beta you send us and these are the new logs.

[code]

[2019-07-31 09:16] dvdveer opened #809 "Wrong commit diff in file history"
When you view the commit changes of a file in e.g. file history or repository history, sometimes the diff is wrong. I noticed this problem in particular when a file was changed in multiple branches. In that case the shown diff is not from the individual commit, but somehow shows changes from other commits as well.

This appears to be the same issue as #584 (which was fixed some time ago), you can

[2019-07-31 13:23] gbritton1 commented on #649
Problem resolved for me with latest version

[2019-07-31 13:23] gbritton1 commented on #807
No longer a problem

[2019-07-31 14:14] #807 closed

[2019-07-31 14:56] eamodio commented on #649
@BMBurstein it should fix it either way. It really wasn't about the slash, but instead that the remote wasn't a http[s]/git/ssh url

[2019-07-31 15:06] eamodio commented on #685
@PanosBougas Thanks for those logs! They helped a lot. So it looks like it encountered an error while searching (permission denied) and I found where I wasn't handling that properly.

Can you try this version and see if the issue is resolved?

[gitlens-9.9.2-beta2.vsix.zip](https://github.com/eamodio/vscode-gitlens/files/3452547/gitlens-9.9.2-beta2.vsix.zip)

Just remove the .zip extension and ins

[2019-07-31 15:08] eamodio commented on #789
@forrcaho Can you try the following build to see if it helps? If not please provide logs.

[gitlens-9.9.2-beta2.vsix.zip](https://github.com/eamodio/vscode-gitlens/files/3452558/gitlens-9.9.2-beta2.vsix.zip)

Just remove the .zip extension and install it.

[2019-07-31 15:14] PanosBougas commented on #685
Great news @eamodio . The latest build **gitlens-9.9.2-beta2** solved completely the issue. You and your extension rock! Thank you for all your hard efforts I really appreciate it.

[2019-07-31 15:15] eamodio commented on #685
Awesome! Thank you for the help in debugging!

[2019-07-31 20:13] rt3norio commented on #685
Congratulations! it works!
Thanks for your effort!

[2019-07-31 22:11] alexthegreat1 commented on #800
That's what I've also experienced. The filepaths have changed slightly in Catalina. But thanks @d35k! At least I can still make GitLens work this way. I just force VSCode to open the project using the old "~" path instead of "System/Volumes/..." by doing `code -a ~/project-path` in terminal.

[2019-07-31 22:13] eamodio commented on #800
@alexthegreat1 so if you open it via finder or something it uses `/System/Volumes/Data/Users/...`?

[2019-07-31 22:48] ainsofs opened #810 "Stops phpcbf from working"
Im using [phpcbf](https://github.com/soderlind/vscode-phpcbf/issues/33) for drupal development using the drupal/coder composer library. When I turn on  [git lens](https://github.com/eamodio/vscode-gitlens) my code is not formatted correctly (using Format Document option of vscode). When I disable git lens it works again as expected. I dont know if this is a compatibility issue with here or phpcbf

[2019-07-31 23:02] alexthegreat1 commented on #800
When I open a folder using Cmd+O in VSCode and select the folder, yes it uses `System/Volumes/Data/...`.

Also, if I use the "Open Recent..." option, it saves the path. If I used `~/...` last, I can just select the project from there. So I don't need to always use the terminal, only when I'm opening new projects.

I don't know if there are any other ways of opening projects on VSCode.

[2019-08-01 00:49] forrcaho commented on #789
Confirmed, this vsix fixes the issue for me! Woot!

[2019-08-01 06:27] #798 closed

[2019-08-01 06:27] #805 closed

[2019-08-01 06:27] #649 closed

[2019-08-01 06:27] #685 closed

[2019-08-01 06:27] #756 closed

[2019-08-01 06:27] #806 closed

[2019-08-01 06:28] #789 closed

[2019-08-01 06:28] #809 closed

[2019-08-01 17:58] viggy28 commented on #525
I hope this helps someone. Spent a week trying to understand why my gitlens was not working.

Opening visual code directly from the terminal using **code** command works.
https://code.visualstudio.com/docs/setup/mac

[2019-08-01 18:00] eamodio commented on #525
@viggy28 are you on Catalina?

[2019-08-01 18:04] viggy28 commented on #525
Actually, I used to live near LA, so I thought you were asking about Catalina island.

Googled it. Well, I am in Mojave 10.1.4.3. VScode 1.36.1  GitLens 9.9.2. (I tried earlier different versions of GitLens too)

[2019-08-01 18:06] eamodio commented on #525
Hehe... hrm, I've only seen issues with Catalina.

Can you send me logs for when it fails? You can enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2019-08-01 19:18] MajorBreakfast commented on #805
9.9.2 makes this work again. Thanks for a lot the fix! 👍

[2019-08-02 00:23] builtbyproxy commented on #808
Done!
This is surely one of the most popular VSCode plugins?
You should put that link in your readme at the top
I can do a PR for it if you dont have the time

[2019-08-02 00:23] #808 closed

[2019-08-02 18:48] DonJayamanne commented on #439
@eamodio When using the `Python Language Server`, there's no extension code involved. Its purely Language Server (protocol that communicates with VS Code). So I don't see how this would be an extension issue.
I.e. it seem this issue occurs whether users use language server or not (in Python Extension - i.e. it isn't any typescript code in Python Extension).

I'd say this is an issue upstream on VS

[2019-08-02 19:31] eamodio commented on #439
@DonJayamanne Last I looked into this (which was a LONG time ago), the core issue was that multiple places (GitLens, outline view, etc) call into the language server (via executeDocumentSymbolProvider) which only returned valid symbols for one request. So sometimes that would be GitLens, and the outline view would break, or sometimes it was the outline view, then GitLens code lens wouldn't show. A

[2019-08-04 03:50] dsmythe opened #812 "Regression in 9.9.2: Clicking changed file in Repository Browser opens diff view between WorkingTree <-> WorkingTree, not index"
I just noticed this today, I'm assuming it's from a recent update.

The previous behavior was that when you clicked a modified file in the "N files changed" dropdown under the checked out repository in the Repository browser, it opened a diff view of those unstaged changes ( which I believe is comparing the working tree to the index ). This allowed you to select ranges to stage or view what was be

[2019-08-04 17:24] pie-r commented on #798
@eamodio when do you think it will be released?
Thank you for the fix!

[2019-08-05 00:11] ajaypanyala commented on #812
I see the same issue after upgrading to Gitlens 9.9.2

- VSCode Version: 1.36.0-insiders and 1.37.0-insiders
- OS Version: Debian 9

[2019-08-05 06:02] Jadson666 commented on #812
I see the same issue today
when I click '3 files changed', I expect to see what I changed for every line.
but for now, the unstaged files just compare with the unstaged files. therefore it shows nothing different
I guess is because of the newest update

VSCode Version: 1.36.1

[2019-08-05 07:11] nztraveler commented on #812
I see the same issue recently.

[2019-08-06 02:24] zaboyle commented on #761
I'm able to reproduce and I'd like to try to tackle this issue! I'll make a draft PR in the near future

[2019-08-06 04:12] eamodio commented on #761
@zaboyle unfortunately the vscode api doesn't provide a way to collapse nodes (only expand)

[2019-08-06 04:50] #812 closed

[2019-08-06 04:55] eamodio commented on #694
Added in v9.93 -- thanks @zaboyle!

[2019-08-06 04:55] #694 closed

[2019-08-06 05:01] eamodio commented on #812
@dsmythe @ajaypanyala @Jadson666 @nztraveler Sorry for the inconvenience -- this should be resolved in v9.9.3. Thanks for the report!

[2019-08-06 05:05] eamodio commented on #797
@borekb FYI, in v9.9.3, I've reverse the order of the comparisons in the _Compare_ view, so now they will match the repository compare -- so everything will be consistent and hopefully work as would be expected.

[2019-08-06 05:23] zaboyle commented on #761
@eamodio Thanks for letting me know - I think I see what you're talking about in the docs. If they add that method I'd love to try this!

[2019-08-06 06:40] dsmythe commented on #812
Yep, can confirm 9.9.3 resolved the issue now, Thanks @eamodio!

[2019-08-06 10:42] borekb commented on #797
Very nice, thank you!

[2019-08-06 17:31] eamodio commented on #810
I'm unsure how GitLens could be conflicting here -- although there are certain conflicts with the python extension around some language servers not working properly with concurrent api calls. Do you have a repo or something setup that demonstrates this problem?

[2019-08-06 17:39] eamodio commented on #810
Also can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue (if possible) and attach the log lines from the *GitLens* channel.

[2019-08-06 17:42] eamodio commented on #556
@zaboyle If you are looking for another command to add -- this one is quite similar to the one you just added 😉

[2019-08-06 18:11] webia1 commented on #54
[code]

none of them helps, inline message within editor is still visible,..

[2019-08-06 18:37] eamodio commented on #54
@webia1 Can you provide a screenshot of what you mean?

`"gitlens.codeLens.enabled": false` will turn off the GitLens code lens
`"gitlens.currentLine.enabled": false` will turn off the GitLens inline blame

You can also just use the built-in GitLens settings editor by running _GitLens: Open Settings_ from the command palette and it will show you exactly what most of the GitLens settings will do.

[2019-08-07 01:15] zaboyle commented on #556
@eamodio For sure, I'll give it a shot!

[2019-08-07 07:11] vikramvi commented on #54
VS Code 1.36.1 + GitLens 9.9.3 below setting worked perfectly

[code]

VSCode > Extensions > GitLens > Click Manage Icon ( bottom right wheel ) > Configure Extension
settings  > Click "Edit in settings.json" link

[2019-08-07 07:19] julian-poidevin commented on #556
@zaboyle Thanks for looking into this. @LazerFX I was wondering, does your feature request includes pruning local tracking branches that do not exist on remote anymore ? That was what I was interested about. Thanks.

[2019-08-07 08:26] LazerFX commented on #556
That's what the command does, yes... It's really useful if (like me) you end up making lots of small branches for small features, and then roll them up at the end of a week or two...

[2019-08-07 10:41] dsturm commented on #727
Unfortunatly I got the same issue, but a clean install didn't fix it so far. Opening the debugger gives me some "Unexpected token" errors on ~/.vscode/extensions/eamodio.gitlens-9.9.3/dist/extension.js, which addresses the spread operators like in `renderOptions:{before:{...i}}`.

I am using:
- GitLens Version: 9.9.3
- VSCode Version: 1.36.1
- OS Version: macOS Mojave 10.14.6

[2019-08-07 14:01] zaboyle commented on #556
I agree, that is a useful tool. That just brings up the question of whether or not it should be separate from just a 'prune', or if the 'prune' should also remove these local branches. @eamodio what's your take?

[2019-08-07 14:05] kanlukasz opened #816 "Is it possible to hide tabs like "Over a month ago""
Is it possible to hide tabs like "Over a month ago" ?
I talk about:
![obraz](https://user-images.githubusercontent.com/30685349/62629202-04ff0700-b92d-11e9-9051-86a587ba639c.png)
![obraz](https://user-images.githubusercontent.com/30685349/62629208-09c3bb00-b92d-11e9-84c4-cf756720b123.png)
I don't need it. It distracts me

[2019-08-07 14:16] DrYSG commented on #556
well my take is I want to be able to prune the local dead branches, and ideally be able to do that remotely. In the best case I would have a list of each and be able to interactively choose the ones I want to keep.

[2019-08-07 14:32] eamodio commented on #556
@zaboyle I definitely don't want to mix pruning with deleting local branches -- prune is a known git option and I wouldn't want to confuse that with unexpected behaviors, especially a destructive one.

I would suggest keeping prune as-is and then opening a new issue for deleting (in bulk) branches. IMO, the best place for something like that is via the new _Git Commands_ command by adding a new _b

[2019-08-07 15:51] BrazhnykYuriy commented on #671
So does there any fix to this? Maybe some plugin?

[2019-08-07 16:01] eamodio commented on #816
@kanlukasz You can set `"gitlens.views.showRelativeDateMarkers": false,` and those will be turned off

[2019-08-07 16:01] #816 closed

[2019-08-07 16:40] zaboyle commented on #556
@eamodio Sounds good! When I get the chance, I'll mark the PR for the prune feature as ready for review, and open a new issue for removing the "dead" local branches.

[2019-08-07 16:42] iamtodor commented on #448
Vote +1 for PyCharm 👍

[2019-08-07 21:18] paradoXp commented on #687
One more option that may be easier or to implement would be a configuration that would allow the ability to hide the push all and pull all actions only. I find that I end up hitting the push all button quite often even though I only wanted to push a specific repo. Having the ability to hide those "super" buttons would protect imbeciles like me from initiating a push to 30 different repositories :-

[2019-08-08 06:26] eamodio commented on #687
@paradoXp I think the way I'm going to try to resolve this, is to make push/pull/fetch just behave as an entry into the new _Git Commands_ quick pick menu.

So for example, clicking on the _Push Repositories_ icon in the view will show the following:
![image](https://user-images.githubusercontent.com/641685/62679786-81243980-b983-11e9-99dd-c9e06d3b2fe3.png)
And from there, you can proceed, cancel,

[2019-08-08 14:06] zaboyle opened #817 "Remove Local Branches Tracking Pruned Remote Branches"
In issue #556 it was suggested to add a feature that allows users to interactively delete local branches that are tracking pruned or would-be-pruned remote branches. This would help clean up the local repo in a branch-heavy workflow

[2019-08-08 14:07] zaboyle commented on #556
Just made an issue for this over at #817 👍

[2019-08-08 15:13] julian-poidevin commented on #698
Any considerations @eamodio ?

[2019-08-08 16:45] jonbp commented on #784
Going to throw my two cents in here as i think the proposed sidebar icon isn't quite there yet.

Expanding on the work started by @johnletey, I've redrawn the icon to ensure that the strokes match the 1.5px width as mentioned by @misolori. My reworked icon also utilises the space inside the circle a little better.

I've also omitted the first small tail of the git icon, i feel it simplifies the ic

[2019-08-08 16:53] johnletey commented on #784
@jonbp Thanks for recommendation ... and personally, I like yours better! What do you think @eamodio?

[2019-08-08 18:04] paradoXp commented on #687
Personally, I would rather have the option to hide the "push repositories" button instead of extra clicks, but I think ultimately this will prevent me from accidentally triggering a massive push or pull.

I can imagine some people (who are less error prone than I am) not liking the extra clicks, but maybe making the setting configurable could help with that.

Overall, I think your proposal is a go

[2019-08-08 19:29] eamodio commented on #784
Looks great! Thanks @jonbp & @johnletey!

I have to say at first, I wasn't an immediate fan of losing the connecting tail since it deviates from the GitLens logo
![GitLens Logo](https://gitlens.amod.io/favicon.ico)

But after looking at it a bit, I do like its clean feel. I do wonder, what if it had a very subtle hint of a tail?

[2019-08-08 19:33] eamodio commented on #698
@julian-poidevin Sorry, I somehow missed this before. Good idea -- and I'm also going to be adding stash support to the new _Git Commands_ command as well

[2019-08-08 20:21] bcongiusta commented on #784
Hi there,

Who is this and why am I in this thread?

Kind Regards,

Ben Congiusta

On 9 Aug 2019, at 5:29 am, Eric Amodio <notifications@github.com<mailto:notifications@github.com>> wrote:

Looks great! Thanks @jonbp<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjonbp&data=02%7C01%7C%7C7a39c3ac1a1d47f63bd108d71c36bc39%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C63

[2019-08-08 20:26] johnletey commented on #784
I have utterly no clue @bcongiusta ... GitHub error?

[2019-08-08 21:49] bcongiusta commented on #784
Maybe. Could you please remove me?

Kind Regards,

Ben Congiusta

On 9 Aug 2019, at 6:27 am, John Letey <notifications@github.com<mailto:notifications@github.com>> wrote:

I have utterly no clue @bcongiusta<https://eur04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fbcongiusta&data=02%7C01%7C%7C5cca4872e75f4e959e9808d71c3ec55e%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C6370089

[2019-08-09 00:32] eamodio commented on #784
@bcongiusta unfortunately no, you have to unsubscribe yourself. You can click the mute thread link at the end of the email or follow the view it on GitHub link and then click the unsubscribe button on this page.

[2019-08-09 01:32] bcongiusta commented on #784
Done-thank you.

________________________________
From: Eric Amodio <notifications@github.com>
Sent: Friday, 9 August 2019 10:32 AM
To: eamodio/vscode-gitlens <vscode-gitlens@noreply.github.com>
Cc: bcongiusta <bcongiusta@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [eamodio/vscode-gitlens] Update the sidebar icon (#784)

@bcongiusta<https://nam03.safelinks.protection.outlook.co

[2019-08-09 04:34] zaboyle commented on #817
@eamodio out of curiosity, where can I see the features added to the vscode api? You mentioned in #556 something about "multi-select support that is coming soon". I have been referencing [this page](https://code.visualstudio.com/api) for my api needs, but I cannot find where they announce the new features they add

[2019-08-09 04:42] eamodio commented on #817
@zaboyle The best way (though not 100%) is to read the monthly release notes: e.g. https://code.visualstudio.com/updates/v1_37#_extension-authoring. Most API additions/changes are mentioned there.

As for the multi-select support, that should be coming in the August update -- https://github.com/microsoft/vscode/issues/76941

[2019-08-09 14:30] alexandrudima commented on #667
@eamodio @dbaeumer
I think by logical trial & error we concluded that the flaw must be something like the following:
- we speculate that the end-of-line decoration that does a quick-blame is updated on selection change
- it is possible for the content of the text to change dramatically without a selection change

Therefore, the end-of-line decoration should update both on selection change and on t

[2019-08-10 17:41] jonbp commented on #784
I've added the tail back into the logo and i think it looks pretty good now!

Here's a screenshot:

![Screenshot from 2019-08-10 18-40-07](https://user-images.githubusercontent.com/3267483/62825101-62e65580-bb9e-11e9-902d-17af8af26a15.png)

[Download](https://github.com/eamodio/vscode-gitlens/files/3489162/gitlens-activitybar.zip)

[2019-08-10 17:55] johnletey commented on #784
@jonbp Is it centred? It doesn't look centred when I look at the screenshot

[2019-08-10 18:03] jonbp commented on #784
I had to push the contents down a touch to accommodate the new small tail. I don't think it looks unbalanced, though I'm open to scrutiny!

[2019-08-10 18:08] johnletey commented on #784
No ... now that I look at it again, it looks fine to me

Great job @jonbp

[2019-08-10 18:36] eamodio commented on #784
It's awesome! Thank you both so much!!

[2019-08-13 21:33] ainsof commented on #810
Seems to have resolved itself in Gitlens 9.9.3

[2019-08-13 21:41] #810 closed

[2019-08-14 10:41] bardware opened #818 "No Line Blame Annotations shown"
- GitLens Version:
9.9.3
- VSCode Version:
1.37.0
- OS Version:
Win 10 64 bit German
Steps to Reproduce:

1.
SHIFT + CTRL + P => "GitLens: Toggle Line Blame Annotations"
Literally nothing happens.
I tried several files. I had it in the past that something was slow and I believe the action was cancelled so no line blames were displayed.
GitLense console logs nothing.
Git console logs nothing.
Devel

[2019-08-14 10:52] bardware commented on #818
I'm sorry, I believe I confused GitLense line annotations with SVN annotations and expected a different look.

[2019-08-14 10:52] #818 closed

[2019-08-14 19:05] JepN13 commented on #573
I successfully installed v9.9.1 into Azure Data Studio.
I don't know the technical aspects as I'm not an extension author, but v9.9.2+ has the vscode engine in package.json set to "^1.36.0". Simply changing this wasn't enough as it seems there are dependencies on that particular version. Dropping back to v9.9.1 which used an older engine seems to be working nicely so far.

[2019-08-15 10:16] mrmckeb commented on #784
This looks great, well done all. Will this be in the next release?

[2019-08-15 10:34] johnletey commented on #784
Hopefully yes @mrmckeb, but it's up to @eamodio

[2019-08-15 11:18] offero commented on #790
Same here. Example below:

![image](https://user-images.githubusercontent.com/4681330/63091606-dedcf680-bf2c-11e9-82b7-bcb886deed2d.png)

[2019-08-15 21:16] mjbvz opened #819 "Feedback on vscode's Webview.toWebviewResource API proposal"
## Overview
VS Code 1.37 added a proposed api to help webviews create uris for local resources: https://github.com/microsoft/vscode/blob/192e15b613dd4f4dab9c735b7556e175580c6011/src/vs/vscode.proposed.d.ts#L1166

The main addition is a `toWebviewResource` method property on webviews that translates a local file uri into a webview uri (i.e. one that uses the special `vscode-resource:` scheme). This

[2019-08-16 18:20] I0F commented on #784
Why does it have to have the exact same git pattern as the Git logo. Why not make it more artsy and more _lensy_ if thats a word

![GitLens](https://user-images.githubusercontent.com/18104031/63188497-d4704900-c061-11e9-86ab-b8fac2a37e7d.png)

Anyway I think all the lines having same width, the tail connecting to the outer circle, and the other circles having holes in them looks much cleaner

![Gi

[2019-08-17 11:33] scottmerck7007 commented on #281
Dismiss

[2019-08-17 11:33] scottmerck7007 commented on #281
Dismiss <clear>

[2019-08-18 06:55] tecosaur commented on #281
This may be of interest: https://github.com/mhutchie/vscode-git-graph/commit/ee829d6c5ed826835d9b40a836063b5db72d8054

[2019-08-18 07:04] tecosaur commented on #664
@eamodio thoughts?

[2019-08-18 13:15] mtianyan commented on #448
Vote +1 for PyCharm  Too👍

[2019-08-19 08:46] liesauer opened #820 "Current Line Blame doesn't work on all files"
debug output and no any errors:
[code]

when it works fine, the output is totally different
[code]

- GitLens Version: git version 2.17.2 (Apple Git-113)
- VSCode Version: 1.37.0
- OS Version: 10.13.6 (17G4015)

Steps to Reproduce:

1. unable to reproduce

i try my another large php project, it works fine on all files, and the setting are completely the same

[2019-08-19 10:55] eb-jorgemaroto commented on #739
I still having an issue related to breadcrumbs when I have GitLens enabled. I have to disable, reopen the file and the breadcrumbs will be working, but at least for me it's not possible to have both breadcrumbs and gitlens working together :(

[2019-08-19 21:42] mic345 commented on #650
This is how it looks on the process explorer, with a new `git blame` process starting every few minutes. I really hope you manage to solve this one, as it renders this wonderful extension useless.

I turned off `gitlens.currentLine.enabled`, and will let you know if it helped. Otherwise, if you have a workaround for disabling the functionality that causes this, it would be extremely helpful!

Good

[2019-08-19 21:53] eamodio commented on #739
@eb-jorgemaroto please open a new issue with more details (fill out the template) about what issues you are experiencing with breakcrumbs?

[2019-08-19 21:55] eamodio commented on #650
@mic345 can you please open a new issue for this issue and please be sure to provide logs for when you see this issue? Thanks!

[2019-08-20 02:56] vabc3 opened #821 "Wrong comparison order in the Compare view when using Compare [HEAD|Working Tree] With comands"
Is there an option to keep the old behavior.

For example, I do a change in branch 'my1', and then use the comparion tool to compare with 'origin/my1'.

For old behavior, the diff is origin/my1..my1, which makes more sense. This shows what I'm going to push to remote.

For new behavior, the diff is my1..origin/my1, which is not what I expect

[2019-08-20 03:20] mankwok opened #822 "Incorrect setting "workbench.colorCustomization" in Readme"
For the section "Themable Colors", the setting `workbench.colorCustomization` is missing a "s".

It should be `workbench.colorCustomizations`

Reference:
[https://code.visualstudio.com/docs/getstarted/themes#_customize-a-color-theme](https://code.visualstudio.com/docs/getstarted/themes#_customize-a-color-theme
)

[2019-08-20 04:10] eamodio commented on #821
@vabc3 When you say comparison tool -- what do you mean? Creating a new compare from the _Compare_ view? The Branch comparison node in the _Repositories_ view? Selecting a branch and choosing _Select for Compare_ and then selecting another and choosing _Compare with Selected_?

[2019-08-20 04:12] eamodio commented on #820
@liesauer What version of GitLens are you using? When it "doesn't work" does the line blame just not show up? Are there any other details you can provide to help track this down?

[2019-08-20 06:53] liesauer commented on #820
@eamodio version `9.9.3`, and yes, it just not show up, and no any errors or exceptions, i tried to track the debug output, but i got nothing, the output seems pretty normal.

[2019-08-20 07:10] eamodio commented on #820
Sorry, I still need more details. Is it always the same files that fail? Are you using any of GitLens' modes? Are you debugging when you see them not show up?

[2019-08-20 07:11] eamodio commented on #820
If you toggle the file blame annotations do they work?

[2019-08-20 07:15] liesauer commented on #820
i think i get something, those files which is not show up, when executing `git ls-files -- path/to/file`, i get nothing, but those files which is working, git gives me the path of the file.
![image](https://user-images.githubusercontent.com/8676741/63325633-22849580-c35d-11e9-9c9c-9618a78745e9.png)

[2019-08-20 07:18] liesauer commented on #820
it always the same files fail, i am using the original GitLens, no i am not debugging.

[2019-08-20 07:18] liesauer commented on #820
i tried, it still doesn't work.

[2019-08-20 07:55] liesauer commented on #820
@eamodio sorry, is my bad, it is not GitLens bug. the `tsmodule` subfolder was `TSModule` before, by some reason, i changed to `tsmodule`, so git has mess up, i change back to `TSModule`, everything works fine. sorry about wasting your time!

[2019-08-20 07:55] #820 closed

[2019-08-20 08:38] pie-r commented on #798
@eamodio
Hi, i'0ve tried today but pull all doesn't work. Instead, fetch all works as expected and it was fixed by your commit.

[2019-08-20 13:38] eamodio commented on #820
@liesauer no worries at all! Just glad you were able to resolve it!

[2019-08-20 15:10] benmarch opened #824 "Ability to view history of a folder"
It is often helpful to be able to view the history of a particular folder. This is especially true for monorepo architectures where a folder could represent a standalone package or module.

It would be great to be able to right click on a folder in the file explorer and select "View History of Folder". This would be similar behavior to JetBrains products such as IntelliJ and WebStorm.

[2019-08-20 19:53] patrick91 commented on #413
Since git 2.23 this is supported by default, so no need for hyperblame!

https://git-scm.com/docs/git-blame#Documentation/git-blame.txt---ignore-revs-fileltfilegt

[2019-08-21 02:25] vabc3 commented on #821
It is F1->
(old version)'GitLens: Compare Working Tree With Branch Or Tag'
(new version)'GitLens: Compare Working Tree With'

[2019-08-21 04:12] banga commented on #413
Just tried this and it works beautifully, thanks!

[2019-08-21 12:59] wmakley commented on #163
Happening to me constantly in Windows with WSL and the latest everything

[2019-08-21 16:44] mattgabor opened #825 "Output of file history view has buggy styling"
- GitLens Version: 9.9.3

- VSCode Version: 1.37.1
- OS Version: macOS 10.14.6

Steps to Reproduce:

1. Open vscode
2. Install gitlens
3. Open history view

![image](https://user-images.githubusercontent.com/5590876/63451072-40530880-c3f8-11e9-9e47-e9096977fda4.png)

[2019-08-21 18:49] admehta01 opened #826 "Deleting stash doesn't remove the stash from the list - have to refresh"
- GitLens Version: 9.9.3
- VSCode Version: 1.37.1
- OS: Windows 10

Steps to Reproduce:

1. Stash something
2. In GitLens right click -> Delete Stashed Changes
The list doesn't update. If you try to delete again, it deletes another stash. Potentially disastrous bug.

If you refresh the whole view, then it correctly disappears from the view.

[2019-08-21 19:41] eamodio commented on #825
@mattgabor Hrm, haven't seen anything like that (other than a vscode bug in the insiders build a long time ago). This *shouldn't* be possible because of how the vscode api is, so I would recommend opening an issue with vscode itself about it. And do you have any custom font-sizing, line-height settings?

[2019-08-21 19:45] eamodio commented on #413
@banga Did you set this view the git config setting or did you use the `gitlens.advanced.blame.customArguments` setting (see here https://github.com/eamodio/vscode-gitlens#advanced-settings-)?

[2019-08-21 20:40] banga commented on #413
Yeah I added it to customArguments:
![image](https://user-images.githubusercontent.com/541603/63466983-486f7000-c419-11e9-8424-db92c146f7eb.png)

[2019-08-21 21:24] jyavenard commented on #413
Note: It must be entered in gitlens as two separate items, if you enter it as a single line it won't work.

I've opened a bug in the other extension I use: gitblame to allow adding extra arguments to git blame.

[2019-08-22 06:11] eamodio commented on #784
FYI for anyone following along this work is progressing in Figma: https://www.figma.com/file/LFzZXPci3T5tui8O53KyWCGo/GitLens-Icons

[2019-08-22 10:30] milsto commented on #529
I am confirming this issue is affecting me also. VSCode version 1.37.1, GitLens version 9.9.3

[2019-08-22 10:32] milsto commented on #60
There is a newer and opened issue #529 on the same problem. I can confirm that it affects me.

[2019-08-22 21:41] eamodio commented on #163
@wmakley Please open a new issue for this and attach logs and a clear description of what you were doing and the error that happened. Thanks!

[2019-08-25 01:49] ChuckIrvine opened #827 "Distracting editor behavior - Unsaved changes (cannot determine authors)"
When ever I type into a vscode editor window, a message briefly appears at the top of the editor saying:

[code]

This output causes the editor content to shift up and down and is distracting. How can I disable this behavior?

Thanks.

[2019-08-25 18:23] eamodio commented on #826
@admehta01 I can't reproduce this behavior. Do you have automatic refresh of the _Repositories_ view turned off?

[2019-08-26 03:36] admehta01 commented on #826
Here are my settings:

![image](https://user-images.githubusercontent.com/1946614/63663616-f5c6e880-c777-11e9-8100-0c227440efb0.png)

[2019-08-26 03:37] eamodio commented on #826
@admehta01 Hrm, can you please enable output channel logging by setting `"gitlens.outputLevel": "debug"` in your `settings.json`. This will enable logging to the *GitLens* channel in the *Output* pane. Once enabled, please reproduce the issue and attach the log lines from the *GitLens* channel. Thanks!

[2019-08-26 03:42] admehta01 commented on #826
[code]

[2019-08-26 04:12] eamodio commented on #826
@admehta01 I need the logs that happen after the `stashDelete` call too -- I want to look at how the view responds (or doesn't) to the repository change

[2019-08-26 04:14] admehta01 commented on #826
Hmm, those are the only lines I see.

On Sun, Aug 25, 2019, 9:12 PM Eric Amodio <notifications@github.com wrote:

[2019-08-26 04:23] eamodio commented on #826
If you click on the `...` menu of the _Repositories_ view do you see this:
![image](https://user-images.githubusercontent.com/641685/63665082-a85a7380-c797-11e9-887b-25f257dbd138.png)

Does it say enable or disable?

[2019-08-26 06:59] arajkumar opened #828 "Version comparison to show welcome message is not future proof"
https://github.com/eamodio/vscode-gitlens/blob/6e2884e2d095f486eaea8b9c4ad14c449207f1b7/src/extension.ts#L185

The above snippet uses `<` operators on string values. It works now , it will fail when the version is bumped to `9.10.x` or `10.x.x`.

[2019-08-27 13:46] cruzzoe opened #831 "<Toggle File Blame Annotations> Icon disappears when clicked"
When clicking button: <Toggle File Blame Annotations> it disappears. This didnt use to happen.
![Capture](https://user-images.githubusercontent.com/11476338/63776463-5de11000-c8d9-11e9-9451-17863991971e.PNG)

VSCODE version:  1.37.1
Gitlens version:: 9.9.3

VSCODE client os: Windows 10
Gitlens installed on Redhat 7

Workaround in place: use the command pallet

Looking inside developer console I se

[2019-08-28 08:22] AnrDaemon commented on #481
Got same error message with Cygwin git.
Strange, extension works on a different machine with much the same setup.
Trying to run commands in the integrated terminal produce expected output.

[2019-08-28 11:00] mithunshanbhag commented on #790
This issue looks related to https://github.com/microsoft/vscode-remote-release/issues/687

[2019-08-28 13:43] LAITONEN commented on #317
Have you removed `"gitlens.gitExplorer.enabled": false` option? Can't find it in default VS Code's settings and if I add it to my user settings, VS Code says that the command is unknown.

[2019-08-31 01:25] dotherightthing opened #832 "Add ability to push a tag"

[2019-08-31 03:32] eamodio commented on #413
Since Git now natively supports this and can be used with GitLens I'm going to close this.

[2019-08-31 03:32] #413 closed

[2019-08-31 05:38] friederbluemle commented on #418
@pqt - This does not seem to work anymore :( Any ideas how to do disable it with the latest versions of Code and GitLens? This text jump is sooo annoying.
Also, the screenshot posted by @eamodio - Is that dialog still available today? Or did things change?

[2019-08-31 05:50] friederbluemle commented on #418
To answer my own question - Yes the dialog is still available: Command menu: `GitLens: Open Settings`

And sadly, I had to disable "CodeLens" altogether to fully get rid of the "source code jolt" after opening a file.

[code]

Hopefully this will be fixed in the future.

[2019-08-31 05:53] pqt commented on #418
Yeah @friederbluemle sorry I can't help more, but ultimately I weighed the pros and cons for the plugin and the constant jump had me uninstall it altogether.

Great plugin, but with such a fatal flaw. 🤷🏼‍♂️

[2019-08-31 05:57] friederbluemle commented on #418
@pqt - Thanks for your reply. Yeah, if you try the line I posted you can still make use of most of the other features of this great plugin. So far it seems to be working for me. I'll try that for now.

[2019-08-31 06:16] eamodio commented on #418
Unfortunately there isn't anything GitLens can do to stop the Git code lens from causing the document to reflow -- that is just how the code lens support works in VS Code. Sadly the best option is the ones provided -- either limit where the Git code lens show up via the `gitlens.codeLens.scopes` or turn them off via `gitlens.codeLens.enabled`. Although also note that you can toggle them on and off

[2019-08-31 18:09] unional opened #833 "GitLens was unable able to find Git with Live Share session opened"
- GitLens Version:

- VSCode Version: 1.37.1
- OS Version: OSX 10.14.6 (18G87)

Steps to Reproduce:

1. Connect to a live share session that does not have git
2. open a new window or a recent workspace (from the dock).

![image](https://user-images.githubusercontent.com/3254987/64067533-cd5b4600-cbde-11e9-8336-188e8100aeef.png)

To work around this and keep the live share session opened,
I have to

[2019-08-31 18:12] unional commented on #833
But I also observed that it still fail If I have two windows opened. One live share, one normal workspace (with gitlens working).

It still fails even if I first focus the window without problem before using the dock to open another workspace.

[2019-09-02 08:34] nikitavoloboev opened #835 "Is it possible to only show the commit message in line git blame. No author and time."
So instead of current `Author . Time ago. Commit msg`. Only have `Commit msg`.

![2019-09-02 at 09 33](https://user-images.githubusercontent.com/6391776/64100997-b9415100-cd64-11e9-933f-5f6d710bd805.png)

Would be super useful for me. Perhaps such setting already exists? And if not can you please add it?

Thank you.

[2019-09-02 22:33] KevinMallinson opened #836 "Add a progress checkmark or similar in the compare view to track which files we have already finished comparing"
When I am reviewing a large pull request, e.g. 200 files changed, it's easy to lose track of which files I have already reviewed.

It would be good if we could manually "mark" a file as "already reviewed", so we can easily distinguish which ones we have already reviewed.